@model BExIS.Web.Shell.Areas.SAM.Models.EntitySelectListModel
<style>
    #Grid_Datasets .t-grid-content
    {
        height: auto !important;
        max-height: 202px !important;
    }

    #Grid_Subjects .t-grid-content
    {
        height: auto !important;
        max-height: 202px !important;
    }
</style>

@section Information
{
    Here you are able to manage how users (or groups) have access to individual datasets.
    Please select a dataset in the table below and specify who should have permissions to view, update, delete, download data, or who is able to grant access to other users (Note: metadata is always free).
    Ticking the checkboxes "public access" in the upper table will make a dataset accessible without authentification (public access to primary data). Please use with care!
    By default only the creator of a dataset (in the system) has full access, all other permissions are not set, which means access is denied.
    Grants for individual users rule out higher level settings for groups.
    Please note that any change will take effect immediately without further confirmation or save/submit action.
    <p>
        More information 
        @Html.ActionLink("here", "Index", "Help", new { id = 0 }, new { @class = "bx-informationLink", title="go to help", target="_blank"})
    </p>
}

@*@Html.DropDownList("Entity", new SelectList(Model.EntityList, "Id", "Name"), "-- SELECT --", new { id = "Entities"})*@

<div id="Content_Data">@Html.Partial("_DatasetsPartial")</div>

<div id="Content_Subjects"></div>

<script type="text/javascript">
@*    $("#Entities").change(function () {
        var entityId = $(this).val();

        $.get('@Url.Action("Entities_OnSelect", "DataPermissions")', { EntityId: entityId }, function (data) {
            $('#Content_Data').html(data);
        });
    });*@

    function OnRowSelected(e) {
        var dataId = $('#Content_Data .t-grid').data('tGrid').dataItem(e.row)['Id'];
        //var entityId = $("#Entities").val();

        $('#Content_Subjects').empty();

        $.get('@Url.Action("Subjects", "DataPermissions")', { DataId: dataId, EntityId: 1 }, function (data) {
            $('#Content_Subjects').html(data);
        });
    }

    function existsRightType(rights, rightType) {
        if (jQuery.inArray(rightType, rights) != -1) {
            return true;
        }
        else {
            return false;
        }
    }

    // Permission
    function setDataPermission(value, rightType, subjectId, dataId, entityId) {
        if (value) {
            $.post('@Url.Action("CreateDataPermission", "DataPermissions")', { DataId: dataId, EntityId: entityId, SubjectId: subjectId, RightType: rightType }, function (e) {
                $("#Grid_Subjects .t-refresh").trigger('click');
            });
        } else {
            $.post('@Url.Action("DeleteDataPermission", "DataPermissions")', { DataId: dataId, EntityId: entityId, SubjectId: subjectId, RightType: rightType }, function (e) {
                $("#Grid_Subjects .t-refresh").trigger('click');
            });
        }
    }

    // Publicity
    function setPublicity(value, id) {
        if (value) {
            $.post('@Url.Action("PublishDataset", "DataPermissions")', { EntityId: 1, DatasetId: id }, function (e) {
                $("#Grid_Datasets .t-refresh").trigger('click');
            });
        } else {
            $.post('@Url.Action("ConcealDataset", "DataPermissions")', { EntityId: 1, DatasetId: id }, function (e) {
                $("#Grid_Datasets .t-refresh").trigger('click');
            });
        }
    }
</script>