@using Telerik.Web.Mvc.UI
@using BExIS.Web.Shell.Areas.Auth.Models;

@model List<GroupGridRowModel>

@(Html.Telerik().Grid(Model)
        .Name("Grid_Groups")
        .DataKeys(keys =>
        {
            keys.Add(r => r.Id);
        })
        .ToolBar(command =>
            {
                command.Custom().Name("Create").Text("New Group").Ajax(true).ButtonType(GridButtonType.ImageAndText).ImageHtmlAttributes(new { @class = "t-icon t-add" });
            })
        .Columns(columns =>
        {
            columns.Command(command =>
            {
                command.Custom("Update").Ajax(true).ButtonType(GridButtonType.BareImage).ImageHtmlAttributes(new { @class = "t-icon t-edit", @disabled = "<#= IsSystemSubject #> ? 'disabled' : ''" });
                command.Custom("Delete").Ajax(true).ButtonType(GridButtonType.BareImage).ImageHtmlAttributes(new { @class = "t-icon t-delete" });
            }).Title("Actions").Width(90).HtmlAttributes(new { style = "text-align:left" });
            columns.Bound(r => r.Id).Width(100);
            columns.Bound(r => r.GroupName).Width(250);
            columns.Bound(r => r.Description);
        })
        .ClientEvents(clientEvents => clientEvents
            .OnCommand("OnCommand")
        )
        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .Select("Groups_Select", "Groups")
        )
        .Filterable()
        .Sortable(sortable => sortable
            .OrderBy(orderby => orderby
                .Add(r => r.Id).Descending()))
        .Scrollable()
)

@(Html.Telerik().Window()
    .Name("Window_Create")
    .Title("Create Group")
    .Draggable(true)
    .Modal(true)
    .Visible(false)
    .Scrollable(true)
    .ContentHtmlAttributes(new { @style="overflow:auto; width:auto; height:auto; min-height:225px; min-width:400px"})
    .Content(@<text>
        <div id="Content_Create"></div>
    </text>)
    .ClientEvents(clientEvents => clientEvents
        .OnClose("Window_Create_OnClose")
    )
)

@(Html.Telerik().Window()
    .Name("Window_Delete")
    .Title("Delete Group")
    .Draggable(true)
    .Modal(true)
    .Visible(false)
    .Scrollable(true)
    .ContentHtmlAttributes(new { @style="overflow:auto; width:auto; height:auto; min-height:225px; min-width:400px"})
    .Content(@<text>
        <div id="Content_Delete"></div>
    </text>)
    .ClientEvents(clientEvents => clientEvents
        .OnClose("Window_Delete_OnClose")
    )
)

@(Html.Telerik().Window()
    .Name("Window_Update")
    .Title("Update Group")
    .Draggable(true)
    .Modal(true)
    .Visible(false)
    .Scrollable(true)
    .ContentHtmlAttributes(new { @style="overflow:auto; width:auto; height:auto; min-height:225px; min-width:400px"})
    .Content(@<text>
        <div id="Content_Update"></div>
    </text>)
    .ClientEvents(clientEvents => clientEvents
        .OnClose("Window_Update_OnClose")
    )
)

<script type="text/javascript">

    function OnCommand(e) {

        if (e.name == "Create") {

            $.get('@Url.Action("Create", "Groups")', function (data) {

                $('#Content_Create').html(data);

                var window = $('#Window_Create').data('tWindow');
                window.center().open();
            });
        }

        if (e.name == "Delete") {
            var groupId = e.dataItem.Id;

            var result = confirm('Are you sure you want to delete this group (Id:' + groupId + ')?');

            if (result) {
                $.post('@Url.Action("Delete", "Groups")', { id: groupId }, function (e) {
                    $("#Grid_Users .t-refresh").trigger('click');
                });
            }
        }

        if (e.name == "Update") {
            var groupID = e.dataItem.Id;

            $.get('@Url.Action("Update", "Groups")', { Id: groupID }, function (windowData) {

                $('#Content_Update').html(windowData);

                $.get('@Url.Action("Show", "Groups")', { Id: groupID }, function (contentData) {

                    $('#tabs-1').html(contentData);

                    var window = $('#Window_Update').data('tWindow');
                    window.center().open();
                });
            });
        }
    }

    // Create
    function Window_Create_Cancel() {
        $('#Window_Create').data('tWindow').close();
    }

    function Window_Create_OnClose() {
        $('#Content_Create').empty();
        $("#Grid_Groups .t-refresh").trigger('click');
    }

    // Delete
    function Window_Delete_Cancel() {
        $('#Window_Delete').data('tWindow').close();
    }

    function Window_Delete_OnClose() {
        $('#Content_Delete').empty();
        $("#Grid_Groups .t-refresh").trigger('click');
    }

    function Window_Update_Cancel() {
        $('#Window_Update').data('tWindow').close();
    }

    function Window_Update_Show(e) {
        $.get('@Url.Action("Show", "Groups")', { Id: e }, function (data) {
             $('#tabs-1').html(data);
         });
     }

    function Window_Update_Edit(e) {
        $.get('@Url.Action("Edit", "Groups")', { Id: e }, function (data) {
            $('#tabs-1').html(data);
        });
    }

        function Window_Update_OnClose() {
            $('#Content_Details').empty();
            $("#Grid_Groups .t-refresh").trigger('click');
        }

    // Info
    function Window_Info_Confirm(e) {
        switch (e) {
            case "Window_Delete":
                var windowDelete = $('#Window_Delete').data('tWindow');
                windowDelete.close();
                break;

            case "Window_Details":
                var windowDetails = $('#Window_Details').data('tWindow');
                windowDetails.close();
                break;

            case "Window_Create":
                var windowCreation = $('#Window_Create').data('tWindow');
                windowCreation.close();
                break;

            default:
                break;
        }
    }

    // Membership
    function setMembership(value, userid, groupid) {
        if (value) {
            $.post('@Url.Action("AddUserToGroup", "Groups")', { UserId: userid, GroupId: groupid }, function (e) {
                $("#Grid_Membership .t-refresh").trigger('click');
            });
        } else {
            $.post('@Url.Action("RemoveUserFromGroup", "Groups")', { UserId: userid, GroupId: groupid }, function (e) {
                $("#Grid_Membership .t-refresh").trigger('click');
            });
        }
    }

</script> 