@using BExIS.Search.Model;
@model SearchModel

@using (Html.BeginForm("AddFacetsToSearch", "Home", new { area="Search"}))
{ 
              
    <div id="search_more" >
            <h3>@if (@Session["ParentOfSelectAbleCategories"] != null)
                {@Session["ParentOfSelectAbleCategories"].ToString().Titleize();
                }</h3>
            <hr />
           
            <div id="search_moreCheckBox">
            @if ((IEnumerable<Facet>)Session["SelectAbleCategories"] != null)
            {
                if (((IEnumerable<Facet>)Session["SelectAbleCategories"]).Count() > 0)
                {
                    var i = 0;
                    int id = 0;
                    foreach (var it in (IEnumerable<Facet>)Session["SelectAbleCategories"])
                    {
                        it.Parent = Model.SearchComponent.GetFacet(@Session["ParentOfSelectAbleCategories"].ToString());
                        
                        string displayedName;
                        if (it.Name.Length > 20)
                        {
                            displayedName = it.Name.Truncate(20);
                        }
                        else { displayedName = it.Name; }

                        if (i == 0)
                        { 
                            <p class="search_winLeft" title="@it.Name.ToString()">@Html.CheckBox(id.ToString(), @Model.CriteriaComponent.ContainsFacet(it), new { text=@it.Name.ToString() })  @Html.Label(@it.Name.ToString(), displayedName)</p>
                            i=1;
                         
                        }
                        else if (i == 1)
                        {
                            <p class="search_winRight"  title="@it.Name.ToString()">@Html.CheckBox(id.ToString(), @Model.CriteriaComponent.ContainsFacet(it), new { text=@it.Name.ToString() }) @Html.Label(@it.Name.ToString(), displayedName)</p>
                            i=0;
                        }

                        id++;

                    }
                }
            }
           
           </div>
           <div id="search_winFooter">
           <br />
           <hr />
            <button type="submit" class="t-button" value="add" name="button"@* onclick="Search_OnClickSubmit()"*@ >Submit</button>
            <button id="all" type="button" class="t-button" value="all" name="button" onclick="Search_OnClickAll()" >All</button>
            <button id="none" type="button" class="t-button" value="none" name="button" onclick="Search_OnClickNone()" >None</button>
           </div>
    </div>
}

<script type="text/javascript">

   @* function Search_OnClickSubmit()
    {
        var selected = new Array();
        $('#search_moreCheckBox input:checked').each(function () {
            selected.push($(this).attr('name'));
        });

        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(selected),
            dataType: 'html',
            url: '@Url.Action("AddFacetsToSearch", "Home", new RouteValueDictionary { { "area", "Search" } })',
            success: function (result) {
                
                alert("replaced");
            }
       });

    }*@

    function Search_OnClickAll() {
     $("#search_moreCheckBox").find("input:checkbox")
                              .attr("checked", true);
    }

 function Search_OnClickNone() {
     $("#search_moreCheckBox").find("input:checkbox")
                              .attr("checked", false);
 }

</script>
