@model BExIS.Modules.Dcm.UI.Models.EasyUploadSummaryModel

<div id="Step6" class="uploadWizardStep">
    <div class="uploadWizardStep_Main">
        <div class="uploadWizardStep_Header stepper">
            <h3>@Model.StepInfo.title</h3>
        </div>

        <div class="uploadWizardStep_Description stepper">
        </div>

        <div class="uploadWizardStep_Content stepper">
            <table>
                <tr>
                    <td>
                        <b>@Html.LabelFor(m => m.DatasetTitle)</b>
                    </td>
                    <td>
                        @Model.DatasetTitle
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.LabelFor(m => m.MetadataSchemaTitle)</b>

                    </td>
                    <td>
                        @Model.MetadataSchemaTitle
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.LabelFor(m => m.NumberOfHeaders)</b>

                    </td>
                    <td>
                        @Model.NumberOfHeaders
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.LabelFor(m => m.NumberOfData)</b>

                    </td>
                    <td>
                        @Model.NumberOfData
                    </td>
                </tr>
            </table>
            <div>
                The upload process might take a while, depending on the size of your dataset. Please be patient after you click the "Finish" button.
            </div>
        </div>
    </div>

    <div class="uploadWizardStep_Success stepper">
        <div id="progress"></div>
    </div>

    <div class="uploadWizardStep_Error stepper">
        @if (Model != null && Model.ErrorList != null && Model.ErrorList.Count != 0)
        {
            <ul>
                @foreach (BExIS.IO.Transform.Validation.Exceptions.Error s in @Model.ErrorList)
                {
                    <li>@s.ToString()</li>
                }
            </ul>
        }
    </div>

</div>