@using BExIS.Dlm.Entities.Data;
@using BExIS.Modules.Sam.UI.Models;

@model List<DatasetStatModel>

@section Information
{
    This maintenance tool is meant for administrators only. All datasets are
    listed with their internal ID, status, and the option to remove them
    from the system. Use with care!
    <p>
        <a href="/SAM/Help/Index/#_Toc451422053" class="bx-informationLink" title="go to help" target="_blank">More</a>
    </p>
}
@{
    var DatasetIds = new List<long>();
    if (ViewData["DatasetIds"] != null)
    {
        DatasetIds = ViewData["DatasetIds"] as List<long>;
    }
}
<h2>The dataset management functions accessible from here may have unrecoverable effets! Use them with care.</h2>
<h3>Datasets</h3>
<table>
    <tr>
        <td>ID</td>
        <td>Status</td>
        <td>Rows</td>
        <td>Variables</td>
        <td>Actions</td>
    </tr>
    @foreach (var entity in Model)
    {
        <tr>
            <td>@(entity.Id)</td>
            @if (DatasetIds.Contains(entity.Id))
            {
                if (entity.Status == DatasetStatus.CheckedIn)
                {
                    <td style="color: darkgreen">@(entity.Status.ToString())</td>
                    <td>@(entity.NoOfRows)</td>
                    <td>@(entity.NoOfCols)</td>
                    <td>
                        @Html.ActionLink("Sync", "Sync", new { id = entity.Id, area = "Sam" }, new { @style = entity.IsSynced? "color:darkgreen;": "color:black;" }) | @Html.ActionLink("Versions", "Versions", new { id = entity.Id, area = "Sam" }) | @Html.ActionLink("Delete", "Delete", new { id = entity.Id, area = "Sam" }) | @Html.ActionLink("Purge", "Purge", new { id = entity.Id, area = "Sam" })
                    </td>
                }
                else if (entity.Status == DatasetStatus.CheckedOut)
                {
                    <td style="color: darkblue">@(entity.Status.ToString())</td>
                    <td>@(entity.NoOfRows)</td>
                    <td>@(entity.NoOfCols)</td>
                    <td>
                        @Html.ActionLink("Sync", "Sync", new { id = entity.Id, area = "Sam" }, new { @style = entity.IsSynced ? "color:darkgreen;" : "color:black;" }) | @Html.ActionLink("Versions", "Versions", new { id = entity.Id, area = "Sam" }) | @Html.ActionLink("Purge", "Purge", new { id = entity.Id })
                    </td>
                }
                else if (entity.Status == DatasetStatus.Deleted)
                {
                    <td>@(entity.NoOfRows)</td>
                    <td>@(entity.NoOfCols)</td>
                    <td style="color: red">@(entity.Status.ToString())</td>
                    <td>
                        @Html.ActionLink("Sync", "Sync", new { id = entity.Id, area = "Sam" }, new { @style = entity.IsSynced ? "color:darkgreen;" : "color:black;" }) | @Html.ActionLink("Versions", "Versions", new { id = entity.Id, area = "Sam" }) | @Html.ActionLink("Purge", "Purge", new { id = entity.Id, area = "Sam" })
                    </td>
                }
            }
            else
            {
                <td style="color: red">@(entity.Status.ToString())</td>
                <td>@(entity.NoOfRows)</td>
                <td>@(entity.NoOfCols)</td>
                <td>
                    No Permissions!
                </td>
            }
        </tr>
    }
</table>