@using System.Linq
@using BExIS.Dlm.Entities.Data;
@using BExIS.Dlm.Entities.DataStructure;
@model System.Collections.Generic.List<AbstractTuple>
@section Information
{
    This maintenance tool is meant for administrators only. All datasets are
    listed with their internal ID, status, and the option to remove them
    from the system. Use with care!
    <p>
        <a href="/SAM/Help/Index/#_Toc451422053" class="bx-informationLink" title="go to help" target="_blank">More</a>
    </p>
}
<h3>Dataset Version Details (@ViewBag.VersionId)</h3>
<p />
@Html.ActionLink("Return to Versions", "Versions", new { id = ViewBag.DatasetId, area = "Sam" })
<table>
    <tr>
        <td>ID</td>
        <td>Source</td>
        <td>Change Type</td>
        @foreach (Variable variable in ViewBag.Variables)
        {
            <td>@variable.Label</td>
        }
    </tr>
    @foreach (var tuple in Model)
    {
        <tr>
            <td>@(tuple.Id)</td>
            <td>@(tuple.TupleType)</td>
            <td>@(tuple.TupleAction.ToString())</td>
            @foreach (Variable variable in ViewBag.Variables)
            {
                var value = tuple.VariableValues.Where(p => p.VariableId == variable.Id).FirstOrDefault();
                if (value != null)
                {
                    <td>@value.Value</td>
                }
                else
                {
                    if (variable.IsValueOptional)
                    {
                        <td style="background-color: green">No Value</td>}
                    else
                    {
                        <td style="background-color: red">No Value</td>}
                }
            }
        </tr>
    }
</table>
<p />
@Html.ActionLink("Return to Versions", "Versions", new { id = ViewBag.DatasetId, area = "Sam" })