@using BExIS.Dlm.Entities.Data;
@model System.Collections.Generic.List<DatasetVersion>
@section Information
{
    This maintenance tool is meant for administrators only. All datasets are
    listed with their internal ID, status, and the option to remove them
    from the system. Use with care!
    <p>
        <a href="/SAM/Help/Index/#_Toc451422053" class="bx-informationLink" title="go to help" target="_blank">More</a>
    </p>
}
<h3>Versions of Dataset (@ViewBag.VersionId)</h3>
@Html.ActionLink("Return to List", "Index", new { area = "Sam" })
<p />
<table>
    <tr>
        <td>ID</td>
        <td>Timestamp</td>
        <td>Status</td>
        <td>Actions</td>
        <td>Comment</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@(item.Id)</td>
            <td>@(item.Timestamp)</td>
            @if (item.Status == DatasetVersionStatus.CheckedIn)
            {
                <td style="color: darkgreen">@(item.Status.ToString())</td>
                <td>@Html.ActionLink("Details", "Version", new { id = item.Id, area = "Sam" }) @*| @Html.ActionLink("Check out", "checkout", "Dataset", new { id = item.Id, area = "Sam" })*@ </td>
            }

            @*else if (item.Status == DatasetVersionStatus.CheckedOut)
                {
                    <td style="color: darkblue">@(item.Status.ToString())</td>
                    <td>@Html.ActionLink("Checkin", "checkin", "Dataset", new { id = item.Id, area = "Sam" }) | @Html.ActionLink("Rollback", "rollback", "Dataset", new { id = item.Id, area = "Sam" }) </td>
                }*@

            else if (item.Status == DatasetVersionStatus.Old)
            {
                <td style="color: red">Archived</td>
                <td>@Html.ActionLink("Details", "Version", new { id = item.Id, area = "Sam" }) </td>
            }
            <td>@(item.ChangeDescription)</td>
        </tr>
    }
</table>
<p />
@Html.ActionLink("Return to List", "Index", new { area = "Sam" })