@using Telerik.Web.Mvc.UI;
@using BExIS.Modules.Ddm.UI.Models;

@model List<SearchAttributeViewModel>

@{
    bool windowVisible = false;
    bool isPrimaryDataNodeExist = false;

    SearchAttributeViewModel selectedSA = new SearchAttributeViewModel();

    if(ViewData["windowVisible"]!=null)
    {
        windowVisible = (bool)ViewData["windowVisible"];
    }

    if (ViewData["selectedSearchAttribute"] != null)
    {
        selectedSA = (SearchAttributeViewModel)ViewData["selectedSearchAttribute"];
    }

    if (Session["IncludePrimaryData"] != null)
    {
        isPrimaryDataNodeExist = (bool)Session["IncludePrimaryData"];
    }

    string windowTitle = "New Search Attribute";
    if (ViewData["selectedSearchAttribute"] != null)
    {
        SearchAttributeViewModel sa = (SearchAttributeViewModel)ViewData["selectedSearchAttribute"];
        if (sa.displayName!=null) {
            windowTitle = "Edit Searchattribute: "+sa.displayName+" ("+sa.id+")";

        }
    }

}

@section Information
{
    With this interface you are able to customize the search component and define what fields of the
    metadata are searchable and how they appear in the application. Changes made through the interface will
    alter the Lucene configuration file on the server. For a detailed description of each parameter please
    refer to the Lucene User Manual provided with the installation package.
<p>
    <a href="/ddm/Help/Index/#_Toc451435017" class="bx-informationLink" title="go to help" target="_blank">More</a>
</p>

}

@*@section Scripts{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
}*@

    @if (ViewData.ModelState.IsValid)
    {
    <div id="options" style="position:relative; width:100%; height: 15px;">
        <div style="position:absolute; left:0px;">
            @Html.ActionLink("Create Search Attribute", "Add", "Admin", new { @class = "bx-button function", @title = "Create Search Item" })
        </div>

        <div id="#searchDesigerOptions"  style="position:absolute; right:0px;">

            @Html.CheckBox("includePrimaryDataCheckBox", isPrimaryDataNodeExist) <b>include primary data</b>

            @Html.ActionLink("Refresh Search", "RefreshSearch", "Admin", new { @class = "bx-button action", @title = "Refresh index from search", onclick= "$('#SearchDesignerGrid').preloader(20,'Reloading index ...')" })

            @*@Html.ActionLink("Reset to last working setup", "ResetConfig", "Admin", new { @class = "bx-button function", @title = "Reset to Default" })*@
        </div>
    </div>

    <br />
    <br />
    @(Html.Telerik().Grid(Model)
            .Name("SearchDesignerGrid")

                .DataBinding(dataBinding => dataBinding
                    .Ajax()
                    .Select("_CustomSearchDesignerGridBinding", "Admin")
                )
                .ClientEvents(events=>events.OnDataBound("onDataBound"))

                .Columns(columns =>
                {

                    columns.Bound(o => o.displayName).Width(200);
                    columns.Bound(o => o.searchType).Width(180);//.ClientTemplate("<input type='text' name='Search Type' value='@Enum.GetName(typeof(SearchComponentBaseType)', Convert.ToInt32("<#= searchType #>") )' />");//.ClientTemplate(Enum.GetName(typeof(SearchComponentBaseType), Convert.ToInt32("<#= searchType #>") ));
                    columns.Bound(o => o.dataType).Width(100);
                    columns.Bound(o => o.headerItem).ClientTemplate("<input type='checkbox' disabled='disabled' name='Header Item' <#= headerItem ? checked='checked' : '' #> />").Width(100);
                    columns.Bound(o => o.defaultHeaderItem).ClientTemplate("<input type='checkbox' disabled='disabled' name='Default Header Item' <#= defaultHeaderItem ? checked='checked' : '' #> />").Width(150);
                    columns.Bound(o => o.multiValue).ClientTemplate("<input type='checkbox' disabled='disabled' name='Multi Value' <#= multiValue ? checked='checked' : '' #> />").Width(100);
                    columns.Bound(o => o.analysed).ClientTemplate("<input type='checkbox' disabled='disabled' name='Analysed' <#= analysed ? checked='checked' : '' #> />").Width(100);
                    columns.Template(
                        @<text>
                            @{
                                foreach (string dt in item.metadataNames)
                                {
                                  <span>@dt <br /></span>
                                }
                              }
                        </text>
                    )
                    .ClientTemplate("<#= loadClientTemplate(metadataNames) #>");

                    columns.Template(
                             @<text>
                                @Html.ActionLink(" ", "Edit", "Admin", new { id = item.id }, new { @class = "bx bx-grid-function bx-edit", @title = "Edit Search Item" })
                                @Html.ActionLink(" ", "Delete", "Admin", new { id = item.id }, new { @class = "bx bx-grid-function bx-trash", @title = "Delete Search Item", onclick = "return confirm('Are you sure you want delete the search attribute " + item.displayName + " ?')" })
                            </text>

                     )

                    .ClientTemplate(
                        @Html.ActionLink(" ", "Edit", "Admin", new { id = "<#= id #>" }, new { @class = "bx bx-grid-function bx-edit", @title = "Edit Search Item" }).ToString() +" " +
                        @Html.ActionLink(" ", "Delete", "Admin", new { id = "<#= id #>" }, new { @class = "bx bx-grid-function bx-trash", @title = "Delete Search Item", onclick = "return confirm('Are you sure you want delete the search attribute <#= displayName #> ?')" }).ToString()
                    )
                    .Width(80);

                })

                .Sortable()

                )

@(Html.Telerik().Window()
    .Name("EditSearchAttribute")
    .Visible(windowVisible)
    .Title(windowTitle)
    .Modal(true)
    .HtmlAttributes(new { @class = "bx-window" })
    .Draggable(true)
    .Width(0)
    .Height(500)
    .ClientEvents(events => events
            .OnActivate("EditSearchAttribute_resizeOnRefresh")
            .OnClose("EditSearchAttribute_onClose")
    )
    .Buttons(buttons => buttons.Close())
    .Content(@<text>
        <div id="showSearchAttribute-resultGrid" class="showSearchAttribute">
             @Html.Partial("_editSearchAttribute", selectedSA)
        </div>
    </text>
    )
)

<script type="text/javascript">

    function EditSearchAttribute_resizeOnRefresh() {
        var winContent = $('#EditSearchAttribute .t-window-content');
        //winContent.css("height", "");

        var detailwindow = $("#EditSearchAttribute").data("t-window");

        detailwindow.center();
    }

    function EditSearchAttribute_onClose() {
        $('.t-state-selected[title*="Edit"]').removeClass('t-state-selected');

            $.post('@Url.Action("CloseWindow", "Admin", new RouteValueDictionary { { "area", "ddm" } })', function (response) {

            })

        $(".t-grid .t-refresh").trigger('click');

        //Reloads the parent page please replace with proper solution

        window.location.href = "/ddm/Admin/SearchDesigner";
    }

    $("#includePrimaryDataCheckBox").change(function(e)
    {
        //alert($("#includePrimaryDataCheckBox").is(':checked'));
        var includePrimaryData = $("#includePrimaryDataCheckBox").is(':checked');

            $.post('@Url.Action("ChangeIncludePrimaryData", "Admin", new RouteValueDictionary { { "area", "ddm" } })', { includePrimaryData: includePrimaryData }, function (response) {
        })
    })
 </script>

    }
    else
    {
        @Html.ValidationSummary(true);
    }

<style type="text/css">

    #SearchDesignerGrid .t-grid-content
    {
        height:auto !important;
        overflow:auto;
        max-height:490px;
    }

    #SearchDesignerGrid .t-grid-content td
    {
      padding-left:0;
    }

    #SearchDesignerGrid .t-grid-content a.bx
    {
        text-decoration:none;
        margin-right:5px;
    }

    #SearchDesignerGrid .t-status
    {
       display:none;
    }

    #EditSearchAttribute
    {
        width:900px;
    }
</style>

<script type="text/javascript">

    function loadClientTemplate(data)
    {
        var template = ""

        for (var i = 0; i < data.length ; i++)
        {
            template += "<span>" + data[i] + "<br /></data>";
        }

        return template;
    }

    function onDataBound()
    {
        resetAllTelerikIconTitles();
        addTooltips();
    }
</script>