@model BExIS.Dcm.CreateDatasetWizard.CreateDatasetTaskmanager
@using Telerik.Web.Mvc.UI;
@using BExIS.Web.Shell.Areas.DCM.Models;
@using BExIS.Dcm.Wizard;
@using BExIS.Dcm.CreateDatasetWizard;

@{
   
    
       
 }
<div id="CreateWizard_TaskListDiv">
    
    @(Html.Telerik().TreeView()
        .Name("StepTreeView")
        .ClientEvents(events => events
                .OnSelect("OnClickStep"))
        .BindTo(Model.StepInfos, mappings =>
        {
            mappings.For<StepInfo>(binding => binding
                .ItemDataBound((item, stepinfo) =>
                {
                    string title = stepinfo.title;
                    if (!String.IsNullOrEmpty(stepinfo.parentTitle))
                    {
                        title = stepinfo.title + " / " + stepinfo.parentTitle;
                    } 
                    
                    item.Text = title;
                    item.Value = stepinfo.Id.ToString();
                    item.Selected = @Model.IsCurrent(stepinfo);
                    item.Expanded = (@Model.IsCurrent(stepinfo) || @Model.IsChildCurrent(stepinfo) || stepinfo.Expand || @Model.IsChildExpand(stepinfo));
                    item.LinkHtmlAttributes["actionName"] = stepinfo.GetActionInfo.ActionName;
                    item.LinkHtmlAttributes["controllerName"] = stepinfo.GetActionInfo.ControllerName;
                    item.LinkHtmlAttributes["areaName"] = stepinfo.GetActionInfo.AreaName;


                    switch (stepinfo.stepStatus)
                    {
                        //case StepStatus.success:
                        //    {
                        //        item.ImageUrl = "Images/emptyPng.png";
                        //        item.LinkHtmlAttributes["class"] = "facetSuccess";
                        //        item.ImageHtmlAttributes["class"] = "t-icon t-insert";
                        //        break;
                        //    }
                        case StepStatus.inProgress:
                            {
                                //item.ImageUrl = "Images/emptyPng.png";
                                item.LinkHtmlAttributes["class"] = "fa fa-hand-o-right";
                                break;
                            }
                        case StepStatus.error:
                            {
                                //item.ImageUrl = "Images/emptyPng.png";
                                item.LinkHtmlAttributes["class"] = "facetError fa fa-exclamation";
                                break;
                            }
                        default:
                            {

                                break;
                            }
                    }

                    //item.ActionName = stepinfo.GetActionInfo.ActionName;
                    //item.ControllerName = stepinfo.GetActionInfo.ControllerName;
                    //item.Action(stepinfo.GetActionInfo.ActionName, stepinfo.GetActionInfo.ControllerName, new RouteValueDictionary { { "area", stepinfo.GetActionInfo.AreaName }, { "index", stepinfo.Id } });

                })
                .Children(stepinfo => stepinfo.Children));

        
        }
        
        
    )
    .ClientEvents(e=>e
            .OnCollapse("onCollapse")
            .OnExpand("onExpand")
            )
    
    )
</div>

@*JavaScript*@
<script type="text/javascript">

    function TaskListRefresh()
    {
        $.post('@Url.Action("RefreshTaskList", "Create", new RouteValueDictionary { { "area", "DCM" } })', function (response) {
            $("#CreateWizard_TaskListDiv").html(response);
        })
    }

    function treeView() {
        return $('#StepTreeView').data('tTreeView');
    }

    function OnClickStep(e) {

        var element = e.item;
        var selectedItem = treeView().getItemText(e.item);
        var selectedItemValue = treeView().getItemValue(e.item);

        var span = element.getElementsByClassName("t-in")[0];

        var action = span.getAttribute("actionname");
        var controller = span.getAttribute("controllername");
        var area = span.getAttribute("areaname");

        //alert("test");
        $('#preloader').show();

        var url = '/'+area+'/' + controller + '/' + action;

        $.post(url, { stepId: selectedItemValue }, function (response) {
            $("#StepView").html(response);
            NavigationRefresh();
            TaskListRefresh();
            $('#preloader').hide();
        })
    }

    function onCollapse(e)
    {
        var treeview = $(this).data('tTreeView');
        var id = treeView().getItemValue(e.item);

        $.post('@Url.Action("ChangeStepVisibillity", new RouteValueDictionary { { "area", "DCM" } })', { id:id }, function (response) {
        })

    }

    function onExpand(e) {
         
        var treeview = $(this).data('tTreeView');
        var id = treeView().getItemValue(e.item);

        $.post('@Url.Action("ChangeStepVisibillity", new RouteValueDictionary { { "area", "DCM" } })', { id: id }, function (response) {
        })
    }

</script>

@*CSS*@

<style type="text/css">

    .facetError
    {
        color:indianred;
        font-weight:bold;
    }

    .facetSuccess
    {
        background-color:#90EE90
    }

    #taskListTable tr td
    {
        border-style: none;
    }

    #taskListTable
    {
        border-style: none;
    }

</style>