@model AbstractTaskManager
@using Telerik.Web.Mvc.UI;
@using BExIS.Web.Shell.Areas.DCM.Models;
@using BExIS.Dcm.Wizard;


<div id="CreateWizard_TaskListDiv">
<table id="taskListTable">

    @foreach (var item in Model.StepInfos)
    {
        string id = @Model.StepInfos.IndexOf(item) + "_" + @item.title + "_" + @item.GetActionInfo.ActionName + "_" + @item.GetActionInfo.ControllerName;
        <tr>
            <td >
                @if (Model.Current().Equals(item))
                { 
                    <b id="@id" class="t-link">@item.title</b>
                }
                else
                { 
                    <span id="@id" class="t-link" onclick="OnClickStep2(this)">@item.title</span>
                }
            </td>
            <td>

                @switch (item.stepStatus)
                {
                    case StepStatus.success:
                        {
                            <div class="t-icon t-insert" ></div>
                            break;
                        }
                    case StepStatus.inProgress:
                        {
                            <div class="t-icon t-arrow-prev" ></div>
                            break;
                        }
                    case StepStatus.error:
                        {
                            <div class="t-icon t-cancel" ></div>
                            break;
                        }
                    default:
                        {

                            break;
                        }
                }

            </td>
        </tr>
    }
</table>
</div>

@*JavaScript*@
<script type="text/javascript">

function TaskListRefresh()
{
        $.post('@Url.Action("RefreshTaskList", "Create", new RouteValueDictionary { { "area", "DCM" } })', function (response) {
            $("#CreateWizard_TaskListDiv").html(response);
        })
}

    function OnClickStep(e) {

        //alert("test");
        $('#preloader').show();
        var substr = e.id.split('_');
        var index = substr[0];
        var action = substr[2];
        var controller = substr[3];

        var url = '/DCM/' + controller + '/' + action;

        $.get(url, { index: index }, function (response) {
            $("#StepView").html(response);
            NavigationRefresh();
            TaskListRefresh();
            $('#preloader').hide();
        })
    }

    function OnClickStep2(e)
    {

        var substr = e.id.split('_');
        var index = substr[0];

        //alert(e.id);

        var data = {
            index: index,
            name:"test"
        };


        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data),
            dataType: 'html',
            url: '@Url.Action(@Model.Current().PostActionInfo.ActionName, @Model.Current().PostActionInfo.ControllerName, new RouteValueDictionary { { "area", @Model.Current().PostActionInfo.AreaName }})',
            success: function (result) {
                $('#StepView').html(result);
                NavigationRefresh();
                TaskListRefresh();
                $('#preloader').hide();
            }
            });
    }

</script>

@*CSS*@

<style type="text/css">

    #taskListTable tr td
    {
        border-style: none;
    }

    #taskListTable
    {
        border-style: none;
    }

</style>