@model List<BExIS.Dlm.Entities.Party.PartyRelationshipType>
@{ var hasParty = false;
    var sourcePartyId = (long)ViewBag.sourcePartyId;
 }
<h2>Relationships:</h2>

   <form action="/BAM/Party/CreatePartyRelationships" method="post">
   
        <input type="hidden" name="partyId" id="PartyRelationWindowPartyId" value="" />
        @foreach (var partyRelationType in Model)
        {
            if (!partyRelationType.AssociatedPairs.Any(item => item.AlowedTarget.Parties.Any()))
            {
                continue;
            }
            else
            {
                hasParty = true;

            }
            <table>
                <tr>
                    <td colspan="2">
                        <h3>@partyRelationType.Title</h3>
                    </td>
                </tr>
                @foreach (var partyTypePair in partyRelationType.AssociatedPairs)
                {
                    <tr class="PartyRelationTypeDetails_@partyRelationType.Id">
                        <td>
                            <label>
                                <b> @partyTypePair.Title</b>
                            </label>
                        </td>
                        <td style="min-width:300px;">
                            <table>
                                @foreach (var party in partyTypePair.AlowedTarget.Parties)
                                {
                                    var cntRelations = (sourcePartyId != 0 ? BExIS.Web.Shell.Areas.BAM.Helpers.Helper.CountRelations(sourcePartyId, party.Id, partyTypePair.PartyRelationshipType) : 0);
                                    <tr>
                                        <td>

                                            <input type="checkbox" @(cntRelations >= @partyTypePair.PartyRelationshipType.MaxCardinality ? "disabled" : "") partyId="@party.Id" partyTypepairId="@partyTypePair.Id" partyRelationshipTypeId="@partyTypePair.PartyRelationshipType.Id" class="chkPartyRelationship" /><label>@party.Name</label>&nbsp;(<span style=@(cntRelations >= @partyTypePair.PartyRelationshipType.MaxCardinality ?"color:red;" :"")>@cntRelations of @partyTypePair.PartyRelationshipType.MaxCardinality </span>)
                                            <div class="divPartyRelationship" id="@Html.Raw("divPartyRelationship" + party.Id)"></div>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </td>
                    </tr>
                }

            </table>
        }
        @if (hasParty)
        {
            <div>
                <button type="submit" value="Save" name="saveDataset" class="t-button" style="border:0px;">Save</button>
            </div>
        }
        else
        {
            <div id="divRelationshipNotFoundTitle">There is not any allowed related parties for making relationship!</div>

        }
 
        </form>
  

        <script type="text/javascript">
            $(".chkPartyRelationType").on("click", function () {
                val = $(this).val();
                $(".PartyRelationTypeDetails_" + val).show();
            });
            $(".chkPartyRelationship").on("click", function () {
                str = $('#partyRelationshipTemplate').html();
                str = str.replace(/{partyId}/gi, $(this).attr("partyId"));
                str = str.replace(/{PartyRelationshipTypeId}/gi, $(this).attr("partyRelationshipTypeId"));
                str = str.replace(/{partyTypepairId}/gi, $(this).attr("partyTypepairId"));
                if ($(this).is(':checked'))
                    $(this).nextAll('.divPartyRelationship').html(str);
                else
                    $(this).nextAll('.divPartyRelationship').html('');
                $(".partyRelationshipsDate").tDatePicker({ style: "width:275px; " });
            });
        </script>
        <script id="partyRelationshipTemplate" type="text/html">
            <table>
                <tr>
                    <td style="width:200px">Title</td>
                    <td>
                        <input type="hidden" name="partyRelationshipsDic[PartyRelationshipTypeId_{partyId}_{partyTypepairId}]" value="{PartyRelationshipTypeId}" />
                        <input type="text" name="partyRelationshipsDic[Title_{partyId}_{partyTypepairId}]" value="" />
                    </td>
                </tr>
                <tr>
                    <td style="width:200px">Description</td>
                    <td><input type="text" name="partyRelationshipsDic[Description_{partyId}_{partyTypepairId}]" value="" /></td>
                </tr>
                <tr>
                    <td style="width:200px">StartDate</td>

                    <td>
                        <div style="width:200px">
                            <input class="partyRelationshipsDate" id="partyRelationshipsDic[StartDate_{partyId}_{partyTypepairId}]" name="partyRelationshipsDic[StartDate_{partyId}_{partyTypepairId}]" type="text">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:200px">EndDate</td>
                    <td>
                        <div style="width:200px">
                            <input class="partyRelationshipsDate" id="partyRelationshipsDic[EndDate_{partyId}_{partyTypepairId}]" name="partyRelationshipsDic[EndDate_{partyId}_{partyTypepairId}]" type="text" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:200px">Scope</td>
                    <td><input type="text" name="partyRelationshipsDic[Scope_{partyId}_{partyTypepairId}]" value="" /></td>
                </tr>
            </table>
        </script>
