@model BExIS.Web.Shell.Areas.BAM.Models.PartyModel
@section Information
{

}
@{
    bool addRelationship = true;
    if (Request.QueryString["addRelationship"] != null)
    { addRelationship = true; }
    else
    { addRelationship = (bool)ViewBag.RelationTabAsDefault; }
    bool hasErrors = false;
    string errorMessage = "";
    string errorClass = "";
}
@if (Model.Errors != null && Model.Errors.Count() > 0)
{
    hasErrors = true;
}

@if (hasErrors == true)
{
    errorClass = "bx-input-error";
    foreach (var item in Model.Errors)
    {
        if (Model.Errors.First().Equals(item))
        {
            errorMessage = item.GetMessage();
        }
        else
        {
            errorMessage += ", " + item.GetMessage();
        }
    }
}
@using (Html.BeginForm("Edit", "Party", new { area = "BAM" }, FormMethod.Post))
{
    @Html.HiddenFor(m => m.Party.Id)
    @Html.HiddenFor(m => m.Party.PartyType.Id)

    @(Html.Telerik().TabStrip()
            .Name("ShowDataTabStrip")
            .SelectedIndex(addRelationship ? 2 : 0).ClientEvents(events => events.OnSelect("tabSelected"))
            .Items(tabs =>
            {

            tabs.Add()
                    .Text("Party").Content(@<text>
                    <table>
                        <tr>
                            <td style="width:40px;"><b title="Required" style="color: red">*</b></td>
                            <td>
                                @Html.LabelFor(m => m.Party.Name)
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.Party.Name, new { Title = @errorMessage, @class = "bx-textarea " + @errorClass })
                                @Html.ValidationMessageFor(m => m.Party.Name)
                            </td>
                        </tr>
                        <tr>
                            <td><b title="Required" style="color: red">*</b></td>
                            <td style="width:300px;">
                                @Html.LabelFor(m => m.Party.PartyType)
                            </td>
                            <td>
                                @Model.Party.PartyType.Title
                            </td>
                        </tr>
                        <tr>
                            <td><b title="Required" style="color: red">*</b></td>
                            <td>
                                @Html.LabelFor(m => m.Party.StartDate)
                            </td>
                            <td>
                                @(Html.Telerik().DatePickerFor(m => m.Party.StartDate)
                                .HtmlAttributes(new { @style = "width:275px; " })
                                )
                            </td>
                        </tr>
                        <tr>
                            <td><b title="Required" style="color: red">*</b></td>
                            <td>
                                @Html.LabelFor(m => m.Party.EndDate)
                            </td>
                            <td>
                                @(Html.Telerik().DatePickerFor(m => m.Party.EndDate).HtmlAttributes(new { @style = "width:275px; " }))
                            </td>
                        </tr>
                        <tr>
                            <td><b title="Required" style="color: red">*</b></td>
                            <td>
                                @Html.LabelFor(m => m.Party.Description)
                            </td>
                            <td>
                                @Html.EditorFor(m => m.Party.Description, new { Title = @errorMessage, @class = "bx-textarea " + @errorClass })
                                @Html.ValidationMessageFor(m => m.Party.Description)
                            </td>
                        </tr>
                    </table>
                    </text>);
                tabs.Add().Text("Custom Attributes").Content(@<text>
                        <div id="divPartyCustomAttr"></div>
                </text>);

                tabs.Add().Text("Relationships").Content(@<text>
                    @Html.Partial("_partyRelationshipTypesView", Model)

                </text>);
            })
    )
    <div id="divSubmitButtons" style="background-color: rgb(245, 245, 245); margin-top: -2px;">
        <button type="submit" value="Save" name="saveDataset" class="t-button" style="border:0px;">Save</button>
    </div>
}



<div id="divPartyRelation">

</div>
<script type="text/javascript">


    var partyTypeId=@Model.Party.PartyType.Id;
    $('#divPartyCustomAttr').load('/BAM/Party/LoadPartyCustomAttr/' + partyTypeId+'?partyId='+@Model.Party.Id, function (response, status, xhr) {

        if (status == "error") {
            $('#divPartyCustomAttr').html("")
            alert(response);
        }
        $('#imgPartyCustomeAttrLoading').hide();
    });
    function tabSelected(tab)
    {
        if($(tab.item).text()=="Relationships")
            $("#divSubmitButtons").hide();
        else
            $("#divSubmitButtons").show();

    }


</script>

