@model List<BExIS.Dlm.Entities.Party.Party>

<div class="bx-rpm-buttons">
    @Html.ActionLink("Create Party", "Create", "Party", new { }, new { @class = "bx-button function" })
</div>

@(Html.Telerik().Grid(Model)
            .Name("bx-rpm-attributeGrid")
            .Sortable()
            .Filterable()
            .Columns(columns =>
            {
            columns.Bound(c => c.Id);
            columns.Bound(c => c.Name);
            columns.Template(
                @<text>
                    <div>
                        @Html.ActionLink(" ", "View", "Party", new { id = item.Id }, new { @class = "bx bx-grid-function bx-show", title = "View Party \"" + item.Name + "\"" })
                        @Html.ActionLink(" ", "Edit", "Party", new { id = item.Id }, new { @class = "bx bx-grid-function bx-edit", title = "Edit Party \"" + item.Name + "\"" })
                        @Html.ActionLink(" ", "DeleteConfirm", "Party", new { id = item.Id }, new { @class = "bx bx-grid-function bx-trash ", title = "Delete Party \"" + item.Name + "\"" })
                    </div>
                </text>
                        );
            }))