@model BExIS.Modules.Bam.UI.Models.PartyModel

@using (Html.BeginForm("Edit", "Party", new { area = "BAM" }, FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.PartyType.Id)
    @(Html.Telerik().TabStrip()
            .Name("ShowDataTabStrip")
            .ClientEvents(events => events.OnSelect("tabSelected")).SelectedIndex(0)
            .Items(tabs =>
            {

            tabs.Add()
                    .Text("Party").Content(@<text>
                    <table>                        <tr>
                            <td></td>
                            <td style="width:300px;">
                                @Html.LabelFor(m => m.PartyType)
                            </td>
                            <td>
                                <span>    @Model.PartyType.Title</span>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @Html.LabelFor(m => m.StartDate)
                            </td>
                            <td>
                                <span> @Model.StartDate</span>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @Html.LabelFor(m => m.EndDate)
                            </td>
                            <td>
                                <span> @Model.EndDate</span>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @Html.LabelFor(m => m.Description)
                            </td>
                            <td>
                                <span> @Model.Description</span>
                            </td>
                        </tr>
                    </table>
                    </text>);
                tabs.Add().Text("Custom Attributes").Content(@<text>
                        <div id="divPartyCustomAttr"></div>
                </text>);

                tabs.Add().Text("Relationships").Content(@<text>
                    @Html.Partial("_partyRelationshipsPartial", Model)

                </text>);
            })
    )
    <div id="divSubmitButtons" class="bx-footer right" style="text-align:left;">
        @Html.ActionLink("Back", "Index", "Party", new { area = "BAM", @class = "bx-button action" })
    </div>
}

<div id="divPartyRelation">

</div>
<script type="text/javascript">

    function loadPartyType(e)
    {

        var  partyTypeId= e.value;
        var lastPartyTypeId=@Model.PartyType.Id;
        $('#divPartyCustomAttr').load('/BAM/Party/LoadPartyCustomAttr/' + partyTypeId+ "?readOnly=true&"+((lastPartyTypeId==partyTypeId)? "partyId="+@Model.Id:""), function (response, status, xhr) {
            if (status == "error")
                $('#divPartyCustomAttr').html("");
        });
    }
    function tabSelected(tab)
    {
        if(tab.item.innerText=="Relationships")
            $("#divSubmitButtons").hide();
        else
            $("#divSubmitButtons").show();

    }
    @if (Model.PartyType.Id != 0)
    {
       @Html.Raw("loadPartyType( {value: " + Model.PartyType.Id + "});");
    }

</script>