@model BExIS.Web.Shell.Areas.BAM.Models.PartyModel

@{
    bool addRelationship = Request.QueryString["addRelationship"] != null ? true : false;
    bool hasErrors = false;
    string errorMessage = "";
    string errorClass = "";
}
@if (Model.Errors != null && Model.Errors.Count() > 0)
{
    hasErrors = true;
}

@if (hasErrors == true)
{
    errorClass = "bx-input-error";
    foreach (var item in Model.Errors)
    {
        if (Model.Errors.First().Equals(item))
        {
            errorMessage = item.GetMessage();
        }
        else
        {
            errorMessage += ", " + item.GetMessage();
        }
    }
}
@using (Html.BeginForm("Edit", "Party", new { area = "BAM" }, FormMethod.Post))
{
    @Html.HiddenFor(m => m.Party.Id)
    @Html.HiddenFor(m => m.Party.PartyType.Id)
    @(Html.Telerik().TabStrip()
            .Name("ShowDataTabStrip")
            .SelectedIndex(addRelationship ? 2 : 0).ClientEvents(events => events.OnSelect("tabSelected"))
            .Items(tabs =>
            {

            tabs.Add()
                    .Text("Party").Content(@<text>
                    <table>
                        <tr>
                            <td style="width:40px;"><b title="Required" style="color: red">*</b></td>
                            <td>
                                @Html.LabelFor(m => m.Party.Name)
                            </td>
                            <td>
                                <span> @Model.Party.Name</span>
</td>
                        </tr>
                        <tr>
                            <td><b title="Required" style="color: red">*</b></td>
                            <td style="width:300px;">
                                @Html.LabelFor(m => m.Party.PartyType)
                            </td>
                            <td>
                                <span>    @Model.Party.PartyType.Title</span>
</td>
                        </tr>
                        <tr>
                            <td><b title="Required" style="color: red">*</b></td>
                            <td>
                                @Html.LabelFor(m => m.Party.StartDate)
                            </td>
                            <td>
                                <span> @Model.Party.StartDate</span>
</td>
                        </tr>
                        <tr>
                            <td><b title="Required" style="color: red">*</b></td>
                            <td>
                                @Html.LabelFor(m => m.Party.EndDate)
                            </td>
                            <td>
                                <span> @Model.Party.EndDate</span>
</td>
                        </tr>
                        <tr>
                            <td><b title="Required" style="color: red">*</b></td>
                            <td>
                                @Html.LabelFor(m => m.Party.Description)
                            </td>
                            <td>
                                <span> @Model.Party.Description</span>
                            </td>
                        </tr>
                    </table>
                    </text>);
                tabs.Add().Text("Custom Attributes").Content(@<text>
                        <div id="divPartyCustomAttr"></div>
                </text>);

                tabs.Add().Text("Relationships").Content(@<text>
                    @Html.Partial("_partyRelationshipTypesView", Model)

                </text>);
            })
    )
  
}
<div id="divPartyRelation">

</div>
<script type="text/javascript">

            function loadPartyType(e)
            {

                var  partyTypeId= e.value;
                var lastPartyTypeId=@Model.Party.PartyType.Id;
                $('#divPartyCustomAttr').load('/BAM/Party/LoadPartyCustomAttr/' + partyTypeId+ "?readOnly=true&"+((lastPartyTypeId==partyTypeId)? "partyId="+@Model.Party.Id:""), function (response, status, xhr) {
                    if (status == "error")
                        $('#divPartyCustomAttr').html("");
                });
            }
            function tabSelected(tab)
            {
                if(tab.item.innerText=="Relationships")
                    $("#divSubmitButtons").hide();
                else
                    $("#divSubmitButtons").show();

            }
            @if (Model.Party.PartyType.Id != 0)
    {
       @Html.Raw("loadPartyType( {value: " + Model.Party.PartyType.Id + "});");
    }

</script>

    @*<table>
        <tr>
            <td style="width:40px;"><b title="Required" style="color: red">*</b></td>
            <td>
                @Html.LabelFor(m => m.Party.Name)
            </td>
            <td>
                @Model.Party.Name
            </td>
        </tr>
        <tr>
            <td><b title="Required" style="color: red">*</b></td>
            <td style="width:300px;">
                @Html.LabelFor(m => m.Party.PartyType)
            </td>
            <td>
               @Model.Party.PartyType.Title
            </td>
        </tr>
        <tr>
            <td><b title="Required" style="color: red">*</b></td>
            <td>
                @Html.LabelFor(m => m.Party.StartDate)
            </td>
            <td>
               @Model.Party.StartDate
            </td>
        </tr>
        <tr>
            <td><b title="Required" style="color: red">*</b></td>
            <td>
                @Html.LabelFor(m => m.Party.EndDate)
            </td>
            <td>
               @Model.Party.EndDate
            </td>
        </tr>
        <tr>
            <td><b title="Required" style="color: red">*</b></td>
            <td>
                @Html.LabelFor(m => m.Party.Description)
            </td>
            <td>
                @Model.Party.Description
            </td>
        </tr>
    </table>

    <br />
    <div id="divPartyCustomAttr"></div>



<script type="text/javascript">

    function showPartyCustomAttr(e)
    {
        var  partyTypeId= e.value;
        var lastPartyTypeId=@Model.Party.PartyType.Id;
        if(lastPartyTypeId==partyTypeId)
            //should load party custom values
            $('#divPartyCustomAttr').load('/BAM/Party/LoadPartyCustomAttr/' + partyTypeId+"?readOnly=true&&partyId="+@Model.Party.Id);



    }
    @if (Model.Party.PartyType.Id != 0)
    {
       @Html.Raw("showPartyCustomAttr( {value: " + Model.Party.PartyType.Id + "});");
    }

</script>*@
