@model BExIS.Modules.Bam.UI.Models.PartyModel
@section Information
{
    This is the details of a party; its main fields, attributes and relationships. Also it is possible to view the detial of each relationship on relationshipgrid.
    <p>
        <a href="/bam/Help/Index/" class="bx-informationLink" title="go to help" target="_blank">More</a>
    </p>

}
@using (Html.BeginForm("Edit", "Party", new { area = "BAM" }, FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.PartyType.Id)
    @(Html.Telerik().TabStrip()
            .Name("ShowDataTabStrip")
            .SelectedIndex(0)
            .Items(tabs =>
            {
            tabs.Add()
                    .Text("Party").Content(@<text>
                    <table>
                        <tr>
                            <td style="width:40px;"></td>
                            <td style="width:200px;">
                                @Html.LabelFor(m => m.PartyType)
                            </td>
                            <td>
                                <span>@Model.PartyType.Title</span>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <label for="StartDate">Start Date</label>
                            </td>
                            <td>
                                <span>@(Model.StartDate.HasValue ? Model.StartDate.Value.ToString("yyyy-MM-dd") : "-")</span>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <label for="EndDate">End Date</label>
                            </td>
                            <td>
                                <span>@(Model.EndDate.HasValue ? Model.EndDate.Value.ToString("yyyy-MM-dd") : "-")</span>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @Html.LabelFor(m => m.Description)
                            </td>
                            <td>
                                <span>@Model.Description</span>
                            </td>
                        </tr>
                    </table>
                    </text>);
                tabs.Add().Text("Additional attributes").Content(@<text>
                        <div id="divPartyCustomAttr"></div>
                </text>);

                tabs.Add().Text("Relationships").Content(@<text>
                    @Html.Partial("~/Areas/BAM/Views/PartyService/_partyRelationshipsPartial.cshtml", Model)
                </text>);
            })
    )
    <div id="divSubmitButtons" class="bx-footer right" style="text-align:left;">
        @Html.ActionLink("Back", "Index", "Party", new { area = "BAM", @class = "bx-button action" })
    </div>
}

<div id="divPartyRelation">
</div>
<script type="text/javascript">

    function loadPartyType(e)
    {

        var  partyTypeId= e.value;
        var lastPartyTypeId=@Model.PartyType.Id;
        $('#divPartyCustomAttr').load('/BAM/PartyService/LoadPartyCustomAttr/' + partyTypeId+ "?readOnly=true&"+((lastPartyTypeId==partyTypeId)? "partyId="+@Model.Id:""), function (response, status, xhr) {
            if (status == "error")
                $('#divPartyCustomAttr').html("");
        });
    }
    @if (Model.PartyType.Id != 0)
    {
       @Html.Raw("loadPartyType( {value: " + Model.PartyType.Id + "});");
    }
</script>