@using Telerik.Web.Mvc.UI
@model BExIS.Modules.Sam.UI.Models.UpdateUserModel

@using (Ajax.BeginForm("Update", "Users", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "Content_Update", OnSuccess = "Update_OnSuccess" }))
{
    @Html.ValidationSummary(true)

    @(Html.Telerik().TabStrip()
        .Name("TabStrip_Update")
        .SelectedIndex(0)
        .Items(tabs =>
        {
            tabs.Add()
                .Text("Details")
                .Content(@<text>
                    <table class="bx-table-form">
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.Id, new { @class = "t-input bx-input" })
                                @Html.HiddenFor(m => m.Id)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.UserName)
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.UserName, new { @class = "t-input bx-input" })
                                @Html.ValidationMessageFor(m => m.UserName)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.Email)
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.Email, new { @class = "t-input bx-input" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </td>
                        </tr>
                    </table>
                </text>);
tabs.Add()
.Text("Membership")
.Content(@<text>
                    @Html.Partial("_Membership", Model.Id)
</text>);

        })
    )

    <div class="bx-footer right">
        <button style="margin-right: 1px" type="submit" class="bx-button action">Save</button>
        <button style="margin-left: 1px" type="button" class="bx-button action">Cancel</button>
    </div>
}

<script>
    $("button[type='submit']").click(function () {
        $.post('@Url.Action("Groups_Save", "Users")', { Groups: $("#Grid_Groups").data("tGrid").dataSource._data });
    });
</script>