@using BExIS.Dlm.Entities.Data;
@model System.Collections.Generic.List<Dataset>

@section Information
{
    This maintenance tool is meant for administrators only. All datasets are
    listed with their internal ID, status, and the option to remove them
    from the system. Use with care!
    <p>
        <a href="/SAM/Help/Index/#_Toc451422053" class="bx-informationLink" title="go to help" target="_blank">More</a>
    </p>
}
@{
    var DatasetIds = new List<long>();
    if (ViewData["DatasetIds"] != null)
    {
        DatasetIds = ViewData["DatasetIds"] as List<long>;
    }
}
<h2>The dataset management functions accessible from here may have unrecoverable effets! Use them with care.</h2>
<h3>Datasets</h3>
<table>
    <tr>
        <td>ID</td>
        <td>Status</td>
        <td>Modofication Info</td>

        <td>Time</td>
        <td>Extra</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@(item.Id)</td>
            <td>@(item.Status)</td>
            <td>@(item.VersionNo)</td>

            <td>@(item.LastCheckIOTimestamp)</td>
            <td>@(item.Extra)</td>
                

        </tr>
    }
</table>

<div id="chartContainer" style="height: 300px; width: 60%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script>

    $( document ).ready(function() {

        //dataPoints: list of objects {y: value, label:key}
        var dataPoints = [{ y: 100, label: "a" }];

        //draw a diagram
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            title:{
                text: "Top Oil Reserves"
            },
            axisY: {
                title: "Reserves(MMbbl)"
            },
            data: [{
                type: "column",
                showInLegend: true,
                legendMarkerColor: "grey",
                legendText: "MMbbl = one million barrels",
                dataPoints: dataPoints
            }]
        });
        chart.render();

    });

</script>
