@model BExIS.Dcm.UploadWizard.EasyUploadTaskManager
@using Telerik.Web.Mvc.UI;
@using BExIS.Modules.Dcm.UI.Models;

<link href="@Url.Content(Themes.GetResourcePath("Styles","wizard.css"))" rel="stylesheet" type="text/css" />

@section Information
{
    This wizard will assist you in uploading an excel file to the system, creating a metadata structure based on the data table
    and add it to a dataset.
    <p>
        <a href="/dcm/Help/index#_easy_upload_import_data" class="bx-informationLink" title="go to help" target="_blank">More</a>
    </p>
}

@section LeftPane
{   @if (ViewData.ModelState.IsValid)
    {
        @Html.Partial("_taskListView", Model.GetStatusOfStepInfos())
    }


}
<div id="StepView">
    @Html.ValidationSummary(true)
</div>
<div id="preloader" style="display:none;">
    <img src="../../../../Themes/Default/Styles/Default/preloader.GIF" />
</div>


@if (ViewData.ModelState.IsValid)
{
    @Html.Partial("_uploadWizardNav", Model)

    <script type="text/javascript">

        var Upload;
        var SelectedDatasetId;
        var SelectedDatasetTitle;
        var SelectedDataStrutureId;
        var SelectedDataStrutureTitle;
        var Parameters = new Array();

        $(document).on("ready",function () {

            var index = '@Model.GetCurrentStepInfoIndex()';

            //$.validator.unobtrusive.parse("#DefineMetadataStructure");
            $.validator.unobtrusive.parse("createDatasetFormular");


            $.get('@Url.Action(@Model.Current().GetActionInfo.ActionName, @Model.Current().GetActionInfo.ControllerName, new RouteValueDictionary { { "area", @Model.Current().GetActionInfo.AreaName } })', { index: index }, function (response) {


                $("#StepView").html(response);


                NavigationRefresh();
                TaskListRefresh();

            });


        })

    </script>

}