@model BExIS.Modules.Dcm.UI.Models.CreateDataset.StepModelHelper
@{
    string stepId = Model.Model.StepInfo.Id.ToString(); //@Model.Model.Source.Id.ToString(); // XXX METADATSTRUCTURE+ "_"+Model.MetadataStructure.Id;
    string contentId = stepId + "_Content";
    string first_level = Model.Level == 0 ? "first_level" : "";

}

<div id="@stepId" name="@Model.UsageName Container" class="createWizardStep @first_level">

    @if (Model.Model.StepInfo.IsInstanze == false)
    {
        <!-- CONTENT -->
    <div id="@contentId" class="content">
        @if (Model.Childrens.Any())
            {
                for (int i = 1; i <= Model.Childrens.Count; i++)
                {
                    var item = Model.Childrens.ElementAt(i - 1);
        @Html.Partial("_metadataCompoundAttributeUsageView", item)
                }
            }
    </div>
    }
</div>