@using Telerik.Web.Mvc.UI;

@model BExIS.Ddm.Model.Property

<div>

<p class="PropertyHeader">@Model.DisplayName</p>


@{ string value = "";
   int i = 0;
   }

@if(this.Session["PropertiesDictionary"] as Dictionary<string, string> !=null)
{
    Dictionary<string, string> dic = this.Session["PropertiesDictionary"] as Dictionary<string, string>;
    value = ((dic != null && dic.ContainsKey(Model.DataSourceKey)) ? dic[Model.DataSourceKey] : Model.DefaultValue); //HtmlHelpers.GetSelectedValueInDictionary(Model.DataSourceKey, Model.DefaultValue, this.Session["PropertiesDictionary"] as Dictionary<string, string>); 
}

@if (value == "" || this.Session["PropertiesDictionary"] as Dictionary<string, string> == null)
{
   value = Model.DefaultValue;
}
    
 

@foreach (string s in @Model.Values)
    {
        if (s != value)
        {
            i++;
        }
        else { break; }
    }



@(Html.Telerik().DropDownList()
             .Name(Model.DataSourceKey)
             .SelectedIndex(i)
             .BindTo(new SelectList(Model.Values))
            .ClientEvents(events => events
            .OnChange("onChange"))
)
</div>
<script type="text/javascript">
    function onChange(e) {
      
        var value = e.value;
        var node = e.currentTarget.name;

        //alert(value + "," + e.currentTarget);
        $("#" + e.currentTarget.id).prop("selectedIndex");

        $.post('@Url.Action("FilterByDropDown", "Home", new RouteValueDictionary { { "area", "ddm" } })', { value: value, node: node }, function (response) {
            //alert(response);

            $(".searchBreadcrumbNavigation").html(response);
        });

        $.post('@Url.Action("UpdateContent", "Home", new RouteValueDictionary { { "area", "ddm" } })', {}, function (response) {
            $("#resultContent").html(response);

        })

        $.post('@Url.Action("UpdateFacets", "Home", new RouteValueDictionary { { "area", "ddm" } })', {}, function (response) {
            $("#searchTreeView").html(response);
        })
        

        refreshGrid();
    }

</script>