@model BExIS.Ddm.Model.Property

<p><p class="PropertyHeader">@Model.DisplayName</p>
   
   @{ string value = ""; }

    @if (this.Session["PropertiesDictionary"] as Dictionary<string, string> != null)
    {
        Dictionary<string, string> dic = this.Session["PropertiesDictionary"] as Dictionary<string, string>;
        value = ((dic != null && dic.ContainsKey(Model.DataSourceKey)) ? dic[Model.DataSourceKey] : Model.DefaultValue); //HtmlHelpers.GetSelectedValueInDictionary(Model.DataSourceKey, Model.DefaultValue, this.Session["PropertiesDictionary"] as Dictionary<string, string>); 
    }
    
    @if (value == "" || this.Session["PropertiesDictionary"] as Dictionary<string, string> == null)
    {
        value = Model.DefaultValue;
    }
    
 
    @foreach (var itemValue in Model.Values)
    {
        if (value == itemValue.ToString())
        {
            <input type="radio"
                   id="@Model.DataSourceKey"
                   name="@Model.DataSourceKey"
                   runat="server"
                   onclick="confirmSubmit(this)"
                   checked="True"
                   value="@itemValue.ToString()"/>@itemValue.ToString()
        }
        else
        {
            <input type="radio"
                   id="@Model.DataSourceKey"
                   name="@Model.DataSourceKey"
                   runat="server"
                   onclick="confirmSubmit(this)"

                   value="@itemValue.ToString()"/>@itemValue.ToString()
        }

    }
    </p>

    <script type="text/javascript">

        function confirmSubmit(e) {

            $.post('@Url.Action("FilterByCheckBox", "Home", new RouteValueDictionary { { "area", "DDM" } })', { value: e.value, node: e.name, isChecked: e.checked }, function (response) {
                // alert(response);
                $(".searchBreadcrumbNavigation").html(response);
            });

//            $.post('@Url.Action("UpdateContent", "Home", new RouteValueDictionary { { "area", "DDM" } })', {}, function (response) {
//                $("#resultContent").html(response);

//            })

            $.post('@Url.Action("UpdateFacets", "Home", new RouteValueDictionary { { "area", "DDM" } })', {}, function (response) {
                $("#searchTreeView").html(response);
            })
        

            e.disabled = true;
            refreshGrid();
            e.disabled = false;
        }

    </script>