@model BExIS.Ddm.Model.Property
@using System.Data;   
@using BExIS.Ddm.Model;   
@using System.Globalization;    
@using BExIS.Web.Shell.Helpers; 
<div>
<p class="PropertyHeader">@Model.DisplayName</p>
@{
    List<int> dtList = new List<int>();

    int Value = new int();

    if (@Model.DataType.ToLower().Equals("date"))
    {
        foreach (var item in Model.Values)
        {
            // format check inside 
            // M/d/yyyy
            DateTime dt = DateTime.Parse(item, new CultureInfo("en-US", false)); //Convert.ToDateTime(item);
            dtList.Add(dt.Year);

        }
    }

    int largeStep = 0;
    
    if (dtList.Count > 0)
    { 
        dtList.Sort();
        if (Model.Direction.Equals(Direction.increase)){ Value =  dtList.First();}
    
        if(Model.Direction.Equals(Direction.decrease)){ Value =  dtList.Last();}

        largeStep = dtList.Last() - dtList.First();
    }
}

@if (dtList.Count > 0)
{ 
    if (dtList.Count > 1)
    {
        int min = dtList.First();
        int max = dtList.Last();
        
        if(dtList.First().Equals(dtList.Last()))
        {
            max = dtList.Last()+1;
        }
        
        largeStep = max-min;
        
        @(Html.BexisUI().Slider()
                        .Name(Model.DataSourceKey)
                        .Min(min)
                        .Max(max)
                        .Steps(1)
                        .ClientEvent("onchange","onChangeSlider")
                        .Value(Value)
                        .Render())
     
    }
    else
    { 
        <b>Slider not work with only one value</b>
    }
}
else
{ 
    <b>Slider currently not work with @Model.DataType.ToString() .</b>
}

</div>
 <script type="text/javascript">
     function onChangeSlider(e) {
         var value = e.value.newValue;
         var id = e.target.name;


         $.post('@Url.Action("FilterBySlider", "Home", new RouteValueDictionary { { "area", "DDM" } })', { value: value, parent: id }, function (response) {
             // alert(response);
             $(".searchBreadcrumbNavigation").html(response);
         });

//         $.post('@Url.Action("UpdateContent", "Home", new RouteValueDictionary { { "area", "DDM" } })', {}, function (response) {
//             $("#resultContent").html(response);

//         })

         $.post('@Url.Action("UpdateFacets", "Home", new RouteValueDictionary { { "area", "DDM" } })', {}, function (response) {
             $("#searchTreeView").html(response);
         })
        

         refreshGrid();
     }

</script>
 