@using BExIS.Ddm.Model;
@model SearchModel

@{
    List<Facet> listOfAllFacets = new List<Facet>();

    int rows = 0;

    string title = "No title";
    
    if ((IEnumerable<Facet>)Session["SelectAbleCategories"] != null)
    {
        listOfAllFacets = ((IEnumerable<Facet>)Session["SelectAbleCategories"]).ToList();
    
        int numOfFacets = listOfAllFacets.Count;
    
        if (numOfFacets % 2 == 0)
        {
            rows = numOfFacets / 2;
        }
        else
        {
            rows = (numOfFacets / 2)+1;
        }
    }
    
     if (@Session["ParentOfSelectAbleCategories"] != null)
     {
         title = System.StringExtensions.Titleize(@Session["ParentOfSelectAbleCategories"].ToString());
     }
 }
@using (Html.BeginForm("AddFacetsToSearch", "Home", new { area = "DDM" }))
{ 
    <div id="search_more">
        <div class="bx-title">@title</div>  
       
        <div class="bx-content">
            
                <div id="search_moreCheckBox">
                @if (listOfAllFacets != null)
                {
                    if (listOfAllFacets.Count() > 0)
                    {

                        <table>
                            @for (int i = 0; i < rows; i++)
                            {
                                <tr>
                            
                                @{
                                    for (int j = 0; j < 2; j++)
                                    {
                                        int pos = 0;

                                        if (j == 0) { pos = i; }
                                        else { pos = i + rows; }

                                        if (pos < listOfAllFacets.Count)
                                        { 
                                            var facet = listOfAllFacets.ElementAt(pos);
                                            facet.Parent = Model.SearchComponent.GetFacet(@Session["ParentOfSelectAbleCategories"].ToString());

                                            string displayedName;

                                            if (facet.Name.Length > 23) { displayedName = System.StringExtensions.Truncate(facet.Name,23); }
                                            else { displayedName = facet.Name; }
                                            
                                            <td title="@facet.Name.ToString()">@Html.CheckBox(pos.ToString(), @Model.CriteriaComponent.ContainsFacet(facet), new { text = @facet.Name.ToString() })  @Html.Label(@facet.Name.ToString(), displayedName)</td>
                                        }    
                                    }
                                }
                                </tr>
                            }
                        </table>
                    }
                }
           
               </div>
        </div>
        <div id="search_winFooter" class="bx-footer right">

            <button type="submit" class="bx-button action" value="add" name="button"@* onclick="Search_OnClickSubmit()"*@ >Submit</button>
            <button id="all" type="button" class="bx-button action" value="all" name="button" onclick="Search_OnClickAll()" >All</button>
            <button id="none" type="button" class="bx-button action" value="none" name="button" onclick="Search_OnClickNone()" >None</button>
        </div>
    </div>
}

<script type="text/javascript">

    function Search_OnClickAll() {
     $("#search_moreCheckBox").find("input:checkbox")
                              .attr("checked", true);
    }

 function Search_OnClickNone() {
     $("#search_moreCheckBox").find("input:checkbox")
                              .attr("checked", false);
 }

</script>
<style type="text/css">

    #search_moreCheckBox table, #search_moreCheckBox td, #search_moreCheckBox tr
    {
        border:none;
        padding:0;
    }

    #search_moreCheckBox table
    {
        width:100%;
    }

    #search_moreCheckBox td
    {
        width:50%;
    }
</style>
