@model BExIS.Modules.Dim.UI.Models.MetadataStructureModel
@using Telerik.Web.Mvc.UI;

@{
    ViewBag.Title = @Model.Displayname;

    string id = "DIM-"+Model.Id.ToString();
    string all_id = "all_" + id;
    string none_id = "none_" + id;
    string convert_id = "convert_" + id;
    string preloader_id = "preloader_" + id;
    string tableId = "table_" + Model.Id.ToString();

}
<div id="@id" class="dim-export-metadata" exportIAvailable="@Model.ExportIsAvailable.ToString()" button="@convert_id">

    <div class="row">
        <div class="col-lg-12">
            @Model.Description
        </div>
    </div>

    <div style="text-align: left; padding: 5px 0;">
        <button id="@convert_id" type="button" class="bx-button bx-disabled function" value="Convert" name="button" onclick="dim_OnClickConvert(this)" disabled="disabled">Export</button>
    </div>

    <table id="@tableId" class="display" style="width:100%">
        <thead>
            <tr>

                <th>
                    <input id="@all_id" name="checkedDatasetVersion" type="checkbox" value="all" title="checkedDatasetVersion" class="checkBox" onclick="OnChangeAllCheckbox(this)" />
                </th>
                <th title="Id">Id</th>
                <th title="Version">Version Id</th>
                <th title="Title">Title</th>
                <th title="Link">DownloadLink </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var datasetversion in Model.DatasetVersions)
            {
            <tr>
                <td>
                    <input id="@datasetversion.DatasetVersionId" name="checkedDatasetVersion" type="checkbox" value="@datasetversion.DatasetVersionId " title="checkedDatasetVersion" class="checkBox" onclick="onClickCheckBox(this)" />
                </td>
                <td>@datasetversion.DatasetId</td>
                <td>@datasetversion.DatasetVersionId</td>
                <td>@datasetversion.Title</td>
                <td>
                    <div class="download-button" style="padding: 0;">
                        @if(datasetversion.MetadataDownloadPath != "")
                        {
                            @Html.ActionLink(" ", "Download", "Admin", new { path = datasetversion.MetadataDownloadPath }, new { @class = "bx bx-grid-function bx-download", style = "margin:0;" })
                        }
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<style type="text/css">

    #datasetversionsConvertGrid .t-status
    {
        display:none;
    }

    #datasetversionsConvertGrid
    {
        text-align:left;
    }

    #datasetversionsConvertGrid .xyz
    {
        padding-left:0;
        text-align:center;
    }
</style>

<script type="text/javascript">

    $(document).ready(function ()
    {
        $(@tableId).DataTable();
    });

    function setExportBT(e)
    {
        var parent = $(e).parents(".dim-export-metadata");
        var id = $(parent).attr("id");
        var exportIsAvailable = $(parent).attr("exportIAvailable");
        var bt = "#"+$(parent).attr("button");

        console.log(parent);
        console.log(id);
        console.log(exportIsAvailable);
        console.log(bt);

        if ($("#" + id + " input:checkbox:checked").length > 0 && exportIsAvailable == "True") {
            console.log("some are checked");

            $(bt).removeAttr("disabled");
            $(bt).removeClass("bx-disabled");

        }
        else {
            // none is checked
            console.log("none are checked");

            $(bt).attr("disabled","disabled");
            $(bt).addClass("bx-disabled");
            console.log($(bt));

        }
    }

    function onClickCheckBox(e)
    {
        setExportBT(e);
    }

    function dim_OnClickConvert(obj)
    {
        var selectedDatasetIds = "";
        var idString = obj.id.split('_')[1];
        var id = idString.split('-')[1];

        $("#" + idString + " input:checkbox:checked").each(function () {

            if (this.id.indexOf("all") == -1) {
                if (selectedDatasetIds == "")
                    selectedDatasetIds = this.id;
                else
                    selectedDatasetIds += "," + this.id;

                $(this).closest("tr").find(".download-button").preloader(12, "Converting dataset " + this.id);
            }
        })

        $.post('@Url.Action("ConvertSelectedDatasetVersion", "Admin", new { area="DIM"})', { Id: id, SelectedDatasetIds: selectedDatasetIds }, function (e) {

            $("#" + idString).html(e);
        });

    }

    function OnChangeAllCheckbox(obj) {

        var id = obj.id.split('_')[1];
        var objid = obj.id;

        var val = $('#' + objid).prop("checked");

        if (val == false) {
            $("#" + id).find("input:checkbox")
                       .attr("checked", false);
        }
        else {
            $("#" + id).find("input:checkbox")
                       .attr("checked", true);
        }

        setExportBT(obj);
    }
</script>