@using BExIS.Modules.Sam.UI.Models
@using BExIS.Security.Entities.Authorization
@using Telerik.Web.Mvc.UI

@model EntityInstanceModel

<style>
    i {
        cursor: pointer;
    }
</style>

@(Html.Telerik().Grid<EntityPermissionGridRowModel>()
    .Name("grid_subjects")
    .DataKeys(keys =>
    {
        keys.Add(m => m.Id);
    })
    .Columns(columns =>
    {
        columns.Bound(m => m.DisplayName)
            .Width("15%");
        columns.Bound(m => m.Type)
            .Width("15%");

        foreach (RightType rightType in Enum.GetValues(typeof(RightType)).Cast<RightType>())
        {
            columns.Bound(m => m.Rights)
                        .ClientTemplate("<input type='checkbox' data-subjectid='<#= Id #>' data-entityid='" + Model.EntityId + "' data-instanceid='" + Model.InstanceId + "' data-righttype='" + (int)rightType + "' <#= (Rights &" + (int)rightType + ") > 0 ? checked='checked' : '' #> />")
                               .Title(rightType.ToString())
                               .Width("11%")
                               .Filterable(false)
                               .Sortable(false)
                               .HtmlAttributes(new { style = "text-align:center" });
        }
    })
      .DataBinding(dataBinding => dataBinding
          .Ajax()
          .OperationMode(GridOperationMode.Server)
          .Select("Subjects_Select", "UserPermissions", new { Model.EntityId, Model.InstanceId })
      )
      .Filterable()
      .Pageable(pageable =>
      {
          pageable.PageSize(10, new[] { 10, 20, 50, 100 });
          pageable.Style(GridPagerStyles.NextPreviousAndNumeric | GridPagerStyles.PageSizeDropDown);
          pageable.Position(GridPagerPosition.Bottom);
      })
      .Sortable(sortable => sortable
          .OrderBy(orderby => orderby
              .Add(m => m.DisplayName)
              .Ascending()
          )
      )
      .ClientEvents(events =>
      {
          events.OnDataBound("grid_subjects_onDataBound");
      }))



@section Scripts
{
    <script src="@Url.Content("~/Scripts/2013.2.611/telerik.common.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/2013.2.611/telerik.draganddrop.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/2013.2.611/telerik.window.min.js")" type="text/javascript"></script>

    <script type="text/javascript">

        $("#treeView_entities li div")
            .click(function(e) {
                $(e.target).find(".t-in").trigger("click");
            });

        function getTreeView() {
            return $('#treeView_entities').data('tTreeView');
        }

        function treeView_entities_onSelect(e) {
            var entityId = getTreeView().getItemValue(e.item);
            var prevSelectedDiv = $(".bx-selected");
            if (prevSelectedDiv.length > 0) $(prevSelectedDiv).removeClass("bx-selected");

            var selectedDiv = $(e.item).find("div")[0];
            $(selectedDiv).addClass("bx-selected");

            $('#content_instances').empty();

            $.get('@Url.Action("Instances", "EntityPermissions")',
                { EntityId: entityId },
                function(contentData) {

                    $('#content_instances').html(contentData);

                    truncateTitle();
                });
        }

        function grid_instances_onDataBound() {
            addTooltips();
            resetAllTelerikIconTitles();

            $("#grid_instances")
                .on("change",
                    "input[name='selectedInstances']:checkbox",
                    function(e) {
                        if ($(this).is(':checked')) {
                            $.post('@Url.Action("AddInstanceToPublic", "EntityPermissions")',
                                { EntityId: $(this).data('entityid'), InstanceId: $(this).data('instanceid') },
                                function() {
                                    $("#grid_subjects .t-refresh").trigger('click');
                                    $("#grid_instances .t-refresh").trigger('click');
                                });
                        } else {
                            $.post('@Url.Action("RemoveInstanceFromPublic", "EntityPermissions")',
                                { EntityId: $(this).data('entityid'), InstanceId: $(this).data('instanceid') },
                                function() {
                                    $("#grid_subjects .t-refresh").trigger('click');
                                    $("#grid_instances .t-refresh").trigger('click');
                                });
                        }
                    });
        }

        function grid_instances_onRowSelect(e) {
            $.get('@Url.Action("Subjects", "EntityPermissions")',
                {
                    EntityId: $("input[name='selectedInstances']:checkbox", e.row).data('entityid'),
                    InstanceId: $("input[name='selectedInstances']:checkbox", e.row).data('instanceid')
                },
                function(data) {
                    $('#content_subjects').empty();
                    $('#content_subjects').html(data);
                });
        }

        function grid_subjects_onDataBound() {
            addTooltips();
            resetAllTelerikIconTitles();

            $("#grid_subjects tbody input:checkbox").click(function () {
                if ($(this).is(':checked')) {
                    $.post('@Url.Action("AddRightToEntityPermission", "EntityPermissions")',
                        { SubjectId: $(this).data('subjectid'), EntityId: $(this).data('entityid'), InstanceId: $(this).data('instanceid'), RightType: $(this).data('righttype') },
                        function () {
                            $("#grid_subjects .t-refresh").trigger('click');
                        });
                } else {
                    $.post('@Url.Action("RemoveRightFromEntityPermission", "EntityPermissions")',
                        { SubjectId: $(this).data('subjectid'), EntityId: $(this).data('entityid'), InstanceId: $(this).data('instanceid'), RightType: $(this).data('righttype') },
                        function () {
                            $("#grid_subjects .t-refresh").trigger('click');
                        });
                }
            });
        }

        function grid_subjects_onRowSelect(e) {
            console.log(e.row);
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Permissions", "EntityPermissions")',
                data: { SubjectId: $("input", e.row).data('subjectid'), EntityId: $("input", e.row).data('entityid'), InstanceId: $("input", e.row).data('instanceid') },
                dataType: 'html',
                success: function(htmlData) {
                    var windowElement = $.telerik.window.create({
                        title: "Permissions: " + $("input", e.row).data('title'),
                        html: "<div id='content_permissions' class='bx-window'>" + htmlData + "</div>",
                        contentUrl: "",
                        actions: ["Close"],
                        modal: true,
                        width: 500,
                        height: 500,
                        resizable: false,
                        draggable: true,
                        scrollable: false,
                        onClose: function() {
                            $("#window_permissions").data('tWindow').destroy();
                            $("#grid_subjects .t-refresh").trigger('click');
                        }
                    });

                    windowElement.attr('id', 'window_permissions');
                    var window = $(windowElement).data('tWindow');
                    window.center().open();

                    resetAllTelerikIconTitles();
                }
            });
        }

        function grid_permissions_onDataBound() {
            addTooltips();
            resetAllTelerikIconTitles();
        }
    </script>
}