@model BExIS.Modules.Dcm.UI.Models.GetFileInformationModel
@using BExIS.Dcm.UploadWizard;

<div id="Step2" class="uploadWizardStep">
    <div class="uploadWizardStep_Main">
        <div class="uploadWizardStep_Header stepper">

            <h3>@Model.StepInfo.title</h3>
        </div>

        <div class="uploadWizardStep_Description stepper">

        </div>

        <div class="uploadWizardStep_Content stepper">

            @if (UploadWizardHelper.IsSupportedAsciiFile(Model.Extention))
            {
                @Html.Partial("_txtFormularView", @Model.FileInfoModel)
            }

            @if (UploadWizardHelper.IsSupportedExcelFile(Model.Extention))
            {
                @Html.Partial("_xlsFormularView", @Model.FileInfoModel)
            }

        </div>
    </div>

    <div class="uploadWizardStep_Success stepper"></div>

    <div class="uploadWizardStep_Error stepper">
        @if (Model != null)
        {
            if (Model.ErrorList != null)
            {
                if (Model.ErrorList.Count == 0)
                {


                }
                else
                {
                    <ul>
                        @foreach (BExIS.IO.Transform.Validation.Exceptions.Error s in @Model.ErrorList)
                        {
                            <li>@s.ToString()</li>
                        }
                    </ul>

                }
            }

        }
    </div>

</div>