@section LeftPane
{
    @Html.Partial("_Entities")
}
<div class="row">
    <div id="content_instances" class="col-md-6"></div>
    <div id="content_subjects" class="col-md-6"></div>
</div>

<script type="text/javascript">

    $("#treeView_entities li div").click(function (e) {
        $(e.target).find(".t-in").trigger("click");
    });

    function getTreeView() {
        return $('#treeView_entities').data('tTreeView');
    }

    function treeView_entities_onSelect(e) {
        var entityId = getTreeView().getItemValue(e.item);
        var prevSelectedDiv = $(".bx-selected");
        if (prevSelectedDiv.length > 0) $(prevSelectedDiv).removeClass("bx-selected");

        var selectedDiv = $(e.item).find("div")[0];
        $(selectedDiv).addClass("bx-selected");

        $('#content_instances').empty();

        $.get('@Url.Action("Instances", "EntityPermissions")',
            { EntityId: entityId },
            function(contentData) {

                $('#content_instances').html(contentData);

                truncateTitle();
            });
    }

    function grid_instances_onDataBound() {
        addTooltips();
        resetAllTelerikIconTitles();

        $("#grid_instances")
            .on("change",
                "input[name='selectedInstances']:checkbox",
                function(e) {
                    alert("dskf");
                    if ($(this).is(':checked')) {
                        $.post('@Url.Action("AddInstanceToPublic", "EntityPermissions")',
                            { UserId: $(this).data('entityid'), GroupId: $(this).data('instanceid') },
                            function() {
                                $("#grid_groups .t-refresh").trigger('click');
                            });
                    } else {
                        $.post('@Url.Action("RemoveInstanceFromPublic", "EntityPermissions")',
                            { UserId: $(this).data('entityid'), GroupId: $(this).data('instanceid') },
                            function() {
                                $("#grid_groups .t-refresh").trigger('click');
                            });
                    }
                });
    }

    function grid_subjects_onDataBound() {
        addTooltips();
        resetAllTelerikIconTitles();

        $(".fa-eye")
    .click(function () {
        alert("TEST UND SO!");
    });
    }

    function grid_instances_onRowSelect(e) {
        $.get('@Url.Action("Subjects", "EntityPermissions")', { EntityId: $("input[name='selectedInstances']:checkbox", e.row).data('entityid'), InstanceId: $("input[name='selectedInstances']:checkbox", e.row).data('instanceid') }, function (data) {
            $('#content_subjects').empty();
            $('#content_subjects').html(data);
        });
    }


</script>