<style>
    .t-window-content {
        height: auto !important;
        width: auto !important;
    }

    #gridSubjects {
        width: 80vw !important;
    }
</style>

@section LeftPane
{
    @Html.Partial("_Features")
}

<div id="permissions"></div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/2013.2.611/telerik.common.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/2013.2.611/telerik.draganddrop.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/2013.2.611/telerik.window.min.js")" type="text/javascript"></script>

    <script type="text/javascript">

        $("#treeViewFeatures li div")
            .click(function(e) {
                $(e.target).find(".t-in").trigger("click");
            });

        function GetTreeView() {
            return $('#treeViewFeatures').data('tTreeView');
        }

        function OnSelect(e) {
            var featureId = GetTreeView().getItemValue(e.item);
            var prevSelectedDiv = $(".bx-selected");
            if (prevSelectedDiv.length > 0) $(prevSelectedDiv).removeClass("bx-selected");

            var selectedDiv = $(e.item).find("div")[0];
            $(selectedDiv).addClass("bx-selected");

            $('#permissions').empty();

            $.get('@Url.Action("Permissions", "FeaturePermissions")',
                { FeatureId: featureId },
                function(contentData) {

                    $('#permissions').html(contentData);

                    truncateTitle();
                });
        }

        function onDataBound() {
            addTooltips();
            resetAllTelerikIconTitles();
        }

        function getSelection() {
            var selection = [];

            $("input:radio:checked")
                .each(function () {
                    var id = $(this).attr('name');
                    var value = $(this).attr('value');

                    selection.push({
                        key: id,
                        value: value
                    });
                });

            return selection;
        }

        function onDataBinding(e) {
            e.data =
            {
                selection: getSelection()
            };
        }

    </script>
}