@section LeftPane
{
    @Html.Partial("_Features")
}

<div id="permissions"></div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/2013.2.611/telerik.common.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/2013.2.611/telerik.draganddrop.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/2013.2.611/telerik.window.min.js")" type="text/javascript"></script>
    

    <script type="text/javascript">

        $("#treeViewFeatures li div").click(function (e) {
            $(e.target).find(".t-in").trigger("click");
        });

        function GetTreeView() {
            return $('#treeViewFeatures').data('tTreeView');
        }

        function OnSelect(e) {
            var featureId = GetTreeView().getItemValue(e.item);
            var prevSelectedDiv = $(".bx-selected");
            if (prevSelectedDiv.length > 0) $(prevSelectedDiv).removeClass("bx-selected");

            var selectedDiv = $(e.item).find("div")[0];
            $(selectedDiv).addClass("bx-selected");

            $('#permissions').empty();

            $.get('@Url.Action("Permissions", "FeaturePermissions")',
                { FeatureId: featureId },
                function (contentData) {

                    $('#permissions').html(contentData);

                    truncateTitle();
                });
        }

        function onDataBound() {
            addTooltips();
            resetAllTelerikIconTitles();
        }

        function onDataBinding(e) {

            var grants = [];
            $("input[name='grants']:checked").each(function () {
                grants.push($(this).val());
            });

            var denies = [];
            $("input[name='denies']:checked").each(function () {
                denies.push($(this).val());
            });

            var all = [];
            $("input[name='neutrals']").each(function () {
                all.push($(this).val());
            });

            // pass additional values by setting the "data" field of the event argument
            e.data = {
                // the key ("category") specifies the variable name of the action method which will contain the specified value
                grants: grants,
                denies: denies,
                all: all
            };
        }
    </script>
}