@using BExIS.Modules.Dim.UI.Models.Mapping

@model LinkElementModel

@{

    string id = Model.Type + "_" + Model.ElementId + "_" + @Model.Position + "_" + @Model.Name.Replace(' ','-')+"_MappingSimpleLinkElement";
    bool isParameter = Model.Type.Equals(BExIS.Dim.Entities.Mappings.LinkElementType.MetadataParameterUsage);

    string name = "";

    if (isParameter) name += "@";
    name += Model.Name;

}

<div id="@id" class="@id le-mapping-simple-element @(isParameter?"le-simple-parameter":"" )" title="@Model.Description">

    <div class="le-simple-info" style="display: none">
        <div id="Id">@Model.Id</div>
        <div id="Name">@Model.Name</div>
        <div id="ElementId">@Model.ElementId</div>
        <div id="Type">@Model.Type</div>
        <div id="Position">@Model.Position</div>
        <div id="Complexity">@Model.Complexity</div>
        <div id="XPath">@Model.XPath</div>
    </div>

    <div class="le-simple-header">
        @name
    </div>
    <div class="le-simple-path" value="@Model.XPath">

        @if (!string.IsNullOrEmpty(@Model.XPath))
        {
        @Model.XPath.Replace("/", "/ ")
        }
    </div>
</div>