@using System
@using BExIS.Utils.WebHelpers
@using Microsoft.AspNet.Identity
@using Telerik.Web.Mvc.UI
@using Vaiona.Web.Mvc

@{
    string userName = "";
    if (User != null && User.Identity != null)
    {
        userName = User.Identity.Name;
    }

}

<div class="navbar navbar-default" style="z-index: 1337">
    <div class="container-fluid shadow-md" id="menubar" style="background-color: #eff7f6; padding: 8px 12px;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index", "Home", new {area = ""})" class="navbar-brand">
                @Html.Brand(Html.GetTenant().BrandPath, Html.GetTenant().ShortName)
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            @*menubar*@
            <ul class="nav navbar-nav">
                @Html.MenuBar(userName)
            </ul>

            <ul class="nav navbar-nav navbar-right">
                @Html.LaunchBar()
                @Html.Settings(userName)
            </ul>

            @* Move this to Html.LaunchBar. Urls should come from Shell not SAM. MyAccount can go to index. unify login/logoff/logout, etc. *@
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", new { Area = "" }, FormMethod.Post, new { @class = "navbar-right", id = "form_logoff" }))
                {
                    @Html.AntiForgeryToken()

                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.GetUserName()<span class="caret"></span></a>
                            <ul class='dropdown-menu'>
                                <li>@Html.ActionLink("Profile", "Edit", "PartyService", new { area = "bam" }, null)</li>
                                <li>@Html.ActionLink("Token", "GetToken", "Tokens", new { area = "" }, null)</li>
                                <li><a href="@Url.Content("~/apihelp/index")" target="_blank">Api</a></li>
                                <li><a href="javascript:document.getElementById('form_logoff').submit()">Log Off</a></li>
                            </ul>
                        </li>
                    </ul>
                }
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Register", "Register", "Account", new { area = "" }, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Login", "Login", "Account", new { area = "" }, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
            }

            <ul class="nav navbar-nav navbar-right">
                @if (Html.GetTenant().ExtendedMenus != null)
                {
                    @Html.RenderExtendedMenu(Html.GetTenant().ExtendedMenus.Element("ExtendedMenu"))
                }
            </ul>
        </div>
    </div>
</div>

<style>
    .shadow-md {
        --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }
</style>