@using System
@using BExIS.Utils.WebHelpers
@using Telerik.Web.Mvc.UI
@using Vaiona.Web.Mvc

@if (!Request.IsAuthenticated)
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#menubar").css("background-color", "transparent");
        });
    </script>
}

@{ 
    var menuStructure = Html.ExportTree();
    //Use this variable to build the menu strcuture 
}
<div class="navbar navbar-default navbar-fixed-top" style="z-index: 1337">
    <div class="container-fluid" id="menubar" style="background-color: #eff7f6">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index", "Home", new {area = ""})" class="navbar-brand">
                @Html.Brand(Html.GetTenant().LogoPath, Html.GetTenant().ShortName)
            </a>
        </div>

        

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            @*menubar*@
            <ul class="nav navbar-nav">
                @Html.MenuBar()
            </ul>

            <ul class="nav navbar-nav navbar-right">

                @if (Html.GetTenant().ExtendedMenus != null)
                {
                    @Html.RenderExtendedMenu(Html.GetTenant().ExtendedMenus.Element("ExtendedMenu"))
                }

                @if (Request.IsAuthenticated)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.Name<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("My Account", "MyAccount", "Account", new {area = "SAM"}, null)</li>
                            <li>@Html.ActionLink("Log Out", "LogOff", "Account", new {area = "SAM"}, null)</li>
                        </ul>
                    </li>
                }
                else
                {
                    <li><a href="#" onclick="LogOn()">Log In</a></li>
                }

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/DDM/Help/Index/#_Toc451435006">Search</a></li>
                        <li><a href="/RPM/Help/Index/#_Toc434570748">Data Planning</a></li>
                        <li><a href="/DCM/Help/Index/#_Toc452035183">Data Collection</a></li>
                        <li><a href="/DIM/Help/Index">Data Dissemination</a></li>
                        <li><a href="/SAM/Help/Index/#_Toc451422040">Administration</a></li>

                        @*<li>@Html.ActionLink("Search", "Index", "Help", new { area = "DDM" }, null)</li>
                    <li>@Html.ActionLink("Data Planning", "Index", "Help", new { area = "RPM" }, null)</li>
                    <li>@Html.ActionLink("Data Collection", "Index", "Help", new { area = "DCM" }, null)</li>
                    <li>@Html.ActionLink("Data Dissemination", "Index", "Help", new { area = "DIM" }, null)</li>
                    <li>@Html.ActionLink("Administration", "Index", "Help", new { area = "SAM" }, null)</li>*@
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Manage Users", "Users", "Users", new {area = "SAM"}, null)</li>
                        <li>@Html.ActionLink("Manage Groups", "Groups", "Groups", new {area = "SAM"}, null)</li>
                        <li>@Html.ActionLink("Manage Features", "Features", "FeaturePermissions", new {area = "SAM"}, null)</li>
                        <li>@Html.ActionLink("Manage Data Permissions", "Data", "DataPermissions", new {area = "SAM"}, null)</li>
                        <li role="separator" class="divider"></li>
                        <li>@Html.ActionLink("Manage Search", "SearchDesigner", "Admin", new {area = "DDM"}, null)</li>
                        <li role="separator" class="divider"></li>
                        <li>@Html.ActionLink("Import Metadata Structure", "ImportMetadataStructureWizard", "ImportMetadataStructure", new {area = "DCM"}, null)</li>
                        <li role="separator" class="divider"></li>
                        <li>@Html.ActionLink("Export Metadata", "Index", "Admin", new {area = "DIM"}, null)</li>
                        <li role="separator" class="divider"></li>
                        <li>@Html.ActionLink("Maintain Datasets", "Index", "Datasets", new {area = "SAM"}, null)</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

@(Html.Telerik().Window()
    .Name("Window_Register")
    .Title("Register")
    .Draggable(true)
    .Modal(true)
    .Visible(false)
    .Scrollable(true)
    .HtmlAttributes(new { @class = "bx-window" })
    .Content(@<text>
                <div id="Content_Register"></div>
            </text>)
    .ClientEvents(clientEvents => clientEvents
        .OnClose("Window_Register_OnClose")
    )
)

@(Html.Telerik().Window()
    .Name("Window_LogOn")
    .Title("LogOn")
    .Draggable(true)
    .Modal(true)
    .Visible(false)
    .Scrollable(true)
    .HtmlAttributes(new { @class= "bx-window" })
    .Content(@<text>
                <div id="Content_LogOn"></div>
            </text>)
    .ClientEvents(clientEvents => clientEvents
        .OnClose("Window_LogOn_OnClose")
    )
)

<script type="text/javascript">

    function Register() {
        $.get('@Url.Action("Register", "Account", new { area = "SAM" })', function (data) {

            $('#Content_Register').html(data);

            var window = $('#Window_Register').data('tWindow');
            window.center().open();
        });
    }

    function Window_Register_Cancel() {
        $('#Window_Register').data('tWindow').close();
    }

    function Window_Register_OnClose() {
        $('#Content_Register').empty();
    }

    function LogOn() {
        $.get('@Url.Action("LogOn", "Account", new { area = "SAM" })', function (data) {

            $('#Content_LogOn').html(data);

            var window = $('#Window_LogOn').data('tWindow');
            window.center().open();
        });
    }

    function Window_LogOn_Cancel() {
        $('#Window_LogOn').data('tWindow').close();
    }

    function Window_LogOn_OnClose() {
        $('#Content_LogOn').empty();
    }
</script>
