@using BExIS.Modules.Sam.UI.Models
@using Telerik.Web.Mvc.UI
@model long

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#requests">Requests</a></li>
    <li><a data-toggle="tab" href="#decisions">Decisions</a></li>
</ul>
<div class="tab-content">
    <div id="requests" class="tab-pane fade in active">
        @(Html.Telerik().Grid<RequestGridRowModel>()
              .Name("gridRequests")
              .Columns(columns =>
              {
                  columns.Bound(u => u.EntityId);
                  columns.Template(@<text>
            <button type="button" class="bx bx-grid-function bx-edit" onclick="editGroup(@item.Id)"></button>
            <button type="button" class="bx bx-grid-function bx-trash" onclick="deleteGroup(@item.Id)"></button>
                </text>)
                      .ClientTemplate("<button type=\"button\" class=\"bx bx-grid-function bx-edit\" onclick=\"editGroup(<#= Id #>);\" value=\"<#= Id #>\"></button>" +
                                      "<button type=\"button\" class=\"bx bx-grid-function bx-trash\" onclick=\"deleteGroup(<#= Id #>);\" value=\"<#= Id #>\"></button>")
                      .Width(70);
              })
              .ClientEvents(events =>
              {
                  events.OnDataBound("onDataBound");
              })
              .DataBinding(dataBinding => dataBinding
                  .Ajax()
                  .Select("EntityRequests_Select", "Requests", new { FeatureId = Model })
              )
              .EnableCustomBinding(true)
              .Filterable()
              .Pageable(pageable =>
              {
                  pageable.PageSize(10, new[] { 10, 20, 50, 100 });
                  pageable.Style(GridPagerStyles.NextPreviousAndNumeric | GridPagerStyles.PageSizeDropDown);
                  pageable.Position(GridPagerPosition.Both);
              })
              .Sortable())
    </div>
    <div id="decisions" class="tab-pane fade">
        @(Html.Telerik().Grid<RequestGridRowModel>()
              .Name("gridDecisions")
              .Columns(columns =>
              {
                  columns.Bound(g => g.EntityId);
                  columns.Bound(g => g.Id);
                  columns.Bound(g => g.Properties);
                  columns.Template(@<text>
            <button type="button" class="bx bx-grid-function bx-edit" onclick="editGroup(@item.Id)"></button>
            <button type="button" class="bx bx-grid-function bx-trash" onclick="deleteGroup(@item.Id)"></button>
                </text>)
                      .ClientTemplate("<button type=\"button\" class=\"bx bx-grid-function bx-edit\" onclick=\"editGroup(<#= Id #>);\" value=\"<#= Id #>\"></button>" +
                                      "<button type=\"button\" class=\"bx bx-grid-function bx-trash\" onclick=\"deleteGroup(<#= Id #>);\" value=\"<#= Id #>\"></button>")
                      .Width(70);
              })
              .ClientEvents(events =>
              {
                  events.OnDataBound("onDataBound");
              })
              .DataBinding(dataBinding => dataBinding
                  .Ajax()
                  .Select("EntityRequests_Select", "Requests", new { FeatureId = Model })
              )
              .EnableCustomBinding(true)
              .Filterable()
              .Pageable(pageable =>
              {
                  pageable.PageSize(10, new[] { 10, 20, 50, 100 });
                  pageable.Style(GridPagerStyles.NextPreviousAndNumeric | GridPagerStyles.PageSizeDropDown);
                  pageable.Position(GridPagerPosition.Both);
              })
              .Sortable(sortable => sortable.OrderBy(order => order.Add(c => c.EntityId).Descending())))
    </div>
</div>

<script type="text/javascript">

    function onDataBound() {
        addTooltips();
        resetAllTelerikIconTitles();
    }
</script>