@using Telerik.Web.Mvc.UI
@using BExIS.Dlm.Entities.DataStructure

@{ 
    HtmlString status = new HtmlString("");
    HtmlString nameStatus = new HtmlString("");

    if (ViewData["dataTypeCreationStatus"] != null)
    {
        status = ViewData["dataTypeCreationStatus"] as HtmlString;
    }
    if (ViewData["dataTypeNameStatus"] != null)
    {
        nameStatus = ViewData["dataTypeNameStatus"] as HtmlString;
    }

    List<string> TypeList = new List<string>();
    foreach (System.TypeCode tc in Enum.GetValues(typeof(System.TypeCode)))
    {
        TypeList.Add(tc.ToString());
    }       
}

<div class="planingPartialDiv" id="createDataType">
@using(Html.BeginForm("createDataType", "Home", new {area = "Planing" }))
{
   @(Html.TextBox("perant", @HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString(), new {@class = "hidden"})) 
    <table>
        <tr id="name">
            <td>
                Name:
            </td>
            <td>
                @(Html.TextBox("dataTypeName", "",new {@class = "t-input"})) @nameStatus
            </td>
        </tr>
        <tr>
            <td>
                Description:
            </td>
            <td>
                @Html.TextArea("dataTypeDescription", "",new {@class = "t-input"}) 
            </td>
        </tr>
        <tr>
            <td>
                Data Type:
            </td>
            <td>
                @(Html.Telerik().DropDownList()
                    .Name("dataType")
                    .DropDownHtmlAttributes(new { style = "height: 200px" })
                    .BindTo(new SelectList(TypeList))
                )
            </td>
        </tr>
        <tr><td colspan="2"> </td></tr>
        <tr>
            <td>
                <button name="create" value="createDataType" type="submit" class="t-button">Create Data Type</button>
            </td>
            <td>
                @status
            </td>
        </tr>    
    </table>    
}
</div>
