@using Telerik.Web.Mvc.UI
@using BExIS.Dlm.Entities.DataStructure
@using BExIS.Dlm.Services.DataStructure

@{ 
    HtmlString status = new HtmlString("");
    HtmlString nameStatus = new HtmlString("");

    if (ViewData["classCreationStatus"] != null)
    {
        status = ViewData["classCreationStatus"] as HtmlString;
    }
    if (ViewData["classNameStatus"] != null)
    {
        nameStatus = ViewData["classNameStatus"] as HtmlString;
    }

    ClassifierManager cfm = new ClassifierManager();
    IList<Classifier> ClassList = cfm.Repo.Get();
    List<string> cl = new List<string>();
    cl.Add("None");
    cl.AddRange(ClassList.Select(p=>p.Name.ToString()));
           
}

<div class="planingPartialDiv" id="createClassification">
@using(Html.BeginForm("createClassification", "Home", new {area = "Planing" }))
{
   @(Html.TextBox("perant", @HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString(), new {@class = "hidden"})) 
    <table>
        <tr id="name">
            <td>
                Name:
            </td>
            <td>
                @(Html.TextBox("className", "",new {@class = "t-input"})) @nameStatus
            </td>
        </tr>
        <tr>
            <td>
                Description:
            </td>
            <td>
                @Html.TextArea("classDescription", "",new {@class = "t-input"}) 
            </td>
        </tr>
        <tr>
            <td>
                Perant:
            </td>
            <td>
                @(Html.Telerik().DropDownList()
                    .Name("classPerant")
                    .DropDownHtmlAttributes(new { style = "height: 200px" })
                    .BindTo(new SelectList(cl))
                )
            </td>
        </tr>
        <tr><td colspan="2"> </td></tr>
        <tr>
            <td>
                <button name="create" value="createClass" type="submit" class="t-button">Create Classifier</button>
            </td>
            <td>
                @status
            </td>
        </tr>    
    </table>    
}
</div>
