@using System.Data
@using Telerik.Web.Mvc.UI
@using BExIS.Dlm.Entities.DataStructure
@using BExIS.Dlm.Services.DataStructure
@model BExIS.Web.Shell.Areas.RPM.Models.DataStructureDesignerModel

@{
    ViewBag.Title = "Planing";   
}

@{  
    List<string> errorMsg = new List<string>(); 
    
    if (ViewData["errorMsg"] != null)
    {
        errorMsg = (List<string>)ViewData["errorMsg"]; 
    }
}

<div class="planingPartialDiv" id="createVariable">
    @using(Html.BeginForm("saveDataStructure", "Home", new {area = "RPM"}))
    {
        <table>
            <tr>
                <td>
                    Name: 
                    <div title="The name will be used for a new Data Structure">
                    @(Html.TextBoxFor(m => Model.dataStructure.Name, new {@class = "t-input", @Value = Model.dataStructure.Name, @autofocus = "autofocus", @tabindex = 1}))
                    </div>
                </td>
                <td>
                <div id="Description" style="vertical-align:top; padding:5px;" title="Description">
                    Description:         
                    @(Html.TextAreaFor(m => Model.dataStructure.Description, new {@class = "t-input datastrDes",@Value = Model.dataStructure.Description, @tabindex = 3}))
                </div>
            </td>
            </tr>
        </table>
        @(Html.TextBoxFor(m => Model.dataStructure.Id, new {@class = "hidden",@Value = Model.dataStructure.Id}))
        @(Html.TextBoxFor(m => Model.structured, new {@class = "hidden",@Value = Model.structured}))
         
        <div class="submit RPMbutton">
        <button name="create" value="saveAs" type="submit" class="t-button"  id="saveButton" title="Save The Unit" tabindex = "4">Save</button>
        @Html.ActionLink("Cancel", "showDataStructure", "Home", new {SelectedItem = Model.dataStructure.Id.ToString() + "," + Model.structured.ToString() }, new { area = "RPM", @class = "t-button", @title = "Cancel", @tabindex = "5" })
        </div>
    }
</div>

<div class="errorMsg" style="vertical-align:top; padding:5px;">
    <ul>
    @foreach (string s in errorMsg)
    {
        <li class="errorMsg">@s</li>
    }
    </ul>
</div>