@using Telerik.Web.Mvc.UI
@using BExIS.Dlm.Entities.DataStructure
@using BExIS.Dlm.Services.DataStructure
@using BExIS.Dlm.Services.TypeSystem
@model BExIS.Dlm.Entities.DataStructure.DataType

@if(Model != null)
{
    <div class="planingPartialDiv" id="createDataType">
    @using (Html.BeginForm("editDataType", "Home", new { area = "RPM" }))
    {
       @(Html.TextBox("parent", @HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString(), new {@class = "hidden"}))
       @(Html.TextBox("id", Model.Id, new {@class = "hidden"})) 
        <table>
            <tr id="name">
                <td>
                    Name:<Font color="red">*</Font>
                </td>
                <td>
                    @(Html.TextBoxFor(m => Model.Name, new {@class = "t-input", @autofocus = "autofocus", @tabindex = 1}))
                </td>
                <td class="errorMsg">@Session["nameMsg"]</td>
            </tr>
            <tr>
                <td>
                    Description:
                </td>
                <td>
                    @(Html.TextBoxFor(m => Model.Description, new {@class = "t-input", @tabindex = 2}))
                </td>
            </tr>
            <tr>
                <td>
                    SystemType:
                </td>
                <td>
                    <select class =" t-dropdown t-header t-dropdown-wrap systemType" name="systemType" id="systemType" tabindex = "3">
                    @foreach (DataTypeInfo item in DataTypeInfo.Types)
                    {
                        <option value="@item.Code" title="@item.Description">@item.DisplayName</option>                  
                    }
                    </select>


                </td>
            </tr>
            <tr>
                <td><i>Note:</i></td>
                <td><i id="note"></i></td>
            </tr>
        </table>
        <div class="functions RPMbuttons">
            <font class="RPMbuttons" color="red">*</font>Please don't leave empty
        </div>
        <div class="submit RPMbuttons">
            <button name="create" value="create" type="submit" class="t-button"  id="saveButton" title="Save The Unit" tabindex = "4">Save</button>
            @Html.ActionLink("Cancel", "DataTypeManager", "Home", new { area = "RPM", @class = "t-button", @title = "Cancel", @tabindex = "5" })
        </div>     
    }
    </div>
    
    <script type="text/jscript">

        $('#systemType').change(function () {
            for (var i = 0; i < $('#systemType option').length; i++) {
                if ($('#systemType').val() == $('#systemType option')[i].value)
                {
                    $('#note')[0].innerHTML = $('#systemType option')[i].title;
                    $('#systemType')[0].title = $('#systemType option')[i].value;
                }
            }
        })
   
        $(document).ready(function () {
            for (var i = 0; i < $('#systemType option').length; i++)
            {
                if ($('#systemType').val() == $('#systemType option')[i].value)
                {
                    $('#note')[0].innerHTML = $('#systemType option')[i].title;
                    $('#systemType')[0].title = $('#systemType option')[i].value;
                }
            }
        })
    </script>
}
else
{
 <font color="red" style="margin:10px">Can't edit Data Type doesn't exist anymore.</font>
}