@using Telerik.Web.Mvc.UI
@using System.Linq;
@using BExIS.Dlm.Entities.DataStructure
@using BExIS.Dlm.Services.DataStructure
@model BExIS.Dlm.Entities.DataStructure.DataAttribute

@*<header>*@
    <link href="@Url.Content("~/Areas/RPM/Stylesheets/RPM.css")" rel="stylesheet" type="text/css" />  
@*</header> *@

@if(Model != null)
{  
    int count = 0;
    int unitIndex = 0;
    int dataTypeIndex = 0;

    List<Unit> unitList = (List<Unit>)Session["unitlist"];

    if(Model.Unit != null)
    {
        unitIndex = 0;
        count = 0;
        foreach (Unit u in unitList)
        {
            if (u.Id == Model.Unit.Id)
            {
                unitIndex = count;
            }
            count++;
        }
    }


    List<DataType> dataTypeList = (List<DataType>)Session["dataTypeList"];

    if(Model.DataType != null)
    {
        dataTypeIndex = 0;
        count = 0;
        foreach (DataType d in dataTypeList)
        {
            if (d.Id == Model.DataType.Id)
            {
                dataTypeIndex = count;
            }
            count++;
        }
    } 
<div class="planingPartialDiv" id="createUnit">
@using (Html.BeginForm("editAttribute", "Home", new { area = "RPM" }))
{
   @(Html.TextBox("parent", @HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString(), new {@class = "hidden"}))
   @(Html.TextBox("id", Model.Id, new {@class = "hidden"})) 
    <table>
        <tr>
            <td id="name">
                Name:<Font color="red">*</Font>
            </td>
            <td>
                @(Html.TextBoxFor(m => Model.Name, new {@class = "t-input"}))
            </td>
        </tr>
        <tr id="shortname">
            <td>
                ShortName:
            </td>
            <td>
                @(Html.TextBoxFor(m => Model.ShortName, new {@class = "t-input"}))
            </td>
        </tr>
        <tr>
            <td>
                Description:
            </td>
            <td>
                @(Html.TextBoxFor(m => Model.Description, new {@class = "t-input"}))
            </td>
        </tr>
        <tr>
            <td>
                Unit:
            </td>
            <td>
                @(Html.Telerik().DropDownList()
                    .Name("unitId")
                    .SelectedIndex(unitIndex)
                    .DropDownHtmlAttributes(new { style = "height: 200px" })
                    .BindTo(new SelectList(unitList,"Id","Name"))
                )
            </td>
        </tr>
        <tr>
            <td>
                DataType:
            </td>
            <td>
                @(Html.Telerik().DropDownList()
                    .Name("dataTypeId")
                    .SelectedIndex(dataTypeIndex)
                    .DropDownHtmlAttributes(new { style = "height: 200px" })
                    .BindTo(new SelectList(dataTypeList,"Id","Name"))
                )
            </td>
        </tr>
        <tr><td colspan="2"> </td></tr>
        <tr>
            <td>
                <Font color="red">*</Font> Please don't leave empty.
                <br /><br />
                <button name="create" value="GetUnitInput" type="submit" class="t-button" title="Save the Attribute">Save</button>
            </td>
            <td>
            </td>
        </tr>    
    </table>    
}
</div>
}
else
{
 <font color="red" style="margin:10px">Can't edit Data Attribute doesn't exist anymore.</font>
}