@using Telerik.Web.Mvc.UI
@using BExIS.Dlm.Services.TypeSystem
@using BExIS.IO.DataType.DisplayPattern
@using BExIS.Web.Shell.Areas.RPM.Models
@model BExIS.Web.Shell.Areas.RPM.Models.DataTypeModel

@if(Model != null)
{
    <div class="planingPartialDiv" id="createDataType">
    @using (Html.BeginForm("editDataType", "Home", new { area = "RPM" }))
    {
       @(Html.TextBox("parent", @HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString(), new {@class = "hidden"}))
       @(Html.TextBox("id", Model.dataType.Id, new {@class = "hidden"})) 
        <table class="bx-rpm-info">
            <tr id="name">
                <td>
                    Name <span class="bx bx-required" title="Required"></span>
                </td>
                <td style="width:354px">
                    @(Html.TextBoxFor(m => Model.dataType.Name, new {@class = "bx-input", @autofocus = "autofocus", @tabindex = 1}))
                </td>
                <td class="bx-errorMsg">@Session["nameMsg"]</td>
            </tr>
            <tr>
                <td>
                    Description
                </td>
                <td>
                    @(Html.TextBoxFor(m => Model.dataType.Description, new {@class = "bx-input", @tabindex = 2}))
                </td>
            </tr>
            <tr>
                <td>
                    SystemType
                </td>
                <td>
                    <div style="width:354px">
                        <select class="bx-dropdown bx-rpm-dropdown" name="systemType" id="systemType" tabindex="3">
                            @foreach (DataTypeInfo item in DataTypeInfo.Types)
                            {
                                if (Model.dataType.SystemType == item.Code.ToString())
                                {
                                    <option selected="selected" value="@item.Code" title="@item.Description">@item.DisplayName</option>
                                }
                                else
                                {
                                    <option value="@item.Code" title="@item.Description">@item.DisplayName</option>
                                }
                            }
                        </select>
                        <div class="t-arrow-down bx-rpm-dropdownArrow"></div>
                    </div>                   
                </td>
            </tr>
            <tr class="hidden" id="pettern">
                <td>
                    Pattern
                </td>
                <td>
                    <div style="width:354px">
                        <select class="bx-dropdown bx-rpm-dropdown" name="pattern" id="pettern" tabindex="3">
                            @foreach ( DataTypeDisplayPattern dtp in DataTypeDisplayPattern.Pattern.Where(p => p.Systemtype.Equals(DataTypeCode.DateTime)))
                            {
                                if (Model.pattern != null)
                                {
                                    if (Model.pattern.Systemtype == dtp.Systemtype && Model.pattern.Name == dtp.Name && Model.pattern.StringPattern == dtp.StringPattern && Model.pattern.RegexPattern == dtp.RegexPattern)
                                {
                                    <option selected="selected" value="@dtp.Name" title="@dtp.StringPattern">@dtp.StringPattern</option>
                                }
                                else
                                {
                                    <option value="@dtp.Name" title="@dtp.StringPattern">@dtp.StringPattern</option>
                                }
                            }
                                else
                                {
                                    <option value="@dtp.Name" title="@dtp.StringPattern">@dtp.StringPattern</option>
                                }
                            }
                        </select>
                        <div class="t-arrow-down bx-rpm-dropdownArrow"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><i>Note</i></td>
                <td style="width:354px"><i id="note"></i></td>
            </tr>
        </table>
        @*<div class="bx-rpm-functions bx-rpm-buttons">
            <font color="red">*</font> Indicates required field
        </div>*@
        <div class="bx-rpm-submit bx-rpm-buttons">
            <button name="create" value="create" type="submit" class="t-button action"  id="saveButton" title="Save The Unit" tabindex = "4">Save</button>
            @Html.ActionLink("Cancel", "DataTypeManager", "Home", new { area = "RPM", @class = "t-button action", @title = "Cancel", @tabindex = "5" })
        </div>     
    }
    </div>

    <script type="text/jscript">

        $('#systemType').change(function () {
            for (var i = 0; i < $('#systemType option').length; i++) {
                if ($('#systemType').val() == $('#systemType option')[i].value)
                {
                    $('#note')[0].innerHTML = $('#systemType option')[i].title;
                    $('#systemType')[0].title = $('#systemType option')[i].value;
                }
            }
            var dateTime = '@DataTypeInfo.Types.Where(p => p.Code.Equals(DataTypeCode.DateTime)).FirstOrDefault().DisplayName';
            if ($('#systemType').val() == dateTime) {
                $('#pettern').removeClass('hidden');
            }
            else
            {
                $('#pettern').addClass('hidden');
            }
        })

        $(document).ready(function () {
            for (var i = 0; i < $('#systemType option').length; i++)
            {
                if ($('#systemType').val() == $('#systemType option')[i].value)
                {
                    $('#note')[0].innerHTML = $('#systemType option')[i].title;
                    $('#systemType')[0].title = $('#systemType option')[i].value;
                }
            }
            var dateTime = '@DataTypeInfo.Types.Where(p => p.Code.Equals(DataTypeCode.DateTime)).FirstOrDefault().DisplayName';
            if ($('#systemType').val() == dateTime) {
                $('#pettern').removeClass('hidden');
            }
            else {
                $('#pettern').addClass('hidden');
            }
        })
    </script>
}
else
{
 <font color="red" style="margin:10px">Can't edit Data Type doesn't exist anymore.</font>
}