@using Telerik.Web.Mvc.UI
@using BExIS.Dlm.Entities.DataStructure
@using BExIS.Dlm.Entities.Data
@using BExIS.Dlm.Services.DataStructure
@using BExIS.Dlm.Services.Data
@model BExIS.RPM.Model.DataStructureDesignerModel

@{   
  
    List<string> CategoryList = new List<string>();
    int categoryIndex = 0;
    foreach (DataStructureCategory tc in Enum.GetValues(typeof(DataStructureCategory)))
    {
        CategoryList.Add(tc.ToString());
    }

    // need DataStructureCategory to create DS but can't find it in a DS    
}

<h3>
@if(Model.dataStructure.Id != 0)
{
    @Model.dataStructure.Name
}
else
{
    if (Model.structured)
    { 
        <font>New setructured Data Structure</font>
    }
    else
    {
       <font>New unsetructured Data Structure</font> 
    }
}
@if (Model.inUse)
{
    <font color="grey">(in use)</font>
}
</h3>
<div class="planingPartialDiv" style="width:100%;">   
 @using(Html.BeginForm("saveDataStructure", "Home", new {area = "RPM"}))
 {     
     <table>
         <tr>
            <td>
                <div id="info">
                    <table>
                        <tr>
                            <td>
                                Name: 
                                <div title="The name will be used for a new Data Structure">
                                @(Html.TextBoxFor(m => Model.dataStructure.Name, new {@class = "t-input"}))
                                </div>
                            </td>
                        </tr>
                       <tr class ="hidden">
                            <td>
                                @(Html.Telerik().DropDownList()
                                    .Name("category")
                                    .DropDownHtmlAttributes(new { style = "height: 200px" })
                                    .BindTo(new SelectList(CategoryList))
                                    .SelectedIndex(categoryIndex)
                                )
                            </td>
                       </tr>
                        <tr>
                            <td>
                                Number of Variables:
                                @if(Model.variables != null && Model.structured == true)
                                { 
                                     if(Model.variables.Count() > 0)
                                    {
                                        @Model.variables.Count();
                                    }
                                    else
                                    {
                                        <font color="red">No Variables</font>
                                    }
                                }
                                else
                                {
                                    if(Model.structured == false)
                                    {
                                        <font color="red">unstructured Data Structure</font>
                                    }
                                    else
                                    {
                                        <font color="red">No Variables</font>
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Data Structure ID: 
                                @Model.dataStructure.Id 
                            </td>
                        </tr>
                    </table>
                </>
            </td>
            <td>
                <div id="Description" style="vertical-align:top; padding:5px;" title="Description">
                    Description:         
                    @(Html.TextAreaFor(m => Model.dataStructure.Description, new {@class = "t-input datastrDes"}))
                </div>
            </td>
            <td>
                <div class="errorMsg" style="vertical-align:top; padding:5px;">
                     <font color="red">@ViewData["errorMsg"]</font>
                </div>
            </td>
        </tr>
    </table>
    @(Html.TextBoxFor(m => Model.dataStructure.Id, new {@class = "hidden"}))
     
    <div class="RPMbuttons">
        <button name="create" value="saveDataStructure" type="submit" class="t-button" title="Save Data Structure">Save</button>
        @if (Model.dataStructure.Id != null && Model.dataStructure.Id != 0)
        {
            if (Model.variables != null || Model.structured == true)
            {
                if(Model.variables.Count() > 0)
                {
                //<div title="Download">
                    @Html.ActionLink("Download", "downloadTemplate", "Home", new { id = Model.dataStructure.Id }, new { area = "RPM", @class = "t-button", @title = "Download Data Structure Template"})
                //</div>
                }
                else
                {
                    <button title="Download Data Structure Template" name="Download" class="t-button t-state-disabled" disabled="disabled">Download</button>
                }
            }
            else
            {
                    <button title="Download Data Structure Template" name="Download" class="t-button t-state-disabled" disabled="disabled">Download</button>
            }
            if(!(Model.inUse))
            {
                if (Model.structured == true)
                {
                    @Html.ActionLink("Add Variables", "ShowVariables", "Home", new { id = Model.dataStructure.Id }, new { area = "RPM", @class = "t-button", @title = "Add Variable to Data Structure"})
                }   
                else
                {
                    <button title="Add Varriables" name="Add Variables" class="t-button t-state-disabled" disabled="disabled">AddVariable</button>
                }
                @Html.ActionLink("Delete", "deleteDataStructure", "Home", new { id = Model.dataStructure.Id, name = Model.dataStructure.Name }, new { area = "RPM", @class = "t-button", @title = "Delete Data Structure"})
            }
            else
            {
                <button title="Add Varriables" name="Add Variables" class="t-button t-state-disabled" disabled="disabled">AddVariable</button>    
                <button title="Delete Data Structure" name="Download" class="t-button t-state-disabled" disabled="disabled">Delete</button>
            }        
        }          
    </div>
 }
</div> 


