@using Telerik.Web.Mvc.UI
@using BExIS.Dlm.Entities.DataStructure
@using BExIS.Dlm.Entities.Data
@using BExIS.Dlm.Services.DataStructure
@using BExIS.Dlm.Services.Data
@model BExIS.Web.Shell.Areas.RPM.Models.DataStructureDesignerModel

@{   
  
    List<string> CategoryList = new List<string>();
    int categoryIndex = 0;
    foreach (DataStructureCategory tc in Enum.GetValues(typeof(DataStructureCategory)))
    {
        CategoryList.Add(tc.ToString());
    }
    
    List<string> errorMsg = new List<string>(); 
    
    if (ViewData["errorMsg"] != null)
    {
        errorMsg = (List<string>)ViewData["errorMsg"]; 
    }

    // need DataStructureCategory to create DS but can't find it in a DS    
}

<h3>
@{
    if(Model.dataStructure.Id != 0)
    {
        @Model.dataStructure.Name
    }
    else
    {
        if (Model.structured)
        { 
            <font>New structured Data Structure</font>
        }
        else
        {
           <font>New unstructured Data Structure</font> 
        }
    }
}

@if (Model.inUse)
{
    <font color="grey">(in use)</font>
}
</h3>

<div class="errorMsg">
    <ul>
        @foreach (string s in errorMsg)
        {
            <li class="errorMsg">@s</li>
        }
    </ul>
</div>

<span class="planingPartialDiv">   
 @using (Html.BeginForm("saveDataStructure", "Home", new { area = "RPM" }))
 {    
    <table>
        <tr>
        <td>
            <table>
                <tr>
                    <td>Name:<font color="red">*</font></td>
                    <td>@(Html.TextBoxFor(m => Model.dataStructure.Name, new { @class = "t-input", @Value = Model.dataStructure.Name, @autofocus = "autofocus", @tabindex = "1", @title = "The name will be used for a new Data Structure" }))</td>
                </tr>
                <tr class ="hidden">
                    <td></td>
                    <td>
                        @(Html.Telerik().DropDownList()
                            .Name("category")
                            //.HtmlAttributes(new { @tabindex = 2 })
                            .DropDownHtmlAttributes(new { style = "height: 200px" })
                            .BindTo(new SelectList(CategoryList))
                            .SelectedIndex(categoryIndex)
                        )
                    </td>
                </tr>
                <tr>
                    <td>
                        @if (Model.structured == true)
                        {
                            <font>Number of Variables:</font>
                        }
                        else
                        {
                            <font></font> 
                        }
                    </td>
                    <td>
                        @if (Model.variableStructs != null && Model.structured == true)
                        {
                            if (Model.variableStructs.Count() > 0)
                            {
                                @Model.variableStructs.Count();
                            }
                            else
                            {
                                <font color="red">No Variables</font>
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td>Data Structure ID:</td>
                    <td>@Model.dataStructure.Id</td>
                </tr>
            </table>
        </td>
        <td style="vertical-align:top;">Description: @(Html.TextAreaFor(m => Model.dataStructure.Description, new { @class = "t-input datastrDes", @Value = Model.dataStructure.Description, @tabindex = "3", @title = "Description" }))</td>
    </tr>
    </table>
    @(Html.TextBoxFor(m => Model.dataStructure.Id, new { @class = "hidden", @Value = Model.dataStructure.Id }))
    @(Html.TextBoxFor(m => Model.structured, new { @class = "hidden", @Value = Model.structured }))

   
     
                if (Model.structured == true && Model.variableStructs.Count > 0)
                {
        <div>@Html.Partial("_showDataStructure", Model)</div>
                } 
     
    <div class="functions RPMbuttons">

        @if (Model.dataStructure.Id != null && Model.dataStructure.Id != 0)
        {
            if (!(Model.inUse))
            {
                <button title="show Datasets using this Data Structure" name="Datasets" class="t-button t-state-disabled" disabled="disabled" >Datasets</button>
            }
            else
            {
                @Html.ActionLink("Datasets", "showDatasets", "Home", new { id = Model.dataStructure.Id, structured = Model.structured }, new { area = "RPM", @class = "t-button", @title = "show Datasets using this Data Structure", @tabindex = "5" })
            }

            if (Model.variableStructs != null || Model.structured == true)
            {
                if (Model.variableStructs.Count() > 0)
                {
                    //<div title="Download">
                    @Html.ActionLink("Download", "downloadTemplate", "Home", new { id = Model.dataStructure.Id }, new { area = "RPM", @class = "t-button", @title = "Download Data Structure Template", @tabindex = "6" })
                    //</div>
                }
                else
                {
                    <button title="Download Data Structure Template" name="Download" class="t-button t-state-disabled" disabled="disabled">Download</button>
                }
            }
            else
            {
                    <button title="Download Data Structure Template" name="Download" class="t-button t-state-disabled" disabled="disabled">Download</button>
            }
            if (!(Model.inUse))
            {
                if (Model.structured == true)
                {
                    @Html.ActionLink("Add Variables", "showVariables", "Home", new { id = Model.dataStructure.Id }, new { area = "RPM", @class = "t-button", @title = "Add Variable to Data Structure", @tabindex = "7" })
                }
                else
                {
                    <button title="Add Varriables" name="Add Variables" class="t-button t-state-disabled" disabled="disabled">AddVariable</button>
                }
                @Html.ActionLink("Delete", "deleteDataStructure", "Home", new { id = Model.dataStructure.Id }, new { area = "RPM", @class = "t-button", @title = "Delete Data Structure", onclick = "return confirm('Are you sure you want to delete the Data Structure " + Model.dataStructure.Name + "?')", @tabindex = "8" })

            }
            else
            {
                <button title="Add Varriables" name="Add Variables" class="t-button t-state-disabled" disabled="disabled">AddVariable</button>    
                <button title="Delete Data Structure" name="Download" class="t-button t-state-disabled" disabled="disabled" >Delete</button>
            }
        }        
    </div>
    <div class="submit RPMbuttons">
        <button name="create" value="save" type="submit" class="t-button" title="Save Data Structure" tabindex = "9">Save</button>

        @if (Model.dataStructure.Id != null && Model.dataStructure.Id != 0)
        {
            <button name="create" value="saveAs" type="submit" class="t-button" title="Save Data Structure as" tabindex = "10">Save as</button>
            @Html.ActionLink("Cancel", "showDataStructure", "Home", new { SelectedItem = Model.dataStructure.Id + "," + Model.structured }, new { area = "RPM", @class = "t-button", @title = "Cancel", @tabindex = "11" })
        }
        else
        {
            @Html.ActionLink("Cancel", "createStructuredDataStrukture", "Home", new { area = "RPM", @class = "t-button", @title = "Cancel", @tabindex = "11" })
        }
    </div>
 }
</span>
<div style="position:absolute; left:10%; top:60px">
@if (Session["Window"] == null)
{
    Session["Window"] = false;
}
@{ Html.Telerik().Window()
        .Name("Add_Variable")
        .Title("Add Variable")
        .Draggable(true)
        .Visible((bool)Session["Window"])
        .Modal(true)
        .ClientEvents((events => events.OnClose("close")))
        .Content(@<text>
                    @Html.Partial("_addVariable", Model)
                    </text>)
        .Width(1000)
        .Render()
        ;
        
}
</div>
@{Session["Window"] = false;}

<div style="position:absolute; left:30%; top:60px;">
@{ Html.Telerik().Window()
        .Name("Edit_Variable")
        .Title("Edit Variable")
        .Draggable(true)
        .Modal(true)
        .Visible((bool)Session["VariableWindow"])
        .ClientEvents((events => events.OnClose("close")))
        .Content(@<text>
                    @Html.Partial("_editVariable", Model)
                    </text>)
        .Width(300)
        .Render()
        ;
        
}
</div>
@{Session["VariableWindow"] = false;}

<div style="position:absolute; left:10%; top:60px">
@if (Session["DatasetWindow"] == null)
{
    Session["DatasetWindow"] = false;
}
@{ Html.Telerik().Window()
        .Name("showDatasets")
        .Title("Datasets")
        .Draggable(true)
        .Visible((bool)Session["DatasetWindow"])
        .Modal(true)
        .ClientEvents((events => events.OnClose("close")))
        .Content(@<text>
                    @Html.Partial("_showDatasets", Model)
                    </text>)
        .Width(500)
        .Render()
        ;        
}
</div>
@{Session["DatasetWindow"] = false;}

<div style="position:absolute; left:10%; top:60px">
@if (Session["saveAsWindow"] == null)
{
    Session["saveAsWindow"] = false;
}
@{ Html.Telerik().Window()
        .Name("saveAs")
        .Title(Model.dataStructure.Name + " Save As")
        .Draggable(true)
        .Visible((bool)Session["saveAsWindow"])
        .Modal(true)
        .ClientEvents((events => events.OnClose("close")))
        .Content(@<text>
                    @Html.Partial("_dataStructureSaveAs", Model)
                   </text>)
        .Width(500)
        .Render()
        ;        
}
</div>

@{Session["saveAsWindow"] = false;}

<script type="text/javascript">
    function close(e)
    {        
        var data = { selected: null };
        $.ajax({
            url: '/RPM/Home/setSelected',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr) {
                //alert('Error: ' + xhr.statusText);
            },
            success: function (result) {
                //alert("success");
            },
            async: true,
            processData: false
        });
        
        var params = "@Model.dataStructure.Id,@Model.structured";
        window.location.href = '/RPM/Home/showDataStructure?SelectedItem='+params;
    }
</script>
