@using Telerik.Web.Mvc.UI
@using BExIS.Dlm.Entities.DataStructure
@using BExIS.Dlm.Entities.Data
@model BExIS.RPM.Model.DataStructureDesignerModel

@{   
  
    List<string> CategoryList = new List<string>();
    int categoryIndex = 0;
    foreach (DataStructureCategory tc in Enum.GetValues(typeof(DataStructureCategory)))
    {
        CategoryList.Add(tc.ToString());
    }


    // need DataStructureCategory to create DS but can't find it in a DS
    if (Model.dataStructure.Name == "" || Model.dataStructure.Name == null)
    {
        Model.dataStructure.Name = "New Data Structure";
        categoryIndex = 0;
    }
    else
    {
        categoryIndex = 0;
    }

            
}

<h3>@Model.dataStructure.Name</h3>

<div class="planingPartialDiv" style="width:500px;">   
 @using(Html.BeginForm("saveDataStructure", "Home", new {area = "RPM"}))
 {     
        <div id="Description" style="float:right;">
                Description: <br />          
                @(Html.TextAreaFor(m => Model.dataStructure.Description, new {@class = "t-input"}))
        </div>
        <div id="info">
            Info:
            <table>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        @(Html.TextBoxFor(m => Model.dataStructure.Name, new {@class = "t-input"}))
                    </td>
                </tr>
                <tr>
                    <td>
                        @(Html.Telerik().DropDownList()
                            .Name("category")
                            .DropDownHtmlAttributes(new { style = "height: 200px" })
                            .BindTo(new SelectList(CategoryList))
                            .SelectedIndex(categoryIndex)
                        )
                    </td>
                </tr>
                <tr>
                    <td>
                        Number of Variables:
                    </td>
                    <td>
                        @Model.dataStructure.Variables.Count
                    </td>
                </tr>
                <tr>
                    <td>
                        Data Structure ID:
                    </td>
                    <td>
                        @Model.dataStructure.Id
                        @(Html.TextBoxFor(m => Model.dataStructure.Id, new {@class = "hidden"}))
                    </td>
                </tr>
            </table>
        </div>       
     <button name="create" value="SaveDataStructure" type="submit" class="t-button">Save</button>
     @Html.ActionLink("Download", "downloadTemplate", "Home", new { id = Model.dataStructure.Id }, new { area = "RPM", @class = "t-button", @style = "margin:5px;"})
     @Html.ActionLink("Delete", "deleteDataStructure", "Home", new { id = Model.dataStructure.Id }, new { area = "RPM", @class = "t-button"})    
     @ViewData["errorMsg"]
 }
</div> 


