@using Telerik.Web.Mvc.UI
@using BExIS.Dlm.Entities.DataStructure
@using BExIS.Dlm.Services.DataStructure
@using System
@using System.Text.RegularExpressions

@{
    string rgxPattern = "[ ]";
    string rgxReplace = "_";
    Regex rgx = new Regex(rgxPattern);

    DataAttribute dataAttribute = (DataAttribute)Session["DataAttribute"];
    string windowName = "Add";

    if (dataAttribute.Name != null && dataAttribute.Name != "")
    {
        windowName = rgx.Replace(dataAttribute.Name, rgxReplace);
    }
    else
    {
        windowName = "Add";
    }

    DataContainerManager DAM = new DataContainerManager();
    List<DataAttribute> model = DAM.DataAttributeRepo.Get().ToList();
}

<!DOCTYPE html>

<html>
<head>
    <title>UnitManager</title>
</head>
@*<header>*@
     
@*</header> *@
<body>

    @Html.ActionLink("Add DataAttribute", "openAttributeWindow", "Home", new { id = 0 }, new { @class = "t-button t-add" })
    <br />
    <br />
    @(Html.Telerik().Grid(model)    
            .Name("Attribute")
            .Sortable()            
            .Columns(columns =>
                {
                    columns.Template(
                        @<text>
                            @if(!(item.UsagesAsVariable.Count > 0))
                            {
                            <div class="t-button t-button-icontext t-button-bare">
                            @Html.ActionLink("Edit", "openAttributeWindow", "Home", new { id = item.Id }, new { @class = "t-icon t-edit" })
                            @Html.ActionLink("Delete", "deletAttribute", "Home", new { id = item.Id }, new { @class = "t-icon t-delete" })
                            </div>
                            }
                            else
                            {
                                <div class="t-button t-button-icontext t-button-bare">locked</div>
                            }
                        </text>
                    ).Title("Functions")
                        .Width(50)
                        .ClientTemplate(
                            @Html.ActionLink("Edit", "openAttributeWindow", "Home", new { id = "<#= id #>" }, new { @class = "t-icon t-edit" }).ToHtmlString() +
                            @Html.ActionLink("Delete", "deletAttribute", "Home", new { id = "<#= id #>" }, new { @class = "t-icon t-delete" }).ToHtmlString()
                        );
                    columns.Bound(c => c.Name);
                    columns.Bound(c => c.Id);
                    columns.Bound(c => c.Description);
                    columns.Bound(c => c.Unit.Name)
                        .Title("Unit");
                    columns.Bound(c => c.DataType.Name)
                        .Title("DataType");                 
                })
    )

    <br />
    <br />

    @Html.ActionLink("Add DataAttribute", "openAttributeWindow", "Home", new { id = 0 }, new { @class = "t-button t-add" })

    <div style="position:absolute; left:20%; top:60px;">
                    @{ Html.Telerik().Window()
                            .Name(windowName)
                            .Visible((bool)Session["Window"])
                            .Draggable(true)
                            .Modal(true)
                            .Content(@<text>
                                        @Html.Partial("_editAttribute", dataAttribute)
                                        </text>)
                            .Render()
                            ;
        
                    }
                    @{Session["Window"] = false;}
    </div>

</body>
</html>
