@using Telerik.Web.Mvc.UI
@using BExIS.Dlm.Entities.DataStructure
@using BExIS.Dlm.Services.DataStructure
@using System
@using System.Text.RegularExpressions
@model List<BExIS.Dlm.Entities.DataStructure.DataAttribute>

@{
    string rgxPattern = "[ ]";
    string rgxReplace = "_";
    Regex rgx = new Regex(rgxPattern);

    DataAttribute dataAttribute = (DataAttribute)Session["DataAttribute"];
    string windowName = "Add";

  
        if (dataAttribute != null)
        {
            if (dataAttribute.Name != null && dataAttribute.Name != "")
            {
                windowName = rgx.Replace(dataAttribute.Name, rgxReplace);
            }
        }
        else
        {
            windowName = "Add";
            dataAttribute = new DataAttribute();
        }
}

@{
    ViewBag.Title = "Data Attribute Manager";
}
    <div>
        <h2>Data Attribute Manager</h2>
        
        <p>With this interface you are able to manage (e.g. create, edit, delete) data attributes which may be used as variables in data structures (a variable is an instance of an attribute). Data attributes cannot be edited or deleted once they are associated with a data structure (they become locked).</p>

    </div>

<div title="Create a new Data Attribute">
    @Html.ActionLink("Create Data Attribute", "openAttributeWindow", "Home", new { id = 0 }, new { @class = "t-button t-add" })
</div>
    <br />
    <br />
    @(Html.Telerik().Grid(Model)    
            .Name("Attribute")
            .Sortable()
            .Filterable()    
            .Scrollable(t => t.Height(450))         
            .Columns(columns =>
                {
                    columns.Template(
                        @<text>
                            @if(!(item.UsagesAsVariable.Count > 0))
                            {
                                <div class="t-button t-button-icontext t-button-bare">
                                    @Html.ActionLink("Edit", "openAttributeWindow", "Home", new { id = item.Id }, new { @class = "t-icon t-edit" })
                                    @Html.ActionLink("Delete", "deletAttribute", "Home", new { id = item.Id, item.Name }, new { @class = "t-icon t-delete", onclick = "return confirm('Are you sure you want to delete the Data Attribute " + item.Name + " ?')" })
                                </div>
                            }
                            else
                            {
                                <div class="locked">locked</div>
                            }
                        </text>
                    ).Title("Actions")
                        .Width(80)
                        .ClientTemplate(
                            @Html.ActionLink("Edit", "openAttributeWindow", "Home", new { id = "<#= id #>" }, new { @class = "t-icon t-edit" }).ToHtmlString() +
                            @Html.ActionLink("Delete", "deletAttribute", "Home", new { id = "<#= id #>", dataAttribute.Name }, new { @class = "t-icon t-delete", onclick = "return confirm('Are you sure you want to delete the Data Attribute " + dataAttribute.Name + " ?')" }).ToHtmlString()
                        );
                    columns.Bound(c => c.Name).Width(150);
                    columns.Bound(c => c.Id).Width(50);
                    columns.Bound(c => c.ShortName).Width(100);
                    columns.Bound(c => c.Unit.Name).Width(100)
                        .Title("Unit");
                    columns.Bound(c => c.DataType.Name).Width(100)
                        .Title("DataType");
                    columns.Bound(c => c.Description);
                })
    )

    <br />
    <br />
    <div style="position:absolute; left:20%; top:60px;">
                    @{ Html.Telerik().Window()
                            .Name(windowName)
                            .Modal(true)
                            .Visible((bool)Session["Window"])
                            .Draggable(true)
                            .Modal(true)
                            .Content(@<text>
                                        @Html.Partial("_editAttribute", dataAttribute)
                                        </text>)
                            .Render()
                            ;
        
                    }
                    @{Session["Window"] = false;}
    </div>