@using Telerik.Web.Mvc.UI
@using BExIS.Dlm.Entities.DataStructure
@using System
@using System.Text.RegularExpressions
@model List<Classifier>

@{
    string rgxPattern = "[ ]";
    string rgxReplace = "_";
    Regex rgx = new Regex(rgxPattern);
    
    Classifier classifier = (Classifier)Session["Class"];
    string windowName = "Add";

    if (classifier.Name != null && classifier.Name != "")
    {
        windowName = rgx.Replace(classifier.Name, rgxReplace);
    }
    else
    {
        windowName = "Add";
    }  
}

<!DOCTYPE html>

<html>
<head>
    <title>UnitManager</title>
</head>
@*<header>*@
    <link href="@Url.Content("~/Areas/RPM/Stylesheets/RPM.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.isotope.min.js")" type="text/javascript"></script>  
@*</header> *@
<body>

    @Html.ActionLink("Add Classification", "openClassWindow", "Home", new { id = 0 }, new { @class = "t-button t-add" })
    <br />
    <br />
    @(Html.Telerik().Grid(Model)    
            .Name("UnitGrid")
            .Sortable()            
            .Columns(columns =>
                {
                    
                    columns.Bound(c => c.Name);
                    columns.Bound(c => c.Id);
                    columns.Bound(c => c.Description);
                    columns.Bound(c => c.Parent.Name);
                    columns.Template(
                        @<text>
                            @Html.ActionLink(" ", "openClassWindow", "Home", new { id = item.Id }, new { @class = "bx bx-grid-function bx-edit " })
                            @Html.ActionLink(" ", "deletClass", "Home", new { id = item.Id }, new { @class = "bx bx-grid-function bx-trash", onclick = "return confirm('Are you sure you want to delete?')" })
                        </text>
                    ).Width(110)
                        .ClientTemplate(
                            @Html.ActionLink(" ", "openClassWindow", "Home", new { id = "<#= id #>" }, new { @class = "bx bx-grid-function bx-edit" }).ToHtmlString() +
                            @Html.ActionLink(" ", "deletClass", "Home", new { id = "<#= id #>" }, new { @class = "bx bx-grid-function bx-trash", onclick = "return confirm('Are you sure you want to delete?')" }).ToHtmlString()
                        );
                   
                })
    )
    <br />
    <br />
    @Html.ActionLink("Add Classification", "openClassWindow", "Home", new { id = 0 }, new { @class = "t-button t-add" })
   
    <div style="position:absolute; left:20%; top:60px;">
                    @{ Html.Telerik().Window()
                            .Name(windowName)
                            .Visible((bool)Session["Window"])
                            .Draggable(true)
                            .Content(@<text>
                                        @Html.Partial("_editClassifier", classifier)
                                        </text>)
                            .Render()
                            ;
        
                    }
                    @{Session["Window"] = false;}
    </div>

</body>
</html>
