@using Telerik.Web.Mvc.UI
@using BExIS.RPM.Model
@model BExIS.RPM.Model.DataStructureDesignerModel

@{
    ViewBag.Title = "Data Structure Designer";
}
@section LeftPane 
{ 

<link href="@Url.Content("~/Areas/RPM/Stylesheets/RPM.css")" rel="stylesheet" type="text/css" />  

<div>
        @Html.ActionLink("Create Structured", "createStructuredDataStrukture", "Home", new {@class = "t-button" , @title = "Create srtuctured Data Structure", @style = "margin:3px;"})

        @Html.ActionLink("Create Unsrtuctured", "createUnStructuredDataStrukture", "Home", new {@class = "t-button", @title = "Create unsrtuctured Data Structure", @style = "margin:3px;"})
</div>
<br />
<div>
@(Html.Telerik().TreeView()
    .Name("TreeView")
    .BindTo(Model.getDataStructureTree().dataStructureTreeList, mappings =>
    {
        mappings.For<DataStructureTreeList>(binding => binding
                .ItemDataBound((item, TL) =>
                {
                    if (TL.name == null || TL.name == "")
                    {
                        item.Text = "no Name";
                    }
                    else
                    {
                        item.Text = TL.name;
                    }
                })
                .Children(TL => TL.dataStructureTreeElementList));
                mappings.For<DataStructureTreeElement>(binding => binding
                .ItemDataBound((item, TEL) =>
                {
                    if (TEL.name == null || TEL.name == "")
                    {
                        item.Text = "no Name";
                        item.Value = TEL.id.ToString() + "," + TEL.structured.ToString();
                    }
                    else
                    {
                        item.Text = TEL.name;
                        item.Value = TEL.id.ToString() + "," + TEL.structured.ToString();
                    }

                    item.Action("showDataStructure", "Home", new RouteValueDictionary { { "area", "RPM" }, { "SelectedItem", item.Value } });
      }));
    })
    .ExpandAll(true)
)
</div>
}  

@if (Model != null && Model.show == true)
{  
    <div>
        @Html.Partial("_showDataStructureInfo", Model)
    </div>

    if (Model.structured == true && Model.variables != null)
    {
        <div>
            @Html.Partial("_showDataStructure", Model)
        </div>
    }
}
