@using Telerik.Web.Mvc.UI
@using BExIS.Web.Shell.Areas.RPM.Models

@model BExIS.Web.Shell.Areas.RPM.Models.DataStructureDesignerModel

@{
    ViewBag.Title = "Data Structure Manager";
}

<link href="@Url.Content("~/Areas/RPM/Stylesheets/RPM.css")" rel="stylesheet" type="text/css" />

@section LeftPane 
{ 


<div style="text-align:center;">
    @Html.ActionLink("Create Structured", "createStructuredDataStrukture", "Home", new {@class = "t-button action" , @title = "Create structured Data Structure", @style = "margin:3px;"})
    <br/>
    @Html.ActionLink("Create Unstructured", "createUnStructuredDataStrukture", "Home", new {@class = "t-button action", @title = "Create unstructured Data Structure", @style = "margin:3px;"})
</div>
<br />
<div style="width:237px;">
@(Html.Telerik().TreeView()
    .Name("TreeView")
    .BindTo(Model.dataStructureTree.dataStructureTreeList, mappings =>
    {
        mappings.For<DataStructureTreeList>(binding => binding
                .ItemDataBound((item, TL) =>
                {
                    if (string.IsNullOrEmpty(TL.name))
                    {
                        item.Text = "no Name";
                    }
                    else
                    {
                        item.Text = TL.name;
                    }
                })
                .Children(TL => TL.dataStructureTreeElementList));
                mappings.For<DataStructureTreeElement>(binding => binding
                .ItemDataBound((item, TEL) =>
                {
                    if (TEL.inUse == true)
                    {
                        if (string.IsNullOrEmpty(TEL.name))
                        {
                            item.Text = "no Name (in use)";
                            item.Value = TEL.id.ToString() + "," + TEL.structured.ToString();
                        }
                        else
                        {
                            item.Text = TEL.name + " (in use)";
                            item.Value = TEL.id.ToString() + "," + TEL.structured.ToString();

                        }
                    }
                    else
                    {
                        if (string.IsNullOrEmpty(TEL.name))
                        {
                            item.Text = "no Name";
                            item.Value = TEL.id.ToString() + "," + TEL.structured.ToString();
                        }
                        else
                        {
                            item.Text = TEL.name;
                            item.Value = TEL.id.ToString() + "," + TEL.structured.ToString();

                        }
                    }
                    
                    if (TEL.id == Model.dataStructure.Id)
                    {
                        item.Selected = true;
                    }
                    item.Action("showDataStructure", "Home", new RouteValueDictionary { { "area", "RPM" }, { "SelectedItem", item.Value } });
                }));
    })
    .ExpandAll(true)
)
</div>
}  

@if (Model != null && Model.show == true)
{  
    <div>
        @Html.Partial("_showDataStructureInfo", Model)
    </div>
}
