@using Telerik.Web.Mvc.UI
@using BExIS.Dlm.Entities.DataStructure
@using System.Data
@using BExIS.RPM.Model
@model BExIS.RPM.Model.DataStructureDesignerModel

@{
    ViewBag.Title = "Data Structure Designer";
}
@section LeftPane 
{ 

@*<header>*@
    <link href="@Url.Content("~/Areas/RPM/Stylesheets/RPM.css")" rel="stylesheet" type="text/css" />  
@*</header> *@

<div>
        @Html.ActionLink("Create Data Structure", "DataStructureDesigner", "Home", new {@class = "t-button"})
</div>
<br />
<div>
@(Html.Telerik().TreeView()
    .Name("TreeView")
    .BindTo(Model.dataStructureList, mappings => 
    {
        mappings.For<StructuredDataStructure>(binding => binding
                .ItemDataBound((item, DS) =>
                {
                    if (DS.Name == null || DS.Name == "")
                    {
                        item.Text = "no Name";
                        item.Value = DS.Id.ToString();
                    }
                    else
                    {
                        item.Text = DS.Name;
                        item.Value = DS.Id.ToString();
                    }
                    item.Action("showDataStructure", "Home", new RouteValueDictionary { { "area", "RPM" }, { "SelectedItem", item.Value } });
                }));
        //        .Children(DS => DS.Variables));
        //mappings.For<Variable>(binding => binding
        //        .ItemDataBound((item, VU) =>
        //        {
        //            item.Text = VU.DataAttribute.Name;
        //        }));
    })
)
</div>
}  
  
<div>
    
    @Html.Partial("_showDataStructureInfo", Model)
</div>

@if (Model != null && Model.dataStructure.Id != null && Model.dataStructure.Id != 0)
{
    <div>
        @Html.Partial("_showDataStructure", Model)
    </div>
}
