@using Telerik.Web.Mvc.UI
@using BExIS.Dlm.Entities.DataStructure
@using BExIS.Dlm.Services.DataStructure
@using System
@using System.Text.RegularExpressions

@{
    string rgxPattern = "[ ]";
    string rgxReplace = "_";
    Regex rgx = new Regex(rgxPattern);

    DataType dataType = (DataType)Session["DataType"];
    string windowName = "Add";

    if (dataType.Name != null && dataType.Name != "")
    {
        windowName = rgx.Replace(dataType.Name, rgxReplace);
    }
    else
    {
        windowName = "Add";
    }

    DataTypeManager DTM = new DataTypeManager();
    List<DataType> model = DTM.Repo.Get().ToList(); 
}

<!DOCTYPE html>

<html>
<head>
    <title>UnitManager</title>
</head>
@*<header>*@
    
@*</header> *@
<body>

    @Html.ActionLink("Add Data Type", "openDataTypeWindow", "Home", new { id = 0 }, new { @class = "t-button t-add" })
    <br />
    <br />
    @(Html.Telerik().Grid(model)    
            .Name("UnitGrid")
            .Sortable()            
            .Columns(columns =>
                {
                    columns.Template(
                        @<text>
                             @if(!(item.DataContainers.Count > 0))
                            {
                            <div class="t-button t-button-icontext t-button-bare">
                            @Html.ActionLink("Edit", "openDataTypeWindow", "Home", new { id = item.Id }, new { @class = "t-icon t-edit" })
                            @Html.ActionLink("Delete", "deletDataType", "Home", new { id = item.Id }, new { @class = "t-icon t-delete" })
                            </div>
                            }
                            else
                            {
                                <div class="t-button t-button-icontext t-button-bare">locked</div>
                            }
                        </text>
                    ).Title("Functions")
                        .Width(50)
                        .ClientTemplate(
                            @Html.ActionLink("Edit", "openDataTypeWindow", "Home", new { id = "<#= id #>" }, new { @class = "t-icon t-edit" }).ToHtmlString() +
                            @Html.ActionLink("Delete", "deletDataType", "Home", new { id = "<#= id #>" }, new { @class = "t-icon t-delete" }).ToHtmlString()
                        );
                    columns.Bound(c => c.Name);
                    columns.Bound(c => c.Id);
                    columns.Bound(c => c.Description);
                    columns.Bound(c => c.SystemType);
                })
    )
    <br />
    <br />
     @Html.ActionLink("Add Data Type", "openDataTypeWindow", "Home", new { id = 0 }, new { @class = "t-button t-add" })
    
    <div style="position:absolute; left:20%; top:60px;">
                    @{ Html.Telerik().Window()
                            .Name(windowName)
                            .Visible((bool)Session["Window"])
                            .Draggable(true)
                            .Modal(true)
                            .Content(@<text>
                                        @Html.Partial("_editDataType", dataType)
                                        </text>)
                            .Render()
                            ;
        
                    }
                    @{Session["Window"] = false;}
    </div>

</body>
</html>
