@using Telerik.Web.Mvc.UI
@using BExIS.Modules.Rpm.UI.Models

@model BExIS.Modules.Rpm.UI.Models.DataStructureDesignerModel

@*@{
    ViewBag.Title = "Data Structure Manager";
}*@

<link href="@Url.Content("~/Areas/RPM/Stylesheets/RPM.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/trunk8.js")" type="text/javascript"></script>

@section Information
{
The Data Structure Manager is a tool to create, modify and delete Data Structures. Data Structures contain Variables, which are specific instances of Data Attributes. 
It is possible to create Data Structures for structured data (Excel tables, CSV-Files ...) and for unstructured data (images, videos ...).
<p>
    <a href="/RPM/Help/Index/#_Toc434570753" class="bx-informationLink" title="go to help" target="_blank">More</a>
</p>
}

@section LeftPane 
{ 


<div style="text-align:left;">
    @Html.ActionLink("Create Structured", "createStructuredDataStructure", "Home", new {@class = "t-button action" , @title = "Create structured Data Structure", @style = "margin:3px; width:70%;"})
    <br/>
    @Html.ActionLink("Create Unstructured", "createUnStructuredDataStructure", "Home", new {@class = "t-button action", @title = "Create unstructured Data Structure", @style = "margin:3px; width:70%;" })
</div>
<br />
<div class="bx-trunc-parent" style="width:237px;">
@(Html.Telerik().TreeView()
    .Name("TreeView")
    .BindTo(Model.dataStructureTree.dataStructureTreeList, mappings =>
    {
        mappings.For<DataStructureTreeList>(binding => binding
                .ItemDataBound((item, TL) =>
                {
                    if (string.IsNullOrEmpty(TL.name))
                    {
                        item.Text = "no Name";
                    }
                    else
                    {
                        item.Text = TL.name;
                    }
                })
                .Children(TL => TL.dataStructureTreeElementList));
                mappings.For<DataStructureTreeElement>(binding => binding
                .ItemDataBound((item, TEL) =>
                {
                    item.LinkHtmlAttributes["class"] = "bx-trunc-child";
                    
                    if (TEL.inUse == true)
                    {
                        if (string.IsNullOrEmpty(TEL.name.ToString()))
                        {
                            item.LinkHtmlAttributes["class"] = "bx-rpm-ds-locked";
                            item.Text = "No Name";
                            item.Value = TEL.id.ToString() + "," + TEL.structured.ToString();
                            
                        }
                        else
                        {
                            item.LinkHtmlAttributes["class"] = "bx-rpm-ds-locked";
                            item.Text = TEL.name;
                            item.Value = TEL.id.ToString() + "," + TEL.structured.ToString();

                        }
                    }
                    else
                    {
                        if (string.IsNullOrEmpty(TEL.name.ToString()))
                        {
                            item.Text = "No Name";
                            item.Value = TEL.id.ToString() + "," + TEL.structured.ToString();
                        }
                        else
                        {
                            item.Text = TEL.name.ToString();
                            item.Value = TEL.id.ToString() + "," + TEL.structured.ToString();

                        }
                    }
                    
                    if (TEL.id == Model.dataStructure.Id)
                    {
                        item.Selected = true;
                    }
                    item.Action("showDataStructure", "Home", new RouteValueDictionary { { "area", "RPM" }, { "SelectedItem", item.Value } }); ;
                }));
    })
    .ExpandAll(true)
)
</div>
}  

@if (Model != null && Model.show == true)
{  
    <div>
        @Html.Partial("_showDataStructureInfo", Model)
    </div>
}

<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        for (var i = 0; i < $('.bx-rpm-ds-locked').length ; i++)
        {
            var temp = $('.bx-rpm-ds-locked')[i].innerHTML;
            $('.bx-rpm-ds-locked')[i].innerHTML = temp + ' <span class="bx bx-lock"></span>';
        }
    });
</script>
