@model BExIS.Modules.Dcm.UI.Models.SelectSheetFormatModel
@using Telerik.Web.Mvc.UI;
@using Telerik.Web.Mvc.Resources;
@using BExIS.Modules.Dcm.UI.Models;

@{
    string preselect = "";
    if (!String.IsNullOrEmpty(Model.SelectedSheetFormat))
    {
        preselect = "[value=" + Model.SelectedSheetFormat + "]";
    }
}

<script>
    $(document).ready(function () {
        //Destroy the handsontable from the next step (happens when clicking the "prev" button) because it's causing performance problems
        if (typeof hotActive != 'undefined') {
            if (hotActive) {
                hot.destroy();
                hotActive = false;
            }
        }

        var selectedValue = "@(preselect)";

        if (selectedValue.length > 0) {
            $("input:radio[name=sheetFormat]" + selectedValue).attr('checked', true);
        }
    });

</script>
<style>
    div.sheetSelect label > img {
        width: 100px;
    }

    div.sheetSelect label > input {
        display: none;
    }

        div.sheetSelect label > input + img {
            cursor: pointer;
            border: 2px solid transparent;
            margin-left: 20px;
            margin-right: 20px;
        }

        div.sheetSelect label > input:checked + img {
            border: 6px solid rgba(255, 165, 0, 0.7);
            border-radius: 4px;
            width: 140px;
            margin-left: 0px;
            margin-right: 0px;
        }
</style>

<div id="Step3" class="uploadWizardStep">

    <div class="uploadWizardStep_Main">
        <div class="uploadWizardStep_Header stepper">
            <h3>@Model.StepInfo.title</h3>
        </div>

        <div class="uploadWizardStep_Description stepper">
            <p>
                Your uploaded file has a specific structure, please select which one (red = variable names, green = data).
            </p>
        </div>

        <div class="uploadWizardStep_Content stepper">
            <div class="sheetSelect">
                <label>
                    <input type="radio" name="sheetFormat" value="TopDown" />
                    <img src="~/Areas/DCM/Images/DCM_SelectFileStructure/top-down.png">
                </label>
                <!--
                <label>
                    <input type="radio" name="sheetFormat" value="LeftRight" />
                    <img src="~/Areas/DCM/Images/DCM_SelectAreas/left-right.png">
                </label>

                <label>
                    <input type="radio" name="sheetFormat" value="Matrix" />
                    <img src="~/Areas/DCM/Images/DCM_SelectAreas/matrix.png">
                </label>
                    -->
            </div>
        </div>
    </div>

    <div class="uploadWizardStep_Error stepper">
        @if (Model != null && Model.ErrorList != null && Model.ErrorList.Count != 0)
        {
            <ul>
                @foreach (BExIS.IO.Transform.Validation.Exceptions.Error s in @Model.ErrorList)
                {
                    <li>@s.ToString()</li>
                }
            </ul>
        }
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {

        $('input[type=radio][name=sheetFormat]').change(function () {
            if ($(this).val() != null && $(this).val() != '') {
                var SelectedSheetFormat = $(this).val();

                // send to bus
                $.post('@Url.Action("AddSelectedDatasetStructureToBus", "EasyUploadSheetDataStructure", new RouteValueDictionary { { "area", "DCM" } })', { format: SelectedSheetFormat }, function (response) {
                })
            }
        })
    });

</script>