@model List<BExIS.Dlm.Entities.Party.PartyCustomAttribute>
@{
    ViewBag.Title = "customAttributesPartial";
    List<BExIS.Dlm.Entities.Party.PartyCustomAttributeValue> partyCustomAttributeValues = (List<BExIS.Dlm.Entities.Party.PartyCustomAttributeValue>)ViewBag.customAttrValues;
    long partyId = 0;
    long partyTypeId = 0;
    if (Model != null && Model.Any())
    { partyTypeId = Model.First().PartyType.Id; }
    if (partyCustomAttributeValues != null && partyCustomAttributeValues.Any())
    { partyId = partyCustomAttributeValues.First().Id; }
    var readOnly = false;
    if (!string.IsNullOrEmpty(Request.QueryString["readOnly"]) && Request.QueryString["readOnly"] == "true")
    {
        readOnly = true;
    }
}

<table id="tblPartyCustomAttributes">

    @foreach (var partyCustomAttr in Model.OrderBy(item => item.DisplayOrder))
    {
        string partyCustomAttributeValueStr = "";
        if (partyCustomAttributeValues != null && partyCustomAttributeValues.Count() > 0)
        {
            var partyCustomAttributeValue = partyCustomAttributeValues.FirstOrDefault(item => item.CustomAttribute.Id == partyCustomAttr.Id);
            if (partyCustomAttributeValue != null)
            { partyCustomAttributeValueStr = partyCustomAttributeValues.FirstOrDefault(item => item.CustomAttribute.Id == partyCustomAttr.Id).Value; }
        }

        if (readOnly)
        {
            // <tr condition="@partyCustomAttr.Condition" name="condition" AttributeName="@partyCustomAttr.Name.ToLower()" value="@partyCustomAttributeValueStr">
            <tr condition="@partyCustomAttr.Condition" name="condition" AttributeName="@partyCustomAttr.Name.ToLower()" value="@partyCustomAttributeValueStr">

                <td style="width:40px;">@Html.Raw((!partyCustomAttr.IsValueOptional && !readOnly ? "<b title='Required' style='color: red'>*</b>" : ""))</td>
                <td style="width:200px;">
                    <label>
                        @partyCustomAttr.DisplayName
                    </label>
                </td>
                <td>
                    <span>@partyCustomAttributeValueStr</span>
                </td>
            </tr>
        }

        else
        {
            <tr condition="@partyCustomAttr.Condition" name="condition">

                <td style="width:40px;">@Html.Raw((!partyCustomAttr.IsValueOptional && !readOnly ? "<b title='Required' style='color: red'>*</b>" : ""))</td>
                <td style="width:200px;">
                    <label>
                        @partyCustomAttr.DisplayName
                    </label>
                </td>
                <td>

                    @if (partyCustomAttr.Name == ViewBag.PersonEmailAttributeName)
                    {
                        var email = "";
                        if (partyCustomAttributeValueStr == "" && ViewBag.userRegistration == "true")
                        {
                            email = ViewBag.email;
                        }
                        else
                        {
                            email = partyCustomAttributeValueStr;
                        }

                        var disabled = "";
                        if (ViewBag.userRegistration == "true")
                        {
                            disabled = "disabled";
                        }

                    <input type="text" @disabled id="partyCustomAttributeValues[@partyCustomAttr.Id]" class="t-input bx-input" AttributeName="@partyCustomAttr.Name.ToLower()" name="partyCustomAttributeValues[@partyCustomAttr.Id]" value="@email" ) />

                    }
                    else if (!string.IsNullOrEmpty(partyCustomAttr.ValidValues))
                    {
                    <select onchange="$('#tblPartyCustomAttributes').trigger('partyCustomAttributesChanged');" name="partyCustomAttributeValues[@partyCustomAttr.Id]" @(partyCustomAttr.IsUnique ? "isUniqe='true'" : "") AttributeName="@partyCustomAttr.Name.ToLower()" class="comboboxBootstrap" style="width: 372px; border: 2px solid black; height: 30px;" id="partyCustomAttributeValues[@partyCustomAttr.Id]">
                        @foreach (var option in partyCustomAttr.ValidValues.Split(','))
                        {
                            <option value="@option" @(partyCustomAttributeValueStr == @option ? "selected='selected'" : "")>@option</option>
                        }
                    </select>
                    }
                    else if (partyCustomAttr.DataType == "bool" || partyCustomAttr.DataType == "boolean")
                    {
                    <input type="radio" Onclick="$('#tblPartyCustomAttributes').trigger('partyCustomAttributesChanged');" name="partyCustomAttributeValues[@partyCustomAttr.Id]" id="partyCustomAttributeValues[@partyCustomAttr.Id]" AttributeName="@partyCustomAttr.Name.ToLower()" @(partyCustomAttributeValueStr == "true" ? "checked" : "") value="true" @(partyCustomAttr.IsUnique ? "isUniqe='true'" : "") /><label>True</label>
                    <input type="radio" Onclick="$('#tblPartyCustomAttributes').trigger('partyCustomAttributesChanged');" name="partyCustomAttributeValues[@partyCustomAttr.Id]" id="partyCustomAttributeValues[@partyCustomAttr.Id]" AttributeName="@partyCustomAttr.Name.ToLower()" @((partyCustomAttributeValueStr == "false" || partyCustomAttributeValueStr == "") ? "checked" : "" ) value="false" @(partyCustomAttr.IsUnique ? "isUniqe='true'" : "") /><label>False</label>
                    }
                    else
                    {
                    <input type="text" onKeyUp="$('#tblPartyCustomAttributes').trigger('partyCustomAttributesChanged');" id="partyCustomAttributeValues[@partyCustomAttr.Id]" class="t-input bx-input" AttributeName="@partyCustomAttr.Name.ToLower()" name="partyCustomAttributeValues[@partyCustomAttr.Id]" value="@partyCustomAttributeValueStr" @(!partyCustomAttr.IsValueOptional ? Html.Raw("data-val=\"true\" data-val-required=\"This field is required.\"") : Html.Raw("")) @(partyCustomAttr.IsUnique ? "isUniqe='true'" : "") />
                    @Html.ValidationMessage("partyCustomAttributeValues[" + @partyCustomAttr.Id + "]");
                    }
                    @if (!string.IsNullOrEmpty(@partyCustomAttr.Description))
                    {<img src="~/Content/Images/info.png" data-toggle="tooltip" title="@partyCustomAttr.Description" />}
                </td>
            </tr>
        }
    }
</table>
<script>
    uniqenessPolicy = '';

    $('#tblPartyCustomAttributes').on('partyCustomAttributesChanged',
                          function (objectEvent, args) {
                              checkPartyConditions();
                          });

    function checkPartyConditions() {
        $("[name='condition']").each(function (index, element) {
            condition = $(this).attr("condition");
            if (condition.length) {
                var cond = parsePartyCondition(condition);
                if (eval(cond)){
                    $(element).show();
                    $(element).find('input').prop("disabled", false); // set enabled to tell jquery-validation to use
                }
                else{
                    $(element).hide();
                    $(element).find('input').prop("disabled", true); // set disabled to tell jquery-validation to ignore
                }
            }
        });

    }
    function checkUniqeness(notShowAlert) {
        hash = "";
        $("#tblPartyCustomAttributes input[isUniqe]").each(
            function (index) {
                hash += $(this).val();
            });
        if (hash != "") {
            $.get("/BAM/PartyService/CheckUniqeness?partyTypeId=" +@partyTypeId +"&partyId=" +@partyId +"&hash=" + hash, function (data) {

                if (data == "False") {
                    uniqenessPolicy = hash + " is existed.";
                    if (notShowAlert != true)
                        alert(uniqenessPolicy + "!");
                }
                else
                    uniqenessPolicy = undefined;

            });
        }

    }
    $(document).ready(function () {
        checkPartyConditions();
        $("#tblPartyCustomAttributes input").change(function () {
            checkUniqeness();

        });
        $(document).on("submit", "form", function (e) {
            checkUniqeness();
            if (uniqenessPolicy) {
                alert(uniqenessPolicy);
                e.preventDefault();
                e.stopPropagation();
                e.preventDefault(e);
                return false;
            }
            else
                return true;
        });
    });
</script>