@model BExIS.Modules.Bam.UI.Models.PartyModel
@using BExIS.Modules.Bam.UI.Models;
@{
    var actionName = ViewContext.RouteData.GetRequiredString("action").ToLower();
    var readOnly = (actionName == "view" || actionName == "deleteconfirm" || actionName == "viewpartydetail" || actionName == "edit");
}
@if (!readOnly)
{
    <div class="bx-rpm-buttons" style="text-align:left;padding-left:10px;">

        <a class="bx-button action" id="AddPartyRelation" title="Add a new party relation" style="cursor:pointer">Add</a>
        <img src="@Url.Content(Themes.GetResourcePath("Styles/Default", "loading.gif"))" style="display:none" id="imgPartyCustomeAttrLoading" />
    </div>
}
@if (Model.PartyRelationships != null)
{
    @(Html.Telerik().Grid<PartyRelationshipModel>(Model.PartyRelationships)
                .Name("PartyRelationshipsGrid")
                .Sortable()
                .Filterable()
                .Columns(columns =>
                {
                    columns.Bound(c => c.Title);
                    columns.Bound(c => c.SourceName).Title("First Party");
                    columns.Bound(c => c.TargetName).Title("Second Party");
                    columns.Bound(c => c.StartDate).Format("{0:yyyy-MM-dd}").Title("Start date");
                    columns.Bound(c => c.EndDate).Format("{0:yyyy-MM-dd}").Title("End date");
                    columns.Bound(c => c.Description);
                    columns.Bound(c => c.Type).Title("Type"); //(String.IsNullOrWhiteSpace(c.PartyRelationshipType.DisplayName) ? c.PartyRelationshipType.DisplayName : c.PartyRelationshipType.Title)).Title("Realtionship Type Title");
                    columns.Template(
                @<text>
                    <div>
                        @if (actionName != "edit")
                        {
                            <a class="bx bx-grid-function bx-show " style="cursor:pointer" onclick="viewPartyRelationship(@item.Id)" title="View Party &quot;@item.Title&quot;"> </a>
                        }
                        @if (!readOnly)
                        {
                            <a class="bx bx-grid-function bx-edit " style="cursor:pointer" onclick="editPartyRelationship(@item.Id)" title="Edit Party &quot;@item.Title&quot;"> </a>
                            <a class="bx bx-grid-function bx-trash " style="cursor:pointer" onclick="deletePartyRelationship(@item.Id)" title="Delete Party &quot;@item.Title&quot;"> </a>
                        }
                    </div>
                </text>
        );
                }))
}
<div id="dialog"></div>
@*<div style="position:absolute; left:calc(50% - 508px); top:10%;height: 50%; overflow: scroll; width: 40%;" >*@
@{ Html.Telerik().Window().Name("PartyRelationWindow").HtmlAttributes(new { style = "min-width: 40%;" })
                                                                                                      .Title("New party relation(" + Model.Name + ")").Resizable()
                                                                                                      .ClientEvents(events => events.OnLoad("closePartyRelationWindow").OnClose("callRelationshipsValidator"))
                                                                                                      .Draggable(true).Resizable()
                                                                                                      .Modal(true)
                                                                                                      .Visible(true).Content("").Render();
}
@*</div>*@
<script>
    var thisObject=this;
    function closePartyRelationWindow() {
        var partyWindow = $("#PartyRelationWindow").data("t-window");
        partyWindow.close();
    }
    function callRelationshipsValidator()
    {
        if(thisObject.parent.validateRelationships)
            thisObject.parent.validateRelationships();
    }

    $(document).ready(function () {

        $("#AddPartyRelation").bind("click", function () {
            $("#imgPartyCustomeAttrLoading").show();
            var partyWindow = $("#PartyRelationWindow").data("t-window");
            $.get("/BAM/Party/LoadPartyRelationshipType/" + @Model.PartyType.Id + "?partyId=" + @Model.Id, function(data) {
                partyWindow.content(data);
                partyWindow.center();
                partyWindow.open();
                partyWindow.center();
                $("#PartyRelationWindowPartyId").val(@Model.Id);
                $("#imgPartyCustomeAttrLoading").hide();
            });
        });
    });

    function deletePartyRelationship(id) {
        var result = confirm("Are you sure that you want to delete this party relationship?");
        if (result) {
            $.ajax({
                url: '/BAM/Party/DeletePartyRelationship/' + id+"?selectedParty="+@Model.Id,
                type: 'POST',

                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function (result) {
                    if(result=='successfull')
                        window.location.href = window.location.pathname+"?"+$.param({'relationTabAsDefault':'true'});
                    else
                        alert(result);
                },
                async: true,
                processData: false
            });
        }
    }
    function editPartyRelationship(id) {
        $("#imgPartyCustomeAttrLoading").show();
        var partyWindow = $("#PartyRelationWindow").data("t-window");
        $.get( "/BAM/Party/LoadPartyRelationship/"+id, function( data ) {
            partyWindow.title("Edit party relation");
            partyWindow.content(data);
            partyWindow.center();
            partyWindow.open();
            partyWindow.center();
            $("#imgPartyCustomeAttrLoading").hide();
        });

    }
    function viewPartyRelationship(id) {
        $("#imgPartyCustomeAttrLoading").show();
        var partyWindow = $("#PartyRelationWindow").data("t-window");
        $.get( "/BAM/Party/LoadPartyRelationship/"+id+"?viewMode=true", function( data ) {
            partyWindow.title("View party relation");
            partyWindow.content(data);
            partyWindow.center();
            partyWindow.open();
            partyWindow.center();
            $("#imgPartyCustomeAttrLoading").hide();
        });
    }
</script>