@model BExIS.Modules.Bam.UI.Models.PartyTypeAccountModel
@{
    ViewBag.Title = "Registration";
}
<h2>Registration</h2>
<script type="text/javascript">
    var PartyRelations = { items: []}
</script>
@using (Html.BeginForm("Create", "Party", new { area = "BAM" }, FormMethod.Post, new { id = "frmParty" }))
{

    <table>
        <tr>
            <td style="width:40px;"><b title="Required" style="color: red;">*</b></td>
            <td style="width:200px;">
                <label>
                    Account type:
                </label>
            </td>
            <td>
                @if (Model.Party == null)
                {
                <select name="PartyTypeId" id="ddl_PartyType" onchange="changePartyType()" class="comboboxBootstrap" style="width: 372px; border: 2px solid black; height: 30px;" >
                    @foreach (var partyTypeModel in Model.PartyRelationshipsTypes)
                    {
                        <script type="text/javascript">
                                var partyTypePairs=[];
                        </script>
                        foreach (var PartyTypePair in partyTypeModel.Value)
                        {
                            <script type="text/javascript">

                                partyTypePairs.push({ Id:@PartyTypePair.Value.Id, Title: "@PartyTypePair.Key", PartyRelationshipId:@PartyTypePair.Value.PartyRelationshipType.Id, conditionSource: "@PartyTypePair.Value.ConditionSource", parties:@Html.Raw(Json.Encode(@PartyTypePair.Value.TargetPartyType.Parties.Select(item => new { item.Id, item.Name }))), MinCardinality:@PartyTypePair.Value.PartyRelationshipType.MinCardinality });
                            </script>
                        }
                        <script type="text/javascript">
                                //Add partyTypePairs to a list to make a option list later
                                if(partyTypePairs.length)
                                    PartyRelations.items.push({ PartyTypeId: @partyTypeModel.Key.Id,"partyTypePairs":partyTypePairs});
                        </script>
                        <option value="@partyTypeModel.Key.Id">@partyTypeModel.Key.Title</option>
                    }
                </select>
                    <img src="@Url.Content(Themes.GetResourcePath("Styles/Default", "loading.gif"))" style="display:none" id="imgPartyCustomeAttrLoading" />
                }
                else
                {
                    <span>@Model.Party.PartyType.Title</span>
                }

            </td>
        </tr>
    </table>
    <div id="divPartyCustomAttr"></div>
    <div id="divPartyRelationships"></div>
    <div class="form-group">
        <div class="">
            <button type="submit" id="submitRegisteration" name="submit" value="saveDataset" onclick="return submitForm()" class="t-button function" >Save</button>
        </div>
    </div>

}
<script>

    var $loadingImg=$('#imgPartyCustomeAttrLoading');
    var $registerationBtn=$('#submitRegisteration');
    thisobject=this;
    function submitForm()
    {
        $("#frmParty").valid();
        if ($("#frmParty").find(".input-validation-error:visible").length)
            return false;
        PartyTypeId=$("#ddl_PartyType").val();
        var customAttributeValues=[];
        $("[name^='partyCustomAttributeValues']").each(function (index) {
            if (this.type == "radio" && !this.checked == true) {
                // do nothing for unchecked radio fields
            }
            else {
                customAttributeValues.push({ Key: parseInt($(this).attr("Id").replace(/[^0-9\.]/g, ''), 10) + '', Value: $(this).val() });
            }
        });
     
        $(".partyTypeRelation").each(function(){
            $(this).attr("Id");
            $(this).find("option:selected").val();
        });
        relations=[];
        $(".partyTypeRelation:visible").each(function(index,item)
        {
            TargetPartyId=parseInt($(this).find("option:selected").val());
            if(TargetPartyId!=-1)
            {
                relations.push({TargetParty:{Id:TargetPartyId},
                    PartyRelationshipType:{Id:parseInt($(item).attr("partyrelationshipid"))},
                    PartyTypePair:{Id:parseInt($(item).attr("partyTypePairId"))},
                    Title:$(this).find("label").text(),
                    Description:'',
                    
                    Scope:''});
            }
        });
        $.post("/BAM/PartyService/CreateUserParty",
               {
                   party:
                    {
                        //StartDate:  new Date().toJSON(),EndDate:endDate,
                        PartyType:{Id:parseInt($("#ddl_PartyType").val())}
                    }
                   ,
                   partyCustomAttributeValues:customAttributeValues,
                   partyRelationships:relations,
                   callBackUrl: ""

               } ,function(data){
                   window.location="/home";
               }).error(function(data) {
                   alert("error: "+data[0]);
               });
        return false;
    }

    function showLoading(enable)
    {
        if(enable)
        { $loadingImg.show();  $registerationBtn.hide();
        }
        else
        {
            $loadingImg.hide();
            $registerationBtn.show();
        }
    }

    function checkPartyConditions() {
        $("[name='condition']").each(function (index, element) {
            condition = $(this).attr("condition");
            if (condition.length) {
                var cond = parsePartyCondition(condition);
                if (eval(cond)) {
                    $(element).show();
                    $(element).find('input').prop("disabled", false); // set enabled to tell jquery-validation to use
                }
                else {
                    $(element).hide();
                    $(element).find('input').prop("disabled", true); // set disabled to tell jquery-validation to ignore
                }
            }
        });

    }

    function changePartyType() {
        
        partyTypeId = $("#ddl_PartyType").val();
        showLoading(true);
        //Retrieving custome attribute types
        $('#divPartyCustomAttr').load('/BAM/PartyService/LoadPartyCustomAttr/' + partyTypeId+'?userReg=true&partyId='+@(Model.Party!=null ? Model.Party.Id:0), function (response, status, xhr) {
            if (status == "error") {
                $('#divPartyCustomAttr').html("");
                alert(response);
            }
            showLoading(false);
            $('#tblPartyCustomAttributes').on('partyCustomAttributesChanged',
                         function (objectEvent, args) {
                             checkPartyRelationshipConditions();
                         });
        });

        //create party relationship element and related parties options
        //Note: PartyRelations is filled in Razor
        var data=PartyRelations.items.filter(function (i,n){
            return PartyRelations.items[n].PartyTypeId==partyTypeId;
        });
        elements="";

        $("#divPartyRelationships").html("");
        $.each(data, function(i, item) {
            $.each(item.partyTypePairs, function (i, partyTypePair) {
                var validate = "false";
                var asterix = "";
                var padding = "50";
                var width = "240";
                if (partyTypePair.MinCardinality > 0) {
                    validate = "true";
                    asterix = '<b title="Required" style="color: red">*</b>';
                    padding = "40";
                    width = "234";
                }
                elements += "<div style='border-bottom:thin solid #ebebeb' conditionSource='" + partyTypePair.conditionSource + "' class='partyTypeRelation' PartyRelationshipId='" + partyTypePair.PartyRelationshipId + "' partyTypePairId='" + partyTypePair.Id + "'>" + asterix + "<div style='display: inline-block; width: " +width + "px; padding-left: "+ padding + "px; padding-bottom: 20px; padding-top: 10px;'><label>" + partyTypePair.Title + "</label></div><div style='display:inline-block;padding-left: 7px;'><select name='typeid" + partyTypePair.Id +"' id='ddl_PartyTypePairId'  class='comboboxBootstrap' style='width: 372px; border: 2px solid black; height: 30px;' data-val='" + validate + "'  data-val-selectvalidation='This field is required'>";
                elements +="<option value='-1'>---</option>";
                $.each(partyTypePair.parties, function(i, Party) {
                    elements +="<option value='"+Party.Id+"'>"+Party.Name+"</option>";
                  
                });
                elements += "</select></div><span class='field-validation-valid' data-valmsg-for='typeid" + partyTypePair.Id+"' data-valmsg-replace='true'></span></div>";
            });
        });
        $("#divPartyRelationships").append(elements);
    }

    function checkPartyRelationshipConditions()
    {
        $("#divPartyRelationships .partyTypeRelation").each(function(i, element) {
            if(eval(parsePartyCondition($(element).attr("conditionSource"))))
                $(element).show();
            else
                $(element).hide();
        });
    }



    $(function () {
        //parsing the unobtrusive attributes when we get content via ajax
        $(document).ajaxComplete(function () {
            var $form = $("#frmParty");
            // Unbind existing validation
            $form.unbind();
            $form.data("validator", null);
            // Check document for changes
            $.validator.unobtrusive.parse(document);
            // Re add validation with changes
            $form.validate($form.data("unobtrusiveValidation").options);
        });
    });

    $('form').submit(function () {
    if ($(this).valid()) {
        $(':submit', this).attr('disabled', 'disabled');
    }
    });


</script>
@if (Model.Party == null)
{
    <script>
        changePartyType(@Model.PartyRelationshipsTypes.First().Key.Id);
    </script>
}
else
{
    <script>
        showLoading(true);
        //Retrieving custome attribute types
        $('#divPartyCustomAttr').load('/BAM/PartyService/LoadPartyCustomAttr/' + @Model.Party.PartyType.Id+'?userReg=true&partyId='+@Model.Party.Id, function (response, status, xhr) {
            if (status == "error") {
                $('#divPartyCustomAttr').html("")
                alert(response);
            }
            showLoading(false);
        });
    </script>
}
