@model BExIS.Web.Shell.Areas.RPM.Models.DomainConstraintModel

@using BExIS.Web.Shell.Areas.RPM.Helpers;
@using BExIS.Web.Shell.Areas.RPM.Models;

@using (Html.BeginCollectionItem("DomainConstraints"))
{ 
    <table class="bx-rpm-container bx-rpm-constrainTable" id="domainConstraint_@Model.Id">
        <tr>
            <td class="bx-rpm-constrainlabel">
                Domain
                @Html.HiddenFor(m=>m.Id, new { @id= "domain_id" })
            </td>
            <td class="bx-rpm-negated">
                <!--Negated-->
                <div class="bx-rpm-container">
                    <div class="bx-rpm-label">@Html.Label("invert")</div>
                    @Html.CheckBoxFor(m => m.Negated, new { @id = "domain_invert", onclick = "javascript:onPatternChange()" })
                </div>
            </td>
            <td class="bx-rpm-constrainValue">
                <div class="bx-rpm-container">
                    <div class="bx-rpm-label">@Html.Label("Terms")</div>
                    @Html.TextBoxFor(m => m.Terms, new {@id = "domain_terms", onkeyup = "javascript:onDomainChange()", onchange = "javascript:onDomainChange()" })
                </div>
                <div class="bx-function bx-info bx-disabled" title="@Model.FormalDescription" id="domain_FormalDescription"></div>
            </td>
            <td class="bx-rpm-constrainDesc">
                <div class="bx-rpm-container">
                    <div class="bx-rpm-label">@Html.Label("Description")</div>
                    @Html.TextBoxFor(m => m.Description, new { id = "domain_desc" })
                </div>
            </td>
            <td>
                <div>
                    <a class="bx bx-grid-function  bx-eraser" onclick="resetDomain(this)" id="@Model.Id" title="Erase Constraint"></a>
                </div>
            </td>
        </tr>
    </table>
}

<script type="text/jscript">

</script>

@*<script>

    $("#addDomainItem").unbind().click(function () {

    
        $.ajax({
            url: this.href,
            cache: false,
            success: function (html) { $("#domainItems").append(html); }
        });

        return false;
    });

    $("a.removeDomainItem").live("click", function () {
        $(this).parents("div.domainItem:first").remove();
        return false;
    });

</script>*@