@model BExIS.Modules.Rpm.UI.Models.MessageModel

@{ 
    string[] lines = Model.Message.Split('\n');
}

@if (!Model.hasMessage)
{
    <div class="bx-rpm-message" value="@Model.hasMessage" id="@Model.CssId">
        @Model.Message
        <div id="buttons">
            <button class="bx-button small function" onclick="messageWindowYes(@Model.CssId)" id="yesButton">Yes</button>
            <button class="bx-button small function" onclick="messageWindowCancel(@Model.CssId)" id="noButton">No</button>
        </div>
    </div>
}
else if (Model.hasMessage)
{
    <div class="bx-rpm-message" value="@Model.hasMessage" id="@Model.CssId">
        @foreach(string s in lines)
        {
            @s<br />
        }
        <div id="buttons">
            <button class="bx-button small function" onclick="messageWindowCancel(@Model.CssId)" id="okButton">OK</button>
        </div>
    </div>
}