@model BExIS.Web.Shell.Areas.RPM.Models.PatternConstraintModel

@using BExIS.Web.Shell.Areas.RPM.Helpers;

@using (Html.BeginCollectionItem("PatternConstraints"))
{ 
    <table class="bx-rpm-container bx-rpm-constrainTable" id="patternConstraint_@Model.Id">
        <tr>
            <td class="bx-rpm-constrainlabel">
                Pattern
                @Html.HiddenFor(m=>m.Id, new { @id= "pattern_id" })
            </td>
            <td class="bx-rpm-negated">
                <div class="bx-rpm-container">
                    <div class="bx-rpm-label">@Html.Label("invert")</div>
                    <!--Negated-->
                    @Html.CheckBoxFor(m => m.Negated, new { @id = "pattern_invert", onclick = "javascript:onPatternChange()" })
                </div>
            </td>
            <td class="bx-rpm-constrainValue">
                <div class="bx-rpm-container">
                    <div class="bx-rpm-label">@Html.LabelFor(m=>m.MatchingPhrase)</div>
                    @Html.TextBoxFor(m=>m.MatchingPhrase, new { @id = "pattern_phrase", onkeyup = "javascript:onPatternChange()", onchange = "javascript:onPatternChange()" })
                </div>
                <div class="bx-function bx-info bx-disabled" title="@Model.FormalDescription" id="pattern_FormalDescription"></div>
            </td>
            <td class="bx-rpm-constrainDesc">
                <div class="bx-rpm-container">
                    <div class="bx-rpm-label">@Html.Label("Description")</div>
                    @Html.TextBoxFor(m => m.Description, new { id= "pattern_desc" })
                </div>
            </td>
            <td>
                <div>
                    <a class="bx bx-grid-function bx-eraser" onclick="restPattern(this)" id="@Model.Id" title="Erase Constraint"></a>
                </div>
            </td>
        </tr>
    </table>
}
<script type="text/jscript">

</script>