@model Tuple<DataTable, int, StructuredDataStructure>
@using System.Data;
@using BExIS.Dlm.Entities.DataStructure;

@{
	int id = Model.Item2;
	StructuredDataStructure dataStructure = Model.Item3;
	
	GridPagerStyles pagerStyles = GridPagerStyles.PageSizeDropDown;
	pagerStyles |= GridPagerStyles.NextPreviousAndNumeric;
	pagerStyles |= GridPagerStyles.Numeric;


	int total = 0;
	if (ViewData["gridTotal"] != null)
	{
		total = (int)ViewData["gridTotal"];
	}
}

@(Html.Telerik().Grid<System.Data.DataRow>()
		.Name("PrimaryDataResultGrid")
			.DataBinding(dataBinding => dataBinding
				.Ajax()
				.Select("_CustomPrimaryDataBinding", "Data", new RouteValueDictionary { { "area", "DDM" },{"datasetID", id} })
			)
			.EnableCustomBinding(true)
				.HtmlAttributes(new { @class = "primaryDataResultGrid" })
			.ClientEvents(events => events
						 .OnLoad("PrimaryDataResultGrid_OnLoad")
					)
			.Columns(columns =>
			{
				for (int i = 0; i < Model.Item1.Columns.Count; i++)
				{
					DataColumn column = Model.Item1.Columns[i];

					//if (dataStructure.Variables.Where(p => p.Id.Equals(Convert.ToInt64(column.ColumnName))) != null)
					//{
					//    Variable sdvu = dataStructure.Variables.Where(p => p.Id.Equals(Convert.ToInt64(column.ColumnName))).FirstOrDefault();
						@*if (sdvu.Parameters.Count > 0)
						{
							// Variable has parameters
							columns.Template(
									@<text>                                                        
											<table cellspacing="0" class="data-row">
												<tr>
													<td>@item[column.ColumnName]</td>
													@foreach (Parameter p in sdvu.Parameters)
													{
														<td>@item[p.Label]</td>
													}
												</tr>
											</table>
										</text>)
									.HeaderTemplate(
										@<text>        
											<table cellspacing="0" class="data-header">
												<tr>
													<td colspan="2"><strong>@sdvu.Label</strong></td>
												</tr>
												<tr>
														<td>Value</td>
														@foreach (Parameter p in sdvu.Parameters)
														{
															<td>@p.Label</td>
														}
												</tr>
											</table>
											</text>)
									.Width(200);

						}
						else
							{*@
								string title;

								if (column.Caption == "")
								{
									title = column.ColumnName;
								}
								else
								{
									title = column.Caption;
								}

								columns.Bound(column.DataType, column.ColumnName)
									.Title(title)
									;
							@*}*@  
						
				  
					//}
				}

			})

			.Pageable(paging =>
				paging.PageSize(50)
					.Style(pagerStyles)
					.Position(GridPagerPosition.Both)
					.Total(total)
					)
			.Sortable()
			.Filterable()
			.ColumnContextMenu()
			.Groupable()

			)


<style type="text/css">

	.primaryDataResultGrid
	{
		position:absolute;
		top:60px;
	}
</style>    
<script type="text/javascript">

	function PrimaryDataResultGrid_OnLoad(e) {
		$('.t-grid .t-status').hide();
	}
</script>