@model BExIS.Web.Shell.Areas.DDM.Models.ShowPublishDataModel

@{
    List<string> datarepolist = Model.DataRepositories.Select(d => d.Name).ToList();
}


<div id="publishContentContainer" style="min-height: 200px">
    <div id="publishingOptionsContainer" style="text-align: -webkit-left;">


        @if (Model.EditRights)
        {

            <table>
                <tr>
                    <td style="width: 100px;">
                        @(Html.Telerik().DropDownList()
                              .Placeholder("Select")
                              .Name("SelectDataRepository")
                              .HtmlAttributes(new {title = "Select a repository for publishing this dataset"})
                              .ClientEvents(events => events.OnChange("onSelectDataRepositoryDropDownChange"))
                              .BindTo(new SelectList(datarepolist)))
                    </td>
                    <td style="width: 50px;">
                        <div id="preloader" style="display: none;">
                            <img src="../../../../Themes/Default/Styles/Default/preloader.GIF"/>
                        </div>
                    </td>
                    <td style="width: 100px;">
                        <button id="submitPublishBt" class="bx-button small function bx-disabled" onClick="onSubmitPublishBtClick(this)" disabled="disabled" title="Prepare Publication Package (NOTE: there is currently no direct submission in place)">Publish</button>
                    </td>

                    <td style="text-align: right">
                        <span id="requirementsContainer" >
                      
                        </span>
                    </td>
                </tr>
            </table>
        }
  
    </div>

    <div>
        <table>
            <tr>
                <th style="width: 60px;">Version</th>
                <th>Creation Date</th>
                <th>Data Repository</th>
                <th>Status</th>
                <th style="width: 30px;"></th>
            </tr>
            @if (Model.RepoFilesDictionary.Count > 0)
            {
                foreach (var file in Model.RepoFilesDictionary)
                {
                    <tr>
                        <td>@file.DatasetVersionId</td>
                        <td>@file.CreationDate.ToLocalTime()</td>
                        <td>@file.DataRepository.Name</td>
                        <td>no status available</td>
                        <td>
                            @if (Model.DownloadRights)
                            {
                                @Html.ActionLink(" ", "DownloadZip", "Data", new {datarepo = file.DataRepository.Name, datasetid = file.DatasetId, datasetversionid = file.DatasetVersionId}, new {@class = "bx bx-grid-function bx-download", title = "Download"})
                            }
                            else
                            {
                                <a class="bx bx-grid-function bx-download bx-disabled" disabled="disabled" title="You do not have permission to download this dataset."></a>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td>empty</td></tr>
            }
        </table>
    </div>



    <script type="text/javascript">

        $(document)
            .ready(function() {
                resetAllTelerikIconTitles();
            });


        function onSelectDataRepositoryDropDownChange(e) {

            var datarepo = e.value;
            var id = '@Model.DatasetId';

            $.post('@Url.Action("LoadDataRepoRequirementView", "Data", new RouteValueDictionary {{"area", "DDM"}})',
                { datarepo: e.value, datasetid: id },
                function(response) {
                    $("#requirementsContainer").html(response);

                    var jsonObject = {
                        "datarepo": e.value,
                        "datasetid": id
                    };

                    jQuery.ajax({
                        type: "POST",
                        url: "@Url.Action("CheckExportPossibility", "Data", new RouteValueDictionary {{"area", "DDM"}})",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: JSON.stringify(jsonObject),
                        success: function(data) {

                            var isMetadataConvertable = data.isMetadataConvertable;
                            var isMetadataValid = data.isMetadataValid;
                            var isDataConvertable = data.isDataConvertable;
                            var exist  = data.Exist;


                            if (isMetadataConvertable && isMetadataValid && isDataConvertable) {

                                $("#submitPublishBt").removeAttr("disabled");
                                $("#submitPublishBt").removeClass("bx-disabled");

                            } else {

                                if(!exist)
                                {
                                    $("#submitPublishBt").attr("disabled", "disabled");
                                    $("#submitPublishBt").addClass("bx-disabled");

                                    var message = "";

                                    if (!isMetadataConvertable) {
                                        message += "Metadata is not convertable. ";
                                    }

                                    if (!isMetadataValid) {
                                        message += "Metadata is not valid. ";
                                    }

                                    if (!isDataConvertable) {
                                        message += "Data is not convertable. ";
                                    }

                                    $("#requirementsContainer").text(message);
                                    $("#requirementsContainer").css("color", "#f24c24");
                                }

                            }


                        },
                        failure: function(errMsg) {
                            alert(errMsg);
                        }
                    });
                })

        }

        function onSubmitPublishBtClick(e) {

            $("#preloader").show();

            var id = @Model.DatasetId;

            //get selected value
            var input = $(".t-dropdown .t-input").text();

            //alert(input);

            $.post('@Url.Action("PrepareData", "Data", new RouteValueDictionary {{"area", "DDM"}})',
                { datasetid: id, datarepo: input },
                function(response) {
                    //alert(response);
                    $("#publishContentContainer").replaceWith(response);
                    $("#preloader").hide();

                });


        }
    </script>
    <style type="text/css">
        
        .t-content {
            text-align:left
        }

        .t-state-active {
            line-height:14pt
        }

    </style>
</div>