@model ShowPrimaryDataModel

@using BExIS.Modules.Ddm.UI.Models;

<div style="text-align:left; padding-bottom:5px;">
@if (Model.DownloadAccess && Model.FileList.Count > 0)
{
        @Html.ActionLink("Download all", "DownloadAllFiles", "Data", new { area = "ddm", id = @Model.DatasetId }, new { @class = "bx-button action " })
}
else
{
        <button class="bx-button bx-disabled" disabled>Download all</button>
}
</div>

@if (Model.DataStructureType == DataStructureType.Unstructured && Model.Data == null)
{
        <table>
            <tr>
                <th>
                    Filename
                </th>
                <th>
                    Type
                </th>
                <th>
                    Extention
                </th>
                <th>
                    File size
                </th>
                <th>
                </th>
            </tr>

        @foreach (BExIS.IO.BasicFileInfo cd in Model.FileList)
        {
                <tr>
                    <td>
                         @cd.Name
                    </td>
                    <td>
                        @cd.MimeType
                    </td>
                    <td>
                        @cd.Extention
                    </td>
                    <td>
                        @Html.Partial("_fileSizeView",cd.FileSize)
                    </td>
                    <td style="width:30px;">
                        @if (Model.DownloadAccess)
                        {
                            @Html.ActionLink(" ", "DownloadFile", "Data", new { area = "ddm",id=@Model.DatasetId,version=Model.VersionId, path = @cd.Uri, mimeType = cd.MimeType }, new { @class = "bx bx-grid-function bx-download" })
                        }
                        else
                        {
                            <div class="bx bx-grid-function bx-download bx-disabled" disabled></div>
                        }
                    </td>
                </tr>

        }
        </table>

}