@model BExIS.Web.Shell.Areas.DDM.Models.ShowDataModel

@using Telerik.Web.Mvc.UI;

@section Information
{
    Show Data contains a detailed view on the metadata, the data structure
    and the primary data of a dataset. Depending on dataset permissions you
    may also edit the metadata or download the primary data from here.
    <p>
        More information 
        @Html.ActionLink("here", "Index", "Help", new { id = 0 }, new { @class = "bx-informationLink", title="go to help", target="_blank"})
    </p>

}


<h2>@Model.Title ( @Model.Id )</h2>

@if(@Model != null)
{
    @(Html.Telerik().TabStrip()
            .Name("ShowDataTabStrip")
            .SelectedIndex(0)
            .Items(tabs =>
            {

                tabs.Add()
                    .Text("Metadata")
                    .LoadContentFrom("LoadMetadata", "CreateDataset", new { area = "DDM", datasetId = @Model.Id, locked = true, created= false, fromEditMode = false, resetTaskManager = true });
                
                tabs.Add()
                    .Text("Data Structure")
                    .LoadContentFrom("ShowPreviewDataStructure", "Data", new { area = "DDM", datasetID = @Model.Id });

                tabs.Add()
                    .Text("Primary Data")
                    .LoadContentFrom("ShowPrimaryData", "Data", new { area = "DDM", datasetID = @Model.Id })
                    .Enabled(@Model.ViewAccess);
            })
    )
}
