@model BExIS.Web.Shell.Areas.DDM.Models.ShowDataModel

@using Telerik.Web.Mvc.UI;

@section Information
{
    This is a detailed view on all parts of a dataset. Depending on your
    permissions your are able to view, edit, or download either the
    metadata, the primary data or the data structure.<br/>
    You may also set
    permissions for this particular dataset
   <p>
    <a href="/DDM/Help/Index/#_Toc451435014" class="bx-informationLink" title="go to help" target="_blank">More</a>
</p>

}

@{
    <script src="@Url.Content("~/Scripts/DCM/Form.js")" type="text/javascript"></script>
}



<h2>@Model.Title ( @Model.Id )</h2>

@if(@Model != null)
{
    if (ViewData.ModelState.IsValid)
    {

        @(Html.Telerik().TabStrip()
              .Name("ShowDataTabStrip")
              .SelectedIndex(0)

              .Items(tabs =>
              {

                  tabs.Add()
                      .Text("Metadata")
                      .LoadContentFrom("ShowMetadata", "Data", new {area = "DDM", entityId = @Model.Id, title = @Model.Title, metadatastructureId = @Model.MetadataStructureId, datastructureId = @Model.DataStructureId, researchplanId = @Model.ResearchPlanId, sessionKeyForMetadata = "ShowDataMetadata"})
                      .HtmlAttributes(new {id = "metadata"});


                  tabs.Add()
                      .Text("Primary Data")
                      .LoadContentFrom("ShowPrimaryData", "Data", new {area = "DDM", datasetID = @Model.Id})
                      .Enabled(@Model.ViewAccess)
                      .HtmlAttributes(new {id = "primarydata"});

                  tabs.Add()
                      .Text("Data Structure")
                      .LoadContentFrom("ShowPreviewDataStructure", "Data", new {area = "DDM", datasetID = @Model.Id})
                      .HtmlAttributes(new {id = "datastructure"});


                  tabs.Add()
                      .Text("Dataset Permissions")
                      .LoadContentFrom("Subjects", "Data", new {area = "DDM", dataId = @Model.Id})
                      .Enabled(@Model.GrantAccess)
                      .HtmlAttributes(new {id = "datapermissions"});


                  tabs.Add()
                      .Text("Publish")
                      .LoadContentFrom("publishData", "Data", new {area = "DDM", datasetId = @Model.Id})
                      .Enabled(@Model.ViewAccess)
                      .HtmlAttributes(new {id = "prepare"});

              })
              .ClientEvents(e => e.OnSelect("OnSelectShowDataTabStrip")))
    }
    else
    {
        @Html.ValidationSummary(true);
    }
}

<script type="text/javascript">


    $(document).ready(function () {
            resetAllTelerikIconTitles();
        });

    function existsRightType(rights, rightType) {
        if (jQuery.inArray(rightType, rights) != -1) {
            return true;
        }
        else {
            return false;
        }
    }

    function setDataPermission(value, rightType, subjectId, dataId, entityId) {
        if (value) {
            $.post('@Url.Action("CreateDataPermission", "Data")', { DataId: dataId, EntityId: entityId, SubjectId: subjectId, RightType: rightType }, function (e) {
                $("#Grid_Subjects .t-refresh").trigger('click');
            });
        } else {
            $.post('@Url.Action("DeleteDataPermission", "Data")',
                { DataId: dataId, EntityId: entityId, SubjectId: subjectId, RightType: rightType },
                function(e) {
                    $("#Grid_Subjects .t-refresh").trigger('click');
                });
        }
    }

    function OnSelectShowDataTabStrip(e) {

        console.log(e.item.id);

        if (e.item.id == "metadata") {

            $(".miniregion").show();
            $(".minimap").show();

            console.log("show map");

        } else {

            $(".miniregion").hide();
            $(".minimap").hide();
            console.log("hide map");
        }
    }


</script>