@using BExIS.Modules.Sam.UI.Models
@using Telerik.Web.Mvc.UI
@model TenantEditModel
@using (Ajax.BeginForm("Edit", "Tenants", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "contentEdit", OnSuccess = "tenantEdit_onSuccess" }))
{
    @Html.ValidationSummary(true)

    <table class="bx-table-form">
        <tr>
            <td>
                @Html.LabelFor(m => m.Id)
            </td>
            <td>
                @Html.DisplayFor(m => m.Id, new { @class = "t-input bx-input" })
                @Html.HiddenFor(m => m.Id)
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(m => m.ShortName)
            </td>
            <td>
                @Html.DisplayFor(m => m.ShortName, new { @class = "t-input bx-input" })
                @Html.HiddenFor(m => m.ShortName)
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(m => m.Description)
            </td>
            <td>
                @Html.DisplayFor(m => m.Description, new { @class = "t-input bx-input" })
                @Html.HiddenFor(m => m.Description)
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(m => m.IsDefault)
            </td>
            <td>
                @if (Model.IsDefault)
                {
                    <input type="checkbox" value="" disabled="disabled" checked="checked" class="js-switch" />
                    @Html.HiddenFor(m => m.IsDefault)
                }
                else
                {
                    @Html.CheckBoxFor(m => m.IsDefault, new {@class = "js-switch"})
                }
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(m => m.Status)
            </td>
            <td>
                @Html.CheckBoxFor(m => m.Status, new { @class = "js-switch" })
            </td>
        </tr>
    </table>

    <div class="bx-footer right">
        <button style="margin-right: 1px" type="submit" onclick="windowEdit_onSubmit()" class="bx-button action">Save</button>
        <button style="margin-left: 1px" type="button" onclick="windowEdit_onCancel()" class="bx-button action">Cancel</button>
    </div>

}

<script type="text/javascript">
    $(document).ready(function () {

        var checkboxes = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));

        checkboxes.forEach(function (html) {
            var switchery = new Switchery(html, { size: 'small' });
        });

        $.validator.unobtrusive.parse("#contentEdit");
    });
</script>