@model SetupModel
@using Telerik.Web.Mvc.UI
@using BExIS.Web.Shell.Areas.DCM.Models.CreateDataset;
@using BExIS.Web.Shell.Areas.DCM.Models;

@{ 
    List<ListViewItem> DatasetsList = new List<ListViewItem>();
    DatasetsList.Insert(0, new ListViewItem(-1, "New Dataset"));

    foreach (ListViewItem item in Model.DatasetViewList)
    {
        DatasetsList.Add(item);
    }

}

<div id="SetupContainer">
    @section Information
    {
        This wizard will assist you in creating a new dataset. Please select a data structure and a metadata structure below.
        <p>
            More information
            @Html.ActionLink("here", "Index", "Help", new { id = 0 }, new { @class = "bx-informationLink", title = "go to help", target = "_blank" })
        </p>
    }

    <p>Please provide the following information.</p>
    @using (Html.BeginForm("StoreSelectedDatasetSetup", "CreateDataset", new { area = "DCM" }, FormMethod.Post))
    {
        <table>
            <tr>
                <td style="width:300px;">
                    @Html.LabelFor(m => m.SelectedDatasetId)
                </td>
                <td>
                    @if (Model.BlockDatasetId)
                    {
                        string title = Model.DatasetViewList.Where(ms => ms.Id.Equals(Model.SelectedDatasetId)).FirstOrDefault().Title;
                        @Html.HiddenFor(m => m.SelectedDatasetId)
                        @Html.Label(title);
                    }
                    else
                    {
                        @(Html.Telerik().DropDownList()
                                .Name("SelectedDatasetId")
                                .SelectedIndex(0)
                                .BindTo(new SelectList(DatasetsList, "Id", "Title", Model.SelectedDatasetId))
                                .ClientEvents(events => events.OnChange("datasetChange"))
                            )

                        @Html.ValidationMessageFor(m => m.SelectedDatasetId)
                    }
                </td>
                <td>
                    <div id="datasetsContainer">
                        @Ajax.ActionLink("Select", "ShowListOfDatasets", "CreateDataset", new RouteValueDictionary { { "area", "DCM" } },
                            new AjaxOptions
                            {
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "datasetWindowContainer"
                            },
                            new { @class = "t-button", @style = "float:right" })
                    </div>
                    <div id="datasetWindowContainer"></div>
                    @*@Html.Partial("_EnititySelectorView", BexisModelManager.LoadEntitySelectorModel<ListViewItem>(Model.DatasetViewList,"Id","myTest"))*@
                </td>
            </tr>
            <tr>
                <td style="width:300px;">
                    @Html.LabelFor(m => m.SelectedDataStructureId) <span class="bx bx-required" title="Required"></span>
            </td>
            <td>
                @if (Model.BlockDatastructureId)
                {
                    string title = Model.DataStructureViewList.Where(ms => ms.Id.Equals(Model.SelectedDataStructureId)).FirstOrDefault().Title;
                    @Html.HiddenFor(m => m.SelectedDataStructureId)
                    @Html.Label(title);
                }
                else
                {
                    @(Html.Telerik().DropDownList()
                                .Name("SelectedDataStructureId")
                                .Placeholder("Select, please")
                                .SelectedIndex(0)
                                .ClientEvents(events => events.OnChange("onChange"))
                                .BindTo(new SelectList(Model.DataStructureViewList, "Id", "Title", Model.SelectedDataStructureId))
                                .ClientEvents(e => e.OnChange("onChangeDataStructure"))
                    )

                    @Html.ValidationMessageFor(m => m.SelectedDataStructureId)
                }
            </td>
            <td>
                <div id="datastructuresContainer">
                    @Ajax.ActionLink("Select", "ShowListOfDataStructures", "CreateDataset", new RouteValueDictionary { { "area", "DCM" } },
                        new AjaxOptions
                        {
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "datastructureWindowContainer"
                        },
                        new { @class = "t-button", @style = "float:right" })
                </div>
                <div id="datastructureWindowContainer"></div>
            </td>
        </tr>
        <tr>
            <td style="width:300px;">
                @Html.LabelFor(m => m.SelectedMetadataStructureId) <span class="bx bx-required" title="Required"></span>
            </td>
        <td>
            @if (Model.BlockMetadataStructureId)
            {
                string title = Model.MetadataStructureViewList.Where(ms => ms.Id.Equals(Model.SelectedMetadataStructureId)).FirstOrDefault().Title;
                @Html.HiddenFor(m=>m.SelectedMetadataStructureId)
                @Html.Label(title);
            }
            else
            {

                @(Html.Telerik().DropDownList()
                        .Name("SelectedMetadataStructureId")
                        .Placeholder("Select, please")
                        .SelectedIndex(0)
                        .BindTo(new SelectList(Model.MetadataStructureViewList, "Id", "Title", Model.SelectedMetadataStructureId))
                        .ClientEvents(e=>e.OnChange("onChangeMetadataStructure"))
                )
               @Html.ValidationMessageFor(m => m.SelectedMetadataStructureId)
            }
        </td>
            <td>
                <div id="metadatastructuresContainer">
                    @Ajax.ActionLink("Select", "ShowListOfMetadataStructures", "CreateDataset", new RouteValueDictionary { { "area", "DCM" } },
                        new AjaxOptions
                        {
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "metadatadatastructureWindowContainer"
                        },
                        new { @class = "t-button", @style = "float:right" })
                </div>
                <div id="metadatadatastructureWindowContainer"></div>
            </td>
    </tr>
</table>

        <br />
        <button type="submit" value="Save" name="saveDataset" class="bx-button function" style="border:0px;">Next</button>

    }
</div>


<script type="text/javascript">

    function datasetChange(e) {


        var id;

        if ($(this).val() == "")
            id = -1;
        else
            id =  $(this).val();

        //alert(id);

        $.post('@Url.Action("StoreSelectedDataset","CreateDataset" , new RouteValueDictionary { { "area", "DCM" } })', { id: id }, function (response) {
           $("#SetupContainer").replaceWith(response);
           resetAllTelerikIconTitles();
           truncateTitle();
       })
    }

    function onChangeMetadataStructure()
    {
        var id;

        if ($(this).val() == "")
            id = -1;
        else
            id = $(this).val();

        $.post('@Url.Action("StoreSelectedOption", "CreateDataset" , new RouteValueDictionary { { "area", "DCM" } })', { id: id, type:"ms" }, function (response) {

        })
    }


    function onChangeDataStructure() {

        var id;

        if ($(this).val() == "")
            id = -1;
        else
            id = $(this).val();

        $.post('@Url.Action("StoreSelectedOption", "CreateDataset" , new RouteValueDictionary { { "area", "DCM" } })', { id: id, type: "ds" }, function (response) {

        })
    }

</script>