@model SetupModel
@using Telerik.Web.Mvc.UI
@using BExIS.Web.Shell.Areas.DCM.Models.CreateDataset;

@section Information
{
   This wizard will assist you in creating a new dataset. Please select a data structure and a metadata structure below.
    <p>
        More information 
        @Html.ActionLink("here", "Index", "Help", new { id = 0 }, new { @class = "bx-informationLink", title="go to help", target="_blank"})
    </p>
}

<p>Please provide the following information.</p>
@using (Html.BeginForm("StoreSelectedDatasetSetup", "CreateDataset", new {area = "DCM"},FormMethod.Post))
{
        <table>
            <tr>
                <td style="width:300px;">@Html.LabelFor(m=>m.SelectedDataStructureId) <span class="bx bx-required" title="Required"></span>
                </td>
                <td >
                    @(Html.Telerik().DropDownList()
                        .Placeholder("Select, please")
                        .Name("SelectedDatastructureId")
                        .BindTo(new SelectList(Model.DataStructureViewList, "Id", "Title", Model.SelectedDataStructureId)))

                    @*@Html.DropDownListFor(m => m.SelectedDatastructureId, new SelectList(Model.DatastructuresViewList,"Id","Title",Model.SelectedDatastructureId),"Select, please", new { @class="bx-dropdown" })*@
                    @Html.ValidationMessageFor(m => m.SelectedDataStructureId)
                </td>
            </tr>
             <tr>
                <td style="width:300px;">@Html.LabelFor(m=>m.SelectedMetadataStructureId) <span class="bx bx-required" title="Required"></span>
                </td>
                <td >
                    @(Html.Telerik().DropDownList()
                        .Placeholder("Select, please")
                        .Name("SelectedMetadataStructureId")
                        .BindTo(new SelectList(Model.MetadataStructureViewList, "Id", "Title", Model.SelectedMetadataStructureId)))
                    @*@Html.DropDownListFor(m => m.SelectedMetadatStructureId, new SelectList(Model.MetadataStructureViewList,"Id","Title",Model.SelectedMetadatStructureId),"Select, please", new { @class="bx-dropdown" })*@
                    @Html.ValidationMessageFor(m => m.SelectedMetadataStructureId)
                </td>
            </tr>
        </table>
 <br />
    <button type="submit" value="Save" name="saveDataset"  class="bx-button function" style="border:0px;" >Next</button>
       
}


<script type="text/javascript">

    $("#SelectedMetadataStructureId").change(function (e)
    {
        $.post('@Url.Action("StoreSelectedOption","CreateSelectDatasetSetup" , new RouteValueDictionary { { "area", "DCM" } })', { id: $(this).val(), type: "ms" }, function (response) {
            
        })
    })

    $("#SelectedDatastructureId").change(function (e)
    {
        $.post('@Url.Action("StoreSelectedOption","CreateSelectDatasetSetup" , new RouteValueDictionary { { "area", "DCM" } })', { id: $(this).val(), type: "ds" }, function (response)
        {

        })
    })

</script>