@using Telerik.Web.Mvc.UI
@using BExIS.Modules.Rpm.UI.Models
@model long

<script src="@Url.Content("~/Areas/RPM/BExIS.Modules.Rpm.UI/Scripts/2013.2.611/telerik.common.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Areas/RPM/BExIS.Modules.Rpm.UI/Scripts/2013.2.611/telerik.draganddrop.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Areas/RPM/BExIS.Modules.Rpm.UI/Scripts/2013.2.611/telerik.window.min.js")" type="text/javascript"></script>

<link href="@Url.Content("~/Areas/RPM/BExIS.Modules.Rpm.UI/Stylesheets/DataStructure.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Areas/RPM/BExIS.Modules.Rpm.UI/Stylesheets/DataStructureEdit.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Areas/RPM/BExIS.Modules.Rpm.UI/Scripts/isotope.pkgd.min.js")"></script>
<script src="@Url.Content("~/Areas/RPM/BExIS.Modules.Rpm.UI/Scripts/packery.pkgd.bexis.min.js")"></script>
<script src="@Url.Content("~/Areas/RPM/BExIS.Modules.Rpm.UI/Scripts/draggabilly.pkgd.min.js")"></script>

@section Information
{
    The Data Structure Manager is a tool to create, modify and delete Data Structures. Data Structures contain Variables, which are specific instances of Data Attributes.
    It is possible to create Data Structures for structured data (Excel tables, CSV-Files ...) and for unstructured data (images, videos ...).
    <p>
        <a href="/RPM/Help/Index/#_Toc434570753" class="bx-informationLink" title="go to help" target="_blank">More</a>
    </p>
}

<div id="SearchResult">
    <h3 class="bx-rpm-loading"><span class="fa fa-spinner fa-pulse"></span> Loading Variables</h3>
</div>
<div id="DataStructure">
    <h3 class="bx-rpm-loading"><span class="fa fa-spinner fa-pulse"></span> Loading Data Structure
    @if (Model > 0)
    {
        <span> @Model</span>
    }
    </h3>
</div>

<script type="text/javascript">
    var heightX = 80;

    $(function () {
        $.get('@Url.Action("_attributeResultBinding", "DataStructureEdit", new { area = "RPM"} )', function (data) {
            $('#SearchResult').html(data);
            $.get('@Url.Action("_dataStructureBinding", "DataStructureEdit", new { area = "RPM", dataStructureId = Model} )', function (data) {
                $('#DataStructure').html(data);
            });
        });     
    });

    function scrollDown(outerDiv, innerDiv, stopPos) {
        if (innerDiv == null) 
            innerDiv = outerDiv;
        
        if (stopPos == null)
            stopPos = innerDiv.height() - outerDiv.height();

        var pos = outerDiv.scrollTop();
        if (pos < stopPos) {
            setTimeout(function () {
                outerDiv.scrollTop(pos += speed);
                speed += 15;
                scrollDown(outerDiv, innerDiv);
            }, 1);
        }
        else {
            speed = 5;
        }
    }

    function scrollUp(outerDiv, innerDiv, stopPos) {
        if (!innerDiv == null) 
            innerDiv = outerDiv;
        
        if (stopPos == null)
            stopPos = 0;


        var pos = outerDiv.scrollTop();
        if (pos > 0) {
            setTimeout(function () {
                outerDiv.scrollTop(pos -= speed);
                speed += 15;
                scrollUp(outerDiv, innerDiv);
            }, 1);
        }
        else {
            speed = 5;
        }
    }

    function onCliclCheckbox(e) {
        if (e.hasAttribute('checked'))
            e.removeAttribute('checked');
        else
            e.setAttribute('checked', 'checked');
    }

    function createMessageWindow(data, title, type, id) {
        var windowElement = $.telerik.window.create({
            title: title,
            html: data,
            contentUrl: "",
            actions: ["Close"],
            modal: true,
            resizable: false,
            draggable: true,
            scrollable: false,
            onClose: function () {
                $("#messageWindow").data('tWindow').destroy();
            }
        });

        windowElement.attr('id', 'messageWindow');
        windowElement.attr('type', type);
        windowElement.attr('value', id);
        var window = $(windowElement).data('tWindow');
        window.center().open();

        resetAllTelerikIconTitles();
    }

    function messageWindowCancel(id) {
        if ($("#messageWindow").attr('type')) {
            if ($("#messageWindow").attr('type').toLowerCase() == 'datastructure') {
                if ($("#messageWindow").length > 0) {
                    $("#messageWindow").data('tWindow').destroy();
                }
                if ($("#windowCreate").length > 0) {
                    $("#windowCreate").fadeToggle('fast');
                }
                if (id == "" || id == 0) {
                    window.location.href = "/RPM/DataStructureSearch";
                }
            }
            else if ($("#messageWindow").attr('type').toLowerCase() == 'dataattribure') {
                if (id == "" || id == 0) {
                    $('.bx-rpm-attribute-functions #removeattribute').attr('value', $('#messageWindow').attr('value'))
                    $('.bx-rpm-attribute-functions #removeattribute').trigger('click');
                }
                $("#messageWindow").data('tWindow').destroy();
            }
        }
        else {
            $("#messageWindow").data('tWindow').destroy();
        }
    }

    function messageWindowYes(id) {
        var parameters = encodeURI('/?Id=' + id);
        if ($("#messageWindow").attr('type').toLowerCase() == 'datastructure') {
            $.get('@Url.Action("deleteDataStructure", "DataStructureEdit")' + parameters, function (data) {
                if ($(data).hasClass('bx-rpm-message') && $(data).attr('value').toLowerCase() == 'true') {
                    $(data).replaceWith('.bx-rpm-message #' + id);
                }
                else if ($(data).hasClass('bx-rpm-message') && $(data).attr('id') == 'deleted') {
                    if ($("#messageWindow").length > 0) {
                        $("#messageWindow").data('tWindow').destroy();
                    }
                    if ($("#windowCreate").length > 0) {
                        $("#windowCreate").fadeToggle('fast');
                    }
                    changed = false;
                    window.location.href = "/RPM/DataStructureSearch";
                }
            });
        }
        else if ($("#messageWindow").attr('type').toLowerCase() == 'dataattribure') {
            $.get('@Url.Action("deleteDataAttribute", "DataStructureEdit")' + parameters, function (data) {
                if ($(data).hasClass('bx-rpm-message') && $(data).attr('value').toLowerCase() == 'true') {
                    $(data).replaceWith('.bx-rpm-message #' + id);
                }
                else if ($(data).hasClass('bx-rpm-message') && $(data).attr('id') == 'deleted') {
                    $('.bx-rpm-attribute-functions #removeattribute').attr('value', $('#messageWindow').attr('value'));
                    $('.bx-rpm-attribute-functions #removeattribute').trigger('click');
                    $("#messageWindow").data('tWindow').destroy();
                }
            });
        }
    }

    function concatValues(obj) {
        var value = '';
        for (var prop in obj) {
            if (prop == 0) {
                value = '.' + obj[prop];
            }
            else {
                value += ', .' + obj[prop];
            }
        }
        return value;
    }
</script>