@using BExIS.Dlm.Entities.Data;
@model System.Collections.Generic.List<Dataset>
@{
    ViewBag.Title = "List of Datasets";
}
<h3>Datasets</h3>
<table>
    <tr>
        <td>ID</td>
        <td>Status</td>
        <td>Actions</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@(item.Id)</td>

            @if (item.Status == DatasetStatus.CheckedIn)
            {
                <td style="color: darkgreen">@(item.Status.ToString())</td>
                <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id, area = "Sam" })  | @Html.ActionLink("Purge", "Purge", new { id = item.Id, area = "Sam" }) | @Html.ActionLink("Versions", "Versions", new { id = item.Id, area = "Sam" }) </td>
            }
            else if (item.Status == DatasetStatus.CheckedOut)
            {
                <td style="color: darkblue">@(item.Status.ToString())</td>
                <td>@Html.ActionLink("Purge", "Purge", new { id = item.Id }) | @Html.ActionLink("Versions", "Versions", new { id = item.Id, area = "Sam" }) </td>
            }
            else if (item.Status == DatasetStatus.Deleted)
            {
                <td style="color: red">@(item.Status.ToString())</td>
                <td>@Html.ActionLink("Purge", "Purge", new { id = item.Id, area = "Sam" }) </td>
            }
        </tr>
    }
</table>