@using BExIS.Dlm.Entities.Data;
@using BExIS.Dlm.Entities.DataStructure;
@model List<AbstractTuple>

@{
    ViewBag.Title = "Detail Dataset Version";
}

<h3>Dataset version @ViewBag.VersionId detail</h3>
<p/>
@Html.ActionLink("Return to the versions", "Versions", "Dataset", new {id = ViewBag.DatasetId, area ="Sam" })

<table>
    <tr>
        <td>ID</td>
        <td>Source</td>
        <td>Change Type</td>
        @foreach (Variable variable in ViewBag.Variables)
        {
            <td>@variable.Label</td>
        }
    </tr>
@foreach (var tuple in Model)
{
    <tr>
        <td>@(tuple.Id)</td>
        <td>@(tuple.TupleType)</td>
        <td>@(tuple.TupleAction.ToString())</td>
        @foreach (Variable variable in ViewBag.Variables)
        {
            var value = tuple.VariableValues.Where(p => p.VariableId == variable.Id).FirstOrDefault();
            if(value != null)
            {
                <td>@value.Value</td>
            }
            else
            {
                if(variable.IsValueOptional){ <td style="background-color: green">No Value</td>} else {<td style="background-color: red">No Value</td>}                
            }
        }
    </tr>    
}
</table>
<p/>
@Html.ActionLink("Return to the versions", "Versions", "Dataset", new {id = ViewBag.DatasetId, area ="Sam" })
