@model BExIS.Modules.Dcm.UI.Models.PrimaryKeyViewModel
@using BExIS.Modules.Dcm.UI.Models;


<div id="Step4" class="uploadWizardStep">
    <div class="uploadWizardStep_Main">
        <div class="uploadWizardStep_Header stepper">
            <h3>@Model.StepInfo.title</h3>
        </div>

        <div class="uploadWizardStep_Description stepper">
            <p>

            </p>
        </div>

        <div id="variableCheckBoxList" class="uploadWizardStep_Content stepper">


                @foreach (ListViewItem s in Model.VariableLableList)
                {
                

                    if (Model.PK_Id_List != null)
                    {
                        if (Model.PK_Id_List.Contains(s.Id))
                        {
                             @Html.CheckBox(@s.Title,true)  <b>@s.Title</b> <br />
                        }
                        else { 
                        
                         @Html.CheckBox(@s.Title,false)  <b>@s.Title</b> <br />
                        }
                    }
                    else
                    {
                        @Html.CheckBox(@s.Title, false)  <b>@s.Title</b>  <br />
                    }


                }

             <br />
            <p>
                <button id="checkButton" title="Check selected variables form primary key" class="function">Check</button>
                <button id="none" type="button" class="bx-button function" value="none" name="button" onclick="DefinePrimaryKey_OnClickNone()">None</button>
                <button id="all" type="button" class="bx-button function" value="all" name="button" onclick="DefinePrimaryKey_OnClickAll()">All</button>
            </p>
             
        </div>
    </div>
 
    <div class="uploadWizardStep_Success stepper">

        @if (Model != null)
        {
            if (Model.ErrorList.Count == 0)
            {
                // if primary keys unique
                if (Model.IsUnique)
                { 
                    <ul>
                        <li>Primarykeys :</li>
                        @foreach (ListViewItem s in Model.PrimaryKeysList)
                        { 
                            <li>@s.Title.ToString()</li>
                        }
                 
                        <li>
                            Unique!!!
                        </li>

                    </ul>
                }
            }
        }

    </div>

    <div class="uploadWizardStep_Error stepper">
        @if (Model != null)
        {

            if (Model.ErrorList != null)
            {
                if (Model.ErrorList.Count == 0)
                {


                }
                else
                { 
                   <ul>
                        @foreach (BExIS.IO.Transform.Validation.Exceptions.Error s in @Model.ErrorList)
                        { 
                            <li>@s.ToString()</li>
                        }
                   </ul>

                }
            }

        }
    </div>   
</div>

<script type="text/javascript">

    function DefinePrimaryKey_OnClickAll() {
        $("#Step4").find("input:checkbox")
                                .attr("checked", true);
    }

    function DefinePrimaryKey_OnClickNone() {
        $("#Step4").find("input:checkbox")
                                    .attr("checked", false);
        }

    $('#checkButton').click(function () {

        var selected = new Array();

        $('#variableCheckBoxList input:checked').each(function () {
            selected.push($(this).attr('name'));
        });

        //alert(selected);
        $('#preloader').show();

        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(selected),
            dataType: 'html',
            url: '@Url.Action("CheckPrimaryKeys", @Model.StepInfo.GetActionInfo.ControllerName, new RouteValueDictionary { { "area", @Model.StepInfo.GetActionInfo.AreaName } })',
            success: function (result) {
    
                $("#Step4").html(result);
                $('#preloader').hide();
            }
        });

       
    });

</script>
