@using BExIS.Web.Shell.Areas.Auth.Models;

@{
    ViewBag.Title = "Dataset Permissions";
}


@model EntitySelectListModel

<style>
    #Grid_Datasets .t-grid-content
    {
       height: auto !important;
       max-height: 202px !important;
    }

    #Grid_Subjects .t-grid-content
    {
       height: auto !important;
       max-height: 202px !important;
    }
</style>

@*@Html.DropDownList("Entity", new SelectList(Model.EntityList, "Id", "Name"), "-- SELECT --", new { id = "Entities"})*@

<div id="Content_Data">@Html.Partial("_DatasetsPartial")</div>

<div id="Content_Subjects"></div>


<script type="text/javascript">
@*    $("#Entities").change(function () {
        var entityId = $(this).val();

        $.get('@Url.Action("Entities_OnSelect", "DataPermissions")', { EntityId: entityId }, function (data) {
            $('#Content_Data').html(data);
        });
    });*@

    function OnRowSelected(e) {
        var dataId = $('#Content_Data .t-grid').data('tGrid').dataItem(e.row)['Id'];
        //var entityId = $("#Entities").val();

        $('#Content_Subjects').empty();

        $.get('@Url.Action("Subjects", "DataPermissions")', { DataId: dataId, EntityId: 1 }, function (data) {
            $('#Content_Subjects').html(data);
        });
    }

    function existsRightType(rights, rightType) {
        if(jQuery.inArray( rightType, rights ) != -1)
        {
            return true;
        }
        else
        {
            return false;
        }
    }

    function setDataPermission(value, rightType, subjectId, dataId, entityId) {
        if (value) {
            $.post('@Url.Action("CreateDataPermission", "DataPermissions")', { DataId: dataId, EntityId: entityId, SubjectId: subjectId, RightType: rightType }, function (e) {
                $("#Grid_Subjects .t-refresh").trigger('click');
            });
        } else {
            $.post('@Url.Action("DeleteDataPermission", "DataPermissions")', { DataId: dataId, EntityId: entityId, SubjectId: subjectId, RightType: rightType }, function (e) {
                $("#Grid_Subjects .t-refresh").trigger('click');
            });
        }
    }
</script>