@using BExIS.Web.Shell.Areas.RPM.Models

<div class="bx-rpm-createDataStructureContainer" id="createDataStructureContainer">
    @Html.Hidden("id", 0, new { @id = "id" })
    <table>
        <tr>
            <td>
                Name
            </td>
            <td>
                <span title="The name will be used for a new Data Structure">
                    @Html.TextBox("Name", "", new { @class = "bx-input", @id = "name" })
                </span>
            </td>
            <td class="hidden" id="messageContainer">
                <span id="message" class="bx-rpm-message" value="none"></span>
            </td>
        </tr>
        <tr>
            <td>
                Description
            </td>
            <td>
                @Html.TextArea("Description", new { @class = "bx-input", @id = "description" })
            </td>
            <td class="hidden" id="messageContainer"></td>
        </tr>
        <tr id="isSructuredContainer">
            <td>
                Data Format
            </td>
            <td class="bx-rpm-isSructured">
                <div>Tabular @Html.RadioButton("isSructured", true, new { @class = "true" })</div>
                <div>File @Html.RadioButton("isSructured", false, new { @class = "false" })</div>
            </td>
            <td class="hidden" id="messageContainer"></td>
        </tr>
    </table>
    <div id="buttons">
        <button class="bx-button small action bx-disabled" id="saveButton" disabled="disabled">Save</button>
        <button class="bx-button small action" id="cancelButton">Cancel</button>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        if ($('.bx-rpm-createDataStructureContainer #id').val() > 0) {
            $('.bx-rpm-createDataStructureContainer #isSructured.false').isChecked('checked', true);
        }
        else{
            $('.bx-rpm-createDataStructureContainer #isSructured.true').attr('checked', true);
        }
    });

    $('.bx-rpm-createDataStructureContainer #saveButton').click(function () {
        var parameters = '/?Id=' + $('.bx-rpm-createDataStructureContainer #id').val() + '&Name=' + $('.bx-rpm-createDataStructureContainer #name').val() + '&Description=' + $('.bx-rpm-createDataStructureContainer #description').val() + '&isSructured=' + $('.bx-rpm-createDataStructureContainer #isSructured:checked').val() + '&cssId=message';
        $.get('@Url.Action("createDataStructure", "DataStructureSearch", new { area = "RPM"} )' + parameters, function (data){
            if ($(data).hasClass('bx-rpm-message') && $(data).attr('id') == 'message') {
                $(data).replaceAll('.bx-rpm-createDataStructureContainer #' + $(data).attr('id'));
                showmessage($(data).attr('value').toLowerCase());
            }
            else if ($(data).hasClass('bx-rpm-message') && $(data).attr('id') == 'redirect') {
                window.location.href = $(data).text();
            }
            else if ($(data).hasClass('bx-rpm-message') && $(data).attr('id') == 'refresh') {
                $("#windowCreate").data('tWindow').destroy();
                $("#bx-rpm-dataStructureResultGrid .t-refresh").trigger('click');
            }
        });
    });

    $('.bx-rpm-createDataStructureContainer #cancelButton').click(function () {
        $("#windowCreate").data('tWindow').destroy();
        $("#bx-rpm-dataStructureResultGrid .t-refresh").trigger('click');
    });

    $('.bx-rpm-createDataStructureContainer #name').keyup(function () {
        validateName('message');
    });

    $('.bx-rpm-createDataStructureContainer #name').change(function () {
        validateName('message');
    });

    $('.bx-rpm-createDataStructureContainer').keyup(function () {
        showmessage();
    });

    $('.bx-rpm-createDataStructureContainer').change(function () {
        showmessage();
    });

    function validateName(id) {
        var parameters = '/?Id=' + $('.bx-rpm-createDataStructureContainer #id').val() + '&Name=' + $('.bx-rpm-createDataStructureContainer #name').val() + '&cssId=' + id;
        $.get('@Url.Action("_validateDataStructureName", "DataStructureSearch", new { area = "RPM"} )' + parameters, function (data) {
            $(data).replaceAll('#' + id);
            showmessage();
        });
    }

    function showmessage() {
        var hasMessage = false;
        for (var i = 0; i < $('.bx-rpm-createDataStructureContainer .bx-rpm-message').length; i++) {
            if ($('.bx-rpm-createDataStructureContainer .bx-rpm-message')[i].getAttribute('value').toLowerCase() == 'true') {
                hasMessage = true;
                break;
            }
            if ($('.bx-rpm-createDataStructureContainer .bx-rpm-message')[i].getAttribute('value').toLowerCase() == 'none') {
                hasMessage = 'none';
                break;
            }
        }

        if (hasMessage == true) {
            $('.bx-rpm-createDataStructureContainer #saveButton').attr('disabled', 'disabled');
            $('.bx-rpm-createDataStructureContainer #saveButton').addClass('bx-disabled');
            $(".bx-rpm-createDataStructureContainer #messageContainer").removeClass('hidden');
        }
        else if(hasMessage == false){
            $('.bx-rpm-createDataStructureContainer #saveButton').removeAttr('disabled');
            $('.bx-rpm-createDataStructureContainer #saveButton').removeClass('bx-disabled');
            $('.bx-rpm-createDataStructureContainer #messageContainer').addClass('hidden');
        }
    }
</script>