@using Telerik.Web.Mvc.UI
@using BExIS.Web.Shell.Areas.RPM.Models

<link href="@Url.Content("~/Areas/RPM/Stylesheets/DataStructure.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Areas/RPM/Stylesheets/DataStructureSearch.css")" rel="stylesheet" type="text/css" />

<div class="bx-rpm-dataStructure-buttons">
    <a id="createButton" class="bx-button function" href="javascript:openCreateWindow(0, '', '', false, false, false)">Create Data Structure</a>
</div>
<div class="bx-rpm-searchBar">
    @Html.TextBox("SearchBox", "", new { @class = "bx-input" })
    <a class="bx bx-button function bx-search" href="javascript:loadResults()"></a>
</div>

<div id="SearchResults">
    @Html.Partial("_datatructureSearchResult", "")
</div>

<script type="text/javascript">
    $('.bx-rpm-searchBar #SearchBox').keypress(function (e) {
            if (event.keyCode == 13) {
        loadResults();
    }
    });

    function loadResults() {
        var parameters = encodeURI('/?searchTerms=' + $('.bx-rpm-searchBar #SearchBox').val());
        parameters = parameters.replace('#', '%23');
            $.get('@Url.Action("_dataStructureResultBinding", "DataStructureSearch", new { area = "RPM"} )' + parameters, function (data) {
                $('#SearchResults').html(data);
                $('.bx-rpm-searchBar #SearchBox').val("");
        });

    }

    function createMessageWindow(data, title, type, id) {
        var windowElement = $.telerik.window.create({
            title: title,
            html: data,
            contentUrl: "",
            actions: ["Close"],
            modal: true,
            resizable: false,
            draggable: true,
            scrollable: false,
            onClose: function () {
                $("#messageWindow").data('tWindow').destroy();
                if ($("#bx-rpm-dataStructureResultGrid").lenth > 0) {
                    $("#bx-rpm-dataStructureResultGrid .t-refresh").trigger('click');
                }
                if ($("#windowCreate").length > 0) {
                    $("#windowCreate").toggle('fast');
                }
            }
        });

        windowElement.attr('id', 'messageWindow');
        windowElement.attr('type', type);
        windowElement.attr('value', id);
        var window = $(windowElement).data('tWindow');
        window.center().open();

        resetAllTelerikIconTitles();
    }

    function messageWindowCancel(Id) {
        if ($("#messageWindow").length > 0) {
            $("#messageWindow").data('tWindow').close();
        }
        if ($("#windowCreate").length > 0) {
            if (Id == "" || Id == 0) {
                $("#windowCreate").data('tWindow').destroy();
            }
        }
        if ($("#bx-rpm-dataStructureResultGrid").length > 0) {
            $("#bx-rpm-dataStructureResultGrid .t-refresh").trigger('click');
        }
    }

    function messageWindowYes(id) {
        var parameters = encodeURI('/?Id=' + id);
        parameters = parameters.replace('#', '%23');
        $.get('@Url.Action("deleteDataStructure", "DataStructureEdit")' + parameters, function (data) {
            if ($(data).hasClass('bx-rpm-message') && $(data).attr('value').toLowerCase() == 'true') {
                $(data).replaceWith('.bx-rpm-message #' + id);
            }
            else if ($(data).hasClass('bx-rpm-message') && $(data).attr('id') == 'deleted') {
                if ($("#messageWindow").length > 0) {
                    $("#messageWindow").data('tWindow').destroy();
                }
                if ($("#windowCreate").length > 0) {
                    $("#windowCreate").data('tWindow').destroy();
                }
                if ($("#bx-rpm-dataStructureResultGrid").length > 0) {
                    $("#bx-rpm-dataStructureResultGrid .t-refresh").trigger('click');
                }
            }
        });

    }

    function openCreateWindow(Id, Name, Description, isSructured, inUse, copy) {
        var title = "Create DataStructure";
        var parameters = encodeURI("");
        parameters = parameters.replace('#', '%23');
        if (Id > 0) {
            if (copy == true) {
                title = "Copy DataStructure " + Name + ' (' + Id + ')';
            }
            else {
                title = "Edit DataStructure " + Name + ' (' + Id + ')';
            }
        }
        parameters = '/?Id=' + Id + '&Name=' + Name + '&Description=' + Description + '&isSructured=' + isSructured + '&inUse=' + inUse + '&copy=' + copy;
        $.ajax({
            type: 'GET',
            url: '@Url.Action("_createDataStructureBinding", "DataStructureSearch")' + parameters,
            dataType: 'html',
            success: function (data) {
                var windowElement = $.telerik.window.create({
                    title: title,
                    html: data,
                    contentUrl: "",
                    actions: ["Close"],
                    modal: true,
                    resizable: false,
                    draggable: true,
                    scrollable: false,
                    onClose: function () {
                        $("#windowCreate").data('tWindow').destroy();
                        $("#bx-rpm-dataStructureResultGrid .t-refresh").trigger('click');
                    }
                });

                windowElement.attr('id', 'windowCreate');
                var window = $(windowElement).data('tWindow');
                window.center().open();

                resetAllTelerikIconTitles();
            }
        });
    }
    </script>