@{
    ViewBag.Title = "UploadWizardNav";
}

@model BExIS.Dcm.UploadWizard.TaskManager
@using BExIS.Modules.Dcm.UI.Models;

@{

    int currentPage = @Model.GetCurrentStepInfoIndex() + 1;

}
<div id="NavDiv">

    @if (!(Model.Current() == null))
        {
    <table id="NavigationTable">
        <tr>
            <td id="Nav_Left">
                @if (!Model.Prev().IsEmpty())
                        {
                <button id="prevBt" onclick"PrevButton_OnClick()" class="t-button action" title="@Model.Prev().title">Prev</button>
                        }
            </td>
            <td id="Nav_Pages">
                ( @currentPage  of   @Model.StepInfos.Count )
            </td>
            <td id="Nav_Options">
                @Html.ActionLink("Cancel", "CancelUpload", "Submit", new RouteValueDictionary { { "area", Model.Current().GetActionInfo.AreaName.ToString() } }, new { @class = "t-button action", @style = "float:right" })
            </td>
            <td id="Nav_Right">
                @if (!Model.Next().IsEmpty())
                        {
                <button id="nextBt" onclick"NextButton_OnClick()" class="t-button action" style="float:right" title="@Model.Next().title">Next</button>
                        }

                @if (Model.Current().Equals(Model.Finish()))
                        {
                <button id="finishBt" onclick"NextButton_OnClick()" class="t-button action" style="float:right" title="Finish">Finish</button>
                        }
            </td>
        </tr>
    </table>

    <div id="async_finsihed" style="display:none;">
        @Html.ActionLink("Dashboard", "ShowDashboard", "Submit", new RouteValueDictionary { { "area", Model.Current().GetActionInfo.AreaName.ToString() } }, new { @class = "t-button action", @style = "float:right" })
    </div>

        }
</div>
<script type="text/javascript">

    $("#prevBt").click(function(){

        $('.uploadWizardStep').preloader(16, "Previous step is loading.");
        var index = '@Model.StepInfos.IndexOf(@Model.Prev())';

        if (index < 0) index = 0;

        $.get('@Url.Action(@Model.Prev().GetActionInfo.ActionName, @Model.Prev().GetActionInfo.ControllerName, new RouteValueDictionary { { "area", @Model.Prev().GetActionInfo.AreaName } })', { index: index }, function (response) {
            $("#StepView").html(response);
            NavigationRefresh();
            TaskListRefresh();
            //$('#StepView').removePreloader();
        })

    })

    $("#nextBt").click(function () {

        //fontsize, text, height

        $('.uploadWizardStep').preloader(16, "Next step is loading.");

        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(Parameters),
            dataType: 'html',
            url: '@Url.Action(@Model.Current().PostActionInfo.ActionName, @Model.Current().PostActionInfo.ControllerName, new RouteValueDictionary { { "area", @Model.Current().PostActionInfo.AreaName } })',
                success: function(result) {
                    $('#StepView').html(result);
                    NavigationRefresh();
                    TaskListRefresh();

                }
            });
    })

    var wait = true;

    $("#finishBt").click(function () {

        //StartProgress();
        StartUpload();

    })

    function StartUpload()
    {
        $('.uploadWizardStep').preloader(16, "Please wait while your data is being imported.");
        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(Parameters),
            dataType: 'html',
            url: '@Url.Action(@Model.Current().PostActionInfo.ActionName, @Model.Current().PostActionInfo.ControllerName, new RouteValueDictionary { { "area", @Model.Current().PostActionInfo.AreaName } })',
            success: function (result)
            {
                if (result == !null || result != "")
                {
                    $('#StepView').html(result);
                    //NavigationRefresh();
                    TaskListRefresh();
                    HideNavigation();

                }
                else
                {
                    window.location.replace('@Url.Action("FinishUpload", "Submit", new RouteValueDictionary { { "area", "DCM" } })' );
                }
            }
        });
    }

    function HideNavigation() {
        console.log("hide");
        $("#NavigationTable").hide();
        $("#async_finsihed").show();
    }

    function NavigationRefresh()
    {

        $.post('@Url.Action("RefreshNavigation", "Submit", new RouteValueDictionary { { "area", "DCM" } })', function (response) {

            $("#NavDiv").replaceWith(response);
        })
    }
</script>