@model BExIS.Dcm.UploadWizard.TaskManager
@using Telerik.Web.Mvc.UI;
@using BExIS.Modules.Dcm.UI.Models;
@using Microsoft.Web.Helpers

<link href="@Url.Content(Themes.GetResourcePath("Styles","wizard.css"))" rel="stylesheet" type="text/css" />

@section LeftPane
{   @if (ViewData.ModelState.IsValid)
    {
    @Html.Partial("_taskListView", Model.GetStatusOfStepInfos())
    }

}

<div id="StepView">
    @Html.ValidationSummary(true)
</div>

@if (ViewData.ModelState.IsValid)
{
@Html.Partial("_uploadWizardNav", Model)

<script type="text/javascript">

    var Upload;
    var SelectedDatasetId;
    var SelectedDatasetTitle;
    var SelectedDataStrutureId;
    var SelectedDataStrutureTitle;
    var Parameters = new Array();

    $(document).ready(function () {

        var index = '@Model.GetCurrentStepInfoIndex()';

        //$.validator.unobtrusive.parse("#DefineMetadataStructure");
        $.validator.unobtrusive.parse("createDatasetFormular");
        //alert(index);

        $.get('@Url.Action(@Model.Current().GetActionInfo.ActionName, @Model.Current().GetActionInfo.ControllerName, new RouteValueDictionary { { "area", @Model.Current().GetActionInfo.AreaName } })', { index: index }, function (response) {

            //alert("start");

            $("#StepView").html(response);

            NavigationRefresh();
            TaskListRefresh();
        })
    })
</script>

}