@using Telerik.Web.Mvc.UI;
@using BExIS.Web.Shell.Areas.Auth.Models;

@model RoleModel

@using (Ajax.BeginForm("Delete", "Roles", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "Content_Deletion" }))
{       
    @Html.ValidationSummary(true)
    
    <div class="editor-label" style="font-weight:bold">
        @Html.LabelFor(m => m.Id)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(m => m.Id)
        @Html.HiddenFor(m => m.Id)
    </div>
    
    <div class="editor-label" style="font-weight:bold">
        @Html.LabelFor(m => m.RoleName)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(m => m.RoleName)
        @Html.HiddenFor(m => m.RoleName)
    </div>
    
    <div class="editor-label" style="font-weight:bold">
        @Html.LabelFor(m => m.Description)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(m => m.Description, new { @readonly="readonly", style = "width: 275px; height: 100px; max-width: 350px; max-height: 200px; resize: none" })
        @Html.HiddenFor(m => m.Description)
    </div>
    
    <p>
        <button type="submit">Delete</button>
        <button type="button" onclick="Window_Deletion_Cancel()">Cancel</button>
    </p>
}