@using Telerik.Web.Mvc.UI
@using BExIS.Web.Shell.Areas.Auth.Models;

@model List<RoleModel>

<style>
    .t-window-content
    {
       height: auto !important;
       width: auto !important;
    }
</style>

@(Html.Telerik().Grid(Model)
        .Name("Grid_Roles")
        .DataKeys(keys =>
        {
            keys.Add(r => r.Id);
        })
        .ToolBar(command =>
            {
                command.Custom().Name("Create").Text("New Role").Ajax(true).ButtonType(GridButtonType.ImageAndText).ImageHtmlAttributes(new { @class = "t-icon t-add" });
            })
        .Columns(columns =>
        {
            columns.Command(command =>
            {
                command.Custom("Details").Ajax(true).ButtonType(GridButtonType.BareImage).ImageHtmlAttributes(new { @class = "t-icon t-edit" });
                command.Custom("Delete").Ajax(true).ButtonType(GridButtonType.BareImage).ImageHtmlAttributes(new { @class = "t-icon t-delete" });
            }).Title("Actions").Width(90).HtmlAttributes(new { style = "text-align:left" });
            columns.Bound(r => r.Id).Width(100);
            columns.Bound(r => r.RoleName).Width(250);
            columns.Bound(r => r.Description);
        })
        .ClientEvents(clientEvents => clientEvents.OnCommand("onCommand"))
        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .Select("Roles_Select", "Roles")
        )
        .Filterable()
        .Sortable(sortable => sortable
            .OrderBy(orderby => orderby
                .Add(r => r.Id).Descending()))
        .Scrollable(scrollable => scrollable.Height(500))
)

@(Html.Telerik().Window()
    .Name("Window_Creation")
    .Title("Role Creation")
    .Draggable(true)
    .Modal(true)
    .Visible(false)
    .Scrollable(true)
    .ContentHtmlAttributes(new { @style="overflow:auto; width:auto; height:auto; min-height:225px; min-width:400px"})
    .Content(@<text>
        <div id="Content_Creation"></div>
    </text>)
    .ClientEvents(clientEvents => clientEvents
        .OnClose("Window_Creation_OnClose")
    )
)

@(Html.Telerik().Window()
    .Name("Window_Deletion")
    .Title("Role Deletion")
    .Draggable(true)
    .Modal(true)
    .Visible(false)
    .Scrollable(true)
    .ContentHtmlAttributes(new { @style="overflow:auto; width:auto; height:auto; min-height:225px; min-width:400px"})
    .Content(@<text>
        <div id="Content_Deletion"></div>
    </text>)
    .ClientEvents(clientEvents => clientEvents
        .OnClose("Window_Deletion_OnClose")
    )
)

@(Html.Telerik().Window()
    .Name("Window_Details")
    .Title("Role Details")
    .Draggable(true)
    .Modal(true)
    .Visible(false)
    .Scrollable(true)
    .ContentHtmlAttributes(new { @style="overflow:auto; width:auto; height:auto; min-height:225px; min-width:400px"})
    .Content(@<text>
        <div id="Content_Details"></div>
    </text>)
    .ClientEvents(clientEvents => clientEvents
        .OnClose("Window_Details_OnClose")
    )
)

<script type="text/javascript">

    function onCommand(e) {

        if (e.name == "Create") {

            $.get('@Url.Action("Create", "Roles")', function (data) {

                $('#Content_Creation').html(data);

                var window = $('#Window_Creation').data('tWindow');
                window.center().open();
            });
        }

        if (e.name == "Delete") {
            var roleID = e.dataItem.Id;

            $.get('@Url.Action("Delete", "Roles")', { Id: roleID }, function (data) {

                $('#Content_Deletion').html(data);

                var window = $('#Window_Deletion').data('tWindow');
                window.center().open();
            });
        }

        if (e.name == "Details") {
            var roleID = e.dataItem.Id;

            $.get('@Url.Action("Details", "Roles")', { Id: roleID }, function (windowData) {

                $('#Content_Details').html(windowData);

                $.get('@Url.Action("RoleInfo", "Roles")', { Id: roleID }, function (contentData) {

                    $('#Content_RoleInfo').html(contentData);
                });

                var window = $('#Window_Details').data('tWindow');
                window.center().open();
            });
        }
    }

    // Create
    function Window_Creation_Cancel() {
        $('#Window_Creation').data('tWindow').close();
    }

    function Window_Creation_OnClose() {
        $('#Content_Creation').empty();
    }

    // Delete
    function Window_Deletion_Cancel() {
        $('#Window_Deletion').data('tWindow').close();
    }

    function Window_Deletion_OnClose() {
        $('#Content_Deletion').empty();
    }

    // Details
    function TabStrip_Details_OnSelect(e, roleID) {
        var tab = $(e.item);

        switch (tab.index()) {
            case 0:
                $.get('@Url.Action("RoleInfo", "Roles")', { Id: roleID }, function (data) {
                    $('#Content_RoleInfo').html(data);
                });
                break;

            case 1:
                $.get('@Url.Action("Membership", "Roles")', { Id: roleID }, function (data) {
                    $('#Content_Membership').html(data);
                });
                break;

            default:
                break;
        }
    }

    function TabStrip_RoleInfo_CancelEdit(e) {
        $.get('@Url.Action("RoleInfo", "Roles")', { Id: e }, function (data) {
             $('#Content_RoleInfo').html(data);
         });
     }

     function TabStrip_RoleInfo_Edit(e) {
         $.get('@Url.Action("RoleEdit", "Roles")', { Id: e }, function (data) {
                $('#Content_RoleInfo').html(data);
            });
        }

        function Window_Details_OnClose() {
            $('#Content_Details').empty();
        }

    // Info
    function Window_Info_Confirm(e) {
        switch (e) {
            case "Window_Deletion":
                var windowDelete = $('#Window_Deletion').data('tWindow');
                windowDelete.close();
                break;

            case "Window_Details":
                var windowDetails = $('#Window_Details').data('tWindow');
                windowDetails.close();
                break;

            case "Window_Creation":
                var windowCreation = $('#Window_Creation').data('tWindow');
                windowCreation.close();
                break;

            default:
                break;
        }
    }

    // Membership
    function setMembership(value, userid, roleid) {
        if (value) {
            $.post('@Url.Action("AddUserToRole", "Roles")', { UserId: userid, RoleId: roleid });
        } else {
            $.post('@Url.Action("RemoveUserFromRole", "Roles")', { UserId: userid, RoleId: roleid });
        }
    }

</script> 