@model BExIS.Web.Shell.Areas.DCM.Models.CreateDatasetViewModel

@using Telerik.Web.Mvc.UI;
@using BExIS.Web.Shell.Areas.DCM.Models;

<div id="createDatasetFormular"> 
    
     
@*<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>*@




@using (Ajax.BeginForm("CreateDataset", "Home", new { area = "DCM" },
                    new AjaxOptions
                    {
                        HttpMethod = "POST",
                        
                        UpdateTargetId = "createDatasetFormular",
                        OnSuccess = "closePopUp"
                        
                    }))
{ 
    

<p>Please provide the following information.</p>
<table>
    <tr>
        <td><b></b>@Html.LabelFor(m=>m.DataStructureId)</td>
        <td>
            @Html.DropDownListFor(m => m.DataStructureId, new SelectList(Model.DatastructuresViewList,"Id","Title"),"Select, please")
            @Html.ValidationMessageFor(m => m.DataStructureId)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m=>m.ResearchPlanId)</td>
        <td>
            @Html.DropDownListFor(m => m.ResearchPlanId, new SelectList(Model.ResearchPlanViewList,"Id","Title"),"Select, please")
            @Html.ValidationMessageFor(m => m.ResearchPlanId)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m=>m.Title)
        </td>
        <td>
            @Html.TextBoxFor(m=>m.Title)
            @Html.ValidationMessageFor(m => m.Title)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m=>m.Owner)
        </td>
        <td>
            @Html.TextBoxFor(m=>m.Owner)
            @Html.ValidationMessageFor(m => m.Owner)

        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m=>m.DatasetAuthor)
        </td>
        <td>
            @Html.TextBoxFor(m=>m.DatasetAuthor)
            @Html.ValidationMessageFor(m => m.DatasetAuthor)

        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m=>m.ProjectName)
        </td>
        <td>
            @Html.TextBoxFor(m=>m.ProjectName)
            @Html.ValidationMessageFor(m => m.ProjectName)

        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m=>m.ProjectInstitute)
        </td>
        <td>
            @Html.TextBoxFor(m=>m.ProjectInstitute)
            @Html.ValidationMessageFor(m => m.ProjectInstitute)
        </td>
    </tr>
</table>
<br />
<br />
<button type="submit" value="Save" name="saveDataset"  class="t-button" style="border:0px;">save</button>
}
</div> 


<script type="text/javascript">

    $(document).ready(function () {

        //$("createDatasetFormular").removeData("validator");
        //$("createDatasetFormular").removeData("unobtrusiveValidation");
        //$.validator.unobtrusive.parse("createDatasetFormular");
    
    })

    function closePopUp(data) {

        if (data.success) {
            document.getElementById("selectedValue2").innerHTML = "You have selected Dataset ";
            var window = $("#CreateDatasetWindow").data("tWindow");
            window.close();
        }
    }


</script>