@{
    ViewBag.Title = "_txtFormularView";
}
@model BExIS.Web.Shell.Areas.DCM.Models.FileInfoModel

@using Telerik.Web.Mvc.UI;
@using BExIS.DCM.Transform.Input;
@{
    
    List<string> TextSeperatorList = new List<string>();
    foreach (TextSeperator ms in Enum.GetValues(typeof(TextSeperator)))
    {
        TextSeperatorList.Add(ms.ToString());
    }


    List<string> DecimalCharacterList = new List<string>();
    foreach (DecimalCharacter ms in Enum.GetValues(typeof(DecimalCharacter)))
    {
        DecimalCharacterList.Add(ms.ToString());
    }

    List<string> OrientationList = new List<string>();
    foreach (Orientation ms in Enum.GetValues(typeof(Orientation)))
    {
        OrientationList.Add(ms.ToString());
    }

      
}

@using (Html.BeginForm("SaveAsciiFileInfos", "Home", new { area = "DCM" }))
{

<table>
    <tr>
        <td>
             @(Html.LabelFor(m => m.Seperator))
        </td>
        <td>
            @Html.DropDownListFor(m => m.Seperator, new SelectList(TextSeperatorList,Model.Seperator), "Select, please")
        </td>
    </tr>
    <tr>
        <td>
             @(Html.LabelFor(m => m.Decimal))
        </td>
        <td>
             @Html.DropDownListFor(m => m.Decimal, new SelectList(DecimalCharacterList ,Model.Decimal), "Select, please")

        </td>
    </tr>
    <tr>
        <td>
             @(Html.LabelFor(m => m.Orientation))
        </td>
        <td>
             @Html.DropDownListFor(m => m.Orientation, new SelectList(OrientationList ,Model.Orientation), "Select, please")

    </tr>
    <tr>
        <td>
           @(Html.LabelFor(m => m.Offset))
        </td>
        <td>
           @(Html.TextBoxFor(m => m.Offset , new {@class = "t-input"}))
                      
        </td>
        <td>
            Number of empty columns (columnwise) or rows (rowwise) before the variables are specified.
        </td>
    </tr>
    <tr>
        <td>
           @(Html.LabelFor(m => m.Variables))
        </td>
        <td>
           @(Html.TextBoxFor(m => m.Variables , new {@class = "t-input"}))
                      
        </td>
        <td>
             Row (columnwise) or column (rowwise) in which the variables are.
        </td>
    </tr>
     <tr>
        <td>
           @(Html.LabelFor(m => m.Data))
        </td>
        <td>
           @(Html.TextBoxFor(m => m.Data , new {@class = "t-input"}))
                      
        </td>
        <td>
            Row (columnwise) or column (rowwise) in which the data starts.
        </td>
    </tr>
    <tr>
       <td>
           @(Html.LabelFor(m => m.Dateformat))
        </td>
        <td>
           @(Html.TextBoxFor(m => m.Dateformat , new {@class = "t-input"}))
                      
        </td>
    </tr>
</table>
<button type="submit" value="Submit" name="submit"  class="t-button " style="border:0px;">save</button>
}