@model BExIS.Web.Shell.Areas.DCM.Models.ChooseDatasetViewModel
@using Telerik.Web.Mvc.UI;
@using Telerik.Web.Mvc.Resources;
@using BExIS.Web.Shell.Areas.DCM.Models;

@{
    if (this.ViewContext.FormContext == null)
    {
        this.ViewContext.FormContext = new FormContext();
    }
    
    bool visibleCreateDatasetWindow = false;
    
    if(Session["createDatasetWindowVisible"]!=null)
    {
        visibleCreateDatasetWindow = (bool)Session["createDatasetWindowVisible"];
    }

        
}

<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

<div id="Step3" class="uploadWizardStep">
    <div class="uploadWizardStep_Main">
        <div class="uploadWizardStep_Header stepper">
            <h3>@Model.StepInfo.title</h3>
        </div>

        <div class="uploadWizardStep_Description stepper">
            <p>In BEXIS your data is stored and managed as part of a dataset. A dataset may contain one or more of your data files. 
                But all data files within one dataset must be of the same data structure, i.e. the number of variables and their 
                properties must be identical in each file. 
            </p>
        </div>

        <div class="uploadWizardStep_Content stepper">

            <table>
                <tr><td><button id="CreateDatasetButton" title="Create new dataset" >Create</button></td><td>Create a new dataset</td></tr>
                <tr><td><button id="SelectDatasetButton" title="Add file to an existing dataset" >Add</button></td><td> Add file to an existing dataset.</td></tr>
            </table>
           
        </div>
    </div>

    <div class="uploadWizardStep_Success stepper">
         <div id="selectedValue2">@if (Model.DatasetTitle != "")
                                    { <span>You have selected Dataset : @Model.DatasetTitle</span>}</div>
    </div> 

    <div class="uploadWizardStep_Error stepper">
        @if (Model != null)
        {
            if (Model.ErrorList != null)
            {
                if (Model.ErrorList.Count == 0)
                {


                }
                else
                { 
                   <ul>
                        @foreach (BExIS.DCM.Transform.Validation.Exceptions.Error s in @Model.ErrorList)
                        { 
                            <li>@s.ToString()</li>
                        }
                   </ul>

                }
            }

        }
    </div>   
</div>



@(Html.Telerik().Window()
    .Name("DatasetWindow")
    .Visible(false)
    .Width(300)
    .Height(100)
    .Title("Select a Dataset")
    .Modal(true)
    .ClientEvents(events => events
        .OnActivate("resizeOnRefresh")
    )
    .Content(@<text>
        @Html.Partial("_selectADatasetId", Model.DatasetsViewList)
    </text>
    )
  )


@(Html.Telerik().Window()
    .Name("CreateDatasetWindow")
    .Visible(false)
    .Width(500)
    .Height(100)
    .Title("Create new dataset")
    .Modal(true)
    .ClientEvents(events => events
        .OnActivate("resizeCreateDatasetWindowOnRefresh")
        
    )
    .Content(@<text>

            @Html.Partial("_createDataset", new CreateDatasetViewModel())

    </text>
    )
  )



<script type="text/javascript">

    $("#SelectDatasetButton").click(function () {

        var datasetwindow = $("#DatasetWindow").data("tWindow");
        datasetwindow.center().open();
      
         
    })

    $("#CreateDatasetButton").click(function () {

        $.get('@Url.Action("CreateDataset","Home")', function (data) {
            $('#createDatasetFormular').html(data);
        });

        var datastruturewindow = $("#CreateDatasetWindow").data("tWindow");
        datastruturewindow.center().open();
    })

    function closeWindow() {
        var window = $("#DatasetWindow").data("tWindow");
        window.close();
        //alert("close");
        //document.getElementById("selectedValue").innerHTML = "You have selected Dataset : " + SelectedDatasetId;
        document.getElementById("selectedValue2").innerHTML = "You have selected Dataset : " + SelectedDatasetTitle;
        $('.uploadWizardStep_Error').empty();
     
    }

    function closeCreateWindow() {
        var window = $("#CreateDatasetWindow").data("tWindow");
        window.close();
        alert("close");
        //document.getElementById("selectedValue").innerHTML = "You have selected Dataset : " + SelectedDatasetId;
        document.getElementById("selectedValue2").innerHTML = "You have selected Dataset : " + SelectedDatasetTitle;
        $('.uploadWizardStep_Error').empty();
    }

    //function closeCreateDatasetWindow() {

    //    var window = $("#CreateDatasetWindow").data("tWindow");
    //    window.close();

    //    document.getElementById("selectedValue2").innerHTML = "You have created a dataset: ";

    //}

    function resizeOnRefresh() {
        var winContent = $('#DatasetWindow .t-window-content');
        winContent.css("height", "");
        //winContent.css("width", "");
    }

    function RefreshCreateDatasetWindow() {
        var window = $('#CreateDatasetWindow').data('tWindow');
        if(window!=null)window.refresh();
    }


    function resizeCreateDatasetWindowOnRefresh() {
        var winContent = $('#CreateDatasetWindow .t-window-content');
        winContent.css("height", "");
        winContent.css("width", "");
    }

</script>