@model BExIS.Web.Shell.Models.ExternalLoginListViewModel
@using System.Configuration
@using Microsoft.Owin.Security
@using BExIS.Utils.Config

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Any() || GeneralSettings.LdapConfigurations.Any(l => l.Enabled == true))
    {
        <h4>Use different service for log in.</h4>
        <hr />

        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (var ldap in GeneralSettings.LdapConfigurations)
                    {
                        if (ldap.Enabled)
                        {
                            @Html.ActionLink(ldap.Name, "Login", "Ldap", new { name = ldap.Name }, new { @class = "btn btn-default" })

                        }
                    }

                    @foreach (var p in loginProviders)
                    {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Mit Ihrem @p.Caption-Konto anmelden">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}