@model BExIS.Web.Shell.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@section Information
{
    Here you are able to register with the system.
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            @Html.CheckBoxFor(m => m.TermsAndConditions,new { @class="cb_form"})
            I accept <a href="/Terms/Index" title="See Terms and Conditions" target="_blank">Terms and Conditions</a>.
            @Html.ValidationMessageFor(m => m.TermsAndConditions)
        </div>
        <div class="col-md-10 col-md-offset-2">
            @Html.CheckBoxFor(m => m.Inform, new { @class = "cb_form" })
            I accept ....
            @Html.ValidationMessageFor(m => m.Inform)
        </div>
        <div class="col-md-10 col-md-offset-2">
            @Html.CheckBoxFor(m => m.DOI, new { @class = "cb_form" })
            I accept ....
            @Html.ValidationMessageFor(m => m.DOI)
        </div>
        <div class="col-md-10 col-md-offset-2">
            @Html.CheckBoxFor(m => m.Credit, new { @class = "cb_form" })
            I accept ....
            @Html.ValidationMessageFor(m => m.Credit)
        </div>
        <div class="col-md-10 col-md-offset-2">
            @Html.CheckBoxFor(m => m.PHD, new { @class = "cb_form" })
            I accept ....
            @Html.ValidationMessageFor(m => m.PHD)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="SubmitButton" type="submit" class="bx-button function bx-disabled" value="Register" />
        </div>
    </div>
}


<script type="text/javascript">

    $(".cb_form").change(function () {
        if ($('.cb_form:checked').length == $('.cb_form').length) {
            //do something
            $("#SubmitButton").removeClass("bx-disabled");
        }
        else {

            $("#SubmitButton").addClass("bx-disabled");
        }
    });


</script>