@model BExIS.Web.Shell.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@section Information
{
    Here you are able to register with the system.
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.TextBoxFor(m => m.Extra, new { @class = "extra" });
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            @Html.CheckBoxFor(m => m.TermsAndConditions)
            I accept <a href="/TermsAndConditions/Index" title="See Terms and Conditions" target="_blank">Terms and Conditions</a>.
            @Html.ValidationMessageFor(m => m.TermsAndConditions)
        </div>
        <div class="col-md-10 col-md-offset-2">
            @Html.CheckBoxFor(m => m.PrivacyPolicy)
            I accept <a href="/PrivacyPolicy/Index" title="See Privacy Policy" target="_blank">Privacy Policy</a>.
            @Html.ValidationMessageFor(m => m.PrivacyPolicy)
        </div>
        <div class="col-md-10 col-md-offset-2">
            @Html.CheckBoxFor(m => m.DataPolicy, new { @class = "cb_form" })
            I agree to the <a href="/DataPolicy/Index" title="See Data Policy" target="_blank">ATTO data Policy</a>.
            @Html.ValidationMessageFor(m => m.DataPolicy)
        </div>
        <div class="col-md-10 col-md-offset-2">
            <br\>
                <h3>Specifically as A DATA CONTRIBUTOR, I agree to:</h3>
                @Html.CheckBoxFor(m => m.Metadata, new { @class = "cb_form" })
                Provide metadata for each set of data collected and derived, including appropriate acknowledgments.
                @Html.ValidationMessageFor(m => m.Metadata)
        </div>
        <div class="col-md-10 col-md-offset-2">
            @Html.CheckBoxFor(m => m.Verify, new { @class = "cb_form" })
            Provide verification of data quality according to the adopted standard method or recommended protocol.
            @Html.ValidationMessageFor(m => m.Verify)
        </div>
        <div class="col-md-10 col-md-offset-2">
            @Html.CheckBoxFor(m => m.Data, new { @class = "cb_form" })
            Make the data available to ATTO collaborators as fast as possible; laws indicate data should be make publicly available within 6 months.  The only exceptions are for data needed for student theses - these should be made public within 6 months after the thesis defense.
            @Html.ValidationMessageFor(m => m.Data)
        </div>
        <div class="col-md-10 col-md-offset-2">
            <br\>
                <h3>As a DATA USER, I agree to:</h3>
                @Html.CheckBoxFor(m => m.Inform, new { @class = "cb_form" })
                Inform the researcher who contributed the data about how I intend to use data before I start using it;  if the data are not public, I agree to communicate with the data provider so that they can contribute scientifically to any research product.
                @Html.ValidationMessageFor(m => m.Inform)
        </div>
        <div class="col-md-10 col-md-offset-2">
            @Html.CheckBoxFor(m => m.DOI, new { @class = "cb_form" })
            Recognize the data by citing the relevant DOI or article(s), and acknowledging ATTO support.
            @Html.ValidationMessageFor(m => m.DOI)
        </div>
        <div class="col-md-10 col-md-offset-2">
            @Html.CheckBoxFor(m => m.Forward, new { @class = "cb_form" })
            To not forward downloaded data to third parties.
            @Html.ValidationMessageFor(m => m.Forward)
        </div>
        <div class="col-md-10 col-md-offset-2">
            @Html.CheckBoxFor(m => m.PHD, new { @class = "cb_form" })
            That data which where collected as part of a dissertation are granted specific protection and might not be freely available in special cases.
            @Html.ValidationMessageFor(m => m.PHD)
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="SubmitButton" type="submit" class="bx-button function bx-disabled" value="Register" />
        </div>
    </div>
}


<script type="text/javascript">

    $(".cb_form").change(function () {
        if ($('.cb_form:checked').length == $('.cb_form').length) {
            //do something
            $("#SubmitButton").removeClass("bx-disabled");
        }
        else {

            $("#SubmitButton").addClass("bx-disabled");
        }
    });


</script>