@model BExIS.Modules.Dcm.UI.Models.ImportMetadata.ParametersModel
@using Telerik.Web.Mvc.UI;
@using System;
@using System.Web.Configuration;
@using BExIS.Modules.Dcm.UI.Models;

@{
    int index = 0;

    if (!String.IsNullOrEmpty(Model.EntityType))
    {
        index = Model.Entities.IndexOf(Model.EntityType);
    }

}

@using (Ajax.BeginForm("Save", "ImportMetadataStructureSetParameters", new AjaxOptions
{
    HttpMethod = "Post",
    UpdateTargetId = "ImportMetadataStructureSetParameters",
    OnSuccess = "OnSuccess",
    OnFailure = "OnFailure"
}))
{

<div id="ImportMetadataStructureSetParameters" class="wizardStep">

    <div class="wizardStep_Main">
        <div class="wizardStep_Header stepper">

            <h3>@Model.StepInfo.title</h3>
        </div>

        <div class="wizardStep_Description stepper">
            <p>In order for the system to show datasets described with the given metadata structure, please select a titel node and a description node of the imported schema and press Save before heading on to the next step.</p>
        </div>

        <div class="wizardStep_Content stepper">
            <table>
                <tr>
                    <td class="labelColumn">
                        @Html.LabelFor(m => m.EntityType)
                    </td>
                    <td>
                        @(Html.Telerik().DropDownList()
                              .Placeholder("Select")
                              .Name("Entity")
                              .HtmlAttributes(new {style="width:300px"})
                              .ClientEvents(events => events.OnChange("OnChangeDropDown"))
                              .BindTo(new SelectList(Model.Entities, Model.EntityType)))
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="labelColumn">
                        @Html.LabelFor(m => m.TitleNode)
                    </td>
                    <td>
                        <div id="titleSelectionContainer">
                            @Ajax.ActionLink("Select", "ShowListOfMetadataNodesTitle", "ImportMetadataStructureSetParameters", new {area = "Dcm"},
                                new AjaxOptions
                                {
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "titleSelectionContainerWindow"
                                },
                                new {@class = "bx-button function"})
                        </div>
                        <div id="titleSelectionContainerWindow"></div>
                    </td>
                    <td>
                        @Model.TitleNode
                    </td>
                </tr>
                <tr>
                    <td class="labelColumn">
                        @Html.LabelFor(m => m.DescriptionNode)
                    </td>
                    <td>
                        <div id="descriptionSelectionContainer">
                            @Ajax.ActionLink("Select", "ShowListOfMetadataNodesDescription", "ImportMetadataStructureSetParameters", new {area = "Dcm"},
                                new AjaxOptions
                                {
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "descriptionSelectionContainerWindow"
                                },
                                new {@class = "bx-button function"})
                        </div>
                        <div id="descriptionSelectionContainerWindow"></div>
                    </td>
                    <td>
                        @Model.DescriptionNode
                    </td>
                </tr>
                @*@foreach (KeyValuePair<string,string> systemNode in @Model.SystemNodes)
                    {
                        var selectionContainer = @systemNode.Key + "SelectionContainer";
                        var selectionContainerWindow = @systemNode.Key + "SelectionContainerWindow";

                        <tr>
                            <td class="labelColumn">
                                @systemNode.Key
                            </td>
                            <td>
                                <div id="@selectionContainer">
                                    @Ajax.ActionLink("Select", "ShowListOfMetadataNodes", "ImportMetadataStructureSetParameters", new {area = "DCM", key = @systemNode.Key },
                                        new AjaxOptions
                                        {
                                            HttpMethod = "GET",
                                            InsertionMode = InsertionMode.Replace,
                                            UpdateTargetId = selectionContainerWindow
                                        },
                                        new {@class = "bx-button function"})
                                </div>
                                <div id="@selectionContainerWindow"></div>
                            </td>
                            <td>
                               @systemNode.Value
                            </td>
                        </tr>
                    }*@
            </table>
            @*<br />
                <button type="submit" value="Save" name="submit"  class="t-button " >save</button>*@
        </div>
    </div>

    <div class="wizardStep_Success stepper">

        @if (Model != null)
           {
               if (Model.ErrorList != null)
               {
                   if (Model.ErrorList.Count == 0)
                   {
                       if (!Model.StepInfo.notExecuted) { <b>saved.</b>}

                   }
               }
           }
    </div>

    <div class="wizardStep_Error stepper">

        @Html.ValidationSummary(true)

        @if (Model != null)
        {
            if (Model.ErrorList != null)
            {
                if (Model.ErrorList.Count == 0)
                {

                }
                else
                {
        <ul>
            @foreach (BExIS.IO.Transform.Validation.Exceptions.Error s in @Model.ErrorList)
                        {
            <li>@s.ToString()</li>
                        }
        </ul>

                }
            }

        }
    </div>
</div>

}

<style type="text/css">
    .labelColumn {
        width: 100px;
    }
</style>

<script type="text/javascript">

    $(document)
        .ready(function () {
            resetAllTelerikIconTitles();
        });

    function OnChangeDropDown(e) {

        $.post('@Url.Action("SetEntityName", "ImportMetadataStructureSetParameters", new RouteValueDictionary { { "area", "DCM" } })',
                { name: e.value },
                function(response) {
       });
    }

    function OnSuccess() {

    }

    function OnFailure(response) {

    }
</script>