@using Telerik.Web.Mvc.UI
@model BExIS.Web.Shell.Areas.SAM.Models.AccountLogOnModel
@using (Ajax.BeginForm("LogOn", "Account", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "Content_LogOn", OnSuccess = "onSuccess" }))
{
    @Html.ValidationSummary(true)

    <table class="bx-table-form">
        <tr>
            <td>
                @Html.Label("Authenticator")
            </td>
            <td>
                @(Html.Telerik().DropDownListFor(m => m.AuthenticatorList.Id)
                    .HtmlAttributes(new { style = "width:372px; padding-left: 2px;", @class = "t-input bx-input" })
                    .DropDownHtmlAttributes(new { style = "width:auto;", @class = "t-input bx-input" })
                    .BindTo(new SelectList(Model.AuthenticatorList.AuthenticatorList, "Id", "Name")))
                @Html.ValidationMessageFor(m => m.AuthenticatorList.Id)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Username)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Username, new { @class = "t-input bx-input" })
                @Html.ValidationMessageFor(m => m.Username)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Password)
            </td>
            <td>
                @Html.PasswordFor(m => m.Password, new { @class = "t-input bx-input" })
                @Html.ValidationMessageFor(m => m.Password)
            </td>
        </tr>
    </table>

    <div class="bx-footer right">
        <button type="submit" class="bx-button action">LogOn</button>
        <button type="button" class="bx-button action" onclick="Window_LogOn_Cancel()">Cancel</button>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#Content_LogOn");
        resetAllTelerikIconTitles();
    });

    function onSuccess(data) {
        if (data.success) {
            $('#Content_LogOn').empty();
            $('#Window_LogOn').data('tWindow').close();

            if ('@Session["ReturnUrl"]' != "") {
                location.href = '@Session["ReturnUrl"]';
            }
            else {
                location.reload();
            }

        }
    }
</script>
