@model List<BExIS.Dlm.Entities.Party.PartyCustomAttribute>
@{
    List<BExIS.Dlm.Entities.Party.PartyCustomAttributeValue> partyCustomAttributeValues = (List<BExIS.Dlm.Entities.Party.PartyCustomAttributeValue>)ViewBag.customAttrValues;
}

@foreach (var partyCustomAttr in Model.OrderBy(item => item.DisplayOrder))
{
    string partyCustomAttributeValueStr = "";

    if (partyCustomAttributeValues != null && partyCustomAttributeValues.Any())
    {
        var partyCustomAttributeValue = partyCustomAttributeValues.FirstOrDefault(item => item.CustomAttribute.Id == partyCustomAttr.Id);
        if (partyCustomAttributeValue != null)
        { partyCustomAttributeValueStr = partyCustomAttributeValues.FirstOrDefault(item => item.CustomAttribute.Id == partyCustomAttr.Id).Value; }
    }
    <tr>
        <td style="width:40px;">@Html.Raw((!partyCustomAttr.IsValueOptional ? "<b title='Required' style='color: red'>*</b>" : ""))</td>
        <td style="width:300px;">
            <label>
                @partyCustomAttr.Name
            </label>
        </td>
        <td>
            @if (!string.IsNullOrEmpty(Request.QueryString["readOnly"]) && Request.QueryString["readOnly"] == "true")
                {
                <span>@partyCustomAttributeValueStr</span>
            }
            else
            {
                if (!string.IsNullOrEmpty(partyCustomAttr.ValidValues))
                {
                    <select name="partyCustomAttributeValues[@partyCustomAttr.Id]">
                        @foreach (var option in partyCustomAttr.ValidValues.Split(','))
                        {
                            <option value="@option" @(partyCustomAttributeValueStr == @option ? "selected='selected'" : "")>@option</option>
                        }

                    </select>
                }
                else if (partyCustomAttr.DataType == "bool" || partyCustomAttr.DataType == "boolean")
                {
                    <input type="radio" name="partyCustomAttributeValues[@partyCustomAttr.Id]" @(partyCustomAttributeValueStr == "true" ? "checked" : "") value="true" /><label>True</label>
                        <input type="radio" name="partyCustomAttributeValues[@partyCustomAttr.Id]" @(partyCustomAttributeValueStr == "false" ? "checked" : "") value="false" /><label>False</label>
                }
                else
                {
                    <input type="text" name="partyCustomAttributeValues[@partyCustomAttr.Id]" value="@partyCustomAttributeValueStr" />

                }
            }
        </td>
    </tr>
}