@using Telerik.Web.Mvc.UI
@model BExIS.Web.Shell.Areas.SAM.Models.RegisterAccountModel

@using (Ajax.BeginForm("Register", "Account", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "Content_Register", OnSuccess = "onSuccess" }))
{
    @Html.ValidationSummary(true)

    <table class="bx-table-form">
        <tr>
            <td>
                @Html.Label("Authentication Provider")
            </td>
            <td>
                @(Html.Telerik().DropDownListFor(m => m.User.AuthenticatorList.Id)
                    .HtmlAttributes(new { style = "width:372px; padding-left: 2px;", @class = "t-input bx-input" })
                    .DropDownHtmlAttributes(new { style = "width:auto;", @class = "t-input bx-input" })
                      .BindTo(new SelectList(Model.User.AuthenticatorList.AuthenticatorList, "Id", "Name")))
                @Html.ValidationMessageFor(m => m.User.AuthenticatorList.Id)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.User.Username)
            </td>
            <td>
                @Html.TextBoxFor(m => m.User.Username, new { @class = "t-input bx-input" })
                @Html.ValidationMessageFor(m => m.User.Username)
                
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.User.Password)
            </td>
            <td>
                @Html.PasswordFor(m => m.User.Password, new { @class = "t-input bx-input" })
                @Html.ValidationMessageFor(m => m.User.Password)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.User.ConfirmPassword)
            </td>
            <td>
                @Html.PasswordFor(m => m.User.ConfirmPassword, new {@class = "t-input bx-input"})
                @Html.ValidationMessageFor(m => m.User.ConfirmPassword)
            </td>
        </tr>

        @Html.Action("GetPartyCustomAttributes", new {id = 1})

        <tr>
            <td colspan="2">
                @Html.CheckBoxFor(m => m.User.TermsAndConditions)
                I accept 
                <a href="/Site/Terms/Index" title="See Terms and Conditions" target="_blank">Terms and Conditions</a>.
                @Html.ValidationMessageFor(m => m.User.TermsAndConditions)
            </td>
        </tr>
    </table>

    <div class="bx-footer right">
        <button type="reset" style="float:left" class="bx-button action">Reset</button>
        <button type="submit" class="bx-button action">Create</button>
        <button type="button" class="bx-button action" onclick="Window_Register_Cancel()">Cancel</button>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#Content_Register");
        resetAllTelerikIconTitles();
    });

    function onSuccess(data) {
        if (data.success) {
            $('#Content_Register').empty();
            $('#Window_Register').data('tWindow').close();
            window.top.location = "/Home/Index";
        }
    }
</script>