@using System.Web.Optimization
@using BExIS.Utils.WebHelpers
@using Microsoft.AspNet.Identity
@using Telerik.Web.Mvc.UI;
@using Vaiona.Web.Mvc;

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    @Html.Favicon(Html.GetTenant().FavIconPath)

    @Styles.Render("~/bundles/svelte_general_bexis")

    <!-- To change the colours and appearance of svelte pages, the variables of sleketon and tailwind can be overridden in the css file -->
    <link href="@Url.Content("~/Content/skeleton/themes/bexis2-theme.css")" rel="stylesheet" type="text/css" />


</head>

<body data-theme="bexis2theme">

    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken() <!-- This generates the hidden input field -->
        }

        <script>
        // Get the anti-forgery token from the hidden input field
            const token = document.querySelector('input[name="__RequestVerificationToken"]').value;
            window.antiForgeryToken = token; // Make it available globally
        </script>
    }

    @RenderBody()
</body>
    
</html>