@using System.Web.Optimization
@using BExIS.Utils.WebHelpers
@using Microsoft.AspNet.Identity
@using Telerik.Web.Mvc.UI;
@using Vaiona.Web.Mvc;

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    @*@RenderSection("Head", false)

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>


    @Styles.Render("~/bundles/svelte_general_bexis")
    @Styles.Render("~/bundles/bexis")
    @Styles.Render("~/Scripts/svelte/menu.css")

    @Scripts.Render("~/bundles/svelte_jquery")*@

</head>

<body data-theme="skeleton">

    <!-- svelte container -->
    <!--<div id="menu"></div>-->

 
        @RenderBody()
    
  

    @*@Html.RenderAuto("Footer")

    <script type="text/javascript">
        var global_sess_expirationSeconds = @Session.Timeout*60;
        var global_sess_warningSeconds = @System.Configuration.ConfigurationManager.AppSettings["SessionWarningDelaySecond"].ToString();
        var global_LogoutUrl = '@Url.Action("ClearSession", "Account", new { area = ""})';
        var global_sess_resetPage = '@Url.Action("Index", "JS", new { area = ""})';
    </script>


    @RenderSection("Scripts", false)

    @Scripts.Render("~/Scripts/svelte/menu.js")*@

</body>
</html>
