@model BExIS.Modules.Dim.UI.Models.MetadataStructureModel
@using Telerik.Web.Mvc.UI;

@{
    ViewBag.Title = @Model.Displayname;

    string id = "DIM-"+Model.Id.ToString();
    string all_id = "all_" + id;
    string none_id = "none_" + id;
    string convert_id = "convert_" + id;
    string preloader_id = "preloader_" + id;
}
<div id="@id">

<div class="row">
    <div class="col-lg-12">
        @Model.Description
    </div>
</div>

    <div style="text-align: left; padding: 5px 0;">
        @if (@Model.ExportIsAvailable == true)
        {
            <button id="@convert_id" type="button" class="bx-button function" value="Convert" name="button" onclick="dim_OnClickConvert(this)">Export</button>
        }
        else
        {
            <button id="@convert_id" type="button" class="bx-button bx-disabled " value="Convert" name="button" onclick="dim_OnClickConvert(this)" disabled="disabled">Export</button>
        }
    </div>

    @(Html.Telerik().Grid(Model.DatasetVersions)
            .Name("datasetversionsConvertGrid")
            .HtmlAttributes(new { @class = "convert-grid" })
            .Filterable()
            .Pageable(paging => paging
                .PageSize(20, new int[] { 10, 20, 50, 100, 500 })
                .Position(GridPagerPosition.Both)
                .PageTo(1))
                

            .Columns(columns =>
            {
            columns.Template(
                    @<text>
                        <input id="@item.DatasetVersionId" name="checkedDatasetVersion" type="checkbox" value="@item.DatasetVersionId " title="checkedDatasetVersion" class="checkBox" />
                    </text>
                    ).Width(60)
                    .HeaderTemplate(
                        @<text>

                            <input id="@all_id" name="checkedDatasetVersion" type="checkbox"  value="all" title="checkedDatasetVersion" class="checkBox" onclick="OnChangeAllCheckbox(this)" />

                        </text>
                    )
                    .HtmlAttributes(new {@class="xyz"})
                    .HeaderHtmlAttributes(new {@class="xyz"});
                    
                columns.Bound(o => o.DatasetId).Title("Dataset id").Width(120);
                columns.Bound(o => o.DatasetVersionId).Title("Datasetversion id").Width(180);
                columns.Bound(o => o.Title).Title("Dataset Title")
                        .Filterable(true);
                columns.Template(
                    @<text>
                        <div class="download-button" style="padding: 0;">
                            @if (item.MetadataDownloadPath != "")
                                            {
                                @Html.ActionLink(" ", "Download", "Admin", new { path = @item.MetadataDownloadPath }, new { area = "DIM", @class = "bx bx-grid-function bx-download", style="margin:0;" })
                            }
                        </div>

                     </text>

                    ).Title("Download Link");


            }
        ))
        
</div>
<style type="text/css">

    #datasetversionsConvertGrid .t-status
    {
        display:none;
    }

    #datasetversionsConvertGrid 
    {
        text-align:left;
    }

    #datasetversionsConvertGrid .xyz
    {
        padding-left:0;
        text-align:center;
    }
    

</style>


<script type="text/javascript">

    $(document).ready(function ()
    {
        resetAllTelerikIconTitles();
        addTooltips();
    });


    function dim_OnClickConvert(obj)
    {
        var selectedDatasetIds = "";
        var idString = obj.id.split('_')[1];
        var id = idString.split('-')[1];

        $("#" + idString + " input:checkbox:checked").each(function () {

            if (this.id.indexOf("all") == -1) {
                if (selectedDatasetIds == "")
                    selectedDatasetIds = this.id;
                else
                    selectedDatasetIds += "," + this.id;

                $(this).closest("tr").find(".download-button").preloader(12, "Converting dataset " + this.id);
            }
        })



        $.post('@Url.Action("ConvertSelectedDatasetVersion", "Admin", new { area="DIM"})', { Id: id, SelectedDatasetIds: selectedDatasetIds }, function (e) {
            $("#" + idString).html(e);
        });

    }

    function OnChangeAllCheckbox(obj) {

        var id = obj.id.split('_')[1];
        var objid = obj.id;

        var val = $('#' + objid).prop("checked");

        if (val == false) {
            $("#" + id).find("input:checkbox")
                       .attr("checked", false);
        }
        else {
            $("#" + id).find("input:checkbox")
                       .attr("checked", true);
        }
    }


</script>