@model BExIS.Web.Shell.Areas.DCM.Models.ValidationModel



<div id="StepValidation" class="uploadWizardStep">
    <div class="uploadWizardStep_Main">
        <div class="uploadWizardStep_Header stepper">
            <h3>@Model.StepInfo.title</h3>
        </div>

        <div class="uploadWizardStep_Description stepper">
            <p>
                With this step the selected data file is validated against the selected data structure. 
               Both, the structure of the data (e.g. variable properties) and whether the data values 
               fit to the specified structure (e.g. data type, value range) is evaluated. 

            </p>
        </div>

        <div class="uploadWizardStep_Content stepper">
            <table>
                <tr>
                    <td><button id="validationButton" title="Validate selected data file against a given data structure" >Validate</button></td>
                    <td>Validate selected data file against a given data structure.</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="uploadWizardStep_Success stepper">
            @if (Model.Validated)
            { 
            
                <p> Validated!! </p>
                
            }
    </div>

    <div class="uploadWizardStep_Error stepper">
        @if (Model != null)
        {
            if (Model.ErrorList != null)
            {
                if (Model.ErrorList.Count == 0)
                {


                }
                else
                { 
                   <ul>
                        @foreach (BExIS.Io.Transform.Validation.Exceptions.Error s in @Model.ErrorList)
                        { 
                            <li>@s.ToString()</li>
                        }
                   </ul>

                }
            }

        }
    </div>   
</div>

<script type="text/javascript">

@*    function validationButton_OnClick(e)
    {
        alert("click");
        $.post('@Url.Action("ValidateFile", "Home", new RouteValueDictionary { { "area", "DCM" } })', function (response) {
            $("#Step3").html(response);

        })
    }*@

    $('#validationButton').click(function () {

        $('#preloader').show();

        $.post('@Url.Action("ValidateFile", @Model.StepInfo.PostActionInfo.ControllerName, new RouteValueDictionary { { "area", "DCM" } })', function (response) {

            $('.uploadWizardStep_Error').empty();
            $('#StepValidation').html(response);
            $('#preloader').hide();
            
        });
    });

</script>
