@using BExIS.Modules.Sam.UI.Models
@using Telerik.Web.Mvc.UI
@model List<FileOrFolderModel>
@{
    var rootFolder = (FolderModel)ViewBag.rootFolder;
}
<div>
    <div>
        <h1>@rootFolder.DisplayName</h1><br />
        <span>@rootFolder.Name</span>
    </div>
    <div>
        @rootFolder.Description
    </div>
    @Html.ActionLink(rootFolder.Name, "DownloadFile", "Files", new { area = "sam", path = rootFolder.XPath }, new { @class = "bx-button action" })
</div>
<br />
@foreach (var m in Model)
{
    <div>
        <h2>@m.DisplayName</h2>
        <p>
            @m.Description
        </p>
        @Html.ActionLink( m.Name, "DownloadFile", "Files",new { area = "sam", path = m.XPath }, new { @class = "bx-button action" })
    </div>
}

