@model BExIS.Dcm.ImportMetadataStructureWizard.ImportMetadataStructureTaskManager
@using BExIS.Web.Shell.Areas.DCM.Models;

@{

    int currentPage = @Model.GetCurrentStepInfoIndex() + 1;
    
}
<div id="NavDiv">

    @if (!(Model.Current() == null))
    { 
    <table id="NavigationTable">
        <tr>
            <td id="Nav_Left">
                @if (!Model.Prev().IsEmpty())
                {   
                    <button id="prevBt" onclick"PrevButton_OnClick()"  class="t-button" title="@Model.Prev().title" >Prev</button>
               }
            </td>
            <td id="Nav_Pages">
                 ( @currentPage  of   @Model.StepInfos.Count )
            </td>
            <td id="Nav_Options">
               @Html.ActionLink("Cancel", "CancelUpload", "ImportMetadataStructure", new RouteValueDictionary { { "area", Model.Current().GetActionInfo.AreaName.ToString() } }, new { @class = "t-button",  @style="float:right" })
            </td>
            <td id="Nav_Right">
                 @if (!Model.Next().IsEmpty())
                 { 
                    <button id="nextBt" onclick"NextButton_OnClick()" class="t-button" style="float:right" title="@Model.Next().title">Next</button>
                 }

               @* @if (Model.Current().Equals(Model.Finish()))
                { 
                    <button id="finishBt" onclick"NextButton_OnClick()" class="t-button" style="float:right" title="Finish">Finish</button>
                }*@

            </td>
        </tr>
    </table>
    }
</div>
<script type="text/javascript">              
      
    $("#prevBt").click(function(){
        
        $('#preloader').show();
        var index = '@Model.StepInfos.IndexOf(@Model.Prev())';
  

        if (index < 0) index = 0;

        $.get('@Url.Action(@Model.Prev().GetActionInfo.ActionName, @Model.Prev().GetActionInfo.ControllerName, new RouteValueDictionary { { "area", @Model.Prev().GetActionInfo.AreaName  } })', { index: index }, function (response) {
            $("#StepView").html(response);
            NavigationRefresh();
            TaskListRefresh();
            $('#preloader').hide();
        })

       
    })

    $("#nextBt").click(function () {
       
        $('#preloader').show();
        $.ajax({ 
            type: 'POST', 
            contentType: 'application/json; charset=utf-8', 
            data: JSON.stringify(Parameters),
            dataType: 'html', 
            url: '@Url.Action(@Model.Current().PostActionInfo.ActionName, @Model.Current().PostActionInfo.ControllerName, new RouteValueDictionary { { "area", @Model.Current().PostActionInfo.AreaName }})',
                success: function(result) { 
                    $('#StepView').html(result);
                    NavigationRefresh();
                    TaskListRefresh();
                    $('#preloader').hide();
                }
            });
    })

    $("#finishBt").click(function () {

        $('#preloader').show();
        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(Parameters),
            dataType: 'html',
            url: '@Url.Action(@Model.Current().PostActionInfo.ActionName, @Model.Current().PostActionInfo.ControllerName, new RouteValueDictionary { { "area", @Model.Current().PostActionInfo.AreaName }})',
            success: function (result) {

                if (result == !null || result !="") {
                    $('#StepView').html(result);
                    NavigationRefresh();
                    TaskListRefresh();
                    $('#preloader').hide();
                }
                else {

                    $.get('@Url.Action("FinishUpload", "ImportMetadataStructure", new RouteValueDictionary { { "area","DCM"  } })', function (response) {
                        $("body").html(response);
                
                        $('#preloader').hide();
                    })
                }
            }
        });
       
    })

    function NavigationRefresh()
    {

        $.post('@Url.Action("RefreshNavigation", "ImportMetadataStructure", new RouteValueDictionary { { "area", "DCM" } })', function (response) {
           
            $("#NavDiv").replaceWith(response);
        })
    }
</script>
