@model BExIS.Web.Shell.Areas.RPM.Models.AttributePreviewStruct
@{ 
    string cssId = "attribute_" + Model.Id;
    string cssClass = Model.Id + " bx-rpm-attribute";
}

<div class="bx-rpm-attribute-item @cssClass" id="@cssId">
    <table>
        <tr class="hidden">
            <td id="Id">@Model.Id</td>
            <td id="Name">@Model.Name.ToLower()</td>
            <td id="Unit">@Model.Unit.Name.ToLower()</td>
            <td id="DataType">@Model.DataType.ToLower()</td>
        </tr>
        <tr>
            <td class="id">
                <div class="bx-rpm-label">Id</div>
                <div class="bx-rpm-text" title="@Model.Id">@Model.Id</div>
            </td>
            <td class="name">
                <div class="bx-rpm-label">Name</div>
                <div class="bx-rpm-text" title="@Model.Name">@Model.Name</div>
            </td>
            <td class="unit">
                <div class="bx-rpm-label">Unit</div>
                <div class="bx-rpm-text" title="@Model.Unit.Name">@Model.Unit.Name</div>
            </td>
            <td class="datatype">
                <div class="bx-rpm-label">Data Type</div>
                <div class="bx-rpm-text" title="@Model.DataType">@Model.DataType</div>
            </td>
            @*@if (Model.inUse)
            {
                <td class="bx-rpm-delete bx-disabled hidden"><span id="deleteattribute" class="bx fa-trash-o" disabled="true"></span></td>
            }
            else
            {
                <td class="bx-rpm-delete" onclick="javascript:openAttrDelWindow(@Model.Id,'@Model.Name', 'dataattribure')"><span id="deleteattribute" class="bx fa-trash-o"></span></td>
            }*@
            <td class="bx-rpm-expand"><span id="attributecollapse" class="bx bx-angle-double-down"></span></td>
            <td class="bx-rpm-select" onclick="javascript:addVariable(@Model.Id,'@Model.Name')"><span class="bx bx-next bx-button function small"></span></td>
        </tr>
        <tr class="hidden hiddenelements">
            <td colspan="7">
                <div class="bx-rpm-label">Description</div>
                <div class="bx-rpm-text">
                    @Model.Description
                </div>
            </td>
        </tr>

        @if (Model.Constraints.Count > 0)
        {
            <tr class="hidden hiddenelements">
                <td colspan="7">
                    <div class="bx-rpm-label">Constraints</div>
                    <div class="bx-rpm-text">
                        <ul>
                            @foreach (KeyValuePair<long, string> c in Model.Constraints)
                            {
                                <li>@c.Value</li>
                            }
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>