@using Telerik.Web.Mvc.UI
@using BExIS.Modules.Rpm.UI.Models
@model BExIS.Modules.Rpm.UI.Models.AttributePreviewModel

<div class="bx-rpm-attributeheader">
    <table>
        <tr>
            <td><h2>Variable Templates</h2></td>
            <td class="bx-rpm-search">
                <div class="bx-rpm-searchBar">
                    @Html.TextBox("SearchBox", "", new { @class = "bx-input" })
                    <div class="bx bx-button function bx-search"></div>
                    <div class="bx-rpm-resetSearch"><a onclick="javascript:resetSearch()">reset Search</a></div>
                </div>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="bx-rpm-sort">
                <span class="bx-rpm-filterCollapse" onclick="javascript:clickFilter()">
                    Filter
                    <span id="filterCollapse" class="bx bx-angle-double-down"></span>
                </span>
                <span class="bx-rpm-activefilter"></span>
            </td>
            <td class="bx-rpm-sortdropdown">
                Sort by
                <select class="bx-dropdown bx-rpm-dropdown" >
                    <option value="">no Sorting</option>
                    <option class="name" value="name,true">Name &#xf106;</option>
                    <option class="name" value="name,false">Name &#xf107;</option>
                    <option class="id" value="id,true">Id &#xf106;</option>
                    <option class="id" value="id,false">Id &#xf107;</option>
                    <option class="unit" value="unit,true">Unit &#xf106;</option>
                    <option class="unit" value="unit,false">Unit &#xf107;</option>
                    <option class="datatype" value="datatype,true">Data Type &#xf106;</option>
                    <option class="datatype" value="datatype,false">Data Type &#xf107;</option>
                </select>
                <div class="t-arrow-down bx-rpm-dropdownArrow"></div>
            </td>
        </tr>
    </table>

    <div class="bx-rpm-filter collapsed" id="filter" style="display:none;">
        <div id="filterContainer" style="display:none;">
            <h3 class="bx-rpm-loading"><span class="fa fa-spinner fa-pulse"></span> Loading Filters</h3>
        </div>
    </div>
</div>

<div class="bx-rpm-attribute-container" id="Results">
    <div class="bx-rpm-attribute-drag-drop">
        @foreach (AttributePreviewStruct aps in Model.AttributePreviews)
        {        
            @Html.Partial("_attributeElement", aps)
        }
    </div>
</div>
<div class="bx-rpm-attribute-functions bx-footer left">
    <button class="bx-button action" id="createAttribute" onclick="javascript:openAttrWindow(0)">Create Variable Template</button>
    <button class="hidden" id="addAttribute" value="0">Add Variable Template to List</button>
    <button class="hidden" id="removeattribute" value="0">remove Variable Template from List</button>
</div>

<script type="text/javascript">
    var filterIds = [];
    var searchFilter = [];
    var filter = [];

    $(function () {
        resizeAttributeContainer(120);
        initIsotope();
    });

    function initIsotope() {
        // init Isotope
        var $attributeGrid = $('.bx-rpm-attribute-drag-drop').isotope({
            itemSelector: '.bx-rpm-attribute-item',
            layoutMode: 'vertical',
            transitionDuration: '0.5s',
            getSortData: {
                name: '#Name',
                id: '#Id parseInt',
                description: '.description',
                unit: '#Unit',
                datatype: '#DataType',
                category: '[data-category]',
                weight: function (itemElem) {
                    var weight = $(itemElem).find('.weight').text();
                    return parseFloat(weight.replace(/[\(\)]/g, ''));
                }
            }
        });

      // bind sort button click
        $('.bx-rpm-sortdropdown').on('change', 'select', function () {
            var sortValue = $(this).val().split(',');
            $attributeGrid.isotope({ sortBy: sortValue[0], sortAscending: (sortValue[1] == 'true') });
            //$(this).find('.' + sortValue[0]).toggle();

        });

        $('.bx-rpm-attributeheader .bx-rpm-searchBar #SearchBox').keypress(function (e) {
            if (e.keyCode == 13) {
                $('.bx-rpm-attributeheader .bx-search').trigger('click');
            }
        });

        $('.bx-rpm-attributeheader .bx-search').click(function (e) {
            searchFilter = [];
            $('.bx-rpm-attributeheader .bx-rpm-searchBar #SearchBox').val($('.bx-rpm-attributeheader .bx-rpm-searchBar #SearchBox').val().trim());
            var terms = $('.bx-rpm-attributeheader .bx-rpm-searchBar #SearchBox').val().split(' ');
            var elems = $('.bx-rpm-attribute-item');
            var filterValue = '';
            if (terms.length > 0 && terms[0] != '') {
                for (var j = 0; j < terms.length; j++) {
                    terms[j] = terms[j].toLowerCase();
                    var temp = [];
                    for (var i = 0; i < elems.length; i++) {
                        var id = $(elems[i]).find('.id .bx-rpm-text').text();
                        if ($(elems[i]).find('.name .bx-rpm-text').text().toLowerCase().indexOf(terms[j]) >= 0 && temp.indexOf(id) < 0) {
                            temp.push(id);
                        }
                        else if ($(elems[i]).find('.description .bx-rpm-text').text().toLowerCase().indexOf(terms[j]) >= 0 && temp.indexOf(id) < 0) {
                            temp.push(id);
                        }
                        else if ($(elems[i]).find('.unit .bx-rpm-text').text().toLowerCase().indexOf(terms[j]) >= 0 && temp.indexOf(id) < 0) {
                            temp.push(id);
                        }
                        else if ($(elems[i]).find('.datatype .bx-rpm-text').text().toLowerCase().indexOf(terms[j]) >= 0 && temp.indexOf(id) < 0) {
                            temp.push(id);
                        }
                        else if ($(elems[i]).find('.id .bx-rpm-text').text().toLowerCase().indexOf(terms[j]) >= 0 && temp.indexOf(id) < 0) {
                            temp.push(id);
                        }
                    }
                    if (searchFilter.length == 0) {
                        searchFilter = temp.slice();
                    }
                    else {
                        var tempFilter = [];
                        for (var i = 0; i < searchFilter.length; i++) {
                            if (temp.indexOf(searchFilter[i]) >= 0) {
                                tempFilter.push(searchFilter[i]);
                            }
                        }
                        searchFilter = tempFilter.slice();
                    }
                    if (searchFilter.length == 0) {
                        searchFilter.push("0");
                    }
                }
            }
            else {
                searchFilter = [];
            }
            activateFilter();
        });

        function activateFilter() {
            var filterValue = [];
            if (searchFilter.length == 0 && filter.length == 0) {
                filterValue = [];
            }
            else if (searchFilter.length == 0) {
                filterValue = filter.slice();
            }
            else if (filter.length == 0) {
                filterValue = searchFilter.slice();
            }
            else {
                if (filter.length < searchFilter.length) {
                    for (var i = 0; i < filter.length; i++) {
                        if (searchFilter.indexOf(filter[i]) >= 0) {
                            filterValue.push(filter[i]);
                        }
                    }
                }
                else {
                    for (var i = 0; i < searchFilter.length; i++) {
                        if (filter.indexOf(searchFilter[i]) >= 0) {
                            filterValue.push(searchFilter[i]);
                        }
                    }
                }
                if (filterValue.length == 0) {
                    filterValue.push("0");
                }
            }
            if ($('.bx-rpm-filterContainer').length > 0) {
                disableCheckboxes(filterValue);
            }
            $attributeGrid.isotope({ filter: concatValues(filterValue) });
        }

        $('#filterContainer').on('click', '.bx-rpm-filterCheckbox', function () {
            if ($(this).hasClass('checked')) {
                filterIds.splice(filterIds.indexOf($(this).attr('id')));
            }
            else {
                var check = true;
                for (i in filterIds) {
                    if (filterIds[i] == $(this).attr('id')) {
                        check = false;
                        break;
                    }
                }

                if (check)
                    filterIds.push($(this).attr('id'));
            }
            filter = setFilter(this);
            activateFilter();

            var append = true;

            for (var i = 0; i < $('.bx-rpm-activefilter .bx-button').length; i++) {
                if ($('.bx-rpm-activefilter .bx-button')[i].getAttribute('value') == $(this).attr('id')) {
                    $('.bx-rpm-activefilter .bx-button')[i].parentNode.removeChild($('.bx-rpm-activefilter .bx-button')[i]);
                    append = false;
                    break;
                }
            }

            if (append) {
                var filterItem = $(this).parents('.bx-rpm-filterItem')
                var filterElement = $(document.createElement('div'));
                filterElement.addClass('bx-button smaller bx-disabled');
                filterElement.attr('id', 'removefilter')
                filterElement.attr('value', $(this).attr('id'));
                filterElement.text(filterItem.find('.bx-rpm-filterCheckboxLable').text().split('(')[0]);

                var filterRemove = $(document.createElement('span'));
                filterRemove.addClass('bx fa-times bx-rpm-removefilter bx-button smaller')
                filterElement.append(filterRemove);
                $('.bx-rpm-activefilter').append(filterElement);
            }
        });

        $('.bx-rpm-activefilter').on('click', '.bx-rpm-removefilter', function () {
            var filterElement = $(this).parents('#removefilter');
            filter = setFilter($('#' + filterElement.attr('value')));
            filterIds.splice(filterIds.indexOf(filterElement.attr('value')));
            activateFilter();
            filterElement.remove();
        });

        $attributeGrid.on('click', '.bx-rpm-attribute-item .bx-rpm-expand', function () {
            var attributeElement = $(this).parents('.bx-rpm-attribute-item');
            var hiddenElements = attributeElement.find('.hiddenelements');
            if (hiddenElements.hasClass('hidden')) {
                $(this).find('#attributecollapse').removeClass('bx-angle-double-down');
                $(this).find('#attributecollapse').addClass('bx-angle-double-up');
            }
            else {
                $(this).find('#attributecollapse').removeClass('bx-angle-double-up');
                $(this).find('#attributecollapse').addClass('bx-angle-double-down');
            }
            hiddenElements.toggleClass('hidden');
            $attributeGrid.isotope('layout');
        });

        $('.bx-rpm-attribute-functions #removeattribute').on('click', function () {
            var attrId = $('.bx-rpm-attribute-functions #removeattribute').attr('value');
            var attributeElement = $('.bx-rpm-attribute-container #attribute_' + attrId);
            $attributeGrid.isotope('remove', attributeElement);
            $attributeGrid.isotope('layout');
        });

        $('.bx-rpm-attribute-functions #addAttribute').on('click', function () {
            var attrId = $('.bx-rpm-attribute-functions #addAttribute').attr('value');
            var parameters = encodeURI('/?attributeId=' + attrId);
            $.get('@Url.Action("_getAttributeElement", "DataStructureEdit", new { area = "RPM" } )' + parameters, function (data) {
                if ($(data).hasClass('bx-rpm-message')) {
                    createMessageWindow(data, 'Add Variable Template '+ attrId, 'dataattribure', attrId);
                }
                else {
                    $item = $(data);
                    $attributeGrid.append($item).isotope('appended', $item);
                    scrollDown($('.bx-rpm-attribute-container'), $('.bx-rpm-attribute-drag-drop'));
                    loadFilter();
                    $('.bx-rpm-attributeheader .bx-search').trigger('click');
                }
            });
            $attributeGrid.isotope('layout');
        });


    }

    function resetSearch() {
        $('.bx-rpm-attributeheader .bx-rpm-searchBar #SearchBox').val('');
        $('.bx-rpm-attributeheader .bx-search').trigger('click');
    }

    function clickFilter() {
        if ($('#filter').hasClass('collapsed')) {
            loadFilter();
            $('#filter').slideDown('slow');
            $('#filter').removeClass('collapsed');
            $('#filterCollapse').addClass('bx-angle-double-up');
            $('#filterCollapse').removeClass('bx-angle-double-down');
        }
        else {
            $('#filter').slideUp('slow');
            $('#filter').addClass('collapsed');
            $('#filterCollapse').addClass('bx-angle-double-down');
            $('#filterCollapse').removeClass('bx-angle-double-up');
        }
        $('#filterContainer').slideToggle('slow');
        resizeAttributeContainer(600);
    }

    function loadFilter() {
        $.get('@Url.Action("_attributeFilterBinding", "DataStructureEdit", new { area = "RPM"} )', function (data) {
            var temp = [];
            for (i in filterIds) {
                  temp.push(filterIds[i]);
            }
            $('.bx-rpm-activefilter .bx-rpm-removefilter').trigger('click');
            $('#filterContainer').html(data);
            for (i in temp) {
                $('.bx-rpm-filterContainer #' + temp[i]).trigger('click');
            }
            $('.bx-rpm-attributeheader .bx-search').trigger('click');
        });
    }

    $(window).resize(function () {
        setTimeout(function () {
            $('.bx-rpm-attribute-container').height(getAttibuteContainerSize());
        }, 120);
    });

    function resizeAttributeContainer(delay) {
        setTimeout(function () {
            $('.bx-rpm-attribute-container').animate({
                'height': getAttibuteContainerSize()
            });           
        }, delay);
    }

    function getAttibuteContainerSize(){
        return $(window).height() - $('.navbar').outerHeight() - $('.bx-rpm-attributeheader').outerHeight() - $('.bx-rpm-attribute-functions').outerHeight() - $('#footer').outerHeight() - heightX;
    }

    function openAttrDelWindow(id, name, type) {
        var parameters = encodeURI('/?Id=' + id);
        $.ajax({
            type: 'GET',
            url: '@Url.Action("_deleteDataAttributeBinding", "DataStructureEdit")' + parameters,
            dataType: 'html',
            success: function (data) {
                createMessageWindow(data, 'Delete DataStructure ' + name + ' (' + id + ')', type, id);
            }
        });
    }


    function openAttrWindow(id) {
        var parameters = encodeURI('/?attributeId=' + id);
        var title = 'Create Variable Template'
        $.ajax({
            type: 'GET',
            url: '@Url.Action("_createAttributeBinding", "DataStructureEdit")' + parameters,
            dataType: 'html',
            success: function (data) {
                var windowElement = $.telerik.window.create({
                    title: title,
                    html: data,
                    contentUrl: "",
                    actions: ["Close"],
                    modal: true,
                    resizable: false,
                    draggable: true,
                    scrollable: false,
                    onClose: function () {
                        $("#createAttributeWindow").data('tWindow').destroy();
                    }
                });

                windowElement.attr('id', 'createAttributeWindow');
                var window = $(windowElement).data('tWindow');
                window.center().open();

                resetAllTelerikIconTitles();
            }
        });
    }

    function addVariable(id,name){
        if ($('.bx-rpm-dataStructure-functions').length > 0) {
            $('.bx-rpm-dataStructure-functions #addVariableButton').attr('value', id + ',' + name);
            $('.bx-rpm-dataStructure-functions #addVariableButton').trigger('click');
        }
    }
</script>