@using Telerik.Web.Mvc.UI
@using System.Linq;
@using BExIS.Dlm.Entities.DataStructure
@using BExIS.Web.Shell.Areas.RPM.Models

@model BExIS.Web.Shell.Areas.RPM.Models.EditUnitStruct

<div class="bx-rpm-createUnitContainer">
   @(Html.HiddenFor(m=>m.Id, new {@class = "hidden", @id = "id"})) 
    <table class="bx-rpm-info">
        <tr>
            <td>
                Name <span class="bx bx-required" title="Required"></span>
            </td>
            <td>
                <div title="The name will be used for a new Unit">@Html.TextBox("Name", Model.Name, new { @class = "bx-input", @id = "name", @autofocus = "true" })</div>
                <div class="hidden bx-rpm-error" id="messageContainer"><span id="message" class="bx-rpm-message" value="none"></span></div>
            </td>
        </tr>
        <tr>
            <td style="vertical-align:top;width:90px">
                Description
            </td>
            <td style="vertical-align:top;">
                @Html.TextArea("Description", Model.Description, new { @class = "bx-input", @id = "description" })
            </td>
        </tr>
        <tr>
            <td>
                Dimension
            </td>
            <td>
                @(Html.Telerik().ComboBox()
                            .Name("Unit_Dimension_Name_ComboBox")
                            .Placeholder("Select or Enter")
                            .HtmlAttributes(new { @class = "bx-dropdown bx-input" })
                            .BindTo(new SelectList(Model.DimensionList,"Id","Name"))
                            .SelectedIndex(0)
                //.ClientEvents(e => e.OnChange("dimensionChange"))
                )
            </td>
        </tr>
        <tr>
            <td>
                Data Types
            </td>
            <td class="datatypes">
                @foreach(ItemStruct i in Model.DataTypeList)
                {
                    <div class="datatypeitem">
                        <input class="checkBox" name="datatypeselection" type="checkbox" value="@i.Id " title="@i.Name" tabindex="5"/>
                        <span id="datatype_@i.Id">@i.Name</span>
                    </div>
                }
            </td>
        </tr>
    </table>
    @*<div class="bx-rpm-buttons bx-footer" id="buttons">
    </div>*@  
</div>  

<script type="text/javascript">
</script>