@model BExIS.Modules.Rpm.UI.Models.MissingValueStruct

<tr class="bx-rpm-missing-value-item">
    <td class="mvname" width="20%">
        <div class="hidden" id="mvid">@Model.Id</div>
        <div class="bx-rpm-label">Placeholder</div>
        <div class="bx-rpm-text">@Html.TextBox("DisplayName", Model.DisplayName, new { @id = "mvlabel" })</div>
        <div class="hidden" id="mvplaceholderl">@Model.Placeholder</div>
    </td>
    <td class="mvdescription">
        <div class="bx-rpm-label">Description</div>
        <div class="bx-rpm-text">@Html.TextBox("DisplayName", Model.Description, new { @id = "mvdescription" })</div>
    </td>
    <td class="bx-rpm-delete" title="Delete Missing Value"><span id="deletemissingvalue" class="bx fa-trash-o"></span></td>
</tr>
<tr class="bx-rpm-error hidden" id="@Model.Id">
    <td class="bx-rpm-message" colspan="3"></td>
</tr>
