@model BExIS.Web.Shell.Areas.RPM.Models.AttributePreviewStruct

@{
    string Id = "variable_" + Model.Name.Replace("(", "").Replace(")","").Replace(' ', '_') + "_" + Model.AttributeId + "_" + Model.VariableId;
}

<div class="bx-rpm-variable-item" id="@Id">
    <table>
        <tr>
            <td class="bx-rpm-label id"><label>Id</label></td>
            <td class="bx-rpm-text id">
                <span id="id">@Model.VariableId</span>
                <span class="hidden"id="attrid">@Model.AttributeId</span>
            </td>
            <td class="bx-rpm-label name"><label>Name</label></td>
            <td class="bx-rpm-text name">
                @Html.TextBox("Label", Model.Name, new { @id = "label" })
            </td>
            <td class="bx-rpm-label unit"><label>Unit</label></td>
            <td class="bx-rpm-text unit">
                @if (Model.convertibleUnits.Count > 1)
                {
                    @Html.DropDownList("Unit", new SelectList(Model.convertibleUnits, "ID", "Name", Model.Unit.Id), new { @id = "unit" })
                }
                else
                {
                    @Model.Unit.Name
                    @Html.TextBox("Unit", Model.Unit.Id, new { @id = "unit", @class = "hidden"})
                }
            </td>
            <td class="bx-rpm-label datatype"><label>Data Type</label></td>
            <td class="bx-rpm-text datatype" id="datatype">@Model.DataType</td>
            <td class="bx-rpm-delete"><span id="deletevariable" class="bx fa-trash-o"></span></td>
            <td class="bx-rpm-expand"><span id="variablecollapse" class="bx bx-angle-double-down"></span></td>
        </tr>
        <tr class="hidden hiddenelements">
            <td colspan="10">
                <label class="bx-rpm-label description">Description</label>
                @Html.TextArea("Description", @Model.Description, new { @class= "bx-rpm-textarea description", @id = "description" })
            </td>
        </tr>
        <tr class="hidden hiddenelements">
            <td colspan="10">
                <label class="bx-rpm-label constraints">Constraints</label>
                <div class= "bx-rpm-constraints">
                    @foreach (KeyValuePair<long, string> c in Model.Constraints)
                    {
                        <p>@c.Value</p>
                    }
                </div>
            </td>
        </tr>
    </table>
</div>



