@using Telerik.Web.Mvc.UI
@using BExIS.Web.Shell.Areas.RPM.Models
@model long

<link href="@Url.Content("~/Areas/RPM/Stylesheets/DataStructureEdit.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Areas/RPM/Scripts/isotope.pkgd.min.js")"></script>
<script src="@Url.Content("~/Areas/RPM/Scripts/packery.pkgd.min.js")"></script>
<script src="@Url.Content("~/Areas/RPM/Scripts/draggabilly.pkgd.min.js")"></script>

<div id="SearchResult">
    <h3 class="bx-rpm-loading"><span class="fa fa-spinner fa-pulse"></span> Loading Variables</h3>
</div>
<div id="DataStructure">
    <h3 class="bx-rpm-loading"><span class="fa fa-spinner fa-pulse"></span> Loading Data Structure
    @if (Model > 0)
    {
        <span> @Model</span>
    }
    </h3>
</div>

<script type="text/javascript">
    $(function () {
        $.get('@Url.Action("_attributeResultBinding", "DataStructureEdit", new { area = "RPM"} )', function (data) {
            $('#SearchResult').html(data);
        });

        $.get('@Url.Action("_dataStructureBinding", "DataStructureEdit", new { area = "RPM", dataStructureId = Model} )', function (data) {
            $('#DataStructure').html(data);
        });
    });

</script>