@model BExIS.Web.Shell.Areas.RPM.Models.DomainConstraintModel

@using BExIS.Web.Shell.Areas.RPM.Helpers;
@using BExIS.Web.Shell.Areas.RPM.Models;

@using (Html.BeginCollectionItem("DomainConstraints"))
{ 
    <table class="container constrainTable" id="domainConstraint">
        <tr>
            <td class="constrainlabel">
                Domain
                @Html.HiddenFor(m=>m.Id)
            </td>
            <td class="negated">
                <!--Negated-->
                <div class="container">
                    <div class="text">@Html.Label("invert")</div>
                    @Html.CheckBoxFor(m => m.Negated, new { @class = "checkBox", @id = "domain_invert"})
                </div>
            </td>
            <td class="constrainValue">
                <div class="container">
                    <div class="text">@Html.Label("Terms")</div>
                    @Html.TextBoxFor(m => m.Terms, new {@id = "domain_terms"})
                </div>
                <div class="container" title="@Model.FormalDescription" id="domain_FormalDescription">
                    <img src="../../../../Themes/Default/Styles/Default/infoicon.png" />
                </div>
            </td>
            <td class="constrainDesc">
                <div class="container">
                    <div class="text">@Html.Label("Description")</div>
                    @Html.TextBoxFor(m => m.Description)
                </div>
            </td>
        </tr>
    </table>
}

<script type="text/jscript">

    $('#domainConstraint').change(function () {

        if ($('#domain_invert').is(":checked")) {
            $('#domain_invert').val(true)
        }
        else
        {
            $('#domain_invert').val(false)
        }

        var variables = '?invert=' + $('#domain_invert').val() + '&Terms=' + $('#domain_terms').val();

        $.getJSON('/RPM/DataAttribute/getDomainConstraintFormalDescription/' + variables, function (data) {
            $('#domain_FormalDescription').attr("title", data);
        });
    })

</script>

@*<script>

    $("#addDomainItem").unbind().click(function () {

    
        $.ajax({
            url: this.href,
            cache: false,
            success: function (html) { $("#domainItems").append(html); }
        });

        return false;
    });

    $("a.removeDomainItem").live("click", function () {
        $(this).parents("div.domainItem:first").remove();
        return false;
    });

</script>*@