@model BExIS.Web.Shell.Areas.RPM.Models.PatternConstraintModel

@using BExIS.Web.Shell.Areas.RPM.Helpers;

@using (Html.BeginCollectionItem("PatternConstraints"))
{ 
    <table class="bx-rpm-container bx-rpm-constrainTable" id="patternConstraint_@Model.Id">
        <tr>
            <td class="bx-rpm-constrainlabel">
                Pattern
                @Html.HiddenFor(m=>m.Id)
            </td>
            <td class="bx-rpm-negated">
                <div class="bx-rpm-container">
                    <div class="bx-rpm-text">@Html.Label("invert")</div>
                    <!--Negated-->
                    @Html.CheckBoxFor(m => m.Negated, new { @class = "bx-rpm-checkBox", @id = "pattern_invert"})
                </div>
            </td>
            <td class="bx-rpm-constrainValue">
                <div class="bx-rpm-container">
                    <div class="bx-rpm-text">@Html.LabelFor(m=>m.MatchingPhrase)</div>
                    @Html.TextBoxFor(m=>m.MatchingPhrase, new { @id = "pattern_phrase", @class = "bx-input" })
                </div>
                <div class="bx-function bx-info bx-disabled" title="@Model.FormalDescription" id="pattern_FormalDescription"></div>
            </td>
            <td class="bx-rpm-constrainDesc">
                <div class="bx-rpm-container">
                    <div class="bx-rpm-text">@Html.Label("Description")</div>
                    @Html.TextBoxFor(m => m.Description, new { @class = "bx-input",id= "pattern_desc" })
                </div>
            </td>
            <td>
                <div>
                    <a class="bx bx-grid-function bx-eraser" style="margin-top: 26px" onclick="restPattern(this)" id="@Model.Id" title="Erase Constraint"></a>
                </div>
            </td>
        </tr>
    </table>
}
<script type="text/jscript">

    $('#patternConstraint').change(function () {

        if ($('#pattern_invert').is(":checked")) {
            $('#pattern_invert').val(true)
        }
        else
        {
            $('#pattern_invert').val(false)
        }

        var variables = '?invert=' + $('#pattern_invert').val() + '&phrase=' + $('#pattern_phrase').val();

        $.getJSON('/RPM/DataAttribute/getPatternConstraintFormalDescription/' + variables, function (data) {
            $('#pattern_FormalDescription').attr("title", data);
        });
    })

</script>