@model BExIS.Web.Shell.Areas.RPM.Models.RangeConstraintModel

@using BExIS.Web.Shell.Areas.RPM.Helpers;

@using (Html.BeginCollectionItem("RangeConstraints"))
{ 
<table class="bx-rpm-container bx-rpm-constrainTable" id="rangeConstraint">
    <tr>
        <td class="bx-rpm-constrainlabel">
            Range
            @Html.HiddenFor(m=>m.Id)
        </td>
        <td class="bx-rpm-negated">
            <!--Negated-->
            <div class="bx-rpm-container">
                <div class="bx-rpm-text">@Html.Label("invert")</div>
                @Html.CheckBoxFor(m => m.Negated, new { @class = "bx-rpm-checkBox", @id = "range_invert"})
            </div>
        </td>
        <td class="bx-rpm-constrainValue">
            <div class="bx-rpm-container">
                <div class="bx-rpm-text">@Html.LabelFor(m=>m.Min)</div>              
                @Html.TextBoxFor(m=>m.Min, new { @class = "bx-rpm-midinput bx-input", @id = "range_min"})
            </div>
            <div class="bx-rpm-container" style="text-align: center;">
                <div class="bx-rpm-text bx-rpm-include">@Html.Label("include")</div>
                @Html.CheckBoxFor(m => m.MinInclude, new { @class = "bx-rpm-checkBox", @id = "range_mininclude"})
            </div>
            <div class="bx-rpm-container">
                <div class="bx-rpm-text">@Html.LabelFor(m=>m.Max)</div>
                @Html.TextBoxFor(m=>m.Max, new { @class = "bx-rpm-midinput bx-input", @id = "range_max"})
            </div>
            <div class="bx-rpm-container" style="text-align: center;">
                <div class="bx-rpm-text bx-rpm-include">@Html.Label("include")</div>
                @Html.CheckBoxFor(m => m.MaxInclude, new { @class = "bx-rpm-checkBox", @id = "range_maxinclude"})
            </div>
            <div class="bx-function bx-info" id="range_FormalDescription" title="@Model.FormalDescription"></div>
        </td>
        <td class="bx-rpm-constrainDesc">
            <div class="bx-rpm-container">
                <div class="bx-rpm-text">@Html.Label("Description")</div>
                @Html.TextBoxFor(m => m.Description, new { @class = "bx-input" })
            </div>
        </td>
    </tr>
</table>
}

<script type="text/jscript">

    $('#rangeConstraint').change(function () {

        if ($('#range_invert').is(":checked")) {
            $('#range_invert').val(true)
        }
        else
        {
            $('#range_invert').val(false)
        }

        if ($('#range_mininlude').is(":checked")) {
            $('#range_mininlude').val(true)
        }
        else {
            $('#range_mininlude').val(false)
        }

        if ($('#range_maxinlude').is(":checked")) {
            $('#range_maxinlude').val(true)
        }
        else {
            $('#range_maxinlude').val(false)
        }
        var variables = '?invert=' + $('#range_invert').val() + '&min=' + $('#range_min').val() + '&max=' + $('#range_max').val() + '&mininclude=' + $('#range_mininclude').val() + '&maxinclude=' + $('#range_maxinclude').val();

        $.getJSON('/RPM/DataAttribute/getRangeConstraintFormalDescription/' + variables, function (data) {
            $('#range_FormalDescription').attr("title",data);
        });
    })

</script>
