@using Telerik.Web.Mvc.UI
@using BExIS.Dlm.Entities.DataStructure
@using System
@using System.Text.RegularExpressions

@using BExIS.Web.Shell.Areas.RPM.Models;

@model DataAttributeManagerModel

@*<header>*@
    <link href="@Url.Content("~/Areas/RPM/Stylesheets/RPM.css")" rel="stylesheet" type="text/css" />  
    <link href="@Url.Content("~/Areas/RPM/Stylesheets/DataStructure.css")" rel="stylesheet" type="text/css" />
@*</header> *@

@{
    string[] temp;
    string windowName = "Create Data Attribute";


    if (Model.DataAttributeModel.Id != 0)
    {
        if (!String.IsNullOrEmpty(Model.DataAttributeModel.Name))
        {
            windowName = "Edit Data Attribute: " + Model.DataAttributeModel.Name + " (Id: " + Model.DataAttributeModel.Id + ")";
        }
    }
}



@*@{
    ViewBag.Title = "Data Attribute Manager";
}*@

@section Information
{
    With this interface you are able to manage (e.g. create, edit, delete) data attributes which may be used as variables in data structures (a variable is an instance of an attribute). Data attributes cannot be edited or deleted once they are associated with a data structure (they become locked).
    <p>
    <a href="/RPM/Help/Index/#_Toc434570751" class="bx-informationLink" title="go to help" target="_blank">More</a>
</p>
}
<div class="bx-rpm-buttons">
    @Html.ActionLink("Create Data Attribute", "openAttributeWindow", "DataAttribute", new { id = 0 }, new { @class = "bx-button function" })
</div>
    @(Html.Telerik().Grid(Model.DataAttributeStructs)    
            .Name("bx-rpm-attributeGrid")
            .Sortable()
            .Filterable()             
            .Columns(columns =>
                {
                    columns.Bound(c => c.Id)
                    .Width(100);
                    columns.Bound(c => c.Name);                    
                    columns.Bound(c => c.ShortName);
                    columns.Bound(c => c.Unit)
                        .Title("Unit");
                    columns.Bound(c => c.DataType)
                        .Title("Data Type");
                    columns.Template(
                        @<text>
                        @if(!String.IsNullOrEmpty(item.FormalDescriptions))
                        {
                            temp = item.FormalDescriptions.Split('.');
                            foreach (string s in temp)
                            {
                                if (!String.IsNullOrEmpty(s))
                                {
                                    <span>@s.</span><br />
                                }
                            }
                        }
                        </text>
                        )
                        .Title("Constraints");
                    columns.Bound(c => c.Description);
                    columns.Template(
                        @<text>
                            @if(!item.InUse)
                            {
                                <div>
                                    @Html.ActionLink(" ", "openAttributeWindow", "DataAttribute", new { id = item.Id }, new { @class = "bx bx-grid-function bx-edit", title = "Edit Data Atribute \"" + item.Name + "\"" })
                                    @Html.ActionLink(" ", "deletAttribute", "DataAttribute", new { id = item.Id, item.Name }, new { @class = "bx bx-grid-function bx-trash ", title = "Delete Data Atribute \"" + item.Name + "\"", onclick = "return confirm('Are you sure you want to delete the Data Attribute " + item.Name + " ?')" })
                                </div>
                            }
                            else
                            {
                                <div>
                                    <div class="bx bx-grid-function bx-edit bx-disabled" disabled="disabled" title='Edit Data Atribute "@item.Name"'></div>
                                    <div class="bx bx-grid-function bx-trash bx-disabled" disabled="disabled" title='Delete Data Atribute "@item.Name"'></div>
                                </div>
                            }
                        </text>
                    )
                    .Width(70);
                        //.ClientTemplate(
                        //    @Html.ActionLink("Edit", "openAttributeWindow", "DataAttribute", new { id = "<#= id #>" }, new { @class = "t-icon t-edit" }).ToHtmlString() +
                        //    @Html.ActionLink("Delete", "deletAttribute", "DataAttribute", new { id = "<#= id #>", dataAttributeModel.Name }, new { @class = "t-icon t-delete", onclick = "return confirm('Are you sure you want to delete the Data Attribute " + dataAttributeModel.Name + " ?')" }).ToHtmlString()
                        //);
                })
                .ClientEvents(events=>events.OnDataBound("onDataBound"))
    )
<div style="position:absolute; left:calc(50% - 478px); top:15%;">
    @{ Html.Telerik().Window()
                      .Name("AttributeWindow")
                      .Title(windowName)
                      .Modal(true)
                      .Visible((bool)Session["Window"])
                      .Draggable(true)
                      .Content(@<text>
                        <div>
                            @Html.Partial("_editAttribute", Model.DataAttributeModel)
                        </div>
                    </text>)
            .Render();
    }
</div>
    @{Session["Window"] = false;}

<script type="text/javascript" language="javascript">

    function onDataBound()
    {
        addTooltips();
    }

</script>