@using System.Web.UI.WebControls
@using Vaiona.Web.Mvc;
@using BExIS.Utils.WebHelpers
@using Vaiona.Web.Mvc.Modularity;

@section Information
{
    @if (Request.IsAuthenticated)
    {
        <text>
            This table contains all datasets created by you as a current logged on user.<br />
            By right clicking on the header, you can manage the visibility of
            columns. You can also use sorting and filtering to adjust the listing.
        </text>
    }
    else
    {
        <p>If you have any problems installing or using it please do not hesitate contacting us at: bexis-support@uni-jena.de</p>
        <p>This is a community driven open source project so we are looking forward to any feedback or inquiry about new features.</p>
    }

}

@if (Request.IsAuthenticated)
{
    @Html.Render("ddm", "home", "ShowMyDatasets");
}
else
{
    @*<div style="text-align: center;">
        @Html.Logo(Html.GetTenant().GetResourcePath("BigLogo"))
    </div>
    <div style="text-align: center; margin-top: 24pt">
        @Html.ActionLink("Login", "Login", "Account", new { Area = "" }, new { @class = "t-button function", style = "width: 80pt;" })
        @Html.ActionLink("Register", "Register", "Account", new { Area = "" }, new { @class = "t-button function", style = "width: 80pt;" })
    </div>*@

    @Html.Render("ddm", "home", "Index");
}