@using BExIS.Utils.Models
@model IEnumerable<Property>

<div id="searchProperties">
@foreach (var item in Model)
{

@*ListBox
// UI_COMPONENT = List
// where you can see and select more than one
// AGGREGATION_TYPE  = Union
*@
    if (item.AggregationType == Property.AT_UNION && item.UIComponent == Property.UI_LIST)
    {
        <p>multiselection of a dropdown is not supported in this version.</p>
    }

@* DropBox
// AGGREGATION_TYPE  = Distinct
// UI_COMPONENT = List
*@
    if (item.AggregationType == Property.AT_DISTINCT && item.UIComponent == Property.UI_LIST)
    {
      @Html.Partial("_dropBoxView", item)
    }

@* RadioButton
// AGGREGATION_TYPE  = Distinct
// UI_COMPONENT = item
*@
    if (item.AggregationType == Property.AT_DISTINCT && item.UIComponent == Property.UI_ITEM)
    {
      @Html.Partial("_radioButtonsView", item)
    }

@* CheckBox
// AGGREGATION_TYPE  = UNION
// UI_COMPONENT = item
*@
    if (item.AggregationType == Property.AT_UNION && item.UIComponent == Property.UI_ITEM)
    {
      @Html.Partial("_checkboxButtonsView", item)
    }

@* RangeSlider
// AGGREGATION_TYPE  = UNION
// UI_COMPONENT = range
*@
    if (item.AggregationType == Property.AT_UNION && item.UIComponent == Property.UI_RANGE)
    {
      @Html.Partial("_sliderView", item)
    }

@* Slider
// AGGREGATION_TYPE  = Distinct
// UI_COMPONENT = range
*@
    if (item.AggregationType == Property.AT_DISTINCT && item.UIComponent == Property.UI_RANGE)
    {
      @Html.Partial("_sliderView", item)
    }
}
</div>