@using Telerik.Web.Mvc.UI;
@using BExIS.Web.Shell.Areas.Auth.Models;

@model UserCreationModel

@using (Ajax.BeginForm("Create", "Users", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "Content_Creation" }))
{   
    @Html.ValidationSummary(true)
    
    <div class="editor-label" style="font-weight:bold">
        @Html.LabelFor(m => m.UserName)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
    
    <div class="editor-label" style="font-weight:bold">
        @Html.LabelFor(m => m.Email)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    
    <div class="editor-label" style="font-weight:bold">
        @Html.LabelFor(m => m.Password)
    </div>
    <div class="editor-field">
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    <div class="editor-label" style="font-weight:bold">
        @Html.LabelFor(m => m.ConfirmPassword)
    </div>
    <div class="editor-field">
        @Html.PasswordFor(m => m.ConfirmPassword)
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>
    <div class="editor-label" style="font-weight:bold">
        @Html.LabelFor(m => m.SecurityQuestion)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(m => m.SecurityQuestion, new SelectList(new List<string> { "What is your maternal grandmother's maiden name?", "What was your childhood nickname?", "In what city or town was your first job?" }))
    </div>
    <div class="editor-label" style="font-weight:bold">
        @Html.LabelFor(m => m.SecurityAnswer)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.SecurityAnswer)
        @Html.ValidationMessageFor(m => m.SecurityAnswer)
    </div>
    
    <p>
        <button type="submit">Create</button>
        <button type="reset">Reset</button>
        <button type="button" onclick="Window_Creation_Cancel()">Cancel</button>
    </p>
}

<script type="text/javascript">
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#Content_Creation");
    });
</script>