@using Telerik.Web.Mvc.UI;
@using BExIS.Web.Shell.Areas.Auth.Models;

@model UserUpdateModel

@using (Ajax.BeginForm("Edit", "Users", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "tabs-1" }))
{       
    @Html.ValidationSummary(true)

    <div id="accordion">
            
<h3 style="font-weight:bold">User Information</h3>
        <div>
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Id)
                        @Html.HiddenFor(m => m.Id)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(m => m.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.UserName)
                        @Html.HiddenFor(m => m.UserName)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.Label("Password")
                    </td>
                    <td id="Content_ChangePassword">
                        @Html.Partial("_ShowPasswordPartial", Model.Id)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(m => m.FullName)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.FullName)
                        @Html.ValidationMessageFor(m => m.FullName)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(m => m.Email)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email)
                    </td>
                </tr>

<tr>
                    <td>
                        @Html.LabelFor(m => m.IsApproved)
                    </td>
                    <td>
                        @Html.CheckBoxFor(m => m.IsApproved, new { disabled = "disabled" })                      
                        @Html.HiddenFor(m => m.IsApproved)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(m => m.IsBanned)
                    </td>
                    <td>
                        @Html.CheckBoxFor(m => m.IsBanned, new { disabled = "disabled" })
                        @Ajax.ActionLink(@Model.IsBanned ? "Enable" : "Banish", "ChangeStatus", "Users", new { id = Model.Id, status = "isDisabled", value = !Model.IsBanned }, new AjaxOptions { UpdateTargetId = "tabs-1" }, new { @class = "t-button", @style = "float:right" })
                        @Html.HiddenFor(m => m.IsBanned)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(m => m.IsLockedOut)
                    </td>
                    <td>
                        @Html.CheckBoxFor(m => m.IsLockedOut, new { disabled = "disabled" })
                        @Html.HiddenFor(m => m.IsLockedOut)
                    </td>
                </tr>

            </table>
        </div>

    </div>
    
    <p>
        <button type="submit">Save</button>
        <button type="reset" onclick="$(this).resetValidation()">Reset</button>
        <button type="button" onclick="Window_Update_Show(@Model.Id)">Cancel</button>
        <button type="button" onclick="deleteUser(@Model.Id)">Delete</button>
    </p>
}

<script type="text/javascript">
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#tabs-1");
    });

    $("#accordion").accordion({
        heightStyle: "content"
    });
</script>