@using Telerik.Web.Mvc.UI;
@using BExIS.Web.Shell.Areas.Auth.Models;

@model UserReadModel

<div id="accordion">
            
    <h3 style="font-weight:bold">User Information</h3>
    <div>
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Id)
                        @Html.HiddenFor(m => m.Id)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(m => m.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.UserName)
                        @Html.HiddenFor(m => m.UserName)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.Label("Password")
                    </td>
                    <td id="Content_ChangePassword">
                        @Html.Partial("_ShowPasswordPartial", Model.Id)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(m => m.FullName)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.FullName, new { disabled = "disabled" })
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(m => m.Email)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Email, new { disabled = "disabled" })
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(m => m.IsApproved)
                    </td>
                    <td>
                        @Html.CheckBoxFor(m => m.IsApproved, new { disabled = "disabled" })                      
                        @Html.HiddenFor(m => m.IsApproved)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(m => m.IsBanned)
                    </td>
                    <td>
                        @Html.CheckBoxFor(m => m.IsBanned, new { disabled = "disabled" })
                        @Ajax.ActionLink(@Model.IsBanned ? "Enable" : "Banish", "ChangeStatus", "Users", new { id = Model.Id, status = "isDisabled", value = !Model.IsBanned }, new AjaxOptions { UpdateTargetId = "tabs-1" }, new { @class = "t-button", @style = "float:right" })
                        @Html.HiddenFor(m => m.IsBanned)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(m => m.IsLockedOut)
                    </td>
                    <td>
                        @Html.CheckBoxFor(m => m.IsLockedOut, new { disabled = "disabled" })
                        @Html.HiddenFor(m => m.IsLockedOut)
                    </td>
                </tr>

            </table>
        </div>

</div>

    <p>
        <button type="button" onclick="Window_Update_Edit(@Model.Id)" class="t-button">Edit</button>
        <button type="button" onclick="Window_Update_Delete(@Model.Id)" class="t-button">Delete</button>
    </p>

<script type="text/javascript">
    $("#accordion").accordion({
        heightStyle: "content"
    });
</script>