@using Telerik.Web.Mvc.UI;
@using BExIS.Web.Shell.Areas.Auth.Models;

@model UserModel

@using (Html.BeginForm())
{   
    @Html.ValidationSummary(true)
    
    <div class="editor-label" style="font-weight:bold">
        @Html.LabelFor(m => m.Id)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(m => m.Id)
        @Html.HiddenFor(m => m.Id)
    </div>
    
    <div class="editor-label" style="font-weight:bold">
        @Html.LabelFor(m => m.UserName)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(m => m.UserName)
        @Html.HiddenFor(m => m.UserName)
    </div>
    
    <div class="editor-label" style="font-weight:bold">
        @Html.LabelFor(m => m.Email)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.Email, new { @readonly = "readonly" })
    </div>

    <div class="editor-label" style="font-weight:bold">
        @Html.LabelFor(m => m.RegistrationDate)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(m => m.RegistrationDate)
        @Html.HiddenFor(m => m.RegistrationDate)
    </div>
    
    <div class="editor-label" style="font-weight:bold">
        @Html.LabelFor(m => m.LastLoginDate)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(m => m.LastLoginDate)
        @Html.HiddenFor(m => m.LastLoginDate)
    </div>
    
    <div class="editor-label" style="font-weight:bold">
        @Html.LabelFor(m => m.LastActivityDate)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(m => m.LastActivityDate)
        @Html.HiddenFor(m => m.LastActivityDate)
    </div>
    
    <p>
        <button type="button" onclick="TabStrip_UserInfo_Edit(@Model.Id)">Edit</button>
    </p>
}