@using Telerik.Web.Mvc.UI
@using BExIS.Web.Shell.Areas.Auth.Models;

@model List<UserModel>

@(Html.Telerik().Grid(Model)
        .Name("Grid_Users")
        .DataKeys(keys =>
        {
            keys.Add(u => u.Id);
        })
        .ToolBar(command =>
            {
                command.Custom().Name("Create").Text("New User").Ajax(true).ButtonType(GridButtonType.ImageAndText).ImageHtmlAttributes(new { @class = "t-icon t-add" });
            })
        .Columns(columns =>
        {
            columns.Command(command =>
            {
                command.Custom("Details").Ajax(true).ButtonType(GridButtonType.BareImage).ImageHtmlAttributes(new { @class = "t-icon t-edit" });
                command.Custom("Delete").Ajax(true).ButtonType(GridButtonType.BareImage).ImageHtmlAttributes(new { @class = "t-icon t-delete" });
            }).Title("Actions").Width(90).HtmlAttributes(new { style = "text-align:left" });
            columns.Bound(u => u.Id).Width(100);
            columns.Bound(u => u.UserName).Width(250);
            columns.Bound(u => u.Email);
        })
        .ClientEvents(clientEvents => clientEvents.OnCommand("OnCommand"))
        .DataBinding(dataBinding => dataBinding
                .Ajax()
                .Select("Users_Select", "Users")
        )
        .Filterable()
        .Sortable(sortable => sortable
            .OrderBy(orderby => orderby
                .Add(r => r.Id).Descending()))
        .Scrollable(scrollable => scrollable.Height(500))
)

@(Html.Telerik().Window()
    .Name("Window_Creation")
    .Title("User Creation")
    .Draggable(true)
    .Modal(true)
    .Visible(false)
    .Scrollable(true)
    .ContentHtmlAttributes(new { @style="overflow:auto; width:auto; height:auto; min-height:225px; min-width:400px"})
    .Content(@<text>
        <div id="Content_Creation"></div>
    </text>)
    .ClientEvents(clientEvents => clientEvents
        .OnClose("Window_Creation_OnClose")
    )
)

@(Html.Telerik().Window()
    .Name("Window_Deletion")
    .Title("User Deletion")
    .Draggable(true)
    .Modal(true)
    .Visible(false)
    .Scrollable(true)
    .ContentHtmlAttributes(new { @style="overflow:auto; width:auto; height:auto; min-height:225px; min-width:400px"})
    .Content(@<text>
        <div id="Content_Deletion"></div>
    </text>)
    .ClientEvents(clientEvents => clientEvents
        .OnClose("Window_Deletion_OnClose")
    )
)

@(Html.Telerik().Window()
    .Name("Window_Details")
    .Title("User Details")
    .Draggable(true)
    .Modal(true)
    .Visible(false)
    .Scrollable(true)
    .ContentHtmlAttributes(new { @style="overflow:auto; width:auto; height:auto; min-height:225px; min-width:400px"})
    .Content(@<text>
        <div id="Content_Details"></div>
    </text>)
    .ClientEvents(clientEvents => clientEvents
        .OnClose("Window_Details_OnClose")
    )
)

<script type="text/javascript">
    
    function OnCommand(e) {

        if (e.name == "Create") {

            $.get('@Url.Action("Create", "Users")', function (data) {

                $('#Content_Creation').html(data);

                var window = $('#Window_Creation').data('tWindow');
                window.center().open();
            });
        }

        if (e.name == "Delete") {
            var userID = e.dataItem.Id;

            $.get('@Url.Action("Delete", "Users")', { Id : userID }, function (data) {

                $('#Content_Deletion').html(data);

                var window = $('#Window_Deletion').data('tWindow');
                window.center().open();
            });
        }

        if (e.name == "Details") {
            var userID = e.dataItem.Id;

            $.get('@Url.Action("Details", "Users")', { Id: userID }, function (windowData) {

                $('#Content_Details').html(windowData);

                $.get('@Url.Action("UserInfo", "Users")', { Id: userID }, function (contentData) {

                    $('#Content_UserInfo').html(contentData);

                    var window = $('#Window_Details').data('tWindow');
                    window.center().open();
                });
            });
        }
    }

    // Create
    function Window_Creation_Cancel() {
        $('#Window_Creation').data('tWindow').close();
    }

    function Window_Creation_OnClose() {
        $('#Content_Creation').empty();
        $("#Grid_Users .t-refresh").trigger('click');
    }

    // Delete
    function Window_Deletion_Cancel() {
        $('#Window_Deletion').data('tWindow').close();
    }

    function Window_Deletion_OnClose() {
        $('#Content_Deletion').empty();
        $("#Grid_Users .t-refresh").trigger('click');
    }

    // Details
    function TabStrip_Details_OnSelect(e, userID) {
        var tab = $(e.item);

        $('#Content_UserInfo').empty();
        $('#Content_Membership').empty();
        $('#Content_FeaturePermissions').empty();

        switch (tab.index()) {
            case 0:
                $.get('@Url.Action("UserInfo", "Users")', { Id: userID }, function (data) {
                    $('#Content_UserInfo').html(data);
                });
                break;

            case 1:
                $.get('@Url.Action("Membership", "Users")', { Id: userID }, function (data) {
                    $('#Content_Membership').html(data);
                });
                break;

            case 2:
                $.get('@Url.Action("FeaturePermissions", "Users")', { Id: userID }, function (data) {
                    $('#Content_FeaturePermissions').html(data);
                });
                break;

            default:
                break;
        }
    }

    function TabStrip_UserInfo_CancelEdit(e) {
        $.get('@Url.Action("UserInfo", "Users")', { Id: e }, function (data) {
                $('#Content_UserInfo').html(data);
            });
        }

        function TabStrip_UserInfo_Edit(e) {
            $.get('@Url.Action("UserEdit", "Users")', { Id: e }, function (data) {
            $('#Content_UserInfo').html(data);
        });
    }

    function Window_Details_OnClose() {
        $('#Content_Details').empty();
        $("#Grid_Users .t-refresh").trigger('click');
    }

    // Info
    function Window_Info_Confirm(e) {
        switch (e) {
            case "Window_Deletion":
                var windowDelete = $('#Window_Deletion').data('tWindow');
                windowDelete.close();
                break;

            case "Window_Details":
                var windowDetails = $('#Window_Details').data('tWindow');
                windowDetails.close();
                break;

            case "Window_Creation":
                var windowCreation = $('#Window_Creation').data('tWindow');
                windowCreation.close();
                break;

            default:
                break;
        }
    }

    // Membership
    function setUserInRole(value, userid, roleid) {
        if (value) {
            $.post('@Url.Action("AddUserToRole", "Users")', { UserId: userid, RoleId: roleid }, function (e) {
                if (e == 11) {
                    alert("The role does not exist anymore.");

                    $("#Grid_UserMembership .t-refresh").trigger('click');
                }

                if (e == 12) {
                    alert("The user does not exist anymore.");

                    var windowDetails = $('#Window_Details').data('tWindow');
                    windowDetails.close();

                    $("#Grid_UserMembership .t-refresh").trigger('click');
                }
            });
        } else {
            $.post('@Url.Action("RemoveUserFromRole", "Users")', { UserId: userid, RoleId: roleid }, function (e) {
                if (e == 11) {
                    alert("The role does not exist anymore.");

                    $("#Grid_UserMembership .t-refresh").trigger('click');
                }

                if (e == 12) {
                    alert("The user does not exist anymore.");

                    var windowDetails = $('#Window_Details').data('tWindow');
                    windowDetails.close();

                    $("#Grid_UserMembership .t-refresh").trigger('click');
                }
            });
        }
    }

</script>