@using BExIS.Web.Shell.Areas.Auth.Models;

@model List<UserModel>

<link href="@Url.Content("~/Scripts/jQueryUI/1.10.3/css/smoothness/jquery-ui-1.10.3.custom.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jQueryUI/1.10.3/js/jquery-ui-1.10.3.custom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

@Html.Partial("_UsersPartial", Model)