@model BExIS.Web.Shell.Models.LdapLoginConfirmModel

@using (Html.BeginForm("Confirm", "Ldap", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
@Html.AntiForgeryToken()

@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.Name)

<div class="form-group">
    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    <div class="col-md-10 col-md-offset-2">
        @Html.CheckBoxFor(m => m.TermsAndConditions)
        I accept <a href="/TermsAndConditions/Index" title="See Terms and Conditions" target="_blank">Terms and Conditions</a>.
        @Html.ValidationMessageFor(m => m.TermsAndConditions)
    </div>
</div>
<div class="form-group">
    <div class="col-md-10 col-md-offset-2">
        Please read the <a href="/PrivacyPolicy/Index" title="Privacy Policy" target="_blank">Privacy Policy</a>.
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="t-button function" value="Accept" />
    </div>
</div>
}