@using BExIS.Web.Shell.Models
@model BExIS.Web.Shell.Models.LdapLoginViewModel
@{
    ViewBag.Title = "Log in";
}

@section Information
{
    <p>Through this interface you can login into the system. </p>
    <p>If you have not a username, you need to register into the system first.</p>
    <p>
        <a href="/sam/help/index#_Login" class="bx-informationLink" title="go to help" target="_blank">More</a>
    </p>
}

@*<h2>@ViewBag.Title</h2>*@
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Ldap", new { Name = ViewBag.Name, ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Name)
            <h4>Use your local account to login</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Log in" class="t-button function" />
                </div>
            </div>
            }
        </section>
    </div>
</div>