@model BExIS.Web.Shell.Areas.DCM.Models.SelectMetaDataModel
@using Telerik.Web.Mvc.UI;
@using Telerik.Web.Mvc.Resources;
@using BExIS.Web.Shell.Areas.DCM.Models;
@using BExIS.Dlm.Entities.DataStructure;


<div id="Step3" class="uploadWizardStep">

    <div class="uploadWizardStep_Main">
        <div class="uploadWizardStep_Header stepper">
            <h3>Select metadata schema</h3>
        </div>

        <div class="uploadWizardStep_Description stepper">
            <p>Please select the schema for the meta data of your new dataset. After the dataset is created, you will be redirected and you can edit the metadata.</p>
        </div>

        <div class="uploadWizardStep_Content stepper">
            @using (Html.BeginForm("SheetSelectMetaData", "EasyUploadSheetSelectMetaData", new { area = "DCM" }))
            {
                <table>
                    <tr>
                        <td>Metadata Schema</td>
                        <td>
                            <select name="MetaDataSchema">
                                @if (Model.SelectedMetaDataId <= 0)
                                {
                                    <option selected value="-1" title="Please select...">Please select...</option>
                                }

                                @{
                                    Tuple<long, string> tuple = Model.AvailableMetadata.Where(t => t.Item1 == Model.SelectedMetaDataId).FirstOrDefault();
                                };

                                @foreach (Tuple<long, string> metadata in Model.AvailableMetadata)
                                {

                                    string selected = "";

                                    if (tuple != null && tuple.Item1 == metadata.Item1)
                                    {
                                        selected = "selected";
                                    }
                                    <option @Html.Raw(selected) value="@Html.Raw(metadata.Item1)" title="@Html.Name(metadata.Item2)">@Html.Name(metadata.Item2)</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Title</td>
                        <td>@(Html.TextBoxFor(m => m.DescriptionTitle, new { @class = "t-input asciiFormularField" }))</td>
                    </tr>
                </table>
                                    }
        </div>
    </div>

    <div class="uploadWizardStep_Error stepper">
        @if (Model != null)
        {
            if (Model.ErrorList != null)
            {
                if (Model.ErrorList.Count == 0)
                {


                }
                else
                {
                    <ul>
                        @foreach (BExIS.IO.Transform.Validation.Exceptions.Error s in @Model.ErrorList)
                        {
                            <li>@s.ToString()</li>
                        }
                    </ul>

                }
            }

        }
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {

        $('select[name="MetaDataSchema"]').change(function () {
            var selectedMetaDataTypeId = $(this).val();

            // send to bus
            $.post('@Url.Action("SaveMetaDataSelection", "EasyUploadSheetSelectMetaData", new RouteValueDictionary { { "area", "DCM" } })', { metadataId: selectedMetaDataTypeId }, function (response) {
                //$("#Step3").html(response);
            });
        });

        $('.asciiFormularField').change(function () {
            $.post('@Url.Action("SaveMetaDescription", "EasyUploadSheetSelectMetaData", new RouteValueDictionary { { "area", "DCM" } })', { DescriptionTitle: $(this).val() }, function (response) {


            })

        })
    });

</script>