@model BExIS.Dcm.ImportMetadataStructureWizard.ImportMetadataStructureTaskManager
@using BExIS.Modules.Dcm.UI.Models;

@{

    int currentPage = @Model.GetCurrentStepInfoIndex() + 1;

}
<div id="NavDiv">

    @if (!(Model.Current() == null))
    {
    <table id="NavigationTable">
        <tr>
            <td id="Nav_Left">
                @if (!Model.Prev().IsEmpty() && !Model.Current().Equals(Model.Finish()))
                {
                <button id="prevBt" onclick"PrevButton_OnClick()" class="bx-button action" title="@Model.Prev().title">Prev</button>
                }
            </td>
            <td id="Nav_Pages">
                ( @currentPage  of   @Model.StepInfos.Count )
            </td>
            <td id="Nav_Options">
                @Html.ActionLink("Cancel", "CancelUpload", "ImportMetadataStructure", new RouteValueDictionary { { "area", Model.Current().GetActionInfo.AreaName.ToString() } }, new { @class = "bx-button action",  @style="float:right" })
            </td>
            <td id="Nav_Right">
                @if (!Model.Next().IsEmpty())
                 {
                <button id="nextBt" class="bx-button action" style="float:right" title="@Model.Next().title">Next</button>
                 }

                @if (Model.Current().Equals(Model.Finish()))
                {
                <button id="finishBt" class="bx-button action" style="float:right" title="Finish">Finish</button>
                }
            </td>
        </tr>
    </table>
    }
</div>
<script type="text/javascript">

    $("#prevBt")
        .click(function() {

            $('.wizardStep').preloader(16, "Previous step is loading.");
            var index = '@Model.StepInfos.IndexOf(@Model.Prev())';

            if (index < 0) index = 0;

            $.get('@Url.Action(@Model.Prev().GetActionInfo.ActionName, @Model.Prev().GetActionInfo.ControllerName, new RouteValueDictionary { { "area", @Model.Prev().GetActionInfo.AreaName  } })',
                    { index: index },
                    function(response) {
                        $("#StepView").html(response);
                        NavigationRefresh();
                        TaskListRefresh();
                    });

        });

    $("#nextBt")
        .click(function() {

            $('.wizardStep').preloader(16, "Next step is loading.");
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(Parameters),
                dataType: 'html',
                url:
                    '@Url.Action(@Model.Current().PostActionInfo.ActionName, @Model.Current().PostActionInfo.ControllerName, new RouteValueDictionary { { "area", @Model.Current().PostActionInfo.AreaName }})',
                success: function(result) {
                    $('#StepView').html(result);
                    NavigationRefresh();
                    TaskListRefresh();
                }
            });
        });

    $("#finishBt")
        .click(function() {

            $('.wizardStep').preloader(16);
            window.top.location = "/DCM/ImportMetadataStructure/FinishUpload/";

        });

    function NavigationRefresh() {

        $.post('@Url.Action("RefreshNavigation", "ImportMetadataStructure", new RouteValueDictionary { { "area", "DCM" } })',
                function(response) {

                    $("#NavDiv").replaceWith(response);
                });
    }
</script>