@model BExIS.Modules.Dcm.UI.Models.PrimaryKeyViewModel
@using BExIS.Modules.Dcm.UI.Models;


<div id="Step4" class="uploadWizardStep">
    <div class="uploadWizardStep_Main">
        <div class="uploadWizardStep_Header stepper">
            <h3>@Model.StepInfo.title</h3>
        </div>

        <div class="uploadWizardStep_Description stepper">
            <p>

            </p>
        </div>

        <div class="uploadWizardStep_Content stepper">

            <div id="updateMethodContainer" class="row">
                <div class="col-md-4">Update @Html.RadioButton("UpdateMethod", "Update", new { @checked = "true" })</div>
                <div class="col-md-4">Append @Html.RadioButton("UpdateMethod", "Append")</div>
            </div>
            <br />
            <div id="update_content">
                <p>Update the rows from the files to the dataset. Therefore define a unique primary key.</p>
                <div id="variableCheckBoxList">
                    <div style="overflow:auto">
                        @foreach (ListViewItem s in Model.VariableLableList)
                        {


                            if (Model.PK_Id_List != null)
                            {
                                if (Model.PK_Id_List.Contains(s.Id))
                                {
                                    @Html.CheckBox(@s.Title, true) <b>@s.Title</b> <br />
                                }
                                else
                                {

                                    @Html.CheckBox(@s.Title, false) <b>@s.Title</b> <br />
                                }
                            }
                            else
                            {
                                @Html.CheckBox(@s.Title, false) <b>@s.Title</b> <br />
                            }


                        }

                    </div>

                    <br />
                    <p>
                        <button id="checkButton" title="Check selected variables form primary key" class="function">Check</button>
                        <button id="none" type="button" class="bx-button function" value="none" name="button" onclick="DefinePrimaryKey_OnClickNone()">None</button>
                        <button id="all" type="button" class="bx-button function" value="all" name="button" onclick="DefinePrimaryKey_OnClickAll()">All</button>
                    </p>

                </div>
            </div>
            <div id="append_content" style="display:none">
                <p>Add the rows from the files to the dataset only.</p>
            </div>
        </div>
    </div>
        <div class="uploadWizardStep_Success stepper">

            @if (Model != null)
        {
            if (Model.ErrorList.Count == 0)
            {
                // if primary keys unique
                if (Model.IsUnique)
                {
                    <ul>
                        <li>Primarykeys :</li>
                        @foreach (ListViewItem s in Model.PrimaryKeysList)
                    {
                        <li>@s.Title.ToString()</li>
                }

                        <li>
                            Unique!!!
                        </li>

                    </ul>
            }
        }
    }

        </div>

        <div class="uploadWizardStep_Error stepper">
            @if (Model != null)
        {

            if (Model.ErrorList != null)
            {
                if (Model.ErrorList.Count == 0)
                {


                }
                else
                {
                    <ul>
                        @foreach (BExIS.IO.Transform.Validation.Exceptions.Error s in @Model.ErrorList)
                    {
                        <li>@s.ToString()</li>
                }
                    </ul>

            }
        }

    }
        </div>
    </div>

<script type="text/javascript">

    function DefinePrimaryKey_OnClickAll() {
        $("#Step4").find("input:checkbox")
                                .attr("checked", true);
    }

    function DefinePrimaryKey_OnClickNone() {
        $("#Step4").find("input:checkbox")
                                    .attr("checked", false);
        }

    $('#checkButton').click(function () {

        var selected = new Array();

        $('#variableCheckBoxList input:checked').each(function () {
            selected.push($(this).attr('name'));
        });

        //alert(selected);
        $('.uploadWizardStep').preloader(16, "Check if the data of the selected primary key/s are unique.");

        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(selected),
            dataType: 'html',
            url: '@Url.Action("CheckPrimaryKeys", @Model.StepInfo.GetActionInfo.ControllerName, new RouteValueDictionary { { "area", @Model.StepInfo.GetActionInfo.AreaName } })',
            success: function (result) {

                $("#Step4").html(result);
            }
        });


    });

    $("#updateMethodContainer").change(function () {

        console.log("change");
        console.log($("#update_content"));
        $($("#update_content")[0]).toggle();
        $($("#append_content")[0]).toggle();

        var value = $("#UpdateMethod:Checked")[0].value;

        $.post('@Url.Action("SetUploadMethod", @Model.StepInfo.GetActionInfo.ControllerName, new RouteValueDictionary { { "area", @Model.StepInfo.GetActionInfo.AreaName } })', { uploadMethod: value },
            function (data, textStatus, jqXHR) {

            },
            "dataType"
        );
    })

</script>
