@using BExIS.Utils.Extensions
@model BExIS.Modules.Dcm.UI.Models.EntityReference.ReferencesModel

@{
    ViewBag.Title = " ... ";

    string debugPath = "";

    if (Html.IsDebug())
    {
        debugPath = "BExIS.Modules.Dcm.UI/";
    }
}


<script src="@Url.Content("~/Areas/DCM/" + debugPath + "Scripts/entity.reference.js")"/>

<div id="entity-reference-container" class="row text-left">
    <div class="col-md-12">
        @if (Model.HasEditRights)
        {
            <div class="entity-referenceoption-container">
                <button id="create-reference-bt" class="bx-button function">Create link</button>
            </div>
        }

        @Html.HiddenFor(m => m.Selected.Id)
        @Html.HiddenFor(m => m.Selected.TypeId)
        @Html.HiddenFor(m => m.Selected.Version)

        <h3>Link to</h3>

        <table id="target_reference_table" class="display" style="width:100%">
            <thead>
                <tr>
                    <th title="From version">From</th>
                    <th title="Identifier">Id</th>
                    <th title="Version">V</th>
                    <th title="Title">Title</th>
                    <th title="Description">Comment</th>
                    <th title="Entity type">Type</th>
                    <th title="Type of the reference">Reference Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var srm in Model.TargetReferences)
                {
                    <tr>
                        <td>@srm.Source.Version</td>
                        <td>@srm.Target.Id</td>
                        <td>@srm.Target.Version</td>
                        <td>@Html.ActionLink(@srm.Target.Title, "Show", "Data", new { Area = "DDM", id = srm.Target.Id, version = srm.Target.Version }, null)</td>
                        <td>@srm.Context</td>
                        <td>@srm.Target.Type</td>
                        <td>@srm.ReferenceType</td>
                        <td class="dt-body-center">

                            @Html.ActionLink(" ", "Show", "Data", new { Area = "DDM", id = srm.Target.Id, version = srm.Target.Version }, new { title = "Go to this version.", @class = "bx bx-grid-function bx-show", @target = "_blank" })

                            @if (!srm.Target.LatestVersion)
                            {
                                @Html.ActionLink(" ", "Show", "Data", new { Area = "DDM", id = srm.Target.Id }, new { title = "Go to latest version.", @class = "bx bx-grid-function bx-fast-forward", @target = "_blank" })
                            }

                            @if (!@srm.ReferenceType.ToLower().Equals("metadata link") && Model.HasEditRights)
                            {
                                <button id="@srm.RefId" class="bx bx-grid-function bx-trash delete-reference-bt" title="Delete this Reference"></button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <h3>Link from</h3>
        <table id="source_reference_table" class="display" style="width:100%">
            <thead>
                <tr>

                    <th title="Identifier">Id</th>
                    <th title="Version">V</th>
                    <th title="Title">Title</th>
                    <th title="Description">Comment</th>
                    <th title="Entity type">Type</th>
                    <th title="Link to Version">To version</th>

                    <th title="Type of the reference">Reference Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var srm in Model.SourceReferences)
                {
                    <tr>
                        <td>@srm.Source.Id</td>
                        <td>@srm.Source.Version</td>
                        <td>@Html.ActionLink(@srm.Source.Title, "Show", "Data", new { Area = "DDM", id = srm.Source.Id, version = srm.Source.Version }, null)</td>
                        <td>@srm.Context</td>
                        <td>@srm.Source.Type</td>
                        <td>@srm.Target.Version</td>
                        <td>@srm.ReferenceType</td>
                        <td class="dt-body-center">

                            @Html.ActionLink(" ", "Show", "Data", new { Area = "DDM", id = srm.Source.Id, version = srm.Source.Version }, new { title = "Go to this version.", @class = "bx bx-grid-function bx-show", @target = "_blank" })

                            @if (!srm.Source.LatestVersion)
                            {
                                @Html.ActionLink(" ", "Show", "Data", new { Area = "DDM", id = srm.Source.Id }, new { title = "Go to latest version.", @class = "bx bx-grid-function bx-fast-forward", @target = "_blank" })
                            }
                            @if (!@srm.ReferenceType.ToLower().Equals("metadata link") && Model.HasEditRights)
                            {
                                <button id="@srm.RefId" class="bx bx-grid-function bx-trash delete-reference-bt" title="Delete this Reference"></button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script src="@Url.Content("~/Scripts/2013.2.611/telerik.common.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/2013.2.611/telerik.draganddrop.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/2013.2.611/telerik.window.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {

            $("#target_reference_table").DataTable({
                "autoWidth": false,
                "columns": [
                    { "width": "50px" },
                    { "width": "50px" },
                    null,
                    null,
                    null,
                    { "width": "200px" },
                    { "width": "150px" },
                    { "width": "100px" },
                ]
            });

            $("#source_reference_table").DataTable({
                "autoWidth": false,
                "columns": [
                    { "width": "50px" },
                    { "width": "50px" },
                    null,
                    null,
                    null,
                    { "width": "100px" },
                    { "width": "150px" },
                    { "width": "100px" },
                ]
            });

            var id = '@Model.Selected.Id';
            var type = '@Model.Selected.TypeId'
            var title = '@Model.Selected.Title.Replace("\r\n", " ").Replace("\n", " ").Replace("\r", " ");'
            var version = '@Model.Selected.Version'

            var parameters = {
                sourceId: id,
                sourceTypeId: type
            }

            $('#create-reference-bt')
                .click(function () {
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("Create", "EntityReference")',
                        data: parameters,
                        dataType: 'html',
                        success: function (htmlData) {
                            var windowElement = $.telerik.window.create({
                                title: "Create Reference for " + title +" ("+id+")",
                                html: "<div id='content_create_reference' class='bx-window'>" + htmlData + "</div>",
                                contentUrl: "",
                                actions: ["Close"],
                                modal: true,
                                width: 500,
                                height: 500,
                                resizable: false,
                                draggable: true,
                                scrollable: false,
                                onClose: function () {
                                    $("#window_createReference").data('tWindow').destroy();
                                    reload(id,type,version)
                                    //update grid
                                    //$("#grid_groups .t-refresh").trigger('click');
                                }
                            });

                            windowElement.attr('id', 'window_createReference');
                            var window = $(windowElement).data('tWindow');
                            window.center().open();

                        }
                    });
                });

            $('.delete-reference-bt').click(function (e) {
                deleteReference(e);
            })

            function deleteReference(e) {

                //console.log(e);

                var answer = confirm("Do you really want to delete the Enitity Reference?");

                if (answer) {
                    var sourceid = '@Model.Selected.Id';
                    var sourcetype = '@Model.Selected.TypeId'
                    var sourceVersion = '@Model.Selected.Version'

                    var parameters = {
                        id: $(e.currentTarget).attr("id")
                    }

                    //console.log(parameters)

                    $.ajax({
                        type: 'Post',
                        url: '@Url.Action("Delete", "EntityReference")',
                        data: parameters,
                        dataType: 'json',
                        success: function (data) {

                            if (data) {

                                reload(sourceid, sourcetype, sourceVersion)
                            }
                        }
                    });
                }
            }
        })
</script>

<style type="text/css">

    .entity-referenceoption-container {
        height: 70px;
        text-align: left;
    }
</style>