@model BExIS.Modules.Sam.UI.Models.GroupCreateModel
@using (Ajax.BeginForm("Create", "Groups", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "contentCreate", OnSuccess = "groupCreate_onSuccess" }))
{
    @Html.ValidationSummary(true)

    <table class="bx-table-form">
        <tr>
            <td>
                @Html.LabelFor(m => m.GroupName)
            </td>
            <td>
                @Html.TextBoxFor(m => m.GroupName, new { @class = "t-input bx-input" })
                @Html.ValidationMessageFor(m => m.GroupName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Description)
            </td>
            <td>
                @Html.TextAreaFor(m => m.Description, new { @class = "t-input bx-input" })
                @Html.ValidationMessageFor(m => m.Description)
            </td>
        </tr>
    </table>

    <div class="bx-footer right">
        <button style="margin-right: 1px" type="submit" class="bx-button action">Save</button>
        <button style="margin-left: 1px" type="button" onclick="windowCreate_onCancel()" class="bx-button action">Cancel</button>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#contentCreate");
    });
</script>