@model BExIS.Web.Shell.Areas.SAM.Models.GroupCreateModel
@using (Ajax.BeginForm("Create", "Groups", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "contentCreate", OnSuccess = "groupCreate_onSuccess" }))
{
    @Html.ValidationSummary(true)

    <div id="tabs">

        <ul>
            <li><a href="#contentDetails">Details</a></li>
            @*<li><a href="#contentMembership">Membership</a></li>*@
        </ul>

        <div id="contentDetails">
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.GroupName)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.GroupName)
                        @Html.ValidationMessageFor(m => m.GroupName)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.Description)
                    </td>
                    <td>
                        @Html.TextAreaFor(m => m.Description)
                        @Html.ValidationMessageFor(m => m.Description)
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <p>
        <button style="float: right; margin-left: 1px" type="button" onclick="windowCreate_onCancel()" class="t-button">Cancel</button>
        <button style="float: right; margin-right: 1px" type="submit" class="t-button">Save</button>
    </p>
}

<script type="text/javascript">
    $("#tabs").tabs();

    $(document).ready(function () {
        $.validator.unobtrusive.parse("#contentCreate");
    });
</script>