@using BExIS.Modules.Sam.UI.Models
@using Telerik.Web.Mvc.UI
@model GroupEditModel
@using (Ajax.BeginForm("Edit", "Groups", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "contentEdit", OnSuccess = "groupEdit_onSuccess" }))
{
    @Html.ValidationSummary(true)

    @(Html.Telerik().TabStrip()
            .Name("tabStripEditUser")
            .SelectedIndex(0)
            .Items(tabs =>
            {

                tabs.Add()
                    .Text("Details")
                    .Content(@<text>
                        <table class="bx-table-form">
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.GroupId)
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.GroupId, new { @class = "t-input bx-input", @disabled = "disabled" })
                                    @Html.HiddenFor(m => m.GroupId)
                                </td>
                            </tr>
                        
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.GroupName)
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.GroupName, new { @class = "t-input bx-input" })
                                    @Html.ValidationMessageFor(m => m.GroupName)
                                </td>
                            </tr>
                        
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.Description)
                                </td>
                                <td>
                                    @Html.TextAreaFor(m => m.Description, new { @class = "t-input bx-input" })
                                    @Html.ValidationMessageFor(m => m.Description)
                                </td>
                            </tr>
                        </table>
                    </text>);

                tabs.Add()
                    .Text("Membership")
                    .Content(@<text>
                        @Html.Partial("_Membership")
                    </text>);
            })
    )

    <div class="bx-footer right">
        <button type="button" style="float:left" onclick="windowEdit_onDelete(@Model.GroupId)" class="bx-button action">Delete</button>
        <button style="margin-right: 1px" type="submit" onclick="windowEdit_onSubmit()" class="bx-button action">Save</button>
        <button style="margin-left: 1px" type="button" onclick="windowEdit_onCancel()" class="bx-button action">Cancel</button>
    </div>

}

<script type="text/javascript">
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#contentEdit");
    });
</script>
