@using BExIS.Utils.Models;
@using System.Data;
@using Telerik.Web.Mvc.UI;

@model SearchResult

@{
    ViewBag.Title = "_searchContent";

    DataTable dt = Model.ConvertToDataTable();
    ViewData["PageSize"] = Model.PageSize;
    ViewData["CurrentPage"] = Model.CurrentPage;
    ViewData["DefaultHeaderList"] = Model.DefaultVisibleHeaderItem;
    ViewData["Id"] = Model.Id;

    string controller = Session["Controller"].ToString();

}

<div id="resultContent">

    @*<button type="button" class="t-button" onclick="OnClickResultViewBt()">change result view</button>
    <br />
    <br />*@
    @*<div id="gridView" style="display: inline">
        test*@
       @Html.Partial("_resultGridView", dt)
   @* </div>*@
    @*<div id="listView" style="display: inline">
        test2*@
       @if(dt.Columns.Count>0){@Html.Partial("_resultListView", Model)}
        else{

            <p>No data found</p>

        }
   @* </div>*@

    @(Html.Telerik().Window()
    .Name("AddTo")
    .Visible(false)
    .Title("Add to Wishlist")
    .Modal(false)
    .Width(300)
    .Height(200)
    .Content(@<text>
    <div id="customer-details">
        <h1>
        </h1>
        <h2>
            DatasetID :
            <id></id>
        </h2>
        <b>
            <owner></owner>
        </b>
        <dl>
            <dt>add successfully to watchlist</dt>
        </dl>
    </div>
    </text>)

)
</div>
<script type="text/javascript">

    $(document).ready(function () {

        var value = '@Session["resultView"]';

        if (value == "") {
            $('#resultList').hide();
            $('#resultGrid').show();
        }

        if (value == "list") {
            $('#resultList').show();
            $('#resultGrid').hide();

        }

        if (value == "grid") {
            $('#resultList').hide();
            $('#resultGrid').show();
            $("#showPreviewDS-resultList").empty();
        }

        //alert('test:'+'@Session["resultView"]');

    });

    function OnClickResultViewBt() {

        if ($('#resultList').is(':hidden')) {
            $('#resultList').show();
            $('#resultGrid').hide();

            $.post('@Url.Action("SetResultViewVar", @controller, new RouteValueDictionary { { "area", "ddm" } })',
            { key: "resultView", value: 'list' }, function (data) {
                //alert("Success " + data.success);
            });

        }
        else {

            $('#resultList').hide();
            $("#showPreviewDS-resultList").empty();
            $('#resultGrid').show();

            $.post('@Url.Action("SetResultViewVar", @controller, new RouteValueDictionary { { "area", "ddm" } })',
            { key: "resultView", value: 'grid' }, function (data) {
                //alert("Success " + data.success);
            });

        }

    }

    function grid() {
        return $('#Grid').data('tGrid');
    }

    function onComplete(e)
    {

        if (e.name == "watchlist") {
            var detailWindow = $("#AddTo").data("tWindow");
            var datainfo = e.response.datainfo;
            //alert(detailWindow);
            $("#customer-details")
            .find("h1")
            .text(datainfo.Title.toString())
            .end()
            .find("id")
            .text(datainfo.DatasetID.toString())
            .end()
            .find("owner")
            .text(datainfo.Owner.toString())
            .end()
            detailWindow.center().open();
        }
    }

    function refreshGrid()
    {
        $(".t-grid .t-refresh").trigger('click');

    }
</script>