@model BExIS.Utils.Models.Property
@using BExIS.Utils.Models;
@using System.Globalization;
@using Telerik.Web.Mvc.UI;
@using BExIS.UI.Helpers;

<div>
<p class="PropertyHeader">@Model.DisplayTitle</p>
@{
    List<int> dtList = new List<int>();

    int Value = new int();

    if (Model.DataType.ToLower().Equals("date"))
    {
        foreach (var item in Model.Values)
        {
            // format check inside
            // M/d/yyyy
            DateTime dt = DateTime.Parse(item, new CultureInfo("en-US", false)); //Convert.ToDateTime(item);
            dtList.Add(dt.Year);

        }
    }

    int largeStep = 0;
    int first = 0;
    int last = 0;

    if (dtList.Count > 0)
    {
        dtList.Sort();
        first = dtList[0];
        last = dtList[dtList.Count - 1];

        if (Model.Direction.Equals(Direction.increase)){ Value = first; }

        if(Model.Direction.Equals(Direction.decrease)){ Value = last; }

        largeStep =last - first;
    }

    if (dtList.Count > 0)
    {
        if (dtList.Count > 1)
        {
            int min = first;
            int max = last;

            if(first.Equals(last))
            {
                max = last+1;
            }

            largeStep = max-min;

            @(Html.BexisUI().Slider()
                            .Name(Model.DataSourceKey)
                            .Min(min)
                            .Max(max)
                            .Steps(1)
                            .ClientEvent("onchange","onChangeSlider")
                            .Value(Value)
                            .Render())

            //Html.Telerik().Slider<int>()
            //    .Name(Model.Name)
            //    .Min(min)
            //    .Max(max)
            //    .Value(Value);

        }
        else
        {
                    <b>Slider not work with only one value</b>
                }
    }
    else
    {
        <b>Slider currently not work with @Model.DataType.ToString() .</b>
    }

    string controller = Session["Controller"].ToString();

}
</div>
 <script type="text/javascript">
     function onChangeSlider(e) {
         var value = e.value.newValue;
         var id = e.target.name;

         $.post('@Url.Action("FilterBySlider", @controller)', { value: value, parent: id }, function (response) {
             // alert(response);
             $(".searchBreadcrumbNavigation").html(response);
         });

//         $.post('@Url.Action("UpdateContent", @controller)', {}, function (response) {
//             $("#resultContent").html(response);

//         })

         $.post('@Url.Action("UpdateFacets", @controller)', {}, function (response) {
             $("#searchTreeView").html(response);
         })

         $.post('@Url.Action("UpdateProperties", @controller, new RouteValueDictionary { { "area", "ddm" } })', {}, function (response) {
            console.log("update Properties");
            //console.log(response);
            $("#searchProperties").html(response);
        })

         refreshGrid();
     }
</script>