@using BExIS.Utils.Models;

@model SearchModel

@{
    List<Facet> listOfAllFacets = new List<Facet>();

    int rows = 0;
	int cols = 0;
    string title = "No title";
    string row_width = "";
    string colclass = "";
	int length = 20;
	


    if ((IEnumerable<Facet>)Session["SelectAbleCategories"] != null)
    {
        listOfAllFacets = ((IEnumerable<Facet>)Session["SelectAbleCategories"]).ToList();

        int numOfFacets = listOfAllFacets.Count;

        if (numOfFacets <= 10)
        {
            row_width = 240 * 3 + "px;";
            colclass = "col-xs-6";
			rows = 3;
			cols = 2;
			length = 40;
        }
        else if (numOfFacets > 10 && numOfFacets <= 20)
        {
            row_width = 240 * 4 + "px;";
            colclass = "col-xs-4";
			rows = 7;
			cols = 3;
			length = 40;
        }
        else
        if (numOfFacets > 20 && numOfFacets <= 60)
        {
            row_width = 240 * 5 + "px;";
            colclass = "col-xs-3";
			rows = 10;
			cols = 5;
        }
        else
        if (numOfFacets > 60)
        {
            row_width = 240 * 6 + "px;";
            colclass = "col-xs-2";
			rows = 30;
			cols = 5;
        }

    }

    if (@Session["ParentOfSelectAbleCategories"] != null)
    {
        title = System.StringExtensions.Titleize(@Session["ParentOfSelectAbleCategories"].ToString());
    }

    string controller = Session["Controller"].ToString();

}
@using (Html.BeginForm("AddFacetsToSearch", @controller))
{
    <div id="search_more" style="width: @row_width;">
        @*<div class="bx-title">@title</div>*@

        <div class="bx-content">

            <div id="search_moreCheckBox" class="row" style="  display: grid;
  grid-template-columns: repeat(@cols, 1fr);
  grid-template-rows: repeat(@rows, 1fr);
  grid-auto-flow: column;">
                @if (listOfAllFacets != null)
                {
                    if (listOfAllFacets.Count() > 0)
                    {
                        foreach (var facet in listOfAllFacets)
                        {
                            int pos = listOfAllFacets.IndexOf(facet);

                            facet.Parent = Model.SearchComponent.GetFacet(@Session["ParentOfSelectAbleCategories"].ToString());

                            string displayedName;

                            if (facet.Name.Length > length)
                            {
                                displayedName = System.StringExtensions.Truncate(facet.Name, length);
                            }
                            else
                            {
                                displayedName = facet.Name;
                            }

                            <div title="@facet.Name.ToString()" >@Html.CheckBox(pos.ToString(), @Model.CriteriaComponent.ContainsFacet(facet), new { text = @facet.Name.ToString() }) @Html.Label(@facet.Name.ToString(), displayedName)</div>

                        }
                    }
                }@*@if (listOfAllFacets != null)
                    {
                        if (listOfAllFacets.Count() > 0)
                        {
                            int pos = 0;
                            <table style="width:@t_width">
                                @for (int i = 0; i < rows; i++)
                                {
                                    <tr>

                                    @{

                                        for (int j = 0; j < numberOfColumns; j++)
                                        {
                                            pos = ((i*numberOfColumns) + j);
                                            if (pos < listOfAllFacets.Count)
                                            {
                                                var facet = listOfAllFacets.ElementAt(pos);
                                                facet.Parent = Model.SearchComponent.GetFacet(@Session["ParentOfSelectAbleCategories"].ToString());

                                                string displayedName;

                                                if (facet.Name.Length > 23)
                                                {
                                                    displayedName = System.StringExtensions.Truncate(facet.Name, 23);
                                                }
                                                else
                                                {
                                                    displayedName = facet.Name;
                                                }

                                                <td title="@facet.Name.ToString()" style="width: @c_width" pos="@pos">@Html.CheckBox(pos.ToString(), @Model.CriteriaComponent.ContainsFacet(facet), new {text = @facet.Name.ToString()}) @Html.Label(@facet.Name.ToString(), displayedName)</td>
                                            }
                                        }
                                    }
                                    </tr>
                                }
                            </table>
                        }
                    }*@
            </div>
        </div>



        <div class="bx-footer">
            <div style="float: left">
                <button id="none" type="button" class="bx-button function" value="none" name="button" onclick="Search_OnClickNone()">None</button>
                <button id="all" type="button" class="bx-button function" value="all" name="button" onclick="Search_OnClickAll()">All</button>
            </div>
            <div style="float: right">
                <button type="submit" class="bx-button action" value="add" name="button" @* onclick="Search_OnClickSubmit()"*@>OK</button>
                <span class="bx-button action" value="cancel" name="button" onclick="$('#MoreWindow').data('tWindow').close()">Cancel</span>
            </div>
        </div>
    </div>
    @*<table id="search_winFooter">
            <tr>
                <td class="bx-footer left">
                </td>
                <td class="bx-footer right">

                </td>
            </tr>
        </table>*@


}

<script type="text/javascript">

    function Search_OnClickAll() {
        $("#search_moreCheckBox").find("input:checkbox")
            .attr("checked", true);
    }

    function Search_OnClickNone() {
        $("#search_moreCheckBox").find("input:checkbox")
            .attr("checked", false);
    }

</script>
<style type="text/css">

    #search_moreCheckBox table, #search_moreCheckBox td, #search_moreCheckBox tr {
        border: none;
        padding: 0;
    }

    #search_moreCheckBox table {
        width: 100%;
    }

    #search_moreCheckBox td {
        width: 50%;
    }
	.row:before {
    display: none;
    content: " ";
}
</style>
