@using Microsoft.Web.Helpers;
@using Telerik.Web.Mvc.UI;
@using Vaiona.Web.Mvc;

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jQueryUI/1.10.3/js/jquery-ui-1.10.3.custom.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Scripts/jQueryUI/1.10.3/css/smoothness/jquery-ui-1.10.3.custom.min.css")" rel="stylesheet" type="text/css" />
    
    <link href="@Url.Content("~/Scripts/switchery/switchery.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/switchery/switchery.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/bexis_default.js")" type="text/javascript"></script>



    <style>
        .t-window-content
        {
           height: auto !important;
           width: auto !important;
        }
    </style>
    
    @*<link href="@Url.Content(Themes.GetResourcePath("Styles","BEXIS_Telerik.css"))" rel="stylesheet" type="text/css" />*@

    @RenderSection("Scripts", false)

    @(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group
                .DefaultPath(Themes.ThemeDirectory) //  "~/Themes/" 
                        .Add("~" + Themes.GetResourcePath("Styles", "bexis-telerik.css"))
                        .Add("~" + Themes.GetResourcePath("Styles", "bexis-font-awesome-extension.css"))
                        .Add("~" + Themes.GetResourcePath("Styles", "bexis-elements.css"))

                        //.Add("telerik.common.css")
                        //.Add("~" + Themes.GetResourcePath("Styles", "Copy of telerik.default.min.css")) 
                //.Add("~" + Themes.GetResourcePath("Styles", "telerik.default.min.css")) 
                //.Add(Themes.GetResourcePath("Styles", "mycss.css"))
        // add RTL support when internationalization is enabled
        .Combined(true)
        .Compress(true)))

    
</head>

<body>
    <div class="page">
        <header>
            <div id="title">
                @*@Html.RenderAuto("Header")*@
            </div>
            <div id="logindisplay">
                
                @*@Html.RenderAuto("ThemeSelector")*@
            </div>
            <nav>
                @Html.RenderAuto("Menu")
                @Html.RenderAuto("LogOnStatus")
            </nav>
        </header>

    @RenderSection("LeftPane", false)
    @RenderBody()
    @RenderSection("RightPane", false)
    @Html.RenderAuto("Footer")
    </div>

    @(Html.Telerik().ScriptRegistrar()
        .DefaultGroup(group => group.Combined(true).Compress(true)
            //.DefaultPath("~/Scripts/2012.3.1018")
            )
        .jQuery(false)
          )
</body>
</html>