@model BExIS.Modules.Rpm.UI.Models.RangeConstraintModel

@using BExIS.Modules.Rpm.UI.Helpers;

@using (Html.BeginCollectionItem("RangeConstraints"))
{ 
<table class="bx-rpm-container bx-rpm-constrainTable" id="rangeConstraint_@Model.Id">
    <tr>
        <td class="bx-rpm-constrainlabel">
            Range
            @Html.HiddenFor(m => m.Id, new { @id = "range_id" })
        </td>
        <td class="bx-rpm-negated">
            <!--Negated-->
            <div class="bx-rpm-container bx-rpm-checkbox">
                <div class="bx-rpm-label">@Html.Label("invert")</div>
                @Html.CheckBoxFor(m => m.Negated, new { @id = "range_invert", onclick = "javascript:onRangeChange()" })
            </div>
        </td>
        <td class="bx-rpm-constrainValue">
            <div class="bx-rpm-container">
                <div class="bx-rpm-label">@Html.LabelFor(m => m.Min)</div>
                @Html.TextBoxFor(m => m.Min, new { @id = "range_min", onkeyup = "javascript:onRangeChange()", onchange = "javascript:onRangeChange()" })
                <div class="bx-errorMsg">@Html.ValidationMessageFor(m => m.Min)</div>
            </div>
            <div class="bx-rpm-container bx-rpm-checkbox">
                <div class="bx-rpm-label bx-rpm-include">@Html.Label("include")</div>
                @Html.CheckBoxFor(m => m.MinInclude, new { @id = "range_mininclude", onclick = "javascript:onRangeChange()" })
            </div>
            <div class="bx-rpm-container">
                <div class="bx-rpm-label">@Html.LabelFor(m => m.Max)</div>
                @Html.TextBoxFor(m => m.Max, new { @id = "range_max", onkeyup = "javascript:onRangeChange()", onchange = "javascript:onRangeChange()" })
                <div class="bx-errorMsg">@Html.ValidationMessageFor(m => m.Max)</div>
            </div>
            <div class="bx-rpm-container bx-rpm-checkbox">
                <div class="bx-rpm-label bx-rpm-include">@Html.Label("include")</div>
                @Html.CheckBoxFor(m => m.MaxInclude, new { @id = "range_maxinclude", onclick = "javascript:onRangeChange()" })
            </div>
            <div class="bx-function bx-info bx-disabled" id="range_FormalDescription" title="@Model.FormalDescription"></div>
            <div id="errorMsg" class="hidden"><span class="bx-errorMsg .bx-rpm-message" id="errorMsgText"></span></div>
        </td>
        <td class="bx-rpm-constrainDesc">
            <div class="bx-rpm-container">
                <div class="bx-rpm-label">@Html.Label("Description")</div>
                @Html.TextBoxFor(m => m.Description, new { id = "range_desc" })
            </div>
        </td>
        <td>
            <div>
                <a class="bx bx-grid-function  bx-eraser" onclick="javascript:restRange(this)" id="@Model.Id" title="Erase Constraint"></a>
            </div>
        </td>
    </tr>
</table>
}

<script type="text/jscript">
   
</script>
