
@using BExIS.Modules.Dim.UI.Models.Mapping


@model LinkElementModel

@{
    string id = Model.ElementId + "_" + Model.Position + "_" + Model.Name;
    string c = "le-simple-" + Model.Position;

}



<div id="@id" class="le-simple @id @c" title="@Model.Description">

    <div class="le-simple-info" style="display: none">
        <div id="Id">@Model.Id</div>
        <div id="Name">@Model.Name</div>
        <div id="ElementId">@Model.ElementId</div>
        <div id="Type">@Model.Type</div>
        <div id="Position">@Model.Position</div>
        <div id="Complexity">@Model.Complexity</div>
        <div id="XPath">@Model.XPath</div>
        <div id="Optional">@Model.Optional</div>
        <div id="Url">@Model.Url</div>
    </div>



    <table>
        <tr>
            @if (Model.Position.Equals(LinkElementPostion.Source))
            {
            <td class="le-simple-header-td">

                @Html.Partial("LinkElementContent", Model)

            </td>
                <td class="le-simple-selector-container">
                    <button class="fa fa-info bx-button small bx-disabled" disabled type="@Model.Type.ToString()" title="@Model.Description"></button>
                    <span class="bx bx-next bx-button function small le-simple-selector" onclick="leSimpleSelectorClick(this)"></span>
                </td>
            }
            else
            {
                <td class="le-simple-selector-container">
                    <button class="fa fa-info bx-button small bx-disabled" disabled type="@Model.Type.ToString()" title="@Model.Description"></button>
                    <span class="bx bx-previous bx-button function small le-simple-selector" onclick="leSimpleSelectorClick(this)"></span>
                </td>
                <td class="le-simple-header-td">

                    @Html.Partial("LinkElementContent", Model)
                </td>
            }
        </tr>
    </table>


</div>
<style type="text/css">
    .bx-info {
        cursor: help !important;
        border: none;
    }
</style>