@using System.Net.Configuration
@model BExIS.Modules.Dim.UI.Models.Mapping.SimpleMappingModel

@{
    string id = Model.Id + "_TransformationRule";

    string sourceId = Model.Source.Type + "_" + Model.Source.ElementId + "_" + Model.Source.Position + "_" + Model.Source.Name + "_TransformationRuleItem";
    string targetId = Model.Target.Type + "_" + Model.Target.ElementId + "_" + Model.Target.Position + "_" + Model.Target.Name + "_TransformationRuleItem";

}


<div id="@id" sourceId="@sourceId" targetId="@targetId" class="mapping-container-transformation-rule">
    <b>Transformation Rule (@Model.Source.Name to @Model.Target.Name)</b>
    <span class="bx bx-angle-double-down toogle-icon" onclick="iconTransformtionRuleClick(this)"></span>
    <div class="mapping-container-transformation-rule-content">
        <table>
            <tr>
                <td>
                    
                </td>
                <td>
                    Source
                </td>
                <td>
                    RegEx
                </td>
                <td>
                    Mask from Target (@Model.Target.Name)
                </td>
            </tr>
            <tr>
                <td>
                    Rule:
                </td>
                <td >
                    <span id="sourceName">@Model.Source.Name</span>
                </td>

                <td>
                    @Html.TextBox("RegExPattern", @Model.TransformationRule.RegEx)
                </td>
                
                <td>
                    @Html.TextBox("Mask", @Model.Target.Mask)
                </td>

            </tr>
            <tr>
                <td>
                    Example:
                </td>
                <td>
                    @Html.TextArea("Example")
                </td>
                <td>
                    <div id="resultRegEx" class="col-md-5" style="width: 100%">

                    </div>
                </td>
                <td>
                    <div id="result" class="col-md-5">

                    </div>
                </td>
            </tr>
        </table>
       
    </div>

    <script type="text/javascript">

        $("#" + '@id' + " #RegExPattern")
            .change(function () {

                changeIt();

            });

        $("#" + '@id' + " #Mask")
            .change(function () {

                changeIt();

            });

        $("#" + '@id' + " #Example")
            .change(function() {

                changeIt();
            });

        function changeIt() {

            updateRegexExample();
            updateMaskExample();

        }

        function updateRegexExample() {

            var tmpString = $("#" + '@id' + " #Example").val();
            var regExValue = $("#" + '@id' + " #RegExPattern").val();
            var exp = new RegExp(regExValue, "g");

            var sourceName = $("#" + '@id' + " #sourceName").text();

            //alert($(this).val());
            //alert(exp);
            var result = tmpString.match(exp);

            //alert(result);

            console.log("input: " + tmpString);
            console.log("regex: " + exp);
            console.log("result: " + result);
            console.log(result);
            console.log("sourceName" + sourceName);
            //console.log(result[1]);

            if (result != null) {
                if (regExValue.length == 0) {
                    $("#" + '@id' + " #resultRegEx").html(tmpString);
                } else {

                    console.log("-----");
                    console.log(result);

                    var resultString = "<table>";

                    for (var i = 0; i < result.length; i++) {

                        var maskName = sourceName + "[" + i + "]";
                        resultString += '<tr><td>' + result[i] + "  -> " + maskName + '</td></tr>';
                    }
                    resultString += "</table>";

                    $("#" + '@id' + " #resultRegEx").html(resultString);
                }

            } else {

                $("#" + '@id' + " #resultRegEx").html("");

            }
        }

        function updateMaskExample() {

            var tmpString = $("#" + '@id' + " #Example").val();
            var regExValue = $("#" + '@id' + " #RegExPattern").val();
            var mask = $("#" + '@id' + " #Mask").val();
            var sourceName = $("#" + '@id' + " #sourceName").text();

            var exp = new RegExp(regExValue, "g");
            var result = tmpString.match(exp);

            console.log("input: " + tmpString);
            console.log("regex: " + exp);
            console.log("result: " + result);
            console.log("mask: " + mask);
            console.log("sourceName" + sourceName);

            console.log(result);

            if (result != null) {
                console.log("replace pls: -------------------");
                for (var i = 0; i < result.length; i++) {
                    var r = result[i];
                    var place = sourceName + "[" + i + "]";
                    mask = mask.replace(place, r);

                    console.log(r);
                    console.log(place);
                    console.log(mask);
                }

                $("#" + '@id' + " #result").html(mask);
            }
        }


    </script>
</div>

