@model BExIS.Web.Shell.Areas.DCM.Models.CreateDatasetViewModel

@using Telerik.Web.Mvc.UI;
@using BExIS.Web.Shell.Areas.DCM.Models;

<div id="createDatasetFormular"> 
@using (Ajax.BeginForm("CreateDataset", "SubmitSpecifyDataset", new { area = "DCM" },
                    new AjaxOptions
                    {
                        HttpMethod = "POST",
                        
                        UpdateTargetId = "createDatasetFormular",
                        OnSuccess = "closePopUp"
                        
                    }))
{ 
    
<p>Please provide the following information.</p>
<table>
    <tr>
        <td><b></b>@Html.LabelFor(m=>m.DataStructureId)</td>
        <td>
            @Html.DropDownListFor(m => m.DataStructureId, new SelectList(Model.DatastructuresViewList,"Id","Title"),"Select, please")
            @Html.ValidationMessageFor(m => m.DataStructureId)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m=>m.ResearchPlanId)</td>
        <td>
            @Html.DropDownListFor(m => m.ResearchPlanId, new SelectList(Model.ResearchPlanViewList,"Id","Title"),"Select, please")
            @Html.ValidationMessageFor(m => m.ResearchPlanId)
        </td>
    </tr>
</table>
    /*
    if (@Model.MetadataPackageModel != null)
    {
        if (@Model.MetadataPackageModel.Count > 0)
        {
             @Html.Partial("_defineMetadataAttribute", @Model.MetadataPackageModel.FirstOrDefault().MetadataAttributeModels.FirstOrDefault())
        }
    }*/
    <br />
    
    if(@Model.MetadataPackageModel!=null)
    {
        if(@Model.MetadataPackageModel.Count>0)
        {
         @Html.Partial("_defineMetadataStructure", @Model.MetadataPackageModel)
        }
    }
    
 
    
<br />
<br />
<button type="submit" value="Save" name="saveDataset"  class="t-button" style="border:0px;">save</button>
}
</div> 


<script type="text/javascript">

    $(document).ready(function () {
        $.validator.unobtrusive.parse("#createDatasetFormular");
        })

    function closePopUp(data) {

        alert(data);
        if (data.success) {

            SelectedDatasetTitle = data.title;

            closeCreateWindow();
        }
    }


</script>