@model MetadataAttributeModel
@using BExIS.Web.Shell.Areas.DCM.Models

<div id="MetadataAttribute_'@Model.Id'_'@Model.Parent.Id">

   
@if (@Model != null)
{
 <table>
     <tr>
         <td>
             <b title="@Model.Discription">@Model.DisplayName</b>
         </td>
         <td>
              @Html.HiddenFor(m=>m.Id)
              @Html.TextBoxFor(m => m.Value, new { OnChange = "OnChange(this)", Name = @Model.DisplayName ,  Id = @Model.Id+"_"+@Model.Parent.Id, PackageId = @Model.Parent.Id , Title =@Model.Parent.Label } )
         </td>
         <td>
             @Html.ValidationMessageFor(m=>m.Value)
         </td>
     </tr>
 </table>

}
else
{ 
    <b>null</b>
}
</div>  

<script type="text/javascript">
   
    function OnChange(e)
    {
        var substr = e.id.split('_');
        var id = substr[0];
        var parentid = substr[1];
        var parentname = $("#" + e.id).attr("title");

        var data = {
            value: e.value,
            id: id,
            parentid: parentid,
            parentname: parentname
        };

        alert(id + " :" + e.name + " : " + e.value + " :PID :" + parentid + " pTitle : " + parentname);

        $.ajax({
            url: '/DCM/SubmitSpecifyDatasetController/ValidateMetadataAttributeUsage',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {
                CheckIfInvoiceFound(result);
            },
            async: true,
            processData: false
        });
    }

</script>