@model BExIS.Modules.Dcm.UI.Models.ChooseDatasetViewModel
@using Telerik.Web.Mvc.UI;
@using Telerik.Web.Mvc.Resources;
@using BExIS.Modules.Dcm.UI.Models;

@{
    if (this.ViewContext.FormContext == null)
    {
        this.ViewContext.FormContext = new FormContext();
    }

    ListViewItem selectedListeViewitem = new ListViewItem();
    if (@Model.SelectedDatasetId > 0)
    {
        selectedListeViewitem.Id = Model.SelectedDatasetId;
        selectedListeViewitem.Title = Model.DatasetTitle;
    }
}


<div id="Step3" class="uploadWizardStep">

    <div class="uploadWizardStep_Main" style="width: 100%;">
        <div class="uploadWizardStep_Header stepper">
            <h3>@Model.StepInfo.title</h3>
        </div>

        <div class="uploadWizardStep_Description stepper">
            <p>
                Select the dataset to attach your data. It should have the same data structure, i.e. in structured datasets, the number, name, and order of variables and their properties must be identical.
            </p>
        </div>

        <div class="uploadWizardStep_Content stepper">

            <table>
                <tr>
                    <td>
                    @Html.DropDownListFor(m => m.SelectedDatasetId, new SelectList(Model.DatasetsViewList,"Id","DisplayName",selectedListeViewitem),"Select")
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="uploadWizardStep_Success stepper">
                            <div id="selectedValue2">
                                @if (Model.DatasetTitle != "")
                                {<span>You have selected Dataset : @Model.DatasetTitle</span>}
                        </div>
                    </div>

                    <div class="uploadWizardStep_Error stepper">
                        @if (Model != null)
                        {
                            if (Model.ErrorList != null)
                            {
                                if (Model.ErrorList.Count == 0)
                                {


                                }
                                else
                                {
                                    <ul>
                                        @foreach (BExIS.IO.Transform.Validation.Exceptions.Error s in @Model.ErrorList)
                                        {
                                            <li>@s.ToString()</li>
                                        }
                                    </ul>

                                }
                            }

                        }
                    </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


<script type="text/javascript">

    $("#SelectedDatasetId").change(function () {

        if ($(this).val() > 0) {
           
            SelectedDatasetId = $(this).val();
            SelectedDatasetTitle = "test";
            //Parameters.push("DatasetId:" + SelectedDatasetId);
            //Parameters.push("DatasetTitle:" + SelectedDatasetTitle);

            // send to bus
            $.post('@Url.Action("AddSelectedDatasetToBus", "SubmitSpecifyDataset", new RouteValueDictionary { { "area", "DCM" } })', { id: SelectedDatasetId }, function (response) {
                $("#Step3").html(response);
            })
        }

    })

</script>