@using BExIS.Web.Shell.Areas.DCM.Models
@using Telerik.Web.Mvc.UI
@model BExIS.Web.Shell.Areas.DCM.Models.MetadataStructureManagerModel

@Html.ActionLink("Import", "ImportMetadataStructureWizard", "ImportMetadataStructure",new {area="DCM"}, new {@class= "bx-button function" })
<br/>
<br/>
@(Html.Telerik().Grid<MetadataStructureModel>
      ()
      .Name("metadataStructuresGrid")
      .BindTo((IEnumerable<MetadataStructureModel>
          ) @Model.MetadataStructureModels)
      .Pageable()
      .Sortable()
      .DataKeys(keys => { keys.Add(m => m.Id); })
      .Editable(editing => editing.Mode(GridEditMode.PopUp))
      .DataBinding(dataBinding => dataBinding
          .Ajax()
      )
      .ColumnContextMenu()
      .Columns(columns =>
      {
          columns.Bound(c => c.Id).ReadOnly().Width(65);
          columns.Bound(c => c.Name);
          columns.Bound(c => c.Entity.Name);
          columns.Bound(c => c.Entity.ClassPath).Hidden(true);
          columns.Bound(c => c.TitleNode);
          columns.Bound(c => c.DescriptionNode);
          columns.Bound(c => c.Active).Width(90);
          columns.Template(@<text>
                               @{
                                   string className = item.HasSchema ? "" : "bx-disabled";
                                   string disabled = item.HasSchema ? "" : "disabled = disabled";
                               }

                               <button type="button" class="bx bx-grid-function bx-edit" onclick="metadataStructureEdit_onClick('@item.Name', @item.Id)" title="Edit @item.Name"></button>
                               <button type="button" class="bx bx-grid-function bx-trash" onclick="metadataStructureDelete_onClick('@item.Id', @item.Id)"title="Delete @item.Name"></button>
                               @Html.ActionLink(" ", "DownloadSchema", "ManageMetadataStructure", new {id = @item.Id}, new {@class = "bx bx-grid-function bx-download "+className, title = "Download xsd schema", disabled })
                            </text>)
                  .ClientTemplate("<button type=\"button\" class=\"bx bx-grid-function bx-edit\" onclick=\"userEdit_onClick(\'<#= Username #>\', <#= Id #>);\" value=\"<#= Id #>\" title=\"Edit <#= Id #>\"></button>" +
                                  "<button type=\"button\" class=\"bx bx-grid-function bx-trash\" onclick=\"userDelete_onClick(\'<#= Username #>\', <#= Id #>);\" value=\"<#= Id #>\" title=\"Delete <#= Id #>\" ></button>" +
                                  "@Html.ActionLink(\"hallo\", \"DownloadSchema\", \"ManageMetadataStructure\", new { id = <#= Id #> }, new { @class = \"bx bx-grid-function bx-download\", title=\"Download xsd schema\" })")
                  .Width(105);

      })

      .Filterable()
      .Sortable()
        .ClientEvents(clientEvents =>
        {
            clientEvents.OnDataBound("metadataStructuresGrid_onDataBound");
        })
)

<script type="text/javascript">
    function metadataStructuresGrid_onDataBound() {
        resetAllTelerikIconTitles();
        addTooltips();
    }

    function metadataStructureEdit_onClick(name, id) {

        //alert(id);
        var windowId = "edit_" + id;
        $.ajax({
            type: 'GET',
            url: '@Url.Action("Edit", "ManageMetadataStructure")',
            data: { id: id },
            dataType: 'html',
            success: function(htmlData) {
                var windowElement = $.telerik.window.create({
                    title: "Edit MetadataStructure: " + name + " (Id: " + id + ")",
                    html: "<div id='" + windowId + "' class='bx-window'>" + htmlData + "</div>",
                    contentUrl: "",
                    actions: ["Close"],
                    modal: true,
                    width: 500,
                    height: 300,
                    resizable: false,
                    draggable: true,
                    scrollable: false,
                    onClose: function() {
                        $("#windowEdit").data('tWindow').destroy();
                        $("#metadataStructuresGrid .t-refresh").trigger('click');
                    }
                });

                windowElement.attr('id', 'windowEdit');
                var window = $(windowElement).data('tWindow');
                window.center().open();

                resetAllTelerikIconTitles();
            }
        });
    }

    function metadataStructureDelete_onClick(name, id) {
        //alert(id);
        if (confirm('Are you sure you want delete the metadata structure?')) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "ManageMetadataStructure")',
                data: {id:id},
                dataType: "json",
                success: function (response) {

                    if (response) {
                        window.location.href = '/DCM/ManageMetadataStructure';
                    } else {
                        alert("The metadata structure is not deleted!");
                    }
                }
            });
        }
    }



    function OnSuccess() {

        $("#windowEdit").data('tWindow').destroy();
        $("#metadataStructuresGrid .t-refresh").trigger('click');
    }

</script>