
@model MetadataCompoundAttributeModel

@using BExIS.Web.Shell.Areas.DCM.Models.Metadata
@using Telerik.Web.Mvc.UI
@using BExIS.IO.Transform.Validation.Exceptions; 

@{
    string id = @Model.StepInfo.Id.ToString(); // XXX METADATSTRUCTURE+ "_"+Model..MetadataStructure.Id;
    string packageUsageIdPackage = id+"_Package";
    string idAdd = id + "_Add"; 
    string idRemove = id + "_Remove";

    int idAsLong = @Model.StepInfo.Id;
    
 }

<div id="@id" class="createWizardStep">

    <div class="createWizardStep_Main">
        <div class="createWizardStep_Header stepper">
            <h3>@Model.DisplayName</h3>
        </div>

        <div class="createWizardStep_Description stepper">
            <p>
                @Model.Discription
            </p>
        </div>

        <div class="packages">

            <div class="ready">
            @if (Model.MaxCardinality > 1 && Model.Instance.Count < Model.MaxCardinality)
            { 
                @Ajax.ActionLink("Add", "AddMetadataCompundAttributeUsage", @Model.StepInfo.GetActionInfo.ControllerName, new { area = @Model.StepInfo.GetActionInfo.AreaName, stepId = @idAsLong, number = @Model.Instance.Count },
                                    new AjaxOptions
                                    {
                                        UpdateTargetId = @id,
                                        HttpMethod = "GET",
                                        OnSuccess = "OnSucess()",
                                        OnBegin = "OnLoad()"
                                    },
                                    new { @class="t-icon t-add"})
            }
            </div>
            <div class="process" style="display:none;">
                Add
            </div>
            <table>

            @foreach (MetadataInstanceModel instance in Model.Instance)
            { 
                <tr>
                    <td>@instance.Name</td>
                    <td>@instance.Number</td>
                    <td>
                         <div class="ready">
                        @if (Model.Instance.Count > 1 && Model.Instance.Count> Model.MinCardinality)
                        {
                            @Ajax.ActionLink("Delete", "RemoveMetadataCompundAttributeUsage", @Model.StepInfo.GetActionInfo.ControllerName, new { area = @Model.StepInfo.GetActionInfo.AreaName, stepId= @idAsLong , number= @instance.Number }, 
                                        new AjaxOptions { UpdateTargetId = @id, 
                                                          HttpMethod = "GET",
                                                          OnSuccess="OnSucess()",
                                                          OnBegin="OnLoad()"},
                                                          new { @class="t-icon t-delete"})
                        }
                    </div>
                    <div class="process" style="display:none;">
                        Delete
                    </div>
                    </td>
                </tr>
            }
            </table>

        </div>
        <br />

@*        @Ajax.ActionLink("Validate", "ValidateStep",@Model.StepInfo.GetActionInfo.ControllerName,new RouteValueDictionary { { "area", "DCM" } },
                 new AjaxOptions { HttpMethod = "GET", 
                 InsertionMode = InsertionMode.Replace, 
                 UpdateTargetId = @id
                 },
                 new { @class = "t-button",  @style="float:right" })
 *@
    </div>

    <div class="createWizardStep_Success stepper">

        @if (Model != null && Model.StepInfo.notExecuted == false)
        {
            if (Model.ErrorList.Count == 0)
            {
               <p>no errors</p>
            }
        }

    </div>

    <div class="createWizardStep_Error stepper">
       @* @if (Model != null)
        {
            @Html.Partial("_errorMessages", @Model.ErrorList) 

        }*@
    </div>   

</div>
