
@model CreateSummaryModel
@using BExIS.Web.Shell.Areas.DCM.Models.Create
@using BExIS.Web.Shell.Areas.DCM.Models
@using BExIS.IO.Transform.Validation.Exceptions
@using BExIS.Dcm.Wizard

<div id="SelectDatasetSetup" class="createWizardStep">
    <div class="createWizardStep_Main">
        <div class="createWizardStep_Header stepper">
            <h3>@Model.StepInfo.title</h3>
        </div>

        <div class="createWizardStep_Description stepper">
            <p>
                    
            </p>
        </div>

        <div class="createWizardStep_Content stepper"> 
       
            @foreach (var package in Model.Packages.Values)
            { 
                <h3>@package.DisplayName <b> @package.Number</b></h3>
    
                <table>

                    @foreach(var attribute in package.MetadataAttributeModels)
                    { 
                        <tr>
                         <td>
                             <b>@attribute.DisplayName @if (attribute.Number > 1) { @attribute.Number }</b>
                         </td>
                         <td>
                             @if (attribute.Value != null) { <p>@attribute.Value.ToString()</p> }
                         </td>
                        </tr>
                    }
                </table>
    
                <hr />

            }
        </div>  

    </div>

    <div class="createWizardStep_Success stepper">

            @if (Model.StepInfo.stepStatus.Equals(StepStatus.exit))
            { 
                <p>You successfully created dataset: <br /><b>@Model.DatasetTitle</b></p>
                <p>Please use the <b>@Html.ActionLink("Upload Data Wizard ", "StartUploadWizard", "Create", new RouteValueDictionary { { "area", Model.StepInfo.GetActionInfo.AreaName.ToString() } }, new { title = "Link to upload wizard" })</b><br />
                    to add primary data to this dataset.</p>

                if (@Model.DatasetId > 0)
                { 
                    <p>Or see your dataset here <b>@Html.ActionLink(@Model.DatasetTitle, "ShowData", "Create", new  {id = @Model.DatasetId }, new { title = "Link to your dataset." })</b><br /></p>
                    
                }
            }

    </div>

    <div class="createWizardStep_Error stepper">
 
        @*@if (Model != null)
        {
            if (Model.PageStatus.Equals(PageStatus.Error))
            { 
                <b>Please fix all errors.</b>
                <br />
                <hr />
            }
       
            @Html.Partial("_errorMessages", Model.ErrorList)   
 
         }*@

    </div>   
 </div>
